[2020-07-17 05:23] ryangdar opened #688 ""Can't find variable L" for index.html"
Hi,

I am trying to run DistortableImage using the index.html in the documentation. I cloned the repo and created a local server on the computer. However, we I run it in the browser I get the following error message: "Can't find variable L" What do I need to change in the index.html file to make this work? Thanks!
<img width="1456" alt="Screen Shot 2020-07-16 at 10 17 19 PM" src="https://user-imag

[2020-07-18 12:31] McZenith commented on #629
Hi! I initially started working on the issue with a wrong start command... I did npm install instead of npm run set up so I had to delete the first PR and now that I seem to have got the stat right I am still getting another error without even touching the code at all...

This is what I got from npm run setup, I need help ...
`Warning: Task "karma:development:start" failed. Use --force to continue

[2020-07-18 23:26] hrhan commented on #619
Hi @sashadev-sky, I'd be happy to take any available tasks :)

[2020-07-19 19:32] tannerdolby commented on #619
@sashadev-sky Must we be assigned first before forking this repo and beginning to update the issue? I was going to finish this issue up today but wanted to wait for your explicit assignment first. Thanks!

[2020-07-20 04:04] sashadev-sky commented on #619
@tannerdolby if you commented first it will be yours, the assigning is just so that other people understand its taken. Assigning you now! Before doing the PR, please read our [contributing guidelines](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/CONTRIBUTING.md) and follow the setup process.

[2020-07-21 11:36] bytesnz opened #694 "Point-based image fit"
**Please describe the desired behavior.**
It would be really handy to be able to be able to scale/distort images based on mapping pixels in the image to coordinates. As an example of what I mean, QGIS has the [georeferencer](https://www.qgistutorials.com/en/docs/georeferencing_basics.html) - you click points on the image and then mark the lat/lon of that point and it fits the image once it has eno

[2020-07-25 03:24] #632 closed

[2020-07-25 18:13] #605 closed

[2020-07-25 18:18] #630 closed

[2020-07-25 18:22] sashadev-sky commented on #587
@charsides would you like to work on this one it has been abandoned (totally my fault bc I was inactive for so long sorry @romance939913 !!!)

[2020-07-25 18:26] sashadev-sky commented on #628
@aptvaibhav would you like to work on this one still? I will reassign it

[2020-07-25 18:44] sashadev-sky commented on #629
@McZenith Feel free to open up a new PR. Also, disregard what I said earlier about the `dist` file. You will not need one committed, just the `src/util/DomUtil.js` file with the updates.

For future knowledge, if you commit something by mistake there are many different ways to undo the changes and it is almost never the right answer to close the PR and start a new one from scratch. So instead just

[2020-07-25 18:47] sashadev-sky commented on #629
@McZenith also are you running the commands locally on your computer or through an online platform?

[2020-07-25 18:49] McZenith commented on #629
Hi @sashadev-sky I'm running it locally.

Thanks in the comment I really appreciate I'm actually new to open source contribution.

[2020-07-25 18:51] #619 closed

[2020-07-25 19:59] tannerdolby commented on #688
Have you tried running `npm run setup` to install dependencies & build dist files then run `npm run serve:dev` to run the webpack development server? I'm curious as I can't recreate your issue even by starting a local live server and opening `index.html`.

Make sure to view [CONTRIBUTING.md](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/CONTRIBUTING.md) to ensure you've performed

[2020-07-25 20:57] sashadev-sky opened #697 "Google Chrome toolbar CSS bug"
I am seeing only in Chrome that the css for the toolbar is breaking:

![image](https://user-images.githubusercontent.com/41092741/88466185-c775ef80-ce97-11ea-9cba-7841b662eaef.png)

Chrome version: 83
platform: macOS catalina

[2020-07-25 21:22] sashadev-sky opened #698 "toolbar icons in multi-image view are not selectable besides lock, transparency, delete"
**Describe the bug:**
What happened vs. what did you expect to happen?

**Reproduce the behavior:**
 Steps to reproduce the behavior. (ex. 1. Go to... 2. Click on... 3. See error...)

**Browser, version, and operating system:**
 - Browser [e.g. chrome, safari] -
 - Version [e.g. 22] -
 - Platform: [e.g. iOS, windows] -

[2020-07-25 22:13] #625 closed

[2020-07-25 22:19] sashadev-sky commented on #629
@McZenith I just merged an update into the `main` branch that might resolve this for you. Can you pull it down and try again?

[2020-07-25 22:22] McZenith commented on #629
Thank you @sashadev-sky! I'm excited, more than ever.

[2020-07-25 23:38] #697 closed

[2020-07-25 23:49] sashadev-sky opened #700 "Make export keybinding ('e') update the control toolbar UI"
So that the icon turns into a loader the same as if you were to just click on it

[2020-07-26 00:23] ryangdar commented on #688
That solved the issue! Your help was very much appreciated

[2020-07-26 00:23] #688 closed

[2020-07-26 00:52] tannerdolby commented on #688
Ok great!

[2020-08-02 06:00] Hunahpu23 commented on #628
I would like to claim this issue.

[2020-08-04 16:23] jywarren opened #709 "Broken downstream tests in MapKnitter when bumping from v0.11.6 to v0.19.7"
Hi all, just wanted to note that something in a recent release has broken tests in Mapknitter, downstream:

https://github.com/publiclab/mapknitter/pull/1379

I'd like to request that we address this in LDI as we haven't released a breaking change version bump, and in general it's good practice. Let's figure out what's happened! Any help much appreciated, it'll be great to get these new changes an

[2020-08-04 16:36] jywarren commented on #694
Hi, thanks for writing in! I think what we may need to do this would be an affine fit function, and then a way to map that to corner positions in the post-transform image, so we can place it. This is indeed the more "traditional" way to do image rubbersheeting.

One question would be, would the images then be corner-manipulable? i.e. is this like, a way to initially place an image but then it "bec

[2020-08-13 02:45] #629 closed

[2020-08-13 02:48] sashadev-sky commented on #628
@Hunahpu23 assigned to you! thanks!

[2020-08-15 21:45] MerionLial opened #714 "Getting "Uncaught TypeError: Cannot read property 'enable' of undefined" - not sure why..."
Hi,

first off: thanks for the awesome plugin!

Second: unfortunately I get the "Uncaught TypeError: Cannot read property 'enable' of undefined" error and I'm not sure why. I don't think I'm doing anything special.

**Scope**:
Leaflet map with a few other plugins but nothing that should interfere - marker search, fullscreen mode, responsivePopup, etc.

**Description**:
On my map, I have a few over

[2020-08-18 01:32] #698 closed

[2020-08-18 01:39] sashadev-sky commented on #714
@MerionLial try:
[code]

The corners are meant to be passed in as part of the options hash, not a sep argument.

[2020-08-18 08:36] MerionLial commented on #714
Thank you! Should have noticed that, but that helped to at least put the images in the right spot. They are all where they are supposed to be now, But unfortunately I still get the above mentioned error and the images are not clickable (I've set editable: true now for testing purposes). Neither does the toolbar open nor the popup I'm binding myself.

[2020-08-19 02:19] sashadev-sky commented on #709
@jywarren I opened a PR for this in mapknitter! https://github.com/publiclab/mapknitter/pull/1395

[2020-08-19 13:55] bytesnz commented on #694
Thanks for the comment. Yes, that (cropping before inserting) would definitely work for the example image.

For something like the image in the gif on the readme, I think it would be handy to be able to do the geo referencing on an image. Maybe it would be a job for another library, but as you already have ability to move/distort the image, thought it could be quite a nice fit.

[2020-08-24 23:55] sashadev-sky commented on #714
@MerionLial I need to double check about leaflet.draw actually thank you for reminding me!! Also so sorry, the problem is because of documentation not updated.. `L.RevertAction` was updated to `L.RestoreAction` when it was moved from being a WIP. I will fix this in the README accordingly but you need to update that in your code!

Lmk if all works out, you can let us know if Leaflet.Draw conflict i

[2020-08-25 00:28] sashadev-sky commented on #67
Hi guys, just double checked version `0.20.7` of our package, `leaflet-toolbar@0.4.0-alpha.2` version of leaflet-toolbar, `leaflet@1.6.0` version of leaflet and `leaflet-draw@1.0.4` version of leaflet-draw and confirm there is full compatibility. Closing this -- will reopen if @MerionLial double checks and finds an issue, but I don't think he should.

(Note our package has probably worked with lea

[2020-08-25 00:28] #67 closed

[2020-08-25 00:30] sashadev-sky commented on #587
@gjagnoor

[2020-08-25 00:32] sashadev-sky commented on #628
@Hunahpu23 Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2020-08-25 01:40] sashadev-sky opened #718 "Update L.DistortableImage.Edit.js method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-08-25 01:41] sashadev-sky commented on #632
@gauraws, @imuraki, @Uneetpatel7 would any of you like to be assigned to #718

[2020-08-25 01:43] sashadev-sky opened #719 "Update L.DistortableImage.Edit.js method creation to ES6 syntax II"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-08-25 01:45] sashadev-sky opened #720 "Update L.DistortableImage.Edit.js method creation to ES6 syntax III"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-08-25 01:48] sashadev-sky opened #721 "Update L.DistortableImage.Edit.js method creation to ES6 syntax IV"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-08-25 01:53] sashadev-sky opened #722 "Update L.DistortableImage.Edit.js method creation to ES6 syntax V"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-08-25 02:00] jugalj05hi commented on #632
@sashadev-sky yes I'd love to.

[2020-08-25 03:04] sashadev-sky commented on #718
assigned to @jugalj05hi!

[2020-08-25 03:05] sashadev-sky commented on #632
@jugalj05hi ok cool I assigned you to #718

[2020-08-25 03:19] greg-krulin commented on #719
Hey sashadev-key,
I would love to work on this.
No questions right now, but if I have anything I'll comment here.
Thanks!

[2020-08-25 03:20] SMAKSS commented on #632
@sashadev-sky I also would love to participate.

[2020-08-25 03:34] sashadev-sky commented on #719
@greg-krulin sounds good! Just assigned you

[2020-08-25 03:35] sashadev-sky commented on #720
assigning to @SMAKSS

[2020-08-25 03:36] sashadev-sky commented on #632
@SMAKSS assigned you to #720 👍

[2020-08-25 07:24] dixittarun81 commented on #721
Hi, as i have some knowledge of Javascript and knows about ES6 and a beginner with open source community, i would like to work on this issue

[2020-08-25 13:06] romance939913 commented on #628
@sashadev-sky Can I claim this issue if it's not being worked on?

[2020-08-25 13:46] romance939913 commented on #722
Hi @sashadev-sky  I'm new to open source contribution and would love to give this a go. I also commented on another abandon issue. Let me know which one I can take.
Thanks!

[2020-08-25 19:52] #719 closed

[2020-08-25 20:03] sashadev-sky commented on #628
@romance939913 I would give this person another day or so because I just checked in with him today. Would you want to try #587? (and I won't abandon it this time 👍)

[2020-08-25 20:21] javed24 commented on #718
hi @sashadev-sky , first timer here, would love to help with this!

[2020-08-25 20:24] javed24 commented on #587
hi @sashadev-sky any chance I could contribute to this one? I'm new to contributing to open source and would love to help with this. Thanks!

[2020-08-25 23:44] sashadev-sky commented on #709
resolved https://github.com/publiclab/mapknitter/pull/1395!

[2020-08-25 23:44] #709 closed

[2020-08-25 23:46] sashadev-sky commented on #722
Someone else asked for the abandoned issue so ill assign you here! @romance939913

[2020-08-25 23:47] sashadev-sky commented on #587
@javed24 would love your help! Assigning you now

[2020-08-25 23:49] sashadev-sky commented on #718
@javed24 i assigned u to #587!

[2020-08-26 00:21] javed24 commented on #587
thanks @sashadev-sky ! I'm on it. Will keep you posted 👍

[2020-08-26 01:08] jugalj05hi commented on #718
@sashadev-sky getting this error when pushing the local branch on the repo.
<img width="930" alt="image" src="https://user-images.githubusercontent.com/24596062/91243102-c4785400-e70e-11ea-9a43-26578857be65.png">

[2020-08-26 01:11] javed24 commented on #718
did you fork this repo? The PR has to be from your forked branch to the base/main one.

[2020-08-26 04:38] #587 closed

[2020-08-26 22:28] MerionLial commented on #714
Thanks for the info, I changed my code from `L.RevertAction`  to` L.RestoreAction` , but unfortunately that was not the real problem. I do have a new error for you, though ;-)
I switched browsers and while Chrome now says
`Uncaught TypeError: Cannot read property 'Action' of undefined`
Firefox is a bit more precise and says
`Uncaught TypeError: L.Toolbar2 is undefined`
Both now point me to line 92

[2020-08-27 22:24] #721 closed

[2020-08-28 22:16] sashadev-sky commented on #714
@MerionLial Not stupid!! I checked the compatibility myself and it worked for me. What versions of everything are you using? I think maybe your version of leaflet-toolbar is old. You should have `"leaflet-toolbar": "0.4.0-alpha.2",`

[2020-08-29 02:40] AdityaAshvin commented on #628
Hey @sashadev-sky , can I work on this?

[2020-08-29 03:21] sashadev-sky commented on #628
@AdityaAshvin yes assigning you! Thanks!

[2020-08-29 03:51] sashadev-sky opened #730 "Update L.DistortableImage.Edit.js method creation to ES6 syntax VI"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-08-29 04:00] chethanagopinath commented on #730
I would like to claim this! @sashadev-sky

[2020-08-29 04:11] chethanagopinath commented on #730
@sashadev-sky I would like to work on this!

[2020-08-29 04:30] sashadev-sky commented on #730
@chethanagopinath assigned you thanks!

[2020-08-29 06:03] ACavoli commented on #730
@sashadev-sky Hey, I would also like to work on this

[2020-08-29 07:51] mnabeelp commented on #730
@chethanagopinath @sashadev-sky
Hey, I would like to help too.

[2020-08-29 09:43] #628 closed

[2020-08-29 13:39] chethanagopinath commented on #730
@mnabeelp Hi! Not entirely sure if this issue requires two people on it as I haven't checked it yet. Alternatively, you could comment on this - https://github.com/publiclab/plots2/issues/7683 - and the kind folks there would assign you an issue to work on. @sashadev-sky, please add on as you wish :)

[2020-08-29 23:20] MerionLial commented on #714
Well, this is a bit embarrassing, but I did not have `leaflet-toolbar` included in my list of loaded scripts. Changed that and inlcuded `leaflet-toolbar` and it seems to work now.
I was not aware that this is a prerequisite of `Leaflet.DistortableImage`. I simply downloaded the zip and added the .js to my plugin folder. When you use npm, such dependencies get automatically included, I guess.
Not s

[2020-08-30 02:12] sashadev-sky commented on #714
no worries! we don't offer the project as a single file it is at the end of the day a package, would be just another thing to maintain

[2020-08-30 02:12] #714 closed

[2020-08-30 18:47] SMAKSS commented on #720
@sashadev-sky Thank you for assigning this one to me. I just have done it and submitted a PR, but I'm not totally sure if anything alright, because couldn't build it locally but the automatic Travis build ran successfully. If there is any trouble with it please let me know. Thank you again.

[2020-08-31 07:38] mdellanave opened #732 "Use data of ditortableImage to load the image in ol map"
I would like to use the data generated by the DistortableImage (corners, center etc) to create an equivalent map but using ol API instead of Leaflet one (beacause of the possibility of view rotation in ol).
Is it possibile and how?
Can some please give me a hint?

**Scope**:
API, documentation, installation, code, meta, other?

**Description**:
Feel free to include any applicable: code, screenshot

[2020-08-31 15:22] mdellanave commented on #732
I'm trying using ol-ext with GeoImage but the problem is that distortableImage uses the image corners instead of  the scale factor used by ol.

Assuming that distortAction will be disabled, is there a way to get the scale factor from the distortableImage api?
O otherwise a way to calculate it?

thank you

[2020-09-01 01:25] #720 closed

[2020-09-01 10:01] MerionLial opened #733 "Adding custom tool/function to the toolbar"
First off: I'm not sure if opening issues here is the best way of asking question along the line of "How do I do X?" If there's a discord, IRC, forum, subreddit or whatnot you'd rather have me use, please let me know.

Now for the actual question:

**Scope**:
Leaflet project of middling complexity. Using the following other plugins and libraries:
/lib/jquery-3.5.1.min.js
/lib/arrive.min.js
/leafle

[2020-09-01 21:30] sashadev-sky commented on #733
@MerionLial have been to get some documentation on this in a wiki if you want to help out! You can find an example of how a custom action here:

https://github.com/publiclab/mapknitter/blob/301e7e4a606610d7492f63ae6f8b12000e5b4146/app/assets/javascripts/mapknitter/Map.js#L739-L766

and it getting added to the toolbar here: https://github.com/publiclab/mapknitter/blob/301e7e4a606610d7492f63ae6f8b12

[2020-09-01 22:00] sashadev-sky commented on #732
@mdellanave I'll open a feature request to add a `getScale` method to the API.

[2020-09-01 22:04] sashadev-sky opened #734 "Add `getScale` and `setScale` methods to the API"
Similarly to `getAngle`, `setAngle` and `rotateBy` in `src/DisortableImageOverlay.js`, we want to add `getScale` and `setScale` methods on the image to go with the already implemented `scaleBy`

Orig. requested in https://github.com/publiclab/Leaflet.DistortableImage/issues/732

[2020-09-01 22:28] sashadev-sky commented on #681
closed via #716

[2020-09-01 22:28] #681 closed

[2020-09-01 22:49] sashadev-sky opened #735 "Update testing framework to one that doesn't require a real browser"
We currently use `karma` as our main framework and would like to consider updating to a framework that does not require an actual browser for testing, so that we don't need to work around browser security issues regarding sandbox.

Open to any framework suggestions that the contributor is interested in implementing, but a great example of an implementation we can emulate in this project can be fou

[2020-09-01 22:53] sashadev-sky opened #736 "Update L.DistortableImage.Edit.js method creation to ES6 syntax VII"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-09-01 22:55] sashadev-sky commented on #730
@ACavoli ill assign you to a similar one, #736

[2020-09-01 22:55] sashadev-sky commented on #736
assigned to @ACavoli

[2020-09-01 23:02] sashadev-sky opened #737 "Update L.DistortableImage.Edit.js method creation to ES6 syntax VIII"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-09-01 23:03] sashadev-sky commented on #730
@mnabeelp also assigning you to a similar one, #737

[2020-09-01 23:03] sashadev-sky commented on #737
assigned to @mnabeelp

[2020-09-02 07:29] mdellanave commented on #732
thank you @sashadev-sky!!!

[2020-09-02 10:08] mdellanave commented on #734
@sashadev-sky do you know the release plan?
I would be grateful if it will be released soon :-)

[2020-09-02 12:28] #389 closed

[2020-09-03 10:05] MerionLial commented on #733
Thank you! I'll look into it and see what I can do with it. Once I understood what is happening and know how to adapt it to non-mapknitter maps, I'll happily write up something for the wiki.

I might have some question concerning those two functions before that, so be warned ;-)

[2020-09-04 19:53] sashadev-sky commented on #733
@MerionLial sounds good thanks!

[2020-09-07 10:16] MerionLial commented on #733
I had a look and to be honest, I'm not sure my self-taught Javascript skills are sufficient for this.

But okay, let's try and break this down. The whole affair seems to be a 3 step process:

1. Have a function you want to execute:
[code]

2. Defining the action
In your example, you are defining the action as part of some larger function. I don't, so I just create a new function for it. It looks l

[2020-09-08 10:07] MerionLial opened #746 "Rectangular Distort"
**Please describe the desired behavior.**
The free distortion with 4 draggable corners is very cool and obviously the core feature of this plugin. In some cases though, I would prefer a rectangluar distortion as seen in many desktop programs when resizing an image. You know, like this :

![Word-icon-resizing-animation](https://user-images.githubusercontent.com/69733730/92462668-0ef7d700-f1cb-11ea-

[2020-09-12 19:36] johnksv opened #747 "Select not firing on click event"
**Describe the bug:**
What happened:
Clicked DistortableImageOverlay, nothing happened/edit mode didn't trigger.
Drag DistortableImageOverlay, nothing happened.

 If `selected:true` is passed as option I can manipulate the image until it is deselected. After this the image is not able to select again.
From my investigations it seems that the on click listener that should call select is not trigger

[2020-09-14 15:45] tettusud commented on #747
@johnksv I was facing the same issue too ,but including vendor.js solved it (the file is in the same director like leaflet-distortableimage.js , give a try

[2020-09-14 20:19] johnksv commented on #747
This solved it. Thank you very much.

[2020-09-14 20:19] #747 closed

[2020-09-15 19:47] nicobelo91 commented on #737
Can I claim this issue?

[2020-09-15 21:34] jywarren commented on #746
We used to allow this by holding the shift key to "lock rotation" -- but the feature wasn't well documented and seems no longer to work. But, we'd gladly accept a PR for this modifier, as long as it could come with a test! Thanks!

[2020-09-15 21:35] jywarren opened #751 "upstream Node-based cloud export service offline; switch to Ruby-based service for now"
Following up on #716, @sashadev-sky noted the following demo wasn't working:

https://publiclab.github.io/Leaflet.DistortableImage/examples/export

https://34.74.118.242/api/v2/export/ is our node-based export service. There is another in production on https://mapknitter.org as you can see here:

https://github.com/publiclab/mapknitter/blob/92e73e634550d6ec0e3f1e475d062fe967d54c9a/app/assets/javas

[2020-09-15 21:56] jywarren commented on #751
I checked! Switching to https://export.mapknitter.org seems to work, although the way we handle the response is very different; in the export demo we currently:

`window.location = statusUrl;`

so we'll have to change that too.

[2020-09-15 21:57] jywarren commented on #751
In fact, it returns `/id/1600207027/status.json`, not an image location. We can look at the MapKnitter implementation to see how this can be parsed and repeatedly accessed until an image is ready, and then display it.

[2020-09-15 22:05] jywarren commented on #751
OK, using GitPod i was able to try this out and it works all right - we'd have to parse the response using code like this:

https://github.com/publiclab/mapknitter/blob/92e73e634550d6ec0e3f1e475d062fe967d54c9a/app/assets/javascripts/mapknitter/Map.js#L678-L717

[2020-09-18 22:49] SeaverDahlgren commented on #737
Can I work on this? @sashadev-sky

[2020-09-21 21:35] jywarren commented on #735
Hi Sasha - sorry, i should've replied here -- https://github.com/publiclab/Leaflet.DistortableImage/pull/716#issuecomment-692987230

I've re-added the `--no-sandbox` option in #750, but if you have more research showing that `--no-sandbox` is a security issue in the context of Karma or Jest testing, or more discussion you can link to for context, i'm happy to discuss! Thank you!

[2020-09-21 21:35] #735 closed

[2020-09-23 19:02] romance939913 commented on #722
Hi @sashadev-sky - My pull request #744 is ready to be merged. Please let me know if I need to do anything else. Thanks!

[2020-09-26 06:56] sangu09 commented on #734
Hey, I want to contribute in this project but I see there are no good-first-bugs left unassigned. As I do know javascript can I contribute to this issue? Thanks in advance.

[2020-09-27 03:27] #722 closed

[2020-09-29 23:40] #730 closed

[2020-09-29 23:42] sashadev-sky commented on #734
@sangu09 yes go for it!!

[2020-09-30 00:05] sashadev-sky commented on #737
reassigning to @nicobelo91 because there was no activity

[2020-09-30 00:23] nicobelo91 commented on #737
@sashadev-sky thanks! I'll do my best

[2020-09-30 00:30] sashadev-sky commented on #735
@jywarren so in Google's documentation of it, they write they don't recommend using `--no-sandbox` to fix the issue we were experiencing running tests in gitpod, and offer up 2 alternative suggestions. I looked into both of those and unfortunately, Gitpod would not support either of them because you need admin privileges to "Enable user namespace cloning" or "Setup setuid sandbox", and these privi

[2020-09-30 00:39] sashadev-sky commented on #735
actually nevermind, I think that option would face the same issues with admin privileges

[2020-09-30 00:45] sashadev-sky commented on #737
@SeaverDahlgren would you like to work on #718? You can comment there to claim it

[2020-09-30 04:27] SeaverDahlgren commented on #718
Hi, I would like to work on this issue.

[2020-09-30 04:27] SeaverDahlgren commented on #737
@sashadev-sky Yes, I just commented

[2020-09-30 21:51] nicobelo91 commented on #737
@sashadev-sky, I pulled the request but I forgot to check the boxes!

[2020-10-01 12:40] KhushalPShah commented on #736
Can I work on this Issue?

[2020-10-01 13:45] Subaruuuu commented on #737
Hi @sashadev-sky
thanks for your rep for beginner practice.
but after created the PR I see a message at the bottom of the page said "Some checks were not successful"
I'm not sure if my PR were successful or not, or something I did it wrong, plz let me know if there is something I need to fix.
Thanks!

[2020-10-03 08:32] Ritesh055 commented on #737
Hey, is this issue still available?

[2020-10-03 10:01] Aryan-Abhishek commented on #737
Hi, Can I work on this? @sashadev-sky

[2020-10-03 10:03] Aryan-Abhishek commented on #718
Hi, Can I work on this? @sashadev-sky

[2020-10-04 21:08] #718 closed

[2020-10-04 21:16] sashadev-sky commented on #737
@Subaruuuu this issue is already being worked on by @nicobelo91 and is for 1 person! Also your PR did not follow the guidelines of the issue, please see @nicobelo91 PR #762 for my comments on that

[2020-10-04 21:18] sashadev-sky commented on #736
@KhushalPShah yes, reassigning to you :)

[2020-10-04 21:26] sashadev-sky opened #764 "Update L.DistortableImage.Keymapper method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-10-04 21:27] sashadev-sky commented on #764
assigned to @Ritesh055!

[2020-10-04 21:27] sashadev-sky commented on #737
@Ritesh055 i assigned you to a similar one #764

[2020-10-04 21:36] sashadev-sky opened #765 "Update L.DistortableImage.Keymapper method creation to ES6 syntax II"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-10-04 21:36] sashadev-sky commented on #765
assigned to @Aryan-Abhishek!

[2020-10-04 21:37] sashadev-sky commented on #737
@Aryan-Abhishek #765 for you

[2020-10-04 22:32] roycebradley commented on #765
Can I work on this?

[2020-10-04 23:57] sashadev-sky commented on #765
@roycebradley yes if @Aryan-Abhishek doesn't open a PR for a week

[2020-10-05 03:37] KhushalPShah commented on #736
Thanks @sashadev-sky

[2020-10-05 04:33] adityap301 commented on #764
Hey @sashadev-sky, can I work on this issue?

[2020-10-06 10:26] KhushalPShah commented on #736
@sashadev-sky
Can you please review the PR linked to this issue ?
PR : https://github.com/publiclab/Leaflet.DistortableImage/pull/768

[2020-10-06 21:34] #764 closed

[2020-10-06 21:36] #736 closed

[2020-10-22 16:08] shivarajloni commented on #765
hey! can i contribute

[2020-10-23 19:40] sashadev-sky commented on #765
@shivarajloni yes, assigning you now!

[2020-10-23 19:52] sashadev-sky commented on #737
closed via #766

[2020-10-23 19:52] #737 closed

[2020-11-03 09:22] Arunar-betta opened #790 "Bug in safary 14.0: sourceCapabilities is undefined"
Any click on the map in safary 14.0 causes the following error:
TypeError: undefined is not an object (evaluating 'i.sourceCapabilities.firesTouchEvents')

Can be reproduced even in live demo
https://publiclab.github.io/Leaflet.DistortableImage/examples/index.html

[2020-11-17 22:01] jywarren opened #795 "Re-add GPS EXIF tool for auto-placing images using embedded GPS EXIF data"
https://github.com/publiclab/Leaflet.DistortableImage/issues/142 introduced this awesome feature, which uses image metadata to try to place images roughly over their real-world positions on the globe. Compass data is also used to try to guess appropriate image rotation.

Unfortunately this feature is not shown in the demo and i think it may need a little help to get featured more prominently and/o

[2020-11-17 22:08] jywarren commented on #547
Noting that this got stuck when we needed ES6 and I believe that is now resolved. Thanks all!

[2020-11-17 22:21] jywarren commented on #733
Hi, just chiming in late here, but:

That section "sets up" the HTML UI for the menu to begin using your new tool; it specifies the name and the icon. It is run by the library and the values for `map, overlay, options` are passed in for you to use. `addHooks` connects up the events for the UI.

Once the toolbar UI is defined, 3) is as you said actually adding the tool to the toolbar.

Thank you, t

[2020-11-17 22:23] jywarren commented on #397
I know this is old, but just noting agreement here! I also pinned a couple bigger features which we might be able to tackle now that so much progress has been made in this library over the past year and more. Tremendous job, everyone!

[2020-11-18 18:27] sashadev-sky commented on #790
i believe it! Im checking into it now thank you for reporting this

[2020-11-19 10:14] sashadev-sky commented on #790
So its "experimental" according to MDN" but here is a good link about it if interested and also @jywarren  https://developers.google.com/web/updates/2015/10/inputdevicecapabilities.

What it dose is indicate if the browser has native input touch event (not all do), so we can fire a synthetic one if it doesn't and don't end up firing it twice if it does.`sourceCapabilities` is a ? for status in saf

[2020-11-22 11:56] #765 closed

[2020-11-25 09:01] BrageKanKode opened #802 "Using layersControl, distortableImageOverlay doesn't show a second time"
Selecting image in layersControl.overlays shows it. After unselecting it once, it doesn't show after selecting it anymore.
Expected same behaviour as imageOverlay, which can be selected and unselected any number of times.

**Reproduce the behavior:**
 Steps to reproduce the behavior. (ex. 1. Go to... 2. Click on... 3. See error...)
`overlays: {
      'Big Circle': circle([ 46.95, -122 ], { radius:

[2020-11-27 03:21] themacboy commented on #802
I mesaged about it long time ago

El mié., 25 nov. 2020 10:02, welcome[bot] <notifications@github.com>
escribió:

[2020-11-27 05:37] themacboy commented on #802
#441

[2020-11-27 07:30] BrageKanKode commented on #802
@themacboy It doesn't seem to be the same issue. Others seems to be able to get it back after hiding it once. My problem is that after hiding it, it won't show anymore.

[2020-11-27 07:50] themacboy commented on #802
@BrageKanKode believe me is the same problem. My car return due I code a trick, but originally dint return. Unfortunatelly I los all hooks on the way.

[2020-12-05 14:26] jbogdani opened #805 "Most of the actions not working with crs: L.CRS.Simple"
Hello,
and thank you for this great plugin.

I'm having troubles getting it to work when the map is initialized with `crs: L.CRS.Simple`.
**Drag**, **Scale**, **Rotate** and **Free transform** actions are not working, while **Distort**, **Lock**, **Opacity**, **Save** and **Delete** do.

The code to reproduce this issue is very simple:

[code]

I have tried with the latest versions of Google Chrom

[2020-12-14 11:46] BrageKanKode commented on #463
For anyone else that has this issue, and changing the css class didn't work. I managed to solve this by adding a path to the css for leafletToolbar under 'styles' in angular.json.
`"./node_modules/leaflet-toolbar/dist/leaflet.toolbar.css"`

[2020-12-24 22:17] Ridaoui02 commented on #746
@jywarren can i get informations about last commit it was used in ?? i would like to check it's code

[2020-12-24 22:20] Ridaoui02 commented on #403
is there any hope we can get this feature plz!! ???

[2020-12-28 18:24] MerionLial commented on #746
@Ridaoui02 I did not find the time yet to try and a) find the old code or b) implement a new version. But I would still be very interested if you'd manage to re-implement something like this.

Maybe this can help to find to old code: https://stackoverflow.com/questions/4705517/github-searching-through-older-versions-of-files

[2020-12-29 15:58] jywarren commented on #746
Hi, i'm not sure what the last commit was but it might have used an older event model than the present. What i can help with i hope is showing how to check for the shift key:

https://github.com/publiclab/Leaflet.DistortableImage/blob/20b6633866e7d5e0c2dcd6d33c9428c5dda6a38d/src/edit/handles/LockHandle.js#L52-L56

and for how to simulate shift key in a test, so as to protect and document this feat

[2021-02-17 22:46] jywarren opened #837 "migrate from Travis CI to Github Actions for automated tests"
We need to migrate from Travis CI to Github Actions and get those checks and tests running again! Just like we did here:

https://github.com/publiclab/leaflet-environmental-layers/pull/503

Currently our tests aren't running on new PRs! 😭

[2021-03-18 10:29] kerbstone52 opened #855 "Browse to Image ?"
**Scope**:
Browse to and open local image ?

**Description**:
Is there and method where a local image which is to be manipulated can be accessed using a normal file open type scenario ?
(Or indeed just dragged over the map)

Apologies if this is a stupid question  (but this type of functionality is available for geojson, kml etc.)

[2021-03-22 16:20] maximebizeray commented on #221
Hi guys!

I'm facing almost the same issue as this one. The toolbar is active when I load my image but sometimes when I click on the map or on the image, the toolbar disappears. And  I can't make it come back when I click on the image like in the demo.

Any idea what I do wrong ?

Here is my code:
`map = Leaflet.map('map').setView([51.505, -0.09], 18);
      map.addGoogleMutant();

      img = Lea

[2021-04-16 03:37] hunghoang310399 opened #872 "I have a problem when used Leaflet.DistortableImage and leaflet"
**error when used Leaflet.DistortableImage**

**Additional context (optional)**
import leaflet and Leaflet.DistortableImage .
![image](https://user-images.githubusercontent.com/48980585/114967810-53ed9580-9e9f-11eb-9e1e-c0fa11538c14.png)
error :
![image](https://user-images.githubusercontent.com/48980585/114967984-a29b2f80-9e9f-11eb-9c28-d86c4469b1c9.png)

[2021-04-16 03:42] hunghoang310399 opened #873 "I have a problem when used Leaflet.DistortableImage and leaflet"
**Describe the bug:**
i used Leaflet.DistortableImage and Leaflet but have error "Cannot read property 'Action' of undefined" .

**Reproduce the behavior:**
import leaflet and Leaflet.DistortableImage .
![image](https://user-images.githubusercontent.com/48980585/114967810-53ed9580-9e9f-11eb-9e1e-c0fa11538c14.png)
error :
![image](https://user-images.githubusercontent.com/48980585/114967984-a29b2f8

[2021-04-16 03:42] #872 closed

[2021-04-16 05:03] #873 closed

[2021-05-18 20:02] jywarren commented on #837
I've just locked merges except to myself (cc @sashadev-sky) because i forgot our checks were all offline and merged a few Dependabot PRs. They are /probably/ ok because all were minor version number and had compatibility ratings of ~94%+ but if worse comes to worse we can roll them back. Just check all the recent PRs merged. Probably ~4-5 bypassed tests.

[2021-05-21 09:25] BrageKanKode opened #893 "Setting in pane results in not being able to interact with the image"
**Describe the bug:**
Setting in a pane as option when creating a distortableImage results in making the image unresponsive.
The image does behave as expected with the pane, as in the z-index correctly gets set, but I cannot drag it around or show the toolbar.

Expected behaviour would be to use the image as usual, in addition to be able to change z-index between images and drawn shapes, all using

[2021-06-09 12:08] sachinrke opened #907 "show/hide image not working as expected"
![show-hide](https://user-images.githubusercontent.com/36258882/121351507-7a80f780-c949-11eb-9ba7-15181f069f7a.gif)

please help me with the issue of show and hiding the image. The problem is when i unchecked the checkbox at a particular zoom level of the map the image will hide. after hiding the image i change the zoom level of the map and when show the image using checked the checkbox the image

[2021-08-17 16:57] #837 closed

[2021-09-07 15:39] TerryFryar opened #938 "Bug when using "deg: 0" in rotation option"
When creating a new distortableImageOverlay like this:

var o = L.distortableImageOverlay("", {
                corners: c,
                rotation: {
                    deg: 0
                }
}).addTo(map);

You will see the following error every time you update the image URL:

LatLng.js:32 Uncaught Error: Invalid LatLng object: (NaN, NaN)
    at new D (LatLng.js:32)
    at Object.unproject (

[2021-12-21 10:23] ShreyasRP opened #939 "React Component implementation"
I would like to use this in a React project. I tried making a custom component using  createControlComponent from "@react-leaflet/core" but I am not able to do it. A small working example would help.

PS: There is an npm library called **react-leaflet-distortable-imageoverlay**, but it was built for the older version of react-leaflet and hence does not support MapContainer.

[2022-01-19 08:26] sakhnik opened #941 "Controls detachable from image corners"
**Please describe the desired behavior.**
Would it be possible to detach the controls from the corners of the image and move to some specific points on the image? For instance, if there's a distinct feature on the map, say, intersection, it'd be much easier to just align that intersection on both the image and the map. Repeating this action for all the controls would allow quicker alignment of the

[2022-02-15 21:52] jywarren commented on #939
Hmm. was that the same as https://github.com/wkba/react_DistortableImage - i think there have been a few attempts to do this. I haven't tried myself! Could be worth looking through https://github.com/publiclab/Leaflet.DistortableImage/network/dependents - and yes, i think an example would be great!

[2022-02-15 21:56] jywarren commented on #941
oh this is pretty interesting. What if we thought about this differently -- that instead of 4 handles at corners, we have a general concept of handles which are like on a line from the image "center" - and we happen to default to 4 that match the corners. But, that if we want, we can add new handles at any arbitrary point, that can equally be used to rotate/scale.

The problem comes up when we're

[2022-02-15 22:24] jywarren commented on #855
Hi we are interested in implementing this and will try via the upcoming Google Summer of Code, thank you!

I think the best place to do it would be in our demo at https://publiclab.github.io/Leaflet.DistortableImage/examples/export.html

[2022-02-18 21:45] cubecleveland opened #948 "How to position The toolbar in a raised Point Like then plugin Does"
Hello, Im trying to use snippets of the toolbar code for a custom template of polygon combined with images.
Everything works as expected but im having diffulties retreieving the right poition to place the toolbar. can u direct me to the correct code where u calculate the lat lng for the toolbar ?

[2022-02-20 20:02] sakhnik commented on #941
Hi! I solved my particular task using Jupyter Lab: [sakhnik/gpx-race](https://github.com/sakhnik/gpx-race). It's possible to define 4 points on the upright map and tie them to the GPS coordinates. This is just enough for the perspective transform. And the result is satisfactory. But as it turns out from the practice, this may be insufficient because of the image peculiarities. So I'm thinking of a

[2022-02-26 22:58] jywarren commented on #855
Hi, that's a cool idea. I could imagine 2 ways:

1. we could embed the JSON for the 4 corners in the EXIF data, and read it
again if you drag it into LDI a second time. But what program were u
thinking of when you say "subsequent file open"? We could embed GPS EXIF
tags easily but thats just 1 point, not 4. We could do both, of course.
2. we could encourage/make more visible the "distorted downloa

[2022-03-01 11:35] kerbstone52 commented on #855
Hi Jeffrey,
Apologies for the late response.

I imagine both 1. and 2. would be desirable. Any manipulation of the image, by location, size, rotation, or distortion
would be retained on a subsequent 'drag back into' LDI. (that is what I mean by a 'file open')

...however if a standard exists (and I am not sure it does exist) whereby Lat Lon AND projection could be stored in EXIF whereby the file c

[2022-04-30 17:29] AlexeyHabarov opened #953 "_corners is undefined"
Hello. Please explain this behavior. What mistakes do I make.

**Scope**:

[code]

**Description**:
How can i get/set corners by click button.
When i use img.setCorners i get an error.
[code]

[2022-06-06 13:31] semihsahin opened #980 "Eventhandlers"
**Scope**:
API

**Description**:
I couldn't find how we can check the occurrence of certain events. I want to do some operation when an image is rotated, scaled or dragged. Example:

img.on('rotate, rotateend', function (e){
                    //...
                })

[2022-06-06 15:14] semihsahin opened #981 "Deselect event listener is triggered when selecting and deselecting, and it does this for all imageoverlay in the map"
I want to handle 'deselect' operation for individual distortableImageOverlay. But 'deselect' listener is also triggered when selecting an image. And it does this for all overlays, for example; if i have 3 distortableImageOverlay layer in the map, deselect listener is triggered 3 times when i select or deselect an image. This issue does not happen for 'select' listener.

labels.map(({labelId, lat,

[2022-06-20 05:52] themacboy opened #983 "Some handlers won't work ..."
**Scope**: code

**Description**:
Good morning, after three years I have updated the plug-in and I have noticed that there are different handlers that do not work, in my case specifically are the rotation and drag handlers.
As you can see in the video once the handler is selected it does nothing, just deselect the image.

I have attached a video where you can see the problem:

https://user-images.

[2022-06-21 06:00] themacboy commented on #983
Tried to build from scratch, but same result.

[2022-07-12 13:51] jywarren opened #998 "MapKnitter Lite: fetch images from Internet Archive"
This is for an idea for a static-served MapKnitter Lite.

Sketches of how this could look: https://docs.google.com/presentation/d/1kFXK0f3h2IsA2lml9L2s_REXm5p1ZGAVqfKUb9H_8Eo/edit?usp=sharing

**N.B: To use MapKnitter Lite successfully, users must first upload their images to the Internet Archive and get a unique identifier or URL (for their image collection)**

Guide to uploading images on Intern

[2022-08-02 22:20] themacboy commented on #983
ummm I tried to go back ... and the last version that worked for me is:
Leaflet.DistortableImage-v.0.8.4

Will try to figure what changed in the nexts versions, that brokes all handlers and can't move o change images.

Any idea is welcome !

[2022-08-03 00:21] themacboy commented on #983
I go through the commits and v0.9.0 still works for me.

Then got throught all commint in relaease v0.11.6, but in all them I get and error on due a missing missing functions in Toolbar.

Once reach the release v0.12.6 the toolbar works again but then, as explained at the beginning I can't drag, rotate, resize ... etc any handler works.

Sorry not sure why. Probably something related to the way I

[2022-08-04 03:11] themacboy opened #1007 "Some handlers not working ... after fix #517"
Good morning,

for some reason drag, rotate, freerotate and other handlers won't do his job in some circumstances.

After a lot of time debugging the code, to find the problem I have noticed that changes in #517 has broke the usual behavior of this handlers.

I have noticed that the problem is in the function:

`  _cornerExceedsMapLats: function(zoom, corner, map) {...}` on file DistortabeImageOve

[2022-08-04 03:12] themacboy commented on #983
found the problem, reported as a bug in #1007

[2022-08-04 03:12] #983 closed

[2022-08-04 03:14] themacboy commented on #1007
console print of the check and value of variable :

`exceedsTop = map.project(corner).y / zoom < 2;`

![image](https://user-images.githubusercontent.com/8063711/182755162-f0896eee-1440-4bc7-a065-2971a71c14e7.png)

[2022-08-04 03:23] themacboy commented on #1007
Other output values:

map.project(corner).x = 12888737.999999993
map.project(corner).y = -147853214.99999997
object corner = {lat: 41.72958170926682, lng: 1.8309573804288197}

[2022-08-09 10:38] bram2000 opened #1008 "Can I use this in a simple jsfiddle?"
**Scope**:
I'd like to play with this library using jsfiddle.net or similar, but I can't figure out how to make it work.

**Description**:
I've tried simply using `<script src=...>` to load in the `.js` as I do with other leaflet plugins, but It doesn't seem to work. I'm constantly getting the following error in console:

[code]

It's very hard to debug further due to the minified javascript.

Tha

[2022-08-09 10:38] bram2000 commented on #1008
I've even tried locally using a simple `index.html` file but get the same error.

[2022-08-09 15:07] tadiraman commented on #980
Can we get some clarity on @semihsahin comment? I am searching for the same.
How do i subscribe to the image events like distort, scale etc. ?

[2022-08-12 14:52] jywarren commented on #998
Just as a proof of concept, I found that static copies of MapKnitter.org in the internet archive are mostly functional:

https://web.archive.org/web/20220726175945/https://mapknitter.org/maps/ceres--2/edit

Pretty encouraging actually!

<img width="1116" alt="image" src="https://user-images.githubusercontent.com/24359/184380045-4de776b0-b608-43fb-baa2-d19d0dec1b38.png">

I even tried selecting the

[2022-08-12 14:52] jywarren commented on #998
I mean, description and name could be nice too but optional.

[2022-08-16 11:07] themacboy commented on #805
Oh! Just noticed this issue. This is the same problem a have using CRS too.

Please check my comments in issue #1007. I hope that helps you.

[2022-08-16 11:08] themacboy commented on #805
Current I solved the problem using Math.abs(),but thata not the correct solution, and I'm not sure how to do a better patch

[2022-08-16 15:06] PeculiarE opened #1011 "Prompt users to input image collection URL from Internet Archive"
Ask users to enter the Internet Archive identifier or URL for their image collection via a pop-up modal that appears once they visit MapKnitter Lite.

[2022-08-16 15:32] #1011 closed, assigned to nobody

[2022-08-18 14:54] jywarren commented on #1007
Hmm, thanks for documenting this... can you share a screen recording of the issue? What projection are you using, L.CRS.Simple? Is there any way we can try out the code you're using interactively? Thanks again!

[2022-08-18 14:56] jywarren commented on #1008
Hi, can you share a link to the fiddle you're using? It should be almost identical to the examples like https://publiclab.github.io/Leaflet.DistortableImage/examples/, but we should check the order of script tags, the version of Leaflet, and how you're initializing the library. Thanks!

[2022-08-19 11:28] themacboy commented on #1007
Sorry Im not skilled on all this, not sure what kind of L.CRS im using, i copy you my lines to creqate the map:

            this.ocrs = new L.Proj.CRS('EPSG:25831', '+proj=utm +zone=31 +ellps=GRS80 +units=m +no_def', {
                resolutions: this.resolutions,
                origin: [0, 0]
            });

[2022-08-19 11:53] themacboy commented on #1007
this is the code I have modified to "patch" the issue (but really is a worng solution):

`  _cornerExceedsMapLats: function(zoom, corner, map) {
    var exceedsTop;
    var exceedsBottom;
    if (zoom === 0) {
      exceedsTop = Math.abs( map.project(corner).y ) < 2;
      exceedsBottom = Math.abs( map.project(corner).y ) >= 255;
    } else {
      exceedsTop = Math.abs( map.project(corner).y / zo

[2022-08-19 14:31] jywarren commented on #1007
No worries at all - that's very helpful -- would you be able to share the
entire HTML page so we can try it, maybe using gist.github.com? Thank you!

On Fri, Aug 19, 2022 at 7:53 AM themacboy ***@***.***> wrote:

[2022-08-22 05:53] PeculiarE opened #1013 "Fetch and display all the collection's images in the sidebar"
On inputting a valid Internet Archive URL, the images saved in that collection should be displayed on the sidebar.

[2022-08-30 21:36] mstone121 opened #1016 "Fire Event on entire image drag"
**Please describe the desired behavior.**
I would like to be able to listen to drag events when an entire image is dragged (not just one of the edit handles).

[2022-09-07 00:39] PeculiarE opened #1018 "Have a sidebar for displaying the images in a collection"

[2022-09-07 01:08] #1018 closed

[2022-09-08 03:45] #1016 closed

[2022-09-12 16:33] jywarren commented on #1013
Let's be aware that we'll need jQuery in there -- with `<script src='https://code.jquery.com/jquery-3.6.1.min.js'></script>`

and Leaflet used to use the same shortcut - `$` so if both libraries try to, there could be an issue. Try inserting that code below the leaflet code so hopefully it overwrites Leaflet's use of `$`, and we don't have any trouble. But watch out if it says it `$.get` is not de

[2022-09-12 21:01] jywarren opened #1023 "allow clicking a sidebar image in MK Lite to add them onto a map for placement"
To add an image to the map, the code is:

[code]

https://github.com/publiclab/mapknitter/blob/3a1e332721c59754fb3ef7638f8169e71953791e/app/assets/javascripts/mapknitter/Map.js#L197-L213

[2022-09-12 21:10] jywarren opened #1024 "Add GPS/EXIF metadata detection for rough auto-placement using lat/lon and elevation"
This section of code in MapKnitter already does and integrates with this library:

https://github.com/publiclab/mapknitter/blob/f0f2f27ca9c4d3e6c80e2d76b356b950bb1d762f/app/assets/javascripts/mapknitter/Map.js#L215-L309

We just need to internalize this function and make it both a method of the DistortableImage class and a tool that can be used from the menu.

It's very powerful code - if there is

[2022-09-13 18:46] steveruiz commented on #805
I'm seeing the same problem. Can we disable the check entirely if the map CRS is L.CRS.Simple?

[2022-09-13 19:12] themacboy commented on #805
I supose that yea, but for me is more easy use Math.abs() and wait for @jywarren patch it

[2022-09-13 21:22] jywarren commented on #1007
Is it possible the projection is uniquely rejecting out of bounds coordinates and that we could bypass by actually limiting them to just under 180 or 90, so like 179.999 and 89.999? Just to avoid the situation entirely.

[2022-09-13 21:24] jywarren commented on #1007
Or might another solution be to just turn off this bounds limiting check for the L.CRS.simple projection until we can otherwise resolve it?

[2022-09-13 21:25] jywarren commented on #1007
@steveruiz @jbogdani does this last suggestion seem an ok workaround for you?

[2022-09-14 01:33] steveruiz commented on #1007
Yes - I think entirely turning off the bounds limiting check for L.CRS.Simple is the right way to go.

[2022-09-15 16:13] tadiraman opened #1027 "Some toolbar actions not working when using distortableCollection"
By default the 'distort' action is enabled and its working. But I am not able to free rotate image.

I can get this working when i am mounting single image by using distortableImageOverlay but not when using multiple images using distortableCollection.

[2022-09-20 03:47] PeculiarE commented on #1013
Hmmm...I used pure JS with axios instead. And yes, there's no clash of any sort. Is this okay, or must we use jQuery?

[2022-09-20 11:09] #1013 closed

[2022-09-20 11:10] jywarren commented on #1013
It looks super, thank you!!

On Mon, Sep 19, 2022, 11:47 PM Peculiar Erhisohwode <
***@***.***> wrote:

[2022-09-20 17:46] PeculiarE commented on #1013
Alright! Thanks, Jeff 😄

[2022-09-21 17:16] tadiraman commented on #1027
Is there someone to help with this? It's been a week. This looks like a bug to me.

[2022-09-29 00:11] jywarren commented on #1007
Excellent, i will craft a first-timers-only issue from it and it should get completed soon then. Thank you!

[2022-09-29 00:12] jywarren commented on #983
Thank you for reporting and investigating!

[2022-09-29 00:14] jywarren commented on #1027
Hello, thanks for reporting this. Do you think it's related to or the same issue as either https://github.com/publiclab/Leaflet.DistortableImage/issues/983 or https://github.com/publiclab/Leaflet.DistortableImage/issues/1007?

We are pushing a fix for those now. Can you help us by also describing how you're using the library? Can you link us to the javascript for where you're using this, or tell u

[2022-09-29 00:58] jywarren commented on #1007
Just copying in info here as i go:

https://github.com/publiclab/Leaflet.DistortableImage/blob/00ceec2d7332e39cac1abf0e7ff25ffd11b3e063/src/DistortableImageOverlay.js#L213-L240

[2022-09-29 00:59] jywarren commented on #1007
This method is called twice, both times in that file:

https://github.com/publiclab/Leaflet.DistortableImage/blob/00ceec2d7332e39cac1abf0e7ff25ffd11b3e063/src/DistortableImageOverlay.js#L232-L234

and

https://github.com/publiclab/Leaflet.DistortableImage/blob/00ceec2d7332e39cac1abf0e7ff25ffd11b3e063/src/DistortableImageOverlay.js#L268

[2022-09-29 01:34] first-timers[bot] opened #1032 "add exemption for L.CRS.Simple to _cornerExceedsMapLats()"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-09-29 01:35] jywarren commented on #1032
This is reserved for @amanjamshed2!

[2022-09-29 01:36] jywarren commented on #1027
OK, I've created an issue for it here: https://github.com/publiclab/Leaflet.DistortableImage/issues/1032 and asked a first-timer to try solving it. Thanks!

[2022-09-29 01:37] jywarren commented on #805
Hello, I'm addressing this here - going to merge this issue into it. Please follow there and if you can let me know whether the fix works once it's merged, that would be super helpful. Thanks!

[2022-09-29 01:41] jywarren commented on #1032
I'm happy to advise or support on this! Notice that the in-between lines need 2 more spaces indentation for good formatting. Thanks!

[2022-09-29 06:40] Aman-Jamshed commented on #1032
I appreciate you helping me and being supportive, @jywarren!

[2022-09-29 13:38] SashaLifashkin commented on #953
I had the same problem. As far as I understand the _corners are filled when the image is added to the page. Based on this, I decided to do the following and then I can get _corners:

`L.DomEvent.on(img.getElement(), 'load', () => {
    console.log(img._corners);  // _corners: (4) [LatLng, LatLng, LatLng, LatLng]
})`

[2022-09-29 14:08] tadiraman commented on #1027
Hi Jeffrey,

Yes, I think it's related to the #983
<https://github.com/publiclab/Leaflet.DistortableImage/issues/983> or #1007
<https://github.com/publiclab/Leaflet.DistortableImage/issues/1007> issue.

I have a simple javascript code. The toolbar options don't work when using
collection.

Here is the code block using collection. Many options in the toolbar don't
work.
let imgGroup = L.distortable

[2022-09-29 14:31] SashaLifashkin opened #1035 "Is it possible to add only one corner marker per selected image?"
Now if the picture is selected, then 4 corner markers are displayed. Is it possible to make it so that only one corner marker is displayed? Is it in the documentation or do I need to modify the code myself?

[2022-09-29 15:21] BharathMenon commented on #1032
I claim this issue!

[2022-09-29 15:22] jywarren commented on #1032
Hello @BharathMenon thank you for your enthusiasm! This is already reserved for @Aman-Jamshed however. Would you be willing to test it out once it's fixed, perhaps?

[2022-09-29 15:24] jywarren commented on #1027
Thank you, is your code shareable so I can see the full context? Even just
the html page its running on? It could be related and we can test again
once we solve the problem we've identified. But if that doesn't work for
your issue we'll need a bit more context to diagnose properly. Thanks!

On Thu, Sep 29, 2022, 10:08 AM tadiraman ***@***.***> wrote:

[2022-09-29 20:15] rodrigore commented on #732
@mdellanave have you found a solution to use something like this plugin but for open layers?

[2022-09-30 07:31] mdellanave commented on #732
Yes I'm currently using this https://viglino.github.io/ol-ext/examples/interaction/map.interaction.transform.html and this https://viglino.github.io/ol-ext/examples/layer/map.geoimage.html

[2022-09-30 11:25] rodrigore commented on #732
😮 how do you mix the transform with the geoImage? I'm kinda noob of open layers.

I would like to do the distortion of any type of image.

Do you have some example? I would really appreciate it

[2022-09-30 15:30] mdellanave commented on #732
[image-map-editor.zip](https://github.com/publiclab/Leaflet.DistortableImage/files/9685802/image-map-editor.zip)

Try with this one! ;-)
It is the best result I have been able to achieve.

cheers

[2022-09-30 16:03] rodrigore commented on #732
Wow thank you so much for the example and time. I tested and is working fine. The only 'issue' is that I tried to set keepAspectRatio to false and is not working, but I assume that is harder or the demo doesn't handle that case. Anyway, thank you again 🙂

[2022-09-30 20:57] jywarren commented on #1007
Hi all, once the final steps are made in #1033 would you mind testing them out? Thank you!!

[2022-09-30 23:56] jywarren commented on #1032
@BharathMenon if you'd like to try this out to see if it works well we'd appreciate it! https://github.com/publiclab/Leaflet.DistortableImage/pull/1033

[2022-10-01 23:25] jywarren commented on #372
@publiclab/maintainers possibly this contains some more FTOs, or could be mostly complete?

[2022-10-01 23:26] #397 closed

[2022-10-01 23:29] jywarren commented on #795
Moving to #1024

[2022-10-01 23:29] #795 closed

[2022-10-01 23:51] #1007 closed

[2022-10-01 23:51] #1032 closed

[2022-10-01 23:54] jywarren commented on #1007
Hello @themacboy @steveruiz @jbogdani @tadiraman can you check out the release candidate at https://github.com/publiclab/Leaflet.DistortableImage/pull/1036 (v0.21.9) to confirm if it does or doesn't address the issues you've been having? (remembering that we are guessing they are all inter-related but it's still possible this may fix things for some but not all of you?)

Thank you!

[2022-10-02 17:21] first-timers[bot] opened #1037 "Update method creation syntax to ES6 `BorderAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:23] Simba-97 commented on #1037
Hi I would like to work on this issue.

[2022-10-02 17:25] first-timers[bot] opened #1038 "Update method creation syntax to ES6 `DeleteAction`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:27] TildaDares commented on #1037
Hi @Simba-97, please go ahead!

[2022-10-02 17:27] Simba-97 commented on #1037
Thanks @TildaDares :)

[2022-10-02 17:28] TildaDares commented on #1038
Reserved for @tiff-o for 24 hours!

[2022-10-02 17:30] first-timers[bot] opened #1039 "Update method creation syntax to ES6 `DistortAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:31] TildaDares commented on #1039
Reserved for @AnnaS40 for 24 hours!

[2022-10-02 17:33] first-timers[bot] opened #1040 "Update method creation syntax to ES6 `DragAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:35] first-timers[bot] opened #1041 "Update method creation syntax to ES6 `EditAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:39] first-timers[bot] opened #1042 "Update method creation syntax to ES6 `ExportAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:40] first-timers[bot] opened #1043 "Update method creation syntax to ES6 `FreeRotateAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:41] first-timers[bot] opened #1044 "Update method creation syntax to ES6 `GeolocateAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:42] first-timers[bot] opened #1045 "Update method creation syntax to ES6 `LookAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:44] first-timers[bot] opened #1046 "Update method creation syntax to ES6 `OpacityAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:45] first-timers[bot] opened #1047 "Update method creation syntax to ES6 `RestoreAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:46] first-timers[bot] opened #1048 "Update method creation syntax to ES6 `RotateAction.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:50] TildaDares commented on #372
@jywarren I created a few issues like this #1037 to update the method creation syntax to ES6.

[2022-10-02 17:55] first-timers[bot] opened #1049 "Update method creation syntax to ES6 `LockHandle.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 17:59] first-timers[bot] opened #1050 "Update method creation syntax to ES6 `EditHandle.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 18:03] first-timers[bot] opened #1051 "Update method creation syntax to ES6 `PopupBar.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-02 18:56] M1racle04 commented on #1051
Hi I would Like to claim this issue

[2022-10-02 18:57] M1racle04 commented on #1050
Hi i would like to claim this issue

[2022-10-02 19:02] M1racle04 commented on #1049
Hi can i work on this issue?

[2022-10-02 19:02] M1racle04 commented on #1042
Hi can i work on this isuue

[2022-10-02 19:56] AnnaS40 commented on #1039
Thank you Tilda, I'd like to claim this issue.

[2022-10-02 20:31] TildaDares commented on #1040
Reserved for @Codebat-man for 24 hours

[2022-10-02 20:33] TildaDares commented on #1041
Reserved for M1racle04 for 24 hours!

[2022-10-02 20:33] TildaDares commented on #1041
Reserved for @M1racle04 for 24 hours!

[2022-10-02 22:36] tiff-o commented on #1038
Thanks @TildaDares - I'll work on this! :)

[2022-10-03 04:18] ashish-parjapat commented on #1050
Hi, i want to clam this  issue

[2022-10-03 08:45] M1racle04 commented on #1041
Thanks

[2022-10-03 09:04] M1racle04 commented on #1041
Hi, How do I get authorisation for this project? I created a PR through fork but it got denied. Please tell me

[2022-10-03 09:34] TildaDares commented on #1041
Hi @M1racle04, did you edit the files in the browser?

[2022-10-03 09:42] TildaDares commented on #1041
Hi @M1racle04, your PR has been created #1055 and I left a few review comments.

[2022-10-03 09:43] M1racle04 commented on #1041
Hi I completed the suggested commits

[2022-10-03 09:50] TildaDares commented on #1042
Hi @M1racle04, contributors are only allowed to work on one `first-timers` issue. You can take a look at other issue that don't have the `first-timers-only` issue or create one for someone else. Thank you!

[2022-10-03 09:50] TildaDares commented on #1042
Reserved for @toshitapandey for 24 hours!

[2022-10-03 10:13] toshitapandey commented on #1042
Hey @TildaDares! Thanks a ton! Will work on the issue.

[2022-10-03 10:43] toshitapandey commented on #1042
@TildaDares - I have opened a PR for this. Please take a look - https://github.com/publiclab/Leaflet.DistortableImage/pull/1056

[2022-10-03 11:12] #1038 closed

[2022-10-04 06:12] Rahulsaraf1578 commented on #1051
I would like to clamin this issue

[2022-10-04 06:16] Rahulsaraf1578 commented on #1051
Review

[2022-10-04 16:12] 33Shivam commented on #1049
Hey Can I work on this issue?

[2022-10-04 16:13] #1042 closed

[2022-10-04 16:15] #1041 closed

[2022-10-04 16:18] TildaDares commented on #1039
Hi @AnnaS40, once you make a contribution your GitHub username is added to the contributor's list. Thank you!

[2022-10-04 16:19] #1037 closed

[2022-10-04 16:20] TildaDares commented on #1043
Reserved for @kmje for 24 hours!

[2022-10-05 08:31] #1039 closed

[2022-10-05 08:35] #1043 closed

[2022-10-05 21:53] shams-rf commented on #1051
Hi, I would like to claim this issue.

[2022-10-05 21:58] shams-rf commented on #1048
Hi, I would like to claim this issue.

[2022-10-06 14:51] iamtienng commented on #1045
i claim this issue, please add me as contributor to this repository.

[2022-10-08 00:43] Sanddrah commented on #1046
Hello, please I'd like to be assigned to this issue.

[2022-10-08 00:44] Sanddrah commented on #1047
Hello, please I'd like to be assigned to this issue.

[2022-10-08 00:44] Sanddrah commented on #1044
Hello, please I'd like to be assigned to this issue.

[2022-10-08 16:28] Sanddrah commented on #1046
Hi there,
I'm an outreachy applicant and would love to be assigned to this issue please.

[2022-10-08 17:45] fonkwe commented on #1051
Hi, I would like to claim this issue

[2022-10-08 17:47] fonkwe commented on #1050
Hi, I want to claim this issue

[2022-10-08 17:51] fonkwe commented on #1047
Hi i will like to assign this issue

[2022-10-08 17:56] fonkwe commented on #1046
I am an outreachy applicant and would appreciate if am   assigned to this issue please

[2022-10-08 18:01] fonkwe commented on #1044
Hi!   I'd like to be assigned to this issue.

[2022-10-08 18:03] fonkwe commented on #1040
Hello, please I'd like to be assigned to this issue.

[2022-10-08 18:06] TildaDares commented on #1040
Hi @fonkwe, please go ahead. Thank you!

[2022-10-08 18:14] TildaDares commented on #1044
Hi @Sanddrah, please go ahead. Thank you!

[2022-10-08 18:14] TildaDares commented on #1045
Hi @iamtienng, please go ahead. Thank you!

[2022-10-08 18:16] fonkwe commented on #1048
I would like to claim this issue

[2022-10-08 18:20] #1046 closed

[2022-10-08 18:23] TildaDares commented on #1047
Reserved for @AndroGenius-codes for 24 hours!

[2022-10-08 18:26] TildaDares commented on #1048
Hi @shams-rf, please go ahead. Thank you!

[2022-10-08 18:28] TildaDares commented on #1049
Hi @33Shivam, please go ahead. Thank you!

[2022-10-08 18:28] TildaDares commented on #1050
Hi @ashish-parjapat, please go ahead. Thank you!

[2022-10-08 18:29] TildaDares commented on #1051
Hi @Rahulsaraf1578, please go ahead. Thank you!

[2022-10-08 18:48] #1045 closed

[2022-10-08 19:03] Dezzy12 commented on #1050
Hi, first timer here.
Can i work on this?

[2022-10-08 19:12] Dezzy12 commented on #1044
Hi. Please I'd like to claim this

[2022-10-08 19:16] TildaDares commented on #1050
Hi @Dezzy12, please leave a comment here https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-08 19:18] TildaDares commented on #1044
Hi @Dezzy12, please go ahead. Thank you!

[2022-10-08 19:27] MAX-786 commented on #1050
Hi , I would like to claim this issue#1050

[2022-10-08 19:42] TildaDares commented on #1050
Hi @MAX-786, someone has already been assigned. Thank you!

[2022-10-08 20:54] AndroGenius-codes commented on #1047
How do I accept invitation? I can't find any invitation to the repo.

[2022-10-08 23:18] oluwatunbi commented on #1044
Hi, i Won't like to claim this issue

[2022-10-08 23:19] oluwatunbi commented on #1044
Hi, i would like to claim this issues.

[2022-10-08 23:20] oluwatunbi commented on #1049
I would like to work on the issue

[2022-10-09 01:44] NPDebs commented on #1040
Hi @TildaDares. 👋🏼
If there's an opening, I'd love to take up this issue please!

[2022-10-09 01:47] NPDebs commented on #1048
Hi @TildaDares. 👋🏼
I'm available to claim this issue, please.

[2022-10-09 07:13] TildaDares commented on #1048
Hi @NPDebs, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:14] TildaDares commented on #1050
Hi @NPDebs, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:14] TildaDares commented on #1040
Hi @NPDebs, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:14] TildaDares commented on #1049
Hi @oluwatunbi, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:15] TildaDares commented on #1044
Hi @oluwatunbi, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:18] AnabHassan commented on #1048
claim this issue

[2022-10-09 07:19] #1044 closed

[2022-10-09 07:25] dayopius commented on #1049
Hi can I claim this issue?

[2022-10-09 07:27] TildaDares commented on #1049
Hi @dayopius, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-09 07:33] dayopius commented on #1049
@TildaDares I already left a comment

[2022-10-09 07:37] TildaDares commented on #1049
Nice @dayopius! Please wait while we arrange for an issue for you to work on. Thank you!

[2022-10-09 07:58] first-timers[bot] opened #1066 "Update method creation syntax to ES6 `IconSet.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 07:59] TildaDares commented on #1066
Reserved for @Khadeeejah for 24 hours!

[2022-10-09 08:02] first-timers[bot] opened #1067 "Update method creation syntax to ES6 `BoxCollector.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 08:02] TildaDares commented on #1067
Reserved for @brendamoreira for 24 hours!

[2022-10-09 08:05] first-timers[bot] opened #1068 "Update method creation syntax to ES6 `DoubleClickLabels.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 08:06] TildaDares commented on #1068
Reserved for @MAX-786 for 24 hours!

[2022-10-09 08:10] first-timers[bot] opened #1069 "Update method creation syntax to ES6 `DistortableCollection.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 08:11] TildaDares commented on #1069
Reserved for @mofirojean for 24 hours!

[2022-10-09 08:15] first-timers[bot] opened #1070 "Update method creation syntax to ES6 `DistortableImageOverlay.js`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 08:16] TildaDares commented on #1070
Reserved for @ayrhkhan for 24 hours!

[2022-10-09 08:20] sanmay321 commented on #1069
@TildaDares hey i would like to do it,

[2022-10-09 08:24] first-timers[bot] opened #1071 "Update first-timers-only issue template"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 08:25] TildaDares commented on #1071
Reserved for @FrancoFrancis for 24 hours!

[2022-10-09 08:32] first-timers[bot] opened #1072 "Update `config.yml`"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-09 08:32] TildaDares commented on #1072
Reserved for @NPDebs for 24 hours!

[2022-10-09 08:35] NPDebs commented on #1072
Thank you!

I'm on it! 🙌🏼🚀

[2022-10-09 08:52] mofirojean commented on #1069
Thank you

[2022-10-09 09:07] leilayesufu commented on #1067
Hi @TildaDares i’d like to claim this issue

[2022-10-09 09:09] NPDebs commented on #1072
Hi @TildaDares. I have worked on the issue and opened a PR. Thank you in anticipation of a positive review.

[2022-10-09 09:17] TildaDares commented on #1067
Hi @leilayesufu, this issue has been reserved for someone. Please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for one for you. Thank you!

[2022-10-09 09:18] TildaDares commented on #1072
Resolved in #1073

[2022-10-09 09:18] #1072 closed

[2022-10-09 09:22] leilayesufu commented on #1067
Alright, thank youu

[2022-10-09 09:23] #1047 closed

[2022-10-09 09:29] klaus139 commented on #1067
hi @TildaDares i would like to claim this issue

[2022-10-09 09:31] TildaDares commented on #1067
Hi @klaus139, please refer to this 👆🏿

[2022-10-09 09:49] #1066 closed

[2022-10-09 10:15] brendamoreira commented on #1067
Hi @TildaDares , I'd like to claim this issue (:

[2022-10-09 10:37] TildaDares commented on #1067
Go ahead @brendamoreira!

[2022-10-09 11:55] FrancoFrancis commented on #1071
I have claimed this issue and I am working on it.

[2022-10-09 13:17] #1069 closed

[2022-10-09 15:07] titiodus commented on #1067
@TildaDares Anymore issues to claim?

[2022-10-09 16:28] TildaDares commented on #1067
Hi @titiodus, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you. Thank you!

[2022-10-09 17:21] ayrhkhan commented on #1070
Hi! I would like to claim this issue.

[2022-10-09 17:22] #1071 closed

[2022-10-09 17:50] TildaDares commented on #1070
Go ahead @ayrhkhan. Thanks!

[2022-10-09 17:56] Tammy-Ajoko commented on #1067
Is this still up for grabs 🙋‍♂️

[2022-10-09 18:32] MAX-786 commented on #1068
Hey @TildaDares , I have made the PR please review it, Thanks 😊

[2022-10-09 19:48] ChiomaNwosisi commented on #1067
Can i claim this issue

[2022-10-09 21:16] TildaDares commented on #1067
Hi everyone, this issue has been assigned already. Thank you!

[2022-10-09 21:17] TildaDares commented on #1067
Hi @brendamoreira, can you send a link to the PR you opened? I can’t find it. Thanks!

[2022-10-09 21:24] #1068 closed

[2022-10-09 21:38] brendamoreira commented on #1067
@TildaDares sorry for the delay, here's the link https://github.com/publiclab/Leaflet.DistortableImage/pull/1078 (:

[2022-10-09 23:16] #1023 closed

[2022-10-09 23:45] jywarren commented on #1007
Hi @themacboy @steveruiz @jbogdani @tadiraman just checking if you've been able to give this a try. No rush though. Thanks! <3

[2022-10-10 02:22] themacboy commented on #1007
With the exception in last update it is working as normal for me.

Not sure if there can be other issues, but now is working for sure

[2022-10-10 04:16] Divine-peace commented on #1040
hi @TildaDares.

[2022-10-10 04:17] Divine-peace commented on #1040
Pls, I,m new to open source and i need a project to work on

[2022-10-10 04:22] Divine-peace commented on #1070
Pls, can I work on this too?

[2022-10-10 07:14] #1049 closed

[2022-10-10 07:14] TildaDares commented on #1070
Hi @Divine-peace, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-10 08:24] kabuur commented on #1070
please claim this issue!

[2022-10-10 08:27] #1070 closed

[2022-10-10 08:48] Jennifer-tech commented on #1070
I claim the issue

[2022-10-10 08:54] kabuur commented on #1070
Hello mentor @TildaDares  help me which file is required to change?

[2022-10-10 08:55] shams-rf commented on #1048
Thank you, will start working on it now!

[2022-10-10 09:10] Jennifer-tech commented on #1070
hello @TildaDares , the issue has been closed

[2022-10-10 09:41] Straw4yu commented on #1067
Hi @TildaDares I'll like to claim this issue

[2022-10-10 09:45] TildaDares commented on #1067
Resolved in #1078

[2022-10-10 09:45] #1067 closed

[2022-10-10 09:47] Straw4yu commented on #1067
I'll like to be assign an issue

On Mon, Oct 10, 2022 at 10:45 AM Tilda Udufo ***@***.***>
wrote:

[2022-10-10 09:57] #1048 closed

[2022-10-10 10:37] jywarren commented on #1007
Published!!!

[2022-10-10 16:17] leilayesufu commented on #474
Good day! @jywarren
If this issue is open
I’d like to claim it

[2022-10-10 16:43] leilayesufu commented on #1035
In the documentation under single image interface, under corners

The corners should be passed as an array of L.latLng objects in NW, NE, SW, SE order (in a "Z" shape).

They will be stored on the image. See the [Quick API Reference](https://github.com/publiclab/Leaflet.DistortableImage/issues/1035#Quick-API-Reference) for their getter and setter methods.

Example:

img = L.distortableImageOverlay

[2022-10-10 16:54] themacboy commented on #1035
As I understand 4 corners must be passed in order to set de distortion for example, but im not totaly sure.

Btw, why you need only one corner?

[2022-10-10 21:02] mimi-tech commented on #1035
I am a outreachy applicant. Please can I fix this bug. Thank you.

[2022-10-10 22:07] TildaDares opened #1086 "Replace `var` keyword with `let`/`const`"
Hi everyone, we'd like to update this project to use `let`/`const` instead of `var`. This task will be divided into several sub tasks and each one of you will get to work on one file. All you have to do is replace `var` with `let`/`const` where appropriate.

## General rules

Use `let` when you know that the value of a variable will change.
Use `const` for every other variable.

If you'd like to k

[2022-10-10 22:15] leilayesufu commented on #1086
Hi @TildaDares
Thank you for assigning a FTO issue to me
I’d like to claim my issue and work on it

[2022-10-10 22:15] ifeawoyemi commented on #1086
I will do it

[2022-10-10 22:15] ifeawoyemi commented on #1086
I will take the Task @TildaDares

[2022-10-10 22:16] Ibom99 commented on #1086
Hello @TildaDares I claim my task and I’ll work on it! Thank you!✨

[2022-10-10 22:17] leumasxxx commented on #1086
I claim this task @TildaDares

[2022-10-10 22:18] mimi-tech commented on #1086
Hello @TildaDares I calm this task

[2022-10-10 22:18] Thesaleem commented on #1086
Hi @TildaDares Thanks! I’ll work on it now.

[2022-10-10 22:19] TildaDares commented on #1086
Hi @mimi-tech, your name isn't included in this issue but rest assured we'll find something for you to work on. Thank you!

[2022-10-10 22:19] Ranecodes commented on #1086
Hi @TildaDares. Will be working on the task assigned to me. Thanks!

[2022-10-10 22:30] THEDARKMAN007 commented on #1086
hi @TildaDares  i would like to let you know i will be working on the issue assigned to me at "https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/edit/actions/ScaleAction.js"

[2022-10-10 22:31] Tammy-Ajoko commented on #1086
Hi @TildaDares thank you for this I'm currently working on it

[2022-10-10 22:36] Jennifer-tech commented on #1086
Thanks @TildaDares , I claim the task and I'm currently working on it

[2022-10-10 22:39] titiodus commented on #1086
I accept my issue and will work on it @TildaDares

[2022-10-10 22:56] Tammy-Ajoko commented on #1086
@TildaDares  there a section for screenshot before making the final pull request. I'm not sure on how to link it or can I just go on and make the pull request without it

[2022-10-10 23:06] OluwatuyiAbiola commented on #1086
HI @TildaDares I claim my issue

[2022-10-10 23:13] TildaDares commented on #1086
Hi @Tammy-Ajoko, you can ignore that. Thank you!

[2022-10-10 23:35] klaus139 commented on #1086
Thanks for this @TildaDares  I am working on this

[2022-10-10 23:43] ChiomaNwosisi commented on #1086
Thank you @TildaDares i will work on this

[2022-10-10 23:50] RealRichi3 commented on #1086
Thanks @TildaDares I will work on this

[2022-10-11 00:18] Ceejaycodez commented on #1040
Hi @TildaDares. I am new to this community and would really love to contribute. Thanks

[2022-10-11 00:37] jywarren commented on #980
Hi, sorry for slow reply here, rotation and scaling events are managed within the "handles" since that's what you actually drag:

https://github.com/publiclab/Leaflet.DistortableImage/blob/00ceec2d7332e39cac1abf0e7ff25ffd11b3e063/src/edit/handles/EditHandle.js#L46-L52

However dragging the image itself is managed through the image Edit class, here:

https://github.com/publiclab/Leaflet.Distortable

[2022-10-11 00:38] jywarren commented on #980
I'm going to close this but please re-open if that doesn't work or if you have other questions!

[2022-10-11 00:38] #980 closed

[2022-10-11 00:39] jywarren commented on #1027
Hi, @tadiraman can you check if it works after the new `v0.21.9` release?

[2022-10-11 01:01] ijayhub commented on #1086
HI @TildaDares I claim my issue

[2022-10-11 01:03] THEDARKMAN007 commented on #1086
hi, @TildaDares I just made my first pull request at https://github.com/publiclab/Leaflet.DistortableImage/pull/1099 . id kindly appreciate it if you could get back to me on any other action I may need to take, or i may not have taken as regards the pull request.  thank you

[2022-10-11 01:10] julianavmgiusti commented on #1051
Hi! I'd like to try this!

[2022-10-11 01:23] tiffieangel commented on #1086
THanks @TildaDares I'm working on it

[2022-10-11 01:51] xiaodaiweiwei commented on #1086
Thank you for assigning a FTO issue to me. @TildaDares  I’d like to claim my issue and work on it!

[2022-10-11 01:58] olamideazeez commented on #1050
Hello, I am a first-timer. can I work on this?

[2022-10-11 02:04] chemistry-notfun commented on #1086
Hi @TildaDares I will work on it. Thank you!

[2022-10-11 04:18] Lovelyfin00 commented on #1086
Thanks @TildaDares
I'm working on it

[2022-10-11 04:27] xiaodaiweiwei commented on #1086
I just pull request the fix and I'm not sure whether it's ok. This is the first time for me to submit and I found it's so interesting. I learned a lot from that. I am looking forward to the next contribution!

[2022-10-11 05:01] xiaodaiweiwei commented on #1040
Hi @TildaDares. I am a first-timer to this community and would really love to contribute! Thank you!

[2022-10-11 05:27] sainamercy commented on #1086
Thank you @TildaDares I'll work on the issue assigned to me

[2022-10-11 05:48] TildaDares commented on #1040
Hi @Ceejaycodez, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-11 05:49] TildaDares commented on #1040
Hi @xiaodaiweiwei, you have been an assigned a `first-timers-only` issue already. You can choose to create issues for others or look for other issues without the `first-timers-only` label to work on. Thank you!

[2022-10-11 07:48] fonkwe commented on #1086
Greetings, am I too late to contribute ?

[2022-10-11 08:02] Lovelyfin00 commented on #1086
@TildaDares  I just made a PR for the issue assigned to me  at #1106

[2022-10-11 08:15] TildaDares commented on #1051
Hi @julianavmgiusti, this issue has been assigned. Please leave a comment here https://github.com/publiclab/plots2/issues/11105 and we'll look for an issue for you to work on. Thank you!

[2022-10-11 08:17] TildaDares commented on #1050
Hi @olamideazeez, please leave a comment in https://github.com/publiclab/plots2/issues/11105 and we’ll look for an issue for you to work on. Thank you!

[2022-10-11 08:23] victorvictoria-maker commented on #1051
Hi @TildaDares, I'd like to try this!

[2022-10-11 08:39] jesutobi commented on #1086
@TildaDares Goodmorning thanks for assigning me to an FTO, would work start working on it

[2022-10-11 08:54] abdelquodr commented on #1086
@TildaDares, Looking into the task assigned to me. Thanks

[2022-10-11 10:22] THEDARKMAN007 commented on #1086
hi @TildaDares @jywarren @cesswairimu  i just made my first pull request at https://github.com/publiclab/Leaflet.DistortableImage/pull/1099 id appreciate it being reviewed. thank you

[2022-10-11 10:58] titiodus commented on #1086
Hi @TildaDares Did I miss the message of the merge of my PR? Pls let me know if there's more to do. Thanks

[2022-10-11 11:12] onujoy14 commented on #1051
@TildaDares I'll like to try this

[2022-10-11 11:51] Munnachienyi commented on #1086
i have worked on my FTO please review

[2022-10-11 12:43] Favour-Cay commented on #1086
Hi @TildaDares @cesswairimu id like to be assigned an FTO please

[2022-10-11 13:37] victorvictoria-maker commented on #1086
Hi @TildaDares, please I am yet to be assigned an FTO.
Thank you for your consideration.

[2022-10-11 14:26] mimi-tech commented on #1086
@TildaDares Please when will you assign me a task?

[2022-10-11 15:42] Josephsanya commented on #1086
Hi @TildaDares  I just made my first pull request at #1117
Please kindly review it. Thanks

[2022-10-11 18:38] obueto commented on #1086
Hi @TildaDares thank you for this I'm currently working on it

[2022-10-12 02:30] Simplecodez commented on #1086
Hi everyone. I am Emmanuel Elendu, an Outreachy applicant. Please a would love to work on a FTO issue

[2022-10-12 02:48] Simplecodez commented on #1051
I would like to try this

[2022-10-12 06:34] Tammy-Ajoko opened #1127 "change `var` to `let`/`const`"
L.ImageUtil = {

  getCmPerPixel(overlay) {
    var map = overlay._map;

    var dist = map
        .latLngToLayerPoint(overlay.getCorner(0))
        .distanceTo(map.latLngToLayerPoint(overlay.getCorner(1)));

    return (dist * 100) / overlay.getElement().width;
  },
};
@TildaDares @jywarren

[2022-10-12 06:52] TildaDares commented on #1127
Hi @Tammy-Ajoko, thank you for opening this issue. I believe all of the files that need to updated have been reserved for in #1086. Can you double-check to make sure that the file in this issue hasn't already been worked on or assigned in #1086? Thank you!

[2022-10-12 08:00] olamideazeez commented on #1127
Hello @TildaDares can i work on this?

[2022-10-12 08:07] codeinvoke7 commented on #1086
Hello @TildaDares I have opened a pr at #1121 please do kindly review and give feedback thanks

[2022-10-12 10:13] meggiddy opened #1129 "Replace Var with const and let"
https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/edit/toolbars/DistortableImage.PopupBar.js

@TildaDares @PeculiarE  Kindly check the above potential FTO issue.

[2022-10-12 10:48] TildaDares commented on #1127
Closing this as it’s a duplicate of #1086

[2022-10-12 10:48] #1127 closed

[2022-10-12 10:50] TildaDares commented on #1129
Hi @meggiddy, thank you for opening this issue. I believe all of the files that need to updated have been reserved for in https://github.com/publiclab/Leaflet.DistortableImage/issues/1086. Can you double-check to make sure that the file in this issue hasn't already been worked on or assigned in https://github.com/publiclab/Leaflet.DistortableImage/issues/1086? Thank you!

[2022-10-12 11:17] victorvictoria-maker commented on #1129
@TildaDares
Can I work on this issue please?

[2022-10-12 11:19] TildaDares commented on #1129
Duplicate of #1086

[2022-10-12 11:19] #1129 closed

[2022-10-12 13:00] cesswairimu opened #1130 "Discussion and Q&A of Outreachy winter 2022 project"
Hi all :wave:
This is a discussion issue for the "MapKnitter Lite: fetch images from Internet Archive" project. The original idea can be found [here](https://publiclab.org/wiki/gsoc-ideas#MapKnitter+Local) and the project progress [here](https://github.com/publiclab/Leaflet.DistortableImage/issues/998)  _feel free to use this issue for reference but please lets keep the outreachy project questions

[2022-10-12 13:15] cesswairimu opened #1131 ":rainbow: Welcome Outreachy Winter 2022 Aspirants :tada: :woman_technologist: :raising_hand: :man_technologist:"
(_kindly read fully before asking a question :pray: _)
# :tada: Welcome Outreachy applicants Winter 2022 :tada:
Hi! :wave: and welcome to PublicLab :balloon: We are glad to have you here :heart: . This is a discussion issue for all of you with the mentors and community members. Please say hello in a comment below if you haven't done that in the chat yet , so we get to know you. Ask any questions t

[2022-10-12 13:18] cesswairimu commented on #547
unpinning this to pin the welcome issue, will pin after

[2022-10-12 14:29] victory-lydia commented on #1131
@cesswairimu  I am not really understanding what the issue is all about pls can you break it down for me

[2022-10-12 14:37] victory-lydia commented on #1131
Will like to work on this.

[2022-10-12 14:57] AminMusah commented on #1086
Hello @TildaDares, I'm an Outreachy applicant and would love to make my first contribution. thank you.

[2022-10-12 15:36] Emenyi95 commented on #1131
Hello, my name is Emenyi Nelly from the South West region of Cameroon. I am an aspiring mobile app developer and Python developer. I am an intern for the current Outreachy session. Please I will like an issue to be assigned to me.Thank you

[2022-10-12 15:41] Jennifer-tech opened #1132 "Replace var keyword with let/const"
I did like an update on this project to use let/const instead of var.

## General rules

Use `let` when you know that the value of a variable will change.
Use `const` for every other variable.

<img width="916" alt="Leaflet DistortableImage issue" src="https://user-images.githubusercontent.com/85136425/195385333-1b11bce7-c06e-4a2e-9f43-532072fb24ab.png">

[2022-10-12 15:51] fonkwe commented on #1132
@Jennifer-tech   @jywarren   @TildaDares   Can I work on it or allow it for First Timers??

[2022-10-12 16:04] Jennifer-tech commented on #1132
@TildaDares @jywarren @cesswairimu @PeculiarE Please review this issue I raised for FTOs

[2022-10-12 16:17] oryxwhite commented on #1131
Hello, my name is Marina. I'm an Outreachy applicant and would love to take on an issue if one becomes available

[2022-10-12 17:24] TildaDares commented on #1132
Hi @Jennifer-tech, thank you for opening this issue. I believe all of the files that need to updated have been reserved for in https://github.com/publiclab/Leaflet.DistortableImage/issues/1086. Can you double-check to make sure that the file in this issue hasn't already been worked on or assigned in https://github.com/publiclab/Leaflet.DistortableImage/issues/1086? Thank you!

[2022-10-12 17:50] Chinazaekpere-Ike commented on #1051
I'd like to claim this issue @TildaDares

[2022-10-12 17:52] Chinazaekpere-Ike commented on #1050
I'd like to claim this issue 👩‍🦰 @TildaDares

[2022-10-12 17:53] Chinazaekpere-Ike commented on #1040
I'd like to claim this issue 🙋 @TildaDares

[2022-10-12 18:01] NPDebs commented on #1050
Hi @Chinazaekpere-Ike , please leave a comment in publiclab/plots2#11105 and @TildaDares will look for an issue for you to work on. Thank you! 🤸🏽‍♀️

[2022-10-12 18:05] leilayesufu opened #1133 "Add `lang` attribute to the `html` element"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-12 18:06] leilayesufu commented on #1133
@TildaDares here’s the issue

[2022-10-12 18:37] TildaDares commented on #1133
Hi @leilayesufu, can you add the line where the change will be made? Thanks!

[2022-10-12 18:39] TildaDares commented on #1040
Hi everyone, a PR has already been opened for this. Thank you!

[2022-10-12 18:47] TildaDares commented on #1133
Reserved for @Straw4yu for 24 hours!

[2022-10-12 18:49] TildaDares commented on #1133
@leilayesufu Do you mind informing @Straw4yu that an issue is reserved for them in https://github.com/publiclab/plots2/issues/11105?

Thank you!

[2022-10-12 19:19] 7malikk commented on #998
Hello @jywarren, I'm an outreachy applicant, here to help improve Mapknitter.
I'm a frontend web developer skilled in Javascript and Reactjs among others, I noticed you have some issues under the sub-topic: "Smaller Issues", I'd like to give them a go.

[2022-10-12 19:21] Straw4yu commented on #1133
@TildaDares I will work on the issue.

[2022-10-12 19:29] leilayesufu commented on #1133
@TildaDares the line number has been added, thank you

[2022-10-12 19:31] 7malikk commented on #1130
Hello @jywarren, (@cesswairimu @TildaDares)  I'm an Outreachy applicant, here to help improve Mapknitter.
I'm a frontend web developer skilled in Javascript and Reactjs among others, I noticed there are some tasks under the sub-topic: "Smaller Issues", I'd like to give them a go for my FTO. This task is from the planning issue [998](https://github.com/publiclab/Leaflet.DistortableImage/issues/998)

[2022-10-12 19:51] Dhei-vid commented on #998
I want to contribute to this

[2022-10-12 19:55] Dhei-vid commented on #1130
I am also an outreachy applicant and want to contribute to the project. I am a frontend developer (React JS) but this I am a newbie to open source contribution and I would appreciate if I am guided.

[2022-10-12 21:02] Ibom99 opened #1135 "Replace `var` keyword with `let/const`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-12 21:04] Ibom99 commented on #1135
Hi, @TildaDares came up with issue to help out with first-timers.

[2022-10-12 21:04] Jennifer-tech commented on #1132
Hi @TildaDares, I checked that now and found that it has been updated. I also found out that some files in the util Folder need to be updated. Do I need to open an issue on that

[2022-10-12 21:06] TildaDares commented on #1135
Hi @Ibom99, the file link is wrong. Please add the correct link. Thanks!

[2022-10-12 21:09] TildaDares commented on #1132
@Jennifer-tech The files in the util folder have also been reserved in #1086. I think we can close this issue so we don’t have clashes with #1086.

Thank you for opening this!!

[2022-10-12 21:18] Ibom99 commented on #1135
@TildaDares I am having issues with linking the file, I'll kindly need your help. Its in the listeners.html file in the examples folder

[2022-10-12 21:24] Ibom99 commented on #1135
@TildaDares I have corrected the link!

[2022-10-12 21:40] 7malikk commented on #1086
@TildaDares I'd like to get work on this, as it's reopened

[2022-10-12 21:45] TildaDares commented on #1135
Amazing @Ibom99. Thank you!!

[2022-10-12 21:47] TildaDares commented on #1135
Reserved for @Bhaybhiisparks for 24 hours!

[2022-10-12 21:48] TildaDares commented on #1135
@Ibom99 Do you mind informing @Bhaybhiisparks that there’s an issue reserved for them in https://github.com/publiclab/plots2/issues/11105?

Thank you!

[2022-10-12 21:51] Bhaybhiisparks commented on #1135
Okay. Thanks. I'll work on it

[2022-10-12 22:03] Ibom99 commented on #1135
@TildaDares Thank you so much!! She has claimed it! :)

[2022-10-12 22:25] Ranecodes commented on #372
Hello @TildaDares , I saw that some tasks here are yet to be completed. Please can I be assigned to work on the arrow functions or method creation syntax?

[2022-10-12 22:31] alexanderchosen commented on #1135
Good day. Please can i also work on this FTO @TildaDares @Ibom99

[2022-10-12 22:35] 7malikk commented on #1135
@alexanderchosen Hello, I think @TildaDares is following a particular order based on the list of contributors in [here](https://github.com/publiclab/plots2/issues/11105), if you haven't requested for an issue. I suggested you do. Cheers🎊

[2022-10-12 22:36] alexanderchosen commented on #1131
Hello everyone. I am Alexander, an Outreachy applicant from Nigeria. I am so glad to be here and my aim is to contribute to this project and help others too. Thanks

[2022-10-12 22:40] alexanderchosen commented on #1131
@TildaDares please I am yet to be assigned to a FTO. Can I also work on this?
Thanks

[2022-10-12 22:43] alexanderchosen commented on #1086
@TildaDares please can I also work on this too. I am yet to be assigned an FTO issue
Thanks

[2022-10-12 23:23] alexanderchosen commented on #1135
@7malikk Thanks a lot for your kind suggestion. I have already requested for an issue and hopefully, I will get some issues to work on soon from @TildaDares
Thanks

[2022-10-12 23:25] leumasxxx commented on #1131
@TildaDares how do I help create FTO,s for other first timers

[2022-10-13 00:28] jywarren commented on #372
Hi @Ranecodes -- take a look at this issue to find some! Thank you! https://github.com/publiclab/Leaflet.DistortableImage/issues/1086#issuecomment-1276807029

[2022-10-13 00:49] jywarren opened #1136 "Add Fontawesome CSS to our Archive demo"
We'd like to start using icons at https://publiclab.github.io/Leaflet.DistortableImage/examples/archive

Let's add an include for FontAwesome v4 icons to the head!

https://fontawesome.com/v4/get-started/

I'd love if someone who recently completed a first-timers-only issue could take this up!

[2022-10-13 00:50] RealRichi3 commented on #1136
I would like to take this issue

[2022-10-13 00:51] Dalu46 commented on #1086
Hi @jywarren I'm yet to be assigned an issue. Can you please assign one to me?

[2022-10-13 00:52] jywarren opened #1137 "Add a spinning icon"
After https://github.com/publiclab/Leaflet.DistortableImage/issues/1136, we'll be able to use icons.

<img width="895" alt="image" src="https://user-images.githubusercontent.com/24359/195473410-48808128-97e2-4b02-b7fd-49c75ef85a55.png">

In our MapKnitter Lite demo (https://publiclab.github.io/Leaflet.DistortableImage/examples/archive
), when you click "Place", it can take a few seconds to work. L

[2022-10-13 00:54] jywarren commented on #1136
please go ahead!

On Thu, Oct 13, 2022 at 9:50 AM Richie ***@***.***> wrote:

[2022-10-13 01:00] RealRichi3 commented on #1137
One question, where would the spinning icon be displayed? Would it be on the side bar or the map?

And should the spinning icon cover have something like a grey overlay below it, and the overlay should cover and be above the map

[2022-10-13 01:05] jywarren commented on #1137
I think it could be on the button or right next to it. Because of how the
button is created, it may need to be within the button. Then it's simpler
too instead of interacting with the map visually.

On Thu, Oct 13, 2022, 10:00 AM Richie ***@***.***> wrote:

[2022-10-13 01:16] alexanderchosen commented on #1086
Hello @jywarren I am Alexander, an outreachy applicant.  Please I am yet to be assigned an issue to work on. Please help. Thanks

[2022-10-13 01:21] RealRichi3 commented on #1137
True, it'll be easier to implement

[2022-10-13 01:27] RealRichi3 commented on #1137
For this task, it think we'll need to know when the image has been placed on the map

First we need a way to know if the map has been placed or not

We can use a gif for the spinning icon, set the display property to hidden.
Then on click of the `place on map` button we can display the spinning icon.
The gif for the spinning icon will be visible as long as the image hasn't been placed on the map

[2022-10-13 01:36] RealRichi3 commented on #1137
function isMapPlaced:
    // code to check if the map is placed

get spinning icon element from DOM
set spining icon element display to hidden

add and event listener to listen for click action on the `place on map`
       while not isMapPlaced:
             place the spinning icon above the clicked button

       set the spinning icon display to hidden

[2022-10-13 01:37] RealRichi3 commented on #1137
There might be better implementation for this tho, suggestions are welcomed

[2022-10-13 01:44] jywarren opened #1139 "Export JSON saved state of current images in MapKnitter Lite demo"
Along the way to making maps in our Mapknitter Lite project save-able, we'll have to enable a "saved state" to be downloaded. This function generates a JSON string describing the locations of all the images:

https://github.com/publiclab/Leaflet.DistortableImage/blob/c80a7c69904694bdd50ca0f9e6e358abbdfb98af/src/DistortableCollection.js#L192

Let's make a button to run this function, labelled with

[2022-10-13 02:36] Straw4yu commented on #1133
@leilayesufu Please check out the request

[2022-10-13 02:46] jywarren commented on #1137
The button is created here, and we can add a click listener to it at that time, what do you think?

https://github.com/publiclab/Leaflet.DistortableImage/blob/c80a7c69904694bdd50ca0f9e6e358abbdfb98af/examples/archive.html#L103-L120

[2022-10-13 02:56] themacboy commented on #1007
opsss but news! there is a error yet, sorry when I test the changes something remain in my browser cache.

Now I go to PR a solution

[2022-10-13 02:56] JeffyDave commented on #1131
@TildaDares please I am awaiting an FTO, can I work on this?

[2022-10-13 03:00] #361 closed

[2022-10-13 03:00] #441 closed

[2022-10-13 03:00] #568 closed

[2022-10-13 03:02] victory-lydia commented on #1131
Please I want to do this

[2022-10-13 03:03] liliyao2022 commented on #1136
I'd like to take care of this task, thanks!

[2022-10-13 03:36] jywarren commented on #1007
Oh, can you share the error? Can you try it in incognito mode? Thank you !

On Thu, Oct 13, 2022, 11:56 AM themacboy ***@***.***> wrote:

[2022-10-13 03:37] #1136 closed

[2022-10-13 05:14] leilayesufu commented on #1139
Hii @jywarren
I’d love to work on this issue, I think we could start by adding the images selected as you mentioned to a collection, then creating a button with the .createElement(“button”) and then adding an event listener to the button with the generateExportJson() function.

[2022-10-13 06:30] 7malikk opened #1146 "Create a new header in the Readme linking to Mapknitter Lite"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-13 06:32] 7malikk commented on #1146
Hello, @jywarren, @TildaDares here is an issue to help out with first-timers.

[2022-10-13 06:46] liliyao2022 commented on #1146
Hi, I'd like to take this issue, thanks!

[2022-10-13 07:00] yukiyuli commented on #1130
Hello everyone, I am an Outreachy applicant. I am interested in this project. I have the knowledge of HTML, CSS, JavaScript and Vue. Please advise what the next step I need to do.

[2022-10-13 07:05] 7malikk commented on #1130
@yukiyuli Hello there, welcome to the community, assuming you've gone through the necessary docs, you can start by requesting to be assigned to an issue [here](https://github.com/publiclab/plots2/issues/11105), while you get familiar with the codebase. Cheers

[2022-10-13 07:09] 7malikk commented on #87
@jywarren Hello there, I'm an outreachy applicant, I'm interested in contributing to the Mapknitter project.
I noticed some tasks in this issue have not been checked off. Can I convert them to FTOs or work on them myself?

[2022-10-13 07:18] #1133 closed

[2022-10-13 07:18] 7malikk commented on #1086
@TildaDares hello, I'm an Outreachy applican, can I work on this as it has been reopened?

[2022-10-13 07:18] leilayesufu commented on #1133
Oh, you already did that
Thank youu

[2022-10-13 07:43] TildaDares commented on #1086
Hi @7malikk, all of the issues here have been reserved. I've added your name to the list of first-timers so as soon as one is available, I'll let you know. Thank you!

[2022-10-13 07:46] TildaDares commented on #1146
Hi @7malikk, thank you for opening this issue. I think the initial link should be left as is because it is meant to serve as an example for users. Maybe we create another header with the title `Mapknitter Lite` that contains the link to the new link.

What do you think?

[2022-10-13 07:48] 7malikk commented on #1146
That sounds a lot better, I'll make the changes and ping you. Thank you for the feedback.

[2022-10-13 08:18] 7malikk commented on #1146
@TildaDares Hello again, I've made the changes concerning creating a header new header and not replacing and refactoring. Kindly review and let me know your thoughts. Thank you.

[2022-10-13 08:34] leumasxxx commented on #981
@semihsahin @TildaDares  can i work on this

[2022-10-13 09:08] meggiddy opened #1147 "cleaning up functions and let keywords"
**Please describe the desired behavior.**
https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/DistortableCollection.js
As seen in the code, a few "let" keywords are not reassigned and should be const.
The function syntax can also be transformed into arrow functions.

@TildaDares, @jywarren  Kindly advise if it's a desirable outcome.

[2022-10-13 09:53] 7malikk commented on #87
@TildaDares Hello again, I noticed some tasks in this issue have not been checked off. Can I convert them to FTOs or work on them myself?

[2022-10-13 09:57] Teslimsama commented on #1131
@cesswairimu  hi I am an outreachy applicant I would you to assign me to a task

[2022-10-13 10:05] Teslimsama commented on #1051
I would like to try this

[2022-10-13 10:06] Teslimsama commented on #1086
@TildaDares I would like to be give a task

[2022-10-13 10:14] Teslimsama commented on #1146
Please can I join you guy

[2022-10-13 10:21] 7malikk commented on #1146
@Teslimsama I believe @TildaDares is following a particular order from [11105](https://github.com/publiclab/plots2/issues/11105), if you have made a request for an FTO, kindly exercise patience you would be assigned to an issue.

In the meantime @TildaDares could you review and attach a label [here](https://github.com/publiclab/Leaflet.DistortableImage/issues/1146), Thank you

[2022-10-13 10:22] Teslimsama commented on #1146
Thanks

[2022-10-13 11:21] RoleyJes commented on #1135
Hi, is this issue still available?

[2022-10-13 11:24] TildaDares commented on #1147
Hi @meggiddy, can you specify what lines need to be updated? Thank you!

[2022-10-13 11:26] TildaDares commented on #981
Hi @leumasxxx, yes you can.

Can you also add a screenshot of the behavior here when you’re able to reproduce it? Thanks!

[2022-10-13 11:28] TildaDares commented on #1146
This looks great @7malikk!

Can you also specify what line in the file the change should be added? This will make it easier for contributors to work on it. Thank you and great work!

[2022-10-13 11:37] 7malikk commented on #1146
Alright @TildaDares
Will do that now and ping you.
Thank you for the feedback.

[2022-10-13 12:03] meggiddy commented on #1147
Hi Tilda,

Line 198 - 201:
this.eachLayer(function(layer) {
      if (this.isCollected(layer)) {
        let sections = layer._image.src.split('/');
        let filename = sections[sections.length-1];
        let zc = layer.getCorners();
        let corners = [
          {lat: zc[0].lat, lon: zc[0].lng},
          {lat: zc[1].lat, lon: zc[1].lng},
          {lat: zc[3].lat, lon: zc[3].lng},

[2022-10-13 12:06] 7malikk commented on #1146
Hello, @TildaDares Kindly check out the update specifying the line to be changed. Thank you

[2022-10-13 13:06] 7malikk commented on #938
@cesswairimu @TildaDares @jywarren @PeculiarE can I give this a go?

[2022-10-13 13:47] IvyJeptoo commented on #1131
Hi, my name is Ivy an outreachy applicant looking to contributing to this project and also being assigned an FTO.

[2022-10-13 13:51] THEDARKMAN007 commented on #1050
hi, @TildaDares @jywarren has this issue been resolved.
 if not id like to work on it

[2022-10-13 13:52] THEDARKMAN007 commented on #1051
hi @TildaDares @jywarren. has this issue been resolved. if not, id like to work on it

[2022-10-13 14:07] Onyi-X commented on #1146
Hi @7malikk and @TildaDares I found this reply beneath my request for an FTO, but going through the chats it seems it should be left as is.. I'd appreciate more clarity on it.

Thanks

[2022-10-13 14:07] TildaDares commented on #1050
Hi @THEDARKMAN007, contributors are only allowed to work on one FTO. You can look for other non-FTO issues to work or help a other contributions make their own contributions. Thank you!

[2022-10-13 14:09] TildaDares commented on #1147
Hi @meggiddy, I’ve looked through the file and I think all of the variables are declared with the appropriate variables. All of the methods are also created with the right syntax. We can leave the callback functions as is since it’s not a primary part of the code.

Thank you!

[2022-10-13 14:10] TildaDares commented on #1051
Hi @THEDARKMAN007, contributors are only allowed to work on one FTO. You can look for other non-FTO issues to work or help a other contributions make their own contributions. Thank you!

[2022-10-13 14:20] TildaDares commented on #1146
Hi @liliyao2022, please go ahead. Thank you!

[2022-10-13 14:21] TildaDares commented on #1146
Great work @7malikk. Thank you!

[2022-10-13 14:42] Ranecodes commented on #372
Thank you!

[2022-10-13 16:50] first-timers[bot] opened #1149 "Add fto-template on new issue select list"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-10-13 17:17] Dorcas-BD commented on #1149
Hi @cesswairimu, please I will love to work on it if @oryxwhite is working on another FTO

[2022-10-13 17:24] cesswairimu commented on #1149
Hi @Dorcas-BD, noted. Lets give @oryxwhite some time to reply and you can check again in 24hrs. Thanks

[2022-10-13 17:25] Dorcas-BD commented on #1149
Okay

[2022-10-13 17:29] 7malikk commented on #1149
Hello, @cesswairimu could I get assigned a new task? my FTO was to create an FTO, which I've done [here](https://github.com/publiclab/Leaflet.DistortableImage/issues/1146), I've commented under various issues with the label `bug` and `help wanted`. I've not gotten a response so far.

[2022-10-13 17:36] cesswairimu commented on #1149
Hi @7malikk sure, I will ping you when I come across one...On the issues you mentioned, is there any you are interested in ? If so please link me to it. thanks

[2022-10-13 17:45] 7malikk commented on #1130
Hello again, @cesswairimu I'm also interested in [998](https://github.com/publiclab/Leaflet.DistortableImage/issues/998), with the resource @jywarren linked to the geocoding search box task, I checked through I'd like to suggest [this plugin](https://smeijer.github.io/leaflet-geosearch/), for that task, with some guidance I would also like to work on the task.

[2022-10-13 17:51] Dhei-vid commented on #1149
Please can I be given anything to work on.

[2022-10-13 18:18] cesswairimu commented on #1149
hi @Dhei-vid, I have added your name in the fto waiting list.

[2022-10-13 18:21] Dhei-vid commented on #1149
Thank you @cesswairimu

[2022-10-13 18:29] RealRichi3 commented on #1137
perfect, we can add the click listener here, we also need to find a way to check if the image has been placed

[2022-10-13 18:30] RealRichi3 commented on #1137
I think knowing when the image has been placed would be the main issue, we can handle the rest with a simple logic

[2022-10-13 18:32] RealRichi3 commented on #1137
One question, how are the Images placed on the map, i mean what is the process it goes through. Do we just get the image, then position then add a new DOM element containing the image

[2022-10-13 18:49] cesswairimu commented on #1130
Hi all, info on the next steps can be found #1131. Thanks

@7malikk the unchecked tasks on #998 are the tasks that most will be worked on during the internship period. The task you mentioned on plugin, it may be a bit of a discussion before we can settle on a plugin / an approach. You could go through the other tasks though and if you can see a sub-task that can be worked on independently and is s

[2022-10-13 18:55] 7malikk commented on #1130
@cesswairimu Oh, alright thanks a lot for the feedback, I'll check for a straightforward task.

[2022-10-13 20:07] Marvisjaja commented on #1131
Hi my name is Marvis macjaja. I am a front end Nd backend developer. An outreachy applicant . I would really appreciate if a task is assigned to me so I can make a contribution 🙏

[2022-10-13 20:48] segun-codes opened #1151 "Change 'var' to ES6 'let' keyword in files under the folder 'examples'"
@TildaDares the underlisted files still use 'var' keyword and not the ES6 'let' keyword. There's a need to update the files to use the ES6 keyword.

/examples/export.html
/examples/index.html
/examples/listeners.html
/examples/select.html

[2022-10-13 20:49] segun-codes commented on #1151
@TildaDares, I'd like to claim this issue.

[2022-10-13 21:01] vanithaak commented on #998
I would like to work on geocoding search box  @jywarren

[2022-10-13 21:26] leilayesufu commented on #1131
Hello everyone. My name is Leila, an Outreachy applicant and a frontend developer from Lagos, Nigeria. I  am so glad to be here and my aim is to contribute to the growth of this project and to help others in any way I can.

[2022-10-13 21:30] Ibom99 commented on #1131
Hey everyone! I’m Esther and I am so excited to do more and contribute to this amazing community! Can’t wait to get my hands on so much more!

[2022-10-13 21:53] TildaDares commented on #1151
Hi @segun-codes, thank you for opening this issue. The listeners.html file has already been addressed in #1135. You can refactor the rest files.

Also, since you’ll be working on the issue, there’s no need to add the first-timers-only label. Thank you!

[2022-10-13 21:55] segun-codes commented on #1151
Okay.. thank you.

[2022-10-13 22:26] segun-codes commented on #1151
Hi @TildaDares, I created a PR #1152 could you kindly review. Many thanks.

[2022-10-13 23:01] leilayesufu commented on #1130
Hi @cesswairimu
I’ve gone through the issue tasks and they’re quite interesting and compelling
I think the first task can be achieved using regex to detect keys in the url
The second seems the easiest to me, to create a search box and style it and use the input value on click or on key enter to navigate the map
The third task of drag image onto page to add got me wondering what if user is using a

[2022-10-13 23:18] jywarren opened #1153 "Display url where images came from, in MapKnitter Lite interface"
When using MapKnitter Lite at https://publiclab.github.io/Leaflet.DistortableImage/examples/archive, when images begin to load, we could show a sentence about where they were loaded from (just displaying the URL which was input in the previous step):

![Screenshot_20221014-081354](https://user-images.githubusercontent.com/24359/195727438-6955f463-e65f-4cfb-95e2-8f23242eea2e.png)

We could insert a

[2022-10-13 23:19] 7malikk commented on #1153
@jywarren i'd like to claim this issue

[2022-10-13 23:21] jywarren commented on #1153
Ok @7malikk how would you approach this? Thank you!

[2022-10-13 23:33] 7malikk commented on #1153
@jywarren I would create an `<p>`  tag with the text like you stated 'Images fetched from here'  where "here" would be wrapped in an `<a>` tag with  `href=input.value` before the code block.

What do you think?

[2022-10-13 23:33] jywarren commented on #1139
https://github.com/publiclab/Leaflet.DistortableImage/blob/6e426d8370db8a24725f00cc5952e7533dbdf135/examples/archive.html#L116-L123

Here is where we are adding things to the sidebar, and I think @leilayesufu you have a good idea for using createelement there. Are you interested in taking this task? Thank you!

[2022-10-13 23:35] leilayesufu commented on #1139
Hii @jywarren
Yess, I’m interested and excited to take this task

[2022-10-13 23:35] jywarren commented on #1139
Each time we place an image, we should add it to an array so we can make a Collection from them easily. How does that sound?

[2022-10-13 23:36] jywarren commented on #1153
Sounds good, would you like to open a PR?

[2022-10-13 23:37] 7malikk commented on #1153
Yes, I would, I'll get on it right away

[2022-10-13 23:37] leilayesufu commented on #1139
That’s fantastic, that’s each image JSON format in an array right?

[2022-10-13 23:59] THEDARKMAN007 commented on #1153
id like to try this

[2022-10-14 00:11] THEDARKMAN007 commented on #665
@jywarren is this issue still open

[2022-10-14 00:43] jywarren commented on #1153
Maybe you could even just modify line 120?

[2022-10-14 00:49] jywarren commented on #1146
This looks great, thanks folks!!!

[2022-10-14 00:50] THEDARKMAN007 commented on #1153
@jywarren thank you, ill work on it

[2022-10-14 00:51] jywarren commented on #1137
One way to know is to track onload listener of the image. Another is to poll to see if the image has a width attribute. I think the onload listener would be best... let's also look if there is an event fired once the image finishes loaded.

[2022-10-14 00:58] segun-codes commented on #1137
Perhaps, we could consider SVG spinner instead of GIF spinning icon.

[2022-10-14 01:20] jywarren commented on #1137
Its true, and we do have a loading spinner in our icons locally already I think. But I imagine we will be using a range of icons in this page so I think it's worth standardizing on FontAwesome. You can add the "spin" class to make it spin without using a gif!

[2022-10-14 01:37] victory-lydia commented on #1086
Hello, @TildaDares please for an FTO.

[2022-10-14 01:41] 7malikk opened #1155 "Change 'var' to ES6 'let'/'const' keyword in files and folders under the folder 'edit' located in the 'src' folder"
Hello @TildaDares, @jywarren, @cesswairimu the following files still use the 'var' keyword and not the ES6 'let'/'const' keyword. These files need to be updated to make use of the ES6 keywords.

-  [src/edit/handles/LockHandle.js](https://github.com/publiclab/Leaflet.DistortableImage/blob/409dc4120c26ead568f4b14e23401ff82e178f09/src/edit/handles/LockHandle.js)
- [src/edit/getEXIFdata.js](https://g

[2022-10-14 02:31] RealRichi3 commented on #1137
Good idea, correct me if i'm wrong, so currently the plan is to
- Add an click event listener for the `place on map` buttons
- Add an onload event listener for the images
- Onclick of the button we display the spinning icon
- Then Onload of the image, the spinning icon disappears

If this is it, i would like to work on it then. Correct me if i missed anything

[2022-10-14 02:46] RealRichi3 commented on #1137
I was thinking about the event listener to check if the image has been added, i saw something about Mutation event, we can use this to check if a node or child element has been added to the parent div or element.

I had another idea tho,
- Have a counter to store the current size of the images within the parent element in the DOM,
- An async while loop to keep checking if the number of child eleme

[2022-10-14 03:16] RealRichi3 opened #1156 "[BUG] - MIME type error while hosting `archive.html` on local PC"
**Describe the bug:**
I tried to host the HTML page on my PC but the rendered page only shows an empty map.
![image](https://user-images.githubusercontent.com/76791916/195753547-34495cb8-28df-4b1f-9624-171dc685d7a7.png)

I checked the console and it showed these errors
[code]

What happened vs. what did you expect to happen?
It didn't render the page completely and i expected it to load the map an

[2022-10-14 03:52] oryxwhite commented on #1149
Hi @cesswairimu I'd love to take this one on, thank you!

[2022-10-14 06:28] sainamercy commented on #1156
@RealRichi3 I also get the exact same error

[2022-10-14 06:32] sainamercy commented on #1155
@7malikk all those files have already been reserved for other applicants

[2022-10-14 06:41] TildaDares commented on #1155
Hi @7malikk, as mentioned by @sainamercy, all of those files have been listed and assigned in #1086. Thank you!

[2022-10-14 06:46] #1151 closed

[2022-10-14 06:59] sainamercy commented on #1156
@RealRichi3 try `npm run build`  it should work

[2022-10-14 07:18] Dhei-vid commented on #998
I'd like to work on the drag image onto page to add feature @jywarren

[2022-10-14 07:35] 7malikk commented on #1155
@sainamercy @TildaDares
Oh alright, I didn't notice, thanks for the feedback

[2022-10-14 07:35] #1155 closed

[2022-10-14 08:16] segun-codes commented on #1137
That's yet another good idea. If we are going by the first idea as suggested, we should still consider implementing @jywarren's idea of waiting time. If no 'image dropped on map' event is fired after this waiting period elapses, then a message (e.g., "Please attempt to place the image again") can be displayed to the user. This can address network connectivity issue midway into a "place image on ma

[2022-10-14 08:27] segun-codes commented on #1137
Hi @jywarren, the conversation here stimulated me into considering raising the two issues listed below. What do you think? Can I go ahead?

1. provide drag and drop support for an image to be placed on a map: this is an alternative to using the 'place on map' button.
2. provide hide and unhide functionality for the sidebar where we have the button 'place on map': currently, the sidebar sits on a r

[2022-10-14 08:58] sainamercy commented on #1137
The code for the click event is already there. the highlighted areas could be a simple fix
document.addEventListener("click", (event) => {
      if (event.target.classList.contains('place-button')) {
               ` // render spinner `
        let imageURL = event.target.previousElementSibling.src;
        let image = L.distortableImageOverlay(imageURL);
        map.imgGroup.addLayer(image);

[2022-10-14 09:03] sainamercy commented on #1137
https://github.com/publiclab/Leaflet.DistortableImage/blob/c80a7c69904694bdd50ca0f9e6e358abbdfb98af/examples/archive.html#L103-L120:~:text=document.addEventListener,%7D

[2022-10-14 09:07] sainamercy commented on #1137
How dos one display part of a file like this

[2022-10-14 09:16] oryxwhite commented on #1149
@cesswairimu I summitted a pull request - let me know if any changes need to be made

[2022-10-14 09:55] segun-codes commented on #1156
@sainamercy's comment is correct, @RealRichi3 you want to give it a shot.

[2022-10-14 10:35] RealRichi3 commented on #1156
Alright thanks, I'll try it

[2022-10-14 10:40] RealRichi3 commented on #1137
True, it applies the same logic we had in mind tho, I'll wait for @jywarren to approve before taking up the task

[2022-10-14 11:34] 7malikk commented on #1137
https://github.com/publiclab/Leaflet.DistortableImage/blob/c80a7c69904694bdd50ca0f9e6e358abbdfb98af/examples/archive.html#L77-L89

Hello @sainamercy, see how [here](https://github.blog/2017-08-15-introducing-embedded-code-snippets/#:~:text=To%20add%20a%20code%20snippet,permalink%2C%20and%20paste%20it%20anywhere.)

[2022-10-14 11:39] 7malikk commented on #1139
@leilayesufu, Hey there, how's the task coming along?
It looks pretty interesting, need an extra pair of hands?
I'd be happy to help

[2022-10-14 11:39] 7malikk commented on #1137
@segun-codes and @RealRichi3, this looks like an interesting issue I'd like to join you both in resolving it.

[2022-10-14 12:31] leilayesufu commented on #1139
It’s going great,
Thanks

[2022-10-14 12:35] RealRichi3 commented on #1156
thanks @segun-codes i just tried it and it worked perfectly

[2022-10-14 12:35] #1156 closed

[2022-10-14 14:52] jywarren commented on #665
Yes it is. Do you feel like you have enough information to know where to
begin? Thank you!

On Fri, Oct 14, 2022, 9:12 AM Abdulsamad Adams ***@***.***>
wrote:

[2022-10-14 15:05] 7malikk commented on #665
@THEDARKMAN007 Would you like to collaborate on this? as @jywarren provides us with more information

[2022-10-14 16:44] THEDARKMAN007 commented on #665
@jywarren actually no I do not, but I wud like to collaborate with @7malikk, perhaps id learn something. Thank you. And yes @7malikk I'd luv to collaborate on it with you.

[2022-10-14 17:10] THEDARKMAN007 commented on #665
@7malikk I think we shud share our WhatsApp contact so we could communicate more effectively on this issue. this is my contact +2347018100267

[2022-10-14 17:41] Jolzyfx commented on #1135
@TildaDares
Can I still work on this issue

[2022-10-14 20:05] Tammy-Ajoko opened #1160 "Replace `var` with `let`/`const`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-14 20:58] 7malikk commented on #1160
@TildaDares @cesswairimu  @jywarren  I'd like to convert this into an FTO, so the first-timers can have an issue to resolve.

[2022-10-14 23:02] TildaDares commented on #1160
Thank you for opening this issue @Tammy-Ajoko. Maybe @7malikk and @Tammy-Ajoko can work together to properly format this into an FTO. Thank you!

[2022-10-14 23:04] 7malikk commented on #1160
@TildaDares alright, thank you.
@Tammy-Ajoko let's proceed

[2022-10-15 00:14] Teslimsama commented on #1086
Please can I be assigned this task @Tilda

bolaji Teslim

On Sat, Oct 15, 2022, 12:03 AM Tilda Udufo ***@***.***> wrote:

[2022-10-15 01:25] natfb commented on #1149
Hello, @cesswairimu I'm interested in contributing for the first time to an open source, could I be given anything to work on?

[2022-10-15 05:34] Tammy-Ajoko commented on #1160
@7malikk  we could proceed with the right format for an FTO. If you know it you could pls comment it here so I can create a new issue

[2022-10-15 07:01] TildaDares commented on #1051
Hi @julianavmgiusti, please go ahead. Thank you!

[2022-10-15 07:03] TildaDares commented on #1050
Hi @ashish-parjapat, do you need any help with this? Please reach out if you do.

[2022-10-15 07:08] TildaDares commented on #1086
Hi @ifeawoyemi, @sahilbansal17, @albinazs, @oluwatunbi, @kabuur, @TaladeogoA, do you need any help with your assignments? Please feel free to reach out if you do. Thanks!

[2022-10-15 07:08] #1132 closed

[2022-10-15 09:53] 7malikk commented on #1160
@Tammy-Ajoko [here](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/.github/ISSUE_TEMPLATE/--first-timers-issue-template.md) is the template for the FTO. Copy and paste it in yours and ping me if you encounter any challenges. Cheers🎉

[2022-10-15 10:31] Tammy-Ajoko commented on #1160
@TildaDares I have formatted it 😊.
Thanks @7malikk for your help

[2022-10-15 10:36] 7malikk commented on #1160
@Tammy-Ajoko Nice work!
Could you make a tiny adjustment to the
sample code,it must've been a simple typo but you put let/cont instead of let/const.

Thank you!

[2022-10-15 10:41] TildaDares commented on #1160
Hi @Tammy-Ajoko, great job on the formatting. Usually the diffs contains each line of code that needs to be changed. Looking at the files, we’ll need more than one line change.

[2022-10-15 11:08] julianavmgiusti commented on #1051
@TildaDares thank you! Kindly review my PR at  [Here](https://github.com/publiclab/Leaflet.DistortableImage/pull/1165)

[2022-10-15 11:22] Tammy-Ajoko commented on #1160
@TildaDares  ok I didn't know that before, but I have made the adjustments now

[2022-10-15 11:37] TildaDares commented on #1160
@Tammy-Ajoko You also have to specify which keyword it should be exactly.

[2022-10-15 11:46] Tammy-Ajoko commented on #1160
@TildaDares  ok I have updated it again hope it is better now. Thank you for walking me through it, I'll definitely take correction when making another FTO

[2022-10-15 11:47] #1051 closed

[2022-10-15 11:49] TildaDares commented on #1160
It’s perfect. Thank you @Tammy-Ajoko!

[2022-10-15 11:50] TildaDares commented on #1160
Reserved for @favour-cay

[2022-10-15 12:31] julianavmgiusti commented on #981
@TildaDares can I claim for this bug to be my second issue?

[2022-10-15 13:35] Chinazaekpere-Ike opened #1167 "Fixing a typo"
Fixed a typo in line 126 of examples/archive.html by replacing this -->

126  responseText.innerHTML = 'Uh-oh! Something\'s not right with the link provided!'

With this -->

126  responseText.innerHTML = `Uh-oh! Something's not right with the link provided!`

[2022-10-15 14:04] #1167 closed

[2022-10-15 16:53] jywarren commented on #1137
@sainamercy is [correct](https://github.com/publiclab/Leaflet.DistortableImage/issues/1137#issuecomment-1278704229), the click event is there!

I think @sainamercy has the right idea for inserting code in these lines:

https://github.com/publiclab/Leaflet.DistortableImage/issues/1137#issuecomment-1278704229

Maybe @sainamercy and @RealRichi3 would like to take this on together? @RealRichi3 if you

[2022-10-15 17:09] 7malikk commented on #1137
@jywarren thats sounds great
@segun-codes how would you like to begin?

[2022-10-15 17:39] jywarren commented on #665
One thing to note before we begin is that the StackAction is not enabled by default in our MapKnitter Lite "archive.html" demo. To enable it, we have to add it when we initialize the DistortableImage, as we do in this example:

https://github.com/publiclab/Leaflet.DistortableImage/blob/83001cc17ba8e387d658b98fd08d7837a490e2ac/examples/select.html#L66

Then you'll be able to change order of display

[2022-10-15 17:43] jywarren commented on #998
Hi @Dhei-vid - thank you, i do have a worry about that. Generally we are aiming for a system where you can download a 'saved' version of the map. But if we allow people to drag an image in, that image won't be readable by anyone else (since there is no server-side file storage to keep the image, it's just displayed locally to the person who dragged it, nobody else). So if we allow people to mix in

[2022-10-15 17:58] jywarren commented on #1153
Hi @THEDARKMAN007 it looks like @7malikk has already begun here. Maybe you could look over the PR and offer any suggestions, or we can try finding another task for you soon?

[2022-10-15 18:02] jywarren commented on #938
Hi @7malikk maybe someone else who doesn't have a new issue to work on could take this? I believe @TerryFryar is talking about line 43 here:

https://github.com/publiclab/Leaflet.DistortableImage/blob/83001cc17ba8e387d658b98fd08d7837a490e2ac/src/DistortableImageOverlay.js#L42-L48

Logically if `const units = this.options.rotation.deg ? 'deg' : 'rad';` doesn't work for `deg == 0`, how should we fix

[2022-10-15 18:03] jywarren commented on #1130
Thank you for your ideas @leilayesufu -- regex is a good idea. Should there be a whole function to parse out keys in the URL?

[2022-10-15 18:08] Tammy-Ajoko commented on #1153
@jywarren I would like to go over the PR or if there is another task i would like to do that

[2022-10-15 18:12] RealRichi3 commented on #1137
Alright @jywarren

[2022-10-15 18:21] sainamercy commented on #1137
Hi @RealRichi3 I would be happy to collaborate with you

[2022-10-15 18:40] 7malikk commented on #938
Alright, @jywarren, i'll convert this into an FTO with this login as the solution.

 Assuming `this.options.rotation.deg` is never less than `0`

`const units = this.options.rotation.deg >= 0 ? 'deg' : 'rad';`

should fix the bug, what do you think?

[2022-10-15 18:44] 7malikk commented on #665
Oh wow, this is great @jywarren glad you left those notes, very informative
@THEDARKMAN007 and I will hop on this and revert back
Thanks a bunch 👍🏾

PS. Don't get tired of my pings 😁

[2022-10-15 20:08] Dhei-vid commented on #998
Okay @jywarren

[2022-10-15 20:28] Dhei-vid opened #1171 "Discussion on Design of Dragged-on local images for Mapknitter Lite"
Hello 🙋‍♂️,
This is a discussion of possible solutions to the feature of Dragging on Local Images for Mapknitter Lite which can be found in #998.
We are aiming for a system where you can download a 'saved' version of the map. But dragging an image in, that image won't be readable by anyone else (since there is no server-side file storage to keep the image, it's just displayed locally to the person

[2022-10-15 20:45] segun-codes commented on #1137
Alright @jywarren. @7malikk I will open an issue for this and then we can proceed to discuss design ideas.

[2022-10-15 21:04] segun-codes commented on #1137
@jywarren, what about the 'drag and drop' issue I suggested, do you want to react to it as well?

[2022-10-15 21:07] THEDARKMAN007 commented on #665
thanks making this clear @jywarren

[2022-10-15 21:21] NARUDESIGNS commented on #1160
@TildaDares @Tammy-Ajoko
Great FTO, please also confirm that ALL those constant variables are not reassigned anywhere else in the code 👍

[2022-10-15 21:29] 7malikk commented on #1137
This sounds good @segun-codes
Ping me when you do

[2022-10-15 21:38] segun-codes opened #1172 "Provide functionality to hide/unhide sidebar"
A significant area of the page at `https://publiclab.github.io/Leaflet.DistortableImage/examples/archive` is covered with a sidebar. As such, users are denied the full benefit of the entire viewport (present on a browser) for image distortion tasks etc. Therefore, there's a need to provide a functionality to hide and unhide the sidebar. For more clarity, view the attached screenshot.

**Please des

[2022-10-15 21:44] segun-codes commented on #1172
Hi @jywarren, the issue is all wired-up now as advised. @7malikk, let's begin conversation on what the design should look like.

[2022-10-15 21:44] jywarren commented on #1137
Regarding drag and drop, unfortunately there are some complications... I wrote a bit more in https://github.com/publiclab/Leaflet.DistortableImage/issues/998#issuecomment-1279791442

Thank you for your interest!!!

[2022-10-15 21:51] segun-codes commented on #1137
Issue opened, tagged you and @jywarren.

[2022-10-15 21:52] jywarren commented on #938
Hmm, how does it evaluate if deg is undefined? Is that clear to a reader of
the code? Can we directly check whether it's defined?

On Sat, Oct 15, 2022, 2:40 PM Malik ***@***.***> wrote:

[2022-10-15 21:54] 7malikk commented on #1172
Hello @segun-codes, we could add a button toggle show/hide with an onclick event listener.

So when the sidebar is hidden, the button would it would have a transparent background and a distinct color at the top right corner of the map and at a `z-index`

We could use font-awesome icons for the toggle button. for simplicity.

What do you think?

[2022-10-15 22:11] segun-codes commented on #1172
@7malikk good idea there. In addition to your suggestions, let's consider that:

1. The sidebar should be visible by default and only user-action should trigger 'hide' and subsequently 'unhide' actions.
2. We need a way to make the button suggestive. For the purpose of user experience, it should be clear that the button needs to be clicked before user can attempt to place image on the map. So a to

[2022-10-15 22:22] segun-codes commented on #1137
Oh! okay... thank you for clarifying.

[2022-10-15 22:54] 7malikk commented on #1172
@segun-codes
These are very good ideas and I think they're valid we could make that tooltip a sort of more obvious sign as the tooltip requires the user to actually hover over the button.

Right?

[2022-10-16 07:48] #1149 closed

[2022-10-16 10:08] cesswairimu commented on #1131
@leumasxxx you could use the  " First Timers Only issue" template from [here](https://github.com/publiclab/Leaflet.DistortableImage/issues/new/choose), thanks!

[2022-10-16 10:22] leumasxxx commented on #1131
thank you @cesswairimu i'd look into them now

[2022-10-16 10:57] ijayhub commented on #939
@jywarren  and @ShreyasRP  I saw this in issue. pls what the issue will like to try it.
Thanks

[2022-10-16 13:02] vanithaak commented on #1172
hey @segun-codes, @7malikk ! isn't the sidebar visible by default? when we don't insert a link in the form and close the modal, it's visible in the screen. or you mean to show the sidebar with the modal, when the screen is loaded? Please correct me if I'm wrong :)

[2022-10-16 13:36] 7malikk commented on #1172
@vanithaak hey there, yea you're right by default the sidebar is visible when the user does not input a link and closes the modal. We could create an issue on that, instead of an empty sidebar the user should be notified the "No link = No images.." as seen on the current sidebar.

That being said what we want to archive is to include a toggle that shows and hides the sidebar on click when the user

[2022-10-16 17:20] leumasxxx opened #1174 "changing from getElementById to a querySelector"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-16 17:23] leumasxxx commented on #1174
@TildaDares @cesswairimu I created this FTO for first timers who are still looking for an issue to resolve and I'd be delighted if it can be assigned to someone

[2022-10-16 18:14] TildaDares commented on #1174
Hi @leumasxxx, thank you for opening this issue for first-timers. Please take a look at this issue to know the expected format of an FTO https://github.com/publiclab/Leaflet.DistortableImage/issues/1135. Thank you!

[2022-10-16 19:33] Chinazaekpere-Ike commented on #1172
In addition to this, I'd like to suggest having the sidebar invisible/retract when any part of the map is clicked (excluding the side bar itself of course) in case the user misses the toggle button and or if it's a hassle dragging the cursor up to the toggle button every time the user wants to add an image

[2022-10-16 19:37] segun-codes commented on #1172
Yes... that's the way to go.

[2022-10-16 19:50] segun-codes commented on #1172
@vanithaak, yes the sidebar appears by default. My comment about it is actually to ensure that behaviour is preserved;
@7malikk, I agree with you. As per the new issue, not sure I got your message clearly though so I'm unable to react.

[2022-10-16 19:52] 7malikk commented on #1172
@segun-codes i was going to ask the same thing.

What do you think should be our first step?

- We need to come up with a position for the icon on the map.

- Next we add an event to toggle open and close, similar to what happens when user submits a link.

Thoughts?

[2022-10-16 20:01] 7malikk commented on #1172
@segun-codes the issue I'm proposing can be resolved when we work on the toggle feature but I'm proposing we make it a separate issue entire so others could get an issue to work.

The crux of the issue is, when you navigate [here](https://publiclab.github.io/Leaflet.DistortableImage/examples/archive.html) instead of imputing a url and the user closes the modal. The side bar opens showing a message

[2022-10-16 20:06] segun-codes commented on #1172
@Chinazaekpere-Ike, now this is capable of further improving UX, thank you. But then, do you also think user action in form of inadvertent and intermittent clicking of the map could reduce UX given that the sidebar will keep sliding in and out as a result?

@jywarren @7malikk, your thoughts will also come in handy here.. thanks.

[2022-10-16 20:15] segun-codes commented on #1172
@7malikk sorry, I edited out the message you just reacted to. I wanted us to start having this same discussion but figured we could quickly look at the nice idea suggested by @Chinazaekpere-Ike first and summarize the design approach in bulletpoints for @jywarren to approve before we make the next progress.... or what do you think?

[2022-10-16 21:00] Chinazaekpere-Ike commented on #1172
No I don't think so

It won't affect the UX because this feature will only be made for the sidebar to slide out (disappear). For the side bar to reappear again the user will have to click on the regular toggler button meaning they won't be any accidental clicks.

For more clarity I have attached a sample video from Bootstraps hamburger menu -->

https://user-images.githubusercontent.com/108843939/

[2022-10-16 21:26] leumasxxx commented on #1174
@TildaDares ive seen the format and I've made the necessary adjustments

[2022-10-16 21:50] 7malikk commented on #1172
Yes, @Chinazaekpere-Ike I understand what you mean and it is an excellent idea it will improve UX.
@segun-codes I think @Chinazaekpere-Ike's idea is a great addition we can now move to the steps we intend to take to archive this feat

[2022-10-16 22:12] 7malikk commented on #1172
## Toggle open/close in sidebar

- [ ] Create a toggle button (positioned at the top right corner of the map)
- [ ] When a user submits a URL, the sidebar should open up with the button to toggle close
- [ ] When the user clicks on any part of the map that is not the sidebar interface, the sidebar, if open, should close

### Sub-Task

- [ ] Create a notification/pop-up: if the user does not provid

[2022-10-16 22:15] 7malikk commented on #1174
@leumasxxx Nice work! Keep them coming 👍🏾

[2022-10-16 22:17] 7malikk commented on #1153
@jywarren We can close this issue as we already resolved it in #1154

[2022-10-16 22:44] 7malikk commented on #938
Hello @jywarren

When `deg = undefined` with my proposed solution the result will be `rad`

Yea it is clear to a reader of code with the intention to understand.

The solution proposed checks if `deg` is defined and also if it is `0`  or more

What are your thoughts?

[2022-10-16 23:25] liliyao2022 commented on #1174
Hi, I'd like to try.

[2022-10-16 23:39] liliyao2022 commented on #1174
hi @leumasxxx, the file link is wrong. Please add the correct link. Thanks!

[2022-10-17 02:07] THEDARKMAN007 commented on #734
hi @jywarren @TildaDares @sashadev-sky id like to work on this

[2022-10-17 02:11] THEDARKMAN007 commented on #700
@sashadev-sky can i try this

[2022-10-17 03:00] leumasxxx commented on #1174
@7malikk thank you very much

[2022-10-17 07:41] Onyi-X commented on #1146
@TildaDares @jywarren I'll like to try this issue

[2022-10-17 07:57] Onyi-X commented on #1146
@7malikk the issue seems to be on line 36 - 49, please confirm this while i work on it, thanks

[2022-10-17 07:58] segun-codes commented on #1172
@7malikk, this is fine then. We should proceed to next step fast.

[2022-10-17 08:03] TildaDares commented on #1174
Hi @leumasxxx, please add the correct file link in the issue description. Thank you!

[2022-10-17 08:03] 7malikk commented on #1146
Thank you @Onyi-X, I've made the corrections, you should insert the code in at line 36.

[2022-10-17 08:05] segun-codes commented on #1172
@7malikk, have you suggestion on how we should split? For instance, I can take tasks #1 & 2 and you #3 & 4 or maybe the reverse way too??

[2022-10-17 08:07] TildaDares commented on #1174
Hi @liliyao2022, an issue was reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1146

[2022-10-17 08:08] 7malikk commented on #1172
@segun-codes the reverse is fine by me.
Thank you! We can get to work.

[2022-10-17 08:10] segun-codes commented on #1172
Okay, many thanks @7malikk @Chinazaekpere-Ike.

[2022-10-17 08:18] leumasxxx commented on #1174
Okay im on it

[2022-10-17 08:32] segun-codes commented on #1172
@7malikk , please remember the tooltip for task #1, I just remembered it.

[2022-10-17 09:01] cesswairimu commented on #1131
hi :wave: and welcome again
sorrry @victory-lydia I missed your prev question -  this is a discussion issue for Outreachy applicants--more of a conversation thread on an issue, makes sense?
Just clarifying this is not a issue one can work on, I saw a few people asking to work on it.
I've assigned a few issues to the people who didn't have one, you should have seen a notification:  if not just ping

[2022-10-17 11:41] julianavmgiusti commented on #790
@jywarren  and  @TildaDares can I work on this ?

[2022-10-17 12:07] sainamercy commented on #1130
@jywarren @cesswairimu regarding this [comment](https://github.com/publiclab/Leaflet.DistortableImage/issues/1130#issuecomment-1279796153). What is the goal of this task `When opening a map, detect a key like "texas-barnraising" from a longer URL like https://archive.org/details/texas-barnraising`

[2022-10-17 12:54] Tishly commented on #1086
Hello @TildaDares. Please, I'd like to get assigned this issue to work on for my first contribution. Thank you.

[2022-10-17 13:35] Tishly commented on #1131
Hi @cesswairimu I just joined the community chat on element.io and would like to request an FTO assignment. Thank you.

[2022-10-17 16:24] leumasxxx commented on #1174
@TildaDares  after going through the issue I created, I noticed my faults in it but now I think I've made the necessary corrections and it's  ready to be assigned.

[2022-10-17 17:29] TildaDares commented on #1174
Amazing work @leumasxxx. Thank you!

[2022-10-17 17:29] TildaDares commented on #1174
Reserved for @iLynette for 24 hours!

[2022-10-17 17:37] iLynette commented on #1174
On it @TildaDares Thank you.

[2022-10-17 17:37] AndroGenius-codes commented on #1171
hi check out my contribution to this issue #1162

[2022-10-17 17:40] AndroGenius-codes commented on #998
hi @jywarren  can you check my attempt at the drag and drop feature at issue #1162. so far i have been able to create a ui for it but the images cannot be stored except locally.

[2022-10-17 18:24] 7malikk commented on #1172
@segun-codes How is it going on your end?

[2022-10-18 06:49] segun-codes commented on #1172
@7malikk, tooltip is still a good idea given that it's a memory aid. You will be surprised how useful it can be for distracted users, so it's my opinion that we keep it.

[2022-10-18 06:54] 7malikk commented on #1172
Alright, I'll implement that too.

How's yours coming along? @segun-codes

[2022-10-18 06:58] segun-codes commented on #1172
Just started working on it, and really, it's a "so far so good" story for now. And yours? I saw the icon disappearance issue you mentioned.

[2022-10-18 07:02] 7malikk commented on #1172
That's great to hear

Yea, what do you think I could do?

[2022-10-18 07:12] segun-codes commented on #1172
@7malikk Oh! nice. As for the issue, I haven't given it a deep thought yet but hope there's no event being fired without your knowledge that may be (in)!directly responsible for this. If you haven't, you may want to go through the project documentation (see ReadMe.me file) just to get more familiar with background events being fired here and there.

[2022-10-18 12:09] ijayhub commented on #231
can I work on this?

[2022-10-18 15:57] segun-codes opened #1181 "Transfer js code in index.html into separate .js file"
index.html file currently contains Javascript code, this makes for a less readable and maintainable code especially as the codebase is set to become larger with more contributions from the community members. For this reason, it is important to transfer and maintain javascript code in a separate .js file different from the ./examples/index.html file as much as possible.

[2022-10-18 16:03] segun-codes opened #1182 "Transfer js code in archive.html into separate .js file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-18 16:04] 7malikk commented on #1172
@segun-codes That sounds good.

Yea let's have that meeting, it should help with the integration too.
When will be convenient for you?

[2022-10-18 16:08] 7malikk commented on #1182
@segun-codes do you think this issue could be a good FTO?  or it should be left for those who have completed an FTO?
@jywarren

[2022-10-18 16:08] segun-codes opened #1183 "Transfer js code in export.html into separate .js file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-18 16:09] segun-codes opened #1184 "Transfer js code in listeners.html into separate .js file"
listeners.html file currently contains Javascript code, this makes for a less readable and maintainable code especially as the codebase is set to become larger with more contributions from the community members. For this reason, it is important to transfer and maintain javascript code in a separate .js file different from the ./examples/listeners.html file as much as possible.

[2022-10-18 16:13] segun-codes opened #1185 "Transfer js code in select.html into separate .js file"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-18 16:16] segun-codes commented on #1185
Hi @TildaDares, do you want to assign this issue? Not sure if it's qualifies as FTO or not.

[2022-10-18 16:16] segun-codes commented on #1184
Hi @TildaDares, do you want to assign this issue? Not sure if it's qualifies as FTO or not.

[2022-10-18 16:18] segun-codes commented on #1181
Hi @TildaDares @jywarren  do you want to assign this issue? Not sure if it's qualifies as FTO or not.

If it does not qualifies as FTO, I'd like to claim this issue if okay by you.

[2022-10-18 16:28] AndroGenius-codes commented on #1182
i am working on the archive page right now for a separate project and I'd like to do this

[2022-10-18 16:28] jywarren commented on #1181
Hello, I wonder if maybe doing this for 1 file first would make a good
example to follow, and then we could create FTOs for others based on that
example? So perhaps if one of you would like to try the first one?

On Tue, Oct 18, 2022 at 12:18 PM Segun ***@***.***> wrote:

[2022-10-18 16:33] segun-codes commented on #1181
@jywarren, okay I'll try it. Thank you.

[2022-10-18 16:34] 7malikk commented on #1181
@jywarren That sounds great
@segun-codes We could leave it to @AndroGenius-codes as he just requested to work on  the archive page
You and i can work on converting the rest to FTOs, what do you say?

[2022-10-18 16:37] AndroGenius-codes commented on #1182
alright

[2022-10-18 16:40] segun-codes commented on #1181
@7malikk, okay... but not sure how we can achieve that. You can throw more light on this though. I thought @jywarren's idea is the way to go. One example, and then other first-timers can follow the example, something like that.

[2022-10-18 16:44] segun-codes commented on #1183
@TildaDares @jywarren, you may want to assign this out at some point if not now.

[2022-10-18 16:48] 7malikk commented on #1181
@segun-codes So what I'm trying to say is @AndroGenius-codes should make the correction (i.e moving the js to an external js file)
Then you and I will create FTOs for the other issues. using @AndroGenius-codes implementation as an example.

[2022-10-18 16:54] TildaDares commented on #1183
Let's follow @jywarren's suggestion in #1181. Thanks @segun-codes!

[2022-10-18 16:55] TildaDares commented on #1183
Same thing goes for #1184 and #1185

[2022-10-18 17:10] segun-codes commented on #1172
@7malikk, we will use 0700hrs WAT as agreed.

[2022-10-18 18:02] 7malikk commented on #1181
@segun-codes check your dm for the meet link

[2022-10-18 21:13] ijayhub commented on #1185
@TildaDares  is this an FTO if not will like to work on it

[2022-10-19 08:39] Tobbiloba commented on #1131
please i just cloned the github repository
how do i run it??

[2022-10-19 11:16] TildaDares commented on #1086
Hi @AM-png, @Mootconn, @mimi-tech, @Achele, there are issues reserved for you here. Look at the list for the files reserved for you.

[2022-10-19 11:20] TildaDares commented on #1050
Hi @olamideazeez, you can go ahead and work on this. Thank you!

[2022-10-19 11:26] segun-codes opened #1187 "Review expensive HTTP operation in archive.html"
The code snippet below is extracted from ` /examples/archive.html`, I am of the opinion that `axios.get(...)` shouldn't be invoked without validating that the user-supplied `url` argument meets certain criteria before attempting to perform the expensive over-the-network `get` operation albeit there's a failure handling mechanism in place.

I could improve the code by validating the url first, then

[2022-10-19 11:58] Chinazaekpere-Ike opened #1188 "Replacing the (') with a (`) in strings in archive.html"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-19 12:04] Ibom99 commented on #1181
@jywarren can i try out https://github.com/publiclab/Leaflet.DistortableImage/issues/1184 as an example?

[2022-10-19 12:12] Chinazaekpere-Ike commented on #1188
Hi❗
@TildaDares @jywarren

I created this FTO for those who are still looking for an issue to solve.
I hope to see it being assigned to someone 🙂

[2022-10-19 12:22] 7malikk commented on #1181
@Ibom99 Hey there, @segun-codes already created a PR at #1186 regarding this.
And is awaiting a review. What you should do is take a look at the above-mentioned PR and create an FTO from the changes made by @segun-codes.

It will provide issues for others to resolve.
Just a thought, open to revision @jywarren @TildaDares @cesswairimu

[2022-10-19 13:09] jywarren commented on #938
OK, that sounds good -- what do you think of this being an FTO for someone? Thank you!

[2022-10-19 13:18] #1181 closed

[2022-10-19 13:20] 7malikk commented on #938
Alright, @jywarren
I'll get right on that

[2022-10-19 13:33] #1137 closed

[2022-10-19 14:32] AM-png commented on #1086
Thanks, I'll do it.

[2022-10-19 15:16] Chinazaekpere-Ike commented on #1008
`1 let value = "Tame"`
`2 Let main = "Try"`

[2022-10-19 15:17] Chinazaekpere-Ike commented on #1008
`Let main = "Try"`
`Let ink = `I want to ${main} something``

[2022-10-19 16:03] Chinazaekpere-Ike commented on #1188
Hi @jywarren

This ` is called a Back tick and it basically makes modifying code easier for future purposes

Example,
Rather than having this (In Js)

`1     let action = 'dance' `
`2     alert ('I want to ' + action + ' all day')`

We can write -->

`1     let action = 'dance'`
`2     alert(`I want to ${action} all day`)`

The second is more efficient because it's easier to maintain. Supposing we

[2022-10-19 17:47] 7malikk opened #1190 "When `this.options.rotation.deg = 0` default to `deg`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-19 17:54] 7malikk commented on #1190
@TildaDares here is an FTO, approved by @jywarren in #938

[2022-10-19 19:08] vanithaak commented on #1190
@7malikk can i take this issue?

[2022-10-19 19:09] 7malikk commented on #1190
If you have not yet done an FTO, then sure. Otherwise I think we should leave it for those who haven't had the chance to work on an FTO.

[2022-10-19 19:12] vanithaak commented on #1190
I haven't done a FTO yet

[2022-10-19 19:13] 7malikk commented on #1190
Then i believe you can claim this issue and work on it.

[2022-10-19 19:14] TildaDares commented on #1190
Thanks for opening this issue @7malikk!

[2022-10-19 19:25] Oluwaseun241 commented on #1188
Can i claim the issue?

[2022-10-19 19:53] Mootconn commented on #1086
Ill claim this task please @TildaDares

[2022-10-19 20:08] vanithaak commented on #1190
thank you malik

[2022-10-20 01:25] liliyao2022 commented on #1187
Hi @segun-codes, I think you can also try an async function.

[2022-10-20 02:04] liliyao2022 opened #1198 "Missing of the closing </body> in Leaflet.DistortableImage/examples/listeners.html"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-20 02:08] #1198 closed

[2022-10-20 02:19] liliyao2022 opened #1199 "Missing of the closing </body>"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-20 02:20] liliyao2022 commented on #1199
- 45</html>
+45</body>
+46</html>
Hi, how can I add these lines to the issue?

[2022-10-20 02:21] liliyao2022 commented on #1199
oh, no! There is no way to show HTML tags. Is there any??

[2022-10-20 02:23] liliyao2022 opened #1200 "Missing of the closing </body>"
**Describe the bug:**
There is a missing of the closing tag</body>

**Reproduce the behavior:**
  1. Go to https://github.com/publiclab/Leaflet.DistortableImage/blob/main/examples/listeners.html
  2.   See the missing error

**Browser, version, and operating system:**
 - Browser Chrome

 - Platform: iOS -

[2022-10-20 07:29] #1135 closed

[2022-10-20 07:35] 7malikk commented on #1146
@TildaDares Hello there, this issue hasn't been resolved and many haven't had a chance to resolve an issue.

[2022-10-20 07:38] TildaDares commented on #1146
Thanks for the reminder @7malikk. I'll reassign it.

[2022-10-20 07:39] TildaDares commented on #1146
Reserved for @tolubishops0 for 24 hours!

[2022-10-20 08:10] onireke commented on #1086
Hi @TildaDares please  I am yet to be assigned a FTO  the only I saw was that my comment was deleted. Kindly assist me. Thank you

[2022-10-20 08:46] sainamercy commented on #1199
Hi @liliyao2022 place the difference as shown:
` ```diff `

the difference

` ```  `

[2022-10-20 08:55] sainamercy commented on #1188
Hi @Chinazaekpere-Ike @jywarren. I think this could be best implemented where such an occurrence
`1 let action = 'dance' `
`2 alert ('I want to ' + action + ' all day')`
actually occurs.

[2022-10-20 08:58] victory-lydia commented on #1200
Please can I work on this??

[2022-10-20 10:13] Chinazaekpere-Ike commented on #1188
Hey @sainamercy
I completely understand your point but I proposed this issue to make future maintenance easier

@jywarren What's your input on this?

[2022-10-20 10:14] Chinazaekpere-Ike commented on #1188
Hey @Oluwaseun241
We're still awaiting @jywarren approval on this

[2022-10-20 11:42] Chinazaekpere-Ike opened #1202 "Get title of Image on URL and display on sidebar"
On the [https://github.com/publiclab/Leaflet.DistortableImage/blob/main/examples/archive.html](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/examples/archive.htmlrl) page, the page prompts user to input the URL of a previously uploaded image from [archive.org](https://archive.org/), after which the image is added to the sidebar.

To give the user a more customized experience, the

[2022-10-20 11:44] Chinazaekpere-Ike commented on #1202
Hi❗
@jywarren with your go ahead, I'll get to work on this issue immediately

[2022-10-20 12:33] RoleyJes commented on #1086
Hi @TildaDares please can I be assigned an issue? I'm an Outreachy applicant

[2022-10-20 12:47] segun-codes commented on #1187
Okay, thanks @liliyao2022.

@jywarren, still awaiting your comment on this issue. Thank you.

[2022-10-20 12:52] segun-codes commented on #1183
@TildaDares, @jywarren's suggestion has been followed and the issue closed out with the associated PR merged. So there are still 4 similar open issues i.e., #1182 to #1185. Can you assign those now? Is there something you will like me to do to make this easy for anyone who wants to try them out?

[2022-10-20 13:00] Oluwaseun241 commented on #1188
I already made a pull request

[2022-10-20 13:08] TildaDares commented on #1187
Hi @segun-codes, can you tell us a bit more about how you plan to validate the url?  Do you plan to use regex? Thank you!

[2022-10-20 13:10] TildaDares commented on #1188
Hi @Chinazaekpere-Ike, this is a very good suggestion but this case doesn’t really need backticks since we aren’t making use of string interpolation. Thanks!

[2022-10-20 13:12] TildaDares commented on #1183
Hi @segun-codes, you can ahead and rework these issues to FTOs. Thank you!

[2022-10-20 13:17] leumasxxx opened #1204 "Changing single line comments to multiple lines comment (target multiple lines)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-20 13:32] RoleyJes commented on #1086
Thank you!

[2022-10-20 13:34] leumasxxx commented on #1204
@jywarren @TildaDares   I stumbled on this while going through https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/mapmixins/DoubleClickZoom.js file and I noticed that we can modify the comment made from line 65 to 67, Instead of commenting each line we can target all three lines which makes the code look more ethical and i also think it's a good first timer issue

[2022-10-20 14:10] Tammy-Ajoko opened #1205 "Transfer js code in archive.html into separate .js file"
**Description**:
Addressing the idea in #1181, I also updated archive.html by transfering the javascript code to a separate javascript folder to make the code easily readable and maintainable.

[2022-10-20 17:03] Oluwaseun241 commented on #1204
Can I claim the issue??

[2022-10-20 17:58] TildaDares commented on #1204
Hi @leumasxxx, thank you for opening this issue. Looks great!

[2022-10-20 17:58] TildaDares commented on #1204
Hi @Oluwaseun241, please go ahead. Thank you!!

[2022-10-20 18:07] Oluwaseun241 commented on #1204
Done

[2022-10-20 18:40] leumasxxx commented on #1204
you're welcome @TildaDares

[2022-10-20 19:51] julianavmgiusti commented on #981
@TildaDares I'm trying to move forward with the contribution but I'm not getting any responses. Can you please guide me on the next steps?

[2022-10-20 20:14] TildaDares commented on #981
Hi @julianavmgiusti, you can start by adding a screenshot of the bug reproduction. After reproducing the bug, we’ll move forward from there.

[2022-10-20 20:16] julianavmgiusti commented on #981
Oh, great, so I can work on this. Great, thak you so much.

[2022-10-20 22:11] Chinazaekpere-Ike commented on #1188
Okay @TildaDares You make a valid point.

Closing this issue now.

[2022-10-20 22:11] #1188 closed

[2022-10-20 22:36] Jolzyfx commented on #998
@jywarren please can i be assigned this issue

[2022-10-21 05:46] segun-codes commented on #1183
Hi @TildaDares, okay, I'm on it. Many thanks.

[2022-10-21 06:19] TildaDares commented on #1205
Hi @Tammy-Ajoko, this issue is a duplicate of #1182. Please update your PR description to point to that issue and not this one. Thank you!

[2022-10-21 06:19] #1205 closed

[2022-10-21 06:56] liliyao2022 commented on #1200
Yes, It would be great.

[2022-10-21 07:25] segun-codes commented on #1184
Hi @TildaDares, based on your advice, I have now reformed this issue into a first-timers-only. You may want to apply the FTO label on it. Many thanks.

[2022-10-21 08:06] segun-codes commented on #1185
Hi @TildaDares, based on your advice, I have now reworked this issue into a first-timers-only. You may want to apply the FTO label on it. Many thanks.

[2022-10-21 09:12] Achele opened #1210 "Replace var keyword with let or const"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-21 09:18] Achele commented on #1210
@TildaDares I created this FTO for first timers who are still looking for an issue to resolve. Please do check it out.

[2022-10-21 09:32] victory-lydia commented on #1200
I think some one did a pull request  all ready

On Fri, Oct 21, 2022 at 7:56 AM Lili Yao ***@***.***> wrote:

[2022-10-21 09:47] tolubishops0 commented on #1146
I've been assigned to this issue. Working on it

[2022-10-21 09:51] segun-codes commented on #1182
Hi @TildaDares, based on your advice, I have now reworked this issue into a first-timers-only. You may want to apply the FTO label on it now. Many thanks.

[2022-10-21 10:02] segun-codes commented on #1205
Hi @Tammy-Ajoko, here's the original issue `https://github.com/publiclab/Leaflet.DistortableImage/issues/1182` now reworked into FTO but only awaiting such label. I don't think you don't need to open a new issue on same concern, all that's needed is for someone to fix this issue and then open PR afterwards at the direction of @TildaDares or @jywarren of course.

[2022-10-21 10:16] TildaDares commented on #1199
Thanks for opening this issue @liliyao2022. I’ll close this since you’ve opened another one in #1200. Thanks!

[2022-10-21 10:16] #1199 closed

[2022-10-21 10:23] TildaDares commented on #1210
Hi @Achele, thank you for opening this issue. The file specified in this issue has already been reserved for someone in this issue #1086.

Thank you!

[2022-10-21 10:23] #1210 closed

[2022-10-21 10:25] TildaDares commented on #1182
Hi @segun-codes, please add a link to the file and the name of the repo in the issue description above. This also applies to the other issues. Thank you!

[2022-10-21 10:27] #1204 closed

[2022-10-21 10:38] segun-codes commented on #1187
Hi @TildaDares,

1. Plan is to use regex to ensure the url meets certain (as your prefer) criteria (e.g., valid url, originates from archive.org, image file extension should be .png | .jpeg | .jpg etc.)
2. Then codes on lines #32 to #89 will simply be wrapped in an `if block `.
3. If the url fails validation, then the user is informed via a small notification message displayed to the user
4. Note,

[2022-10-21 10:44] segun-codes commented on #1187
Hi @TildaDares,

1. Plan is to use regex to ensure the url meets certain (as your prefer) criteria (e.g., valid url, originates from archive.org, image file extension should be `.png | .jpeg | .jpg` etc.).
2. Then codes on line numbers 32 to 89 will simply be wrapped in an `if block `.
3. If the url fails validation, then the user is informed via a small modal-based notification message.
4. Note,

[2022-10-21 10:55] TildaDares commented on #1188
Hi @Chinazaekpere-Ike, there's an issue reserved for you in #11501

[2022-10-21 11:46] TildaDares commented on #1153
Resolved in #1154. Thanks all!

[2022-10-21 11:46] #1153 closed

[2022-10-21 11:57] #1040 closed

[2022-10-21 11:58] Dalu46 commented on #1184
HI @TildaDares, can I please work on this? I haven't gotten an FTO since and I'll really love to make a contribution

[2022-10-21 12:05] #1146 closed

[2022-10-21 12:13] Tammy-Ajoko commented on #1205
@TildaDares ok thank you, I have done just that

[2022-10-21 12:13] Tammy-Ajoko commented on #1205
Oh ok, thanks @segun-codes . I didn't know that before.😊

[2022-10-21 13:45] Achele commented on #1210
Oh!  okay

[2022-10-21 13:48] segun-codes commented on #1182
Hi @TildaDares, I have done as you advised for this and the other three issues (i.e., issues #1183 to #1185). Thank you for your patience.

[2022-10-21 14:01] cesswairimu commented on #1131
Anyone looking for a second issue and has plots2 installed - this could be a good one to try out https://github.com/publiclab/plots2/issues/11528

[2022-10-21 16:05] vanithaak commented on #734
Hii @THEDARKMAN007, are you working on this ?

[2022-10-21 16:51] Dalu46 commented on #1184
Thank you @TildaDares. On it.

[2022-10-21 17:19] Emenyi95 commented on #1131
Thank you @cesswairimu let me get my hands on this

[2022-10-21 19:22] segun-codes opened #1212 "Update /examples/js/index.js with missing code"
The code `L.Control.geocoder().addTo(map);` was inadvertently left out when js code in `/examples/index.html` was transferred to `/examples/js/index.js` .  There's a need to transfer code in line 42 in the snapshot below to index.js.

![A](https://user-images.githubusercontent.com/1612359/197277934-a8609762-e088-46db-a6b8-c35f52db8719.PNG)

[2022-10-21 19:37] Oluwaseun241 commented on #1212
can i claim the issue??

[2022-10-21 19:43] IvyJeptoo commented on #1131
i'd like to claim another issue if available @cesswairimu

[2022-10-21 20:25] segun-codes commented on #1212
H @Oluwaseun241, sorry this issue is peculiar and it has a PR already.

[2022-10-21 21:16] Jennifer-tech opened #1215 "Transfer js code from pixelorigin.html into a seperate .js file"
I noticed the javaScript codes were together with the HTML codes and I also noticed the use of var keyword instead of let/const

[2022-10-21 21:17] Jennifer-tech commented on #1215
@jywarren @TildaDares @cesswairimu @PeculiarE please can you review this issue I opened

[2022-10-21 21:25] Jennifer-tech commented on #1215
I would like to work on it

[2022-10-21 21:53] TildaDares commented on #1183
Thanks for working on these issues @segun-codes!

[2022-10-21 21:53] TildaDares commented on #1183
Reserved for @Sally-n for 24 hours!

[2022-10-21 21:58] TildaDares commented on #1185
Reserved for @sharon-kathambi for 24 hours.

[2022-10-22 02:50] Sally-N commented on #1183
Thank you @TildaDares

[2022-10-22 05:20] victory-lydia opened #1217 "Adding closing </body> tag in all .html files."
**Describe the bug:**
Hi I discovered that all the .html files don't have a closing </body> tag

**Reproduce the behavior:**

1. Go to https://github.com/publiclab/Leaflet.DistortableImage
2. Check all the .html files .
3. Fix the errors.

**Browser, version, and operating system:**
 - Browser [e.g. chrome, safari] -
 - Version [e.g. 22] -
 - Platform: [e.g. iOS, windows] -

[2022-10-22 05:31] victory-lydia commented on #1217
Hi @TildaDares  Please can you review this issue and if it's ok I will like to work on it

[2022-10-22 07:56] TildaDares commented on #1217
Hi @victory-lydia, this issue is a duplicate of #1200. Let's move the discussion over there and maybe you could also create FTOs from this as it's simple enough for a first-timer to work on. Thank you!

[2022-10-22 08:30] #1050 closed

[2022-10-22 08:42] #1212 closed

[2022-10-22 08:53] wangui-wamutitu commented on #1185
Hello @TildaDares. I would love to contribute to this issue. Has anyone else claimed it?

[2022-10-22 08:55] TildaDares commented on #1185
Hi @wangui-wamutitu, this issue has been reserved. You can request to work on an FTO here https://github.com/publiclab/plots2/issues/11105

[2022-10-22 10:37] vanithaak commented on #104
Hi @jywarren , @sashadev-sky , @TildaDares  I think the file "[DistortableImage.EditToolbar.js](https://github.com/publiclab/Leaflet.DistortableImage/blob/90c977770658453d57233e1a150159cf7a38b1cb/src/edit/DistortableImage.EditToolbar.js#L14-L16)" inside edit folder isn't their anymore. Please correct me if I'm wrong. Thanks!!

[2022-10-22 14:06] segun-codes opened #1218 "Update files select.html and export.html with missing </body> tags"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-22 14:15] segun-codes commented on #1218
Hi @TildaDares, I observed that albeit similar issues #1199, #1201, #1200  have been opened but none of them indeed addressed the files `/examples/export.html` and `/examples/select.html` as can be seen from the current state of the repo and focus of discussions (mainly on file listener.html) on the said issues. So you may want to consider assigning out this FTO, many thanks!

[2022-10-22 14:26] segun-codes commented on #1187
Hi @TildaDares, so can I go ahead with a PR for this issue? Many thanks.

[2022-10-22 14:45] victory-lydia commented on #1200
@TildaDares So what do we do

[2022-10-22 14:53] TildaDares commented on #1218
Reserved for @olamideazeez

[2022-10-22 14:58] TildaDares commented on #1200
Hi @victory-lydia, @segun-codes created an FTO to include the closing body tag in the html files here #1218. You can look through the issue to make sure that all of the html file were included. Thank you!

[2022-10-22 15:11] segun-codes commented on #1183
You are most welcome @TildaDares.

[2022-10-23 10:31] marliyya commented on #1218
i would  like to try this

[2022-10-23 14:48] jywarren commented on #104
Hi, good point! Do you think the code lives here now?

https://github.com/publiclab/Leaflet.DistortableImage/blob/8b7211174c8b9607a039cf6bd9f091ec0aa4f5fc/src/edit/actions/EditAction.js#L10-L13

[2022-10-23 14:50] #1190 closed

[2022-10-23 15:07] victory-lydia commented on #981
Hi @TildaDares I don't see any other issues to work on after my FTO please can you direct me to another issue or a way forward

[2022-10-23 17:34] vanithaak commented on #104
yes, I thought so, but ...

 - I tried adding html tags inside the html key, so that I can add my bootstrap attributes - didn't work
 - tried removing "title" attribute and set bootstrap attributes for tooltip with vanilla js - didn't work

What I'm able to do is remove the value of "title" attribute when I remove the tooltip key from the code.

More HINTS ! pretty please !
@jywarren

[2022-10-23 17:45] Favour-Cay commented on #1183
i havent gotten an FTO to work on @TildaDares

[2022-10-23 17:46] Favour-Cay commented on #1182
can i be assigned one of the issues ? cos i havent been assigned an FTO yet

[2022-10-23 19:00] abba-danmusa commented on #1218
Have you tried it yet?

[2022-10-23 20:52] abba-danmusa commented on #1185
I will work on this

[2022-10-24 04:56] themacboy commented on #311
Hello !

https://youtu.be/E5hELJwruzY

[2022-10-24 05:05] themacboy opened #1231 "New Opacities Action"
Hello @jywarren!

First of all, sorry for my poor English and weak coding skills (I do it just for fun!)

I was working on a new action to set custom and variable opacity.

Please check the video for more details:

https://youtu.be/E5hELJwruzY

There are still some issues that I will discuss in the next few lines, because I will probably need the help of a more advanced developer.

You can play it

[2022-10-24 05:09] themacboy commented on #1231
I will ask for help, in two different ways:

1r. I would greatly appreciate it if a more experienced developer could check my code and see if there is a more efficient way to do this.

2nd There are some unresolved issues with the original toolbar plugin used in DistortableImage. I tried some solutions but one is not solved and the other is just a trick.

I detail them below

[2022-10-24 05:21] themacboy commented on #1231
Modifications in _createIcon, on L.EditAction.js file.

I need a way to set the background color in the opacities actions, then I added a way to pass a custom `style' attribute.

[code]

But I'm not sure if this is the best way to do it, all comments are welcome!

[2022-10-24 05:37] themacboy commented on #1231
When I have the sub-toolbar for the first time, I noticed that all the CSS styling is missing or not applied in this sub-toolbar.

Check the following image:
![imatge](https://user-images.githubusercontent.com/8063711/197453959-c22dadf5-01f6-4819-93c1-72203ff00c55.png)

To solve this problem easily, I set up a custom css "leaflet-toolbar-icon-vertical" and recoded the original "leaflet-toolbar-1".

[2022-10-24 05:48] themacboy commented on #1231
And finally a problem that I still can't solve.

This is a problem with event propagation in the toolbar.

If you click anywhere on the sub-toolbar that is outside the top toolbar (the source toolbar) and outside the image, the event goes to the map and not the action, is lost

This only happens in the sub.toolbar, not the source toolbar.

Better if you watch the following video:

![Leaflet Distor

[2022-10-24 05:59] themacboy commented on #1231
The code for the new action in the 'OpacitiesAction.js' file:

[code]

[2022-10-24 10:14] Favour-Cay commented on #1183
can i try this ?

[2022-10-24 10:21] TildaDares commented on #1183
Hi @Favour-Cay, an issue was reserved for you here https://github.com/publiclab/Leaflet.DistortableImage/issues/1160

[2022-10-24 10:57] 7malikk commented on #700
@cesswairimu @TildaDares @jywarren Can I give this shot?

[2022-10-24 12:43] cesswairimu commented on #1131
Happy new week all, we have opened the call for proposals [here](https://publiclab.org/notes/cess/10-24-2022/call-for-proposals-outreachy-winter-2022-round)

[2022-10-24 14:42] leumasxxx commented on #1131
happy new week @cesswairimu  and thank you for opening the call for proposal

[2022-10-24 22:55] Favour-Cay commented on #1218
can i try this

[2022-10-25 05:34] olamideazeez commented on #1218
working on it

[2022-10-25 06:05] #1217 closed

[2022-10-25 06:06] #1200 closed

[2022-10-25 06:07] TildaDares commented on #1185
Hi @wangui-wamutitu, please go ahead. Thank you!!

[2022-10-25 06:14] TildaDares commented on #1174
Hi @iLynette, do you need help with this? Please reach out if you do. Thanks!

[2022-10-25 06:16] TildaDares commented on #1086
Hi @victorvictoria-maker, please look for the issue reserved for you in the issue description above. Thank you!

[2022-10-25 06:32] themacboy commented on #1231
**Solved !!!**

Just added a higher z-index to the sub-toolbar actions!

Code updated and uploaded!

[2022-10-25 06:35] themacboy commented on #1231
I've made some changes to my custom code, to avoid overwriting the original Leaflet.Toolbar CSS code.

I think that's a better way to do it

[2022-10-25 06:42] themacboy commented on #311
#1231

[2022-10-25 06:55] themacboy commented on #1231
@rexagod  just saw that you worked with the subtoolbar a few years ago.

Can you take a look at my code?

Thanks in advance! ;)

[2022-10-25 08:25] sainamercy commented on #1131
Hi @cesswairimu. some internship tasks have already been worked on. Do we still include them in our proposal

[2022-10-25 11:39] Achele opened #1235 "Change nameless functions to arrow functions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-25 11:46] Achele commented on #1235
@TildaDares I created this FTO for first timers who are still looking for an issue to resolve. Please do check it out.

[2022-10-25 13:57] Oluwaseun241 commented on #1235
can i claim this issue?

[2022-10-25 14:56] Achele commented on #1235
@Oluwaseun241 you would have to wait for @TildaDares to approve and then assign it before claiming it. Thank you

[2022-10-25 17:04] TildaDares commented on #1235
Amazing work @Achele. This looks great!!

[2022-10-25 17:07] TildaDares commented on #1235
Hi @Oluwaseun241, contributors can only work on one FTO issue. Thanks!

[2022-10-25 17:07] TildaDares commented on #1235
Reserved for @Kemmie001 for 24 hours!

[2022-10-25 17:12] Achele commented on #1235
Thank you @TildaDares

[2022-10-25 17:15] TildaDares commented on #1160
Reserved for @Onyi-X for 24 hours!

[2022-10-25 19:17] AndroGenius-codes commented on #998
"Add a “drag image onto page to add” feature to the Leaflet.DistortableImage demo so people can import multiple images into maps in the demo at https://publiclab.github.io/Leaflet.DistortableImage/examples/export.html (even without saving any images)"

**possible fix here issue #1236**  @jywarren

[2022-10-25 20:11] #1202 closed

[2022-10-26 00:31] jssol commented on #1235
Hello @TildaDares, I would love to do this if @Kemmie001 is not available

[2022-10-26 00:34] jssol commented on #1185
I would love to work on this if it is still free.

[2022-10-26 00:39] jssol commented on #1174
Hello @iLynette @TildaDares, I would love to help out on this issue.

[2022-10-26 05:59] Achele opened #1239 "Change Regular functions to arrow function"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-26 06:05] Achele commented on #1239
@jywarren @TildaDares  please can you review this issue I opened

[2022-10-26 08:14] Onyi-X commented on #1160
@TildaDares I'll like to work on it

[2022-10-26 10:37] wangui-wamutitu commented on #1239
@jywarren and @TildaDares if this issue qualifies as a first-timers issue after review I would love to claim it

[2022-10-26 12:33] Favour-Cay commented on #1235
can i try this? @TildaDares

[2022-10-26 19:00] cesswairimu commented on #1131
Hi @sainamercy, you can skip those or if you have any ideas on improving the already completed tasks you can include that too.

[2022-10-26 19:09] cesswairimu commented on #700
hi @THEDARKMAN007 @7malikk this has been open for a while, maybe you can check if the bug is still there and go ahead if its still there, Thanks

[2022-10-26 19:18] abba-danmusa commented on #1239
I'll handle this issue

[2022-10-26 19:20] TildaDares commented on #1235
Hi @jssol, please go ahead. Thank you!

[2022-10-26 19:20] TildaDares commented on #1239
Hi @wangui-wamutitu, please go ahead. Thank you!

[2022-10-26 19:38] vanithaak commented on #645
Hi Jeff, I think only adding `VideoOverlay` woudn't work, we'll need videos in place of  `example.jpg` (Though I tried doing this, got errors, haha). Since we are using old version of this plugin, it's not able to identify `VideoOverlay`, this is what I understand from the errors I get 😅

[2022-10-27 03:28] liliyao2022 opened #1242 "Change Regular function to arrow function# FTO"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-27 03:31] #1242 closed

[2022-10-27 03:33] liliyao2022 commented on #1242
I'll try to make another FTO issue since this one is a demo, lol, I figured out how to make an FTO issue now!

[2022-10-27 03:37] liliyao2022 opened #1243 "Easy Tasks: Format this Issue Into a First Timers Issue#FTO"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-27 03:37] #1243 closed

[2022-10-27 03:40] liliyao2022 opened #1244 "Change regular function to arrow function"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-27 03:58] liliyao2022 opened #1245 "Change Regular functions to arrow function"
### 💡Format this Issue Into a First Timers Issue

This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-ti

[2022-10-27 03:59] #1245 closed

[2022-10-27 04:05] liliyao2022 commented on #1244
There is still something wrong, can anyone help me with it? The "DIFF" part is quite confusing. I've tried so many times, however, it doesn't show as I think it would.

[2022-10-27 05:41] sainamercy commented on #1131
Thanks @cesswairimu ❤

[2022-10-27 05:47] Achele commented on #1244
Hello @liliyao2022, to get the "DIFF" showing properly follow this steps:
step 1: delete the $DIFF

[code]
Step 2: Add your lines of code
[code]
I hope this was helpful

[2022-10-27 09:57] jssol commented on #1235
Thanks @TildaDares, I am on it!

[2022-10-27 13:32] Ashism766 commented on #1244
I want to work on this.

[2022-10-27 15:30] vanithaak opened #1250 "Add polygon to searched country/state (FTO)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-10-27 16:40] Josephsanya opened #1251 "Remove logical NOT operator where unnecessary and modify code"
Hi, this is an issue I found in the code.
The codebase is looking very old ES5 way and needs more of updating to improve the site.

I think this will help improve the map knitter site.

This issue is to fix the logical NOT operator, where it was inverted, fix double and single quotes, in the file [src/edit/actions/ExportAction.js](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src