[2014-12-12 21:59] justinmanley opened #2 "Why are the matrices doctored before and after the projective transformation?"
@anishshah101 - Values are loaded into the matrix very carefully before the transformation and then rearranged after the projective transformation - why?

Specifically, on [L109](https://github.com/publiclab/ImageDistortLeaflet/blob/17227a57c6c52b96025b018309cd9cc66bb1992e/src/config.js#L109):

[code]

and then, [a few lines down](https://github.com/publiclab/ImageDistortLeaflet/blob/17227a57c6c52

[2014-12-13 06:51] #2 closed, assigned to nobody

[2014-12-16 00:38] jywarren opened #4 "implement DistortableImage.toGeoJSON()"
Related to our intent in the MapKnitter project to implement history on a per-image basis, and "undo" functionality.

As in other Leaflet primitives: http://leafletjs.com/reference.html

[2014-12-16 03:10] jywarren opened #5 "locked markers are still draggable"
there's a bug in Leaflet that's been patched but is not yet in their stable release:

http://stackoverflow.com/questions/22671733/why-doesnt-marker-dragging-disable-work
https://github.com/Leaflet/Leaflet/commit/c6dea37d86cb5935d0f69f7e921cd40c7cd8c6fc

It means I can't disable dragging of markers after we've set a custom marker icon (oddly, but that's the bug).

See our code here: https://github.

[2014-12-16 05:22] jywarren opened #6 "Refactor image border drawing (css border is affected by image transparency)"
so we can't use opacity to make images outlined; we may have to draw a new polygon in the way Leaflet implements Polygon?

<strike>or we could ditch outlining and create a new tool like "isolate" which would hide all other images besides the one you're working on. Which may be more helpful than outline in the first place. </strike>

<strike>and hide, i guess</strike>

**Also:** a solution here may

[2014-12-16 16:54] jywarren opened #7 "tab key should cycle through images"
this may require tracking of order, or at least polling what the order is currently; which we ought to do already.

[2014-12-16 16:54] jywarren opened #8 "selecting an image shouldn't permanently affect its ordering"
we should maintain an order in $L.images, perhaps, and create an $L.impose_order() method?

[2014-12-16 17:13] #8 closed, assigned to nobody

[2014-12-18 19:05] jywarren opened #9 "implment/document onLock and onUnlock listeners"
so we can disable hotkeys when image is locked, in the mapknitter app codebase

[2014-12-18 21:56] jywarren opened #10 "check event handlers and x,y positions for drag; images lag slightly"

[2014-12-18 21:58] jywarren opened #11 "locking by default when you open a map? Or double-click to unlock?"
many people don't lock their images; this indicates a poor convention, and maps can get damaged!

Alternatively, we could have a "save" button so people have to make explicit saves? Potential data loss could then happen... :-(

[2014-12-18 22:00] jywarren opened #12 "decide whether to track img.changed which can be checked in onDeselect()"
begin tracking on enable/select, provide check property .changed on disable/deselect

this would allow an optimization for MapKnitter, so we don't send an update if nothing's changed

therefore it could be done in application code

[2014-12-18 22:04] jywarren opened #13 "img.readOnly option"
very useful for just displaying/sharing. Prob. can base on separation of interaction w/ distortion code from @manleyjster

[2014-12-18 22:17] jywarren opened #14 "some drag interactions result in unexpected deselection"

[2014-12-22 17:55] jywarren opened #16 "move code for hotkeys into /examples/hotkeys.html"
I think this is optional; hotkeys are useful for almost any application, so we can leave them in, too.

[2014-12-22 21:40] #11 closed, assigned to nobody

[2014-12-22 21:41] #7 closed, assigned to nobody

[2014-12-22 21:51] jywarren opened #17 "locking "X" icons for images"
The Xs are for a selected but not unlocked image; seems like this may have been lost or removed in recent commits, in which the only way to unlock seems to be the L hotkey.

[2014-12-22 21:52] #5 closed, assigned to nobody

[2014-12-22 21:56] #10 closed, assigned to nobody

[2014-12-22 21:56] #14 closed, assigned to nobody

[2014-12-22 21:59] jywarren opened #18 "Leaflet.Toolbar does not disappear; multiple are created"
This is tracked in https://github.com/manleyjster/Leaflet.Toolbar/issues/2 but adding here so folks are aware it's a known issue.

[2014-12-22 22:31] jywarren opened #19 "selection of an image does not deselect other images"
@manleyjster's encouraged no global listing of images in this plugin, which is reasonable; but how shall we address the user's expectation that clicking on one image deselects the rest?

This idea seems brittle: each image creates a map-level click observer that deselects self unless that click propagates down to self.

Addendum; multiple images selected at the same time makes hotkey control somew

[2014-12-22 23:03] #13 closed, assigned to nobody

[2015-01-06 18:26] #18 closed

[2015-01-06 18:27] jywarren opened #22 "choose/refine interaction to display image popup toolbar"
We need to choose the interaction which causes it to pop up and where -- i think it pops up on any mouseUp event, at the mouse location? What if we had it pop up

a) at the image centroid (or averaged center) instead,

and/or

b) only when the image is clicked once but not dragged?

[2015-01-14 16:28] jywarren commented on #22
Mainly it kind of gets in the way when trying to drag, and when double-clicking, the second click actually presses the middle toolbar item. Although in some cases, like where just a corner of the image is showing, having it appear near your mouse would be convenient, I think there are benefits to having it appear at a consistent location such as in the "center" of an image. We won't face a scenari

[2015-01-14 16:33] jywarren commented on #19
OK, I've put together a basic version of selection which makes more UI sense to me, however it still requires a click to select/enable an image before a second click/drag to actually move it. Here: https://github.com/publiclab/Leaflet.DistortableImage/pull/23

enabling/disabling works roughly as I'd imagine selection/deselection to work. This would still be distinguished from locking because you c

[2015-01-14 16:44] jywarren commented on #22
Ok, actually i figured out a more succinct way to do this that is only one line of code and just moves the toolbar up 20px. No need to calculate a different position, keeps it simple. Merged in already.

[2015-01-14 16:44] #22 closed

[2015-01-14 16:49] jywarren commented on #9
I think some version of this is baked into the enable/disable code in 0.0.5.

[2015-01-14 16:49] #9 closed

[2015-01-14 22:42] #17 closed

[2015-01-14 23:01] jywarren commented on #19
I merged in some changes which distinguish between locking etc, and although locking is not yet persistent, it is close to how MapKnitter currently works. However, I think we should consider revisiting those conventions in this version, and will open a new issue for that soon.

[2015-01-14 23:01] #19 closed

[2015-01-14 23:04] jywarren opened #25 "revisit conventions for select/lock/read only"
Things to consider:
- when to show Xs for locked state (currently selected but not editable)
- when not to show Xs ('read only' mode, to just see the map)
- interaction/interface to lock/unlock
- no toolbar for "read only" images
- locked images should still be transparent-able and outline-able

All states; selected/unselected, locked/unlocked, read only/editable

[2015-01-14 23:08] jywarren opened #26 "persist locking, invent unlocking mechanism"
images are unlocked when you re-select an image

create a simple externally accessible locking method

[2015-01-14 23:08] jywarren opened #27 "change rotate/distort icons in Toolbar when using hotkeys"
These are not updated when you use hotkeys

[2015-01-14 23:09] jywarren opened #28 "persist lock icons when not selected?"
Or what? As an option; not in "read only mode", see #25

[2015-01-14 23:10] jywarren opened #29 "multiple image selection, someday"
low priority but it'd be nice at some point

[2015-01-15 16:32] jywarren opened #30 "must click images first to select before dragging"
Preferred behavior is that you can just grab and drag images without 2 clicks.

This happens because the Draggable instantiation and initialization occurs on the same event as the selecting/enabling, and presumably _after_. Maybe some combination of firing events like .fire('mousedown') could help, but I don't understand how Leaflet's Draggable really works...

[2015-01-16 16:55] #26 closed

[2015-01-16 16:55] jywarren opened #31 "Firefox Android bugs with matrix3d CSS distorts"

[2015-01-16 17:40] jywarren opened #32 "relative iconUrl breaks depending on application setup"
iconUrl: '../src/images/close_444444_16.png',

In previous versions we had a kludgy 'imagesPath' (or something) as an option in the global $L initializer. My thought is to do that for Leaflet.DistortableImage. @manleyjster, does that sound reasonable? We'd presumably have to have it be an distortableImage.options and then also referenced in the L.EditHandle constructors.

[2015-01-16 17:44] jywarren commented on #32
Oh, an alternative could be to base64 encode the icons -- they're pretty small. I'm going to go with this.

[2015-01-16 17:47] #32 closed

[2015-01-23 16:24] jywarren opened #33 "images are briefly displayed at original dimensions/resolution at very low zoom levels"
You can reproduce in Chromium, not sure about other browsers, at http://publiclab.github.io/Leaflet.DistortableImage/examples/select.html when you zoom to see almost all the whole earth. Screenshot:

![leafletbug](https://cloud.githubusercontent.com/assets/24359/5878074/38c28cde-a2f2-11e4-8736-47b2fdc75c9a.png)

I theorize that this may be a divide by zero or a rounding/precision issue as the corn

[2015-01-23 16:26] jywarren opened #34 "initial load shows some images at original size/resolution"
(Chromium) This is corrected once you begin zooming in. This happens on some more complex maps on MapKnitter 2, screenshotted here:

![lb1](https://cloud.githubusercontent.com/assets/24359/5878128/994abb3a-a2f2-11e4-865b-ca8fb7880971.png)

Once you begin to zoom in, it resolves, and looks like this:

![lb2](https://cloud.githubusercontent.com/assets/24359/5878134/a523889c-a2f2-11e4-9ca3-3f21e8a2cf

[2015-01-23 23:33] jywarren opened #35 "_corners is nil during animateZoom just after image load"
Uncaught TypeError: Cannot read property '0' of undefined
    L.DistortableImageOverlay.L.ImageOverlay.extend._calculateProjectiveTransform
    L.DistortableImageOverlay.L.ImageOverlay.extend._animateZoom

this occurs in MapKnitter 2; will try to provide more detail, but I believe it's based on a map.fitBounds() call just after images load. This does not stop anything from loading correctly, but i

[2015-01-26 16:34] jywarren opened #36 "support additional distortion types"
https://github.com/tv/Leaflet.AffineOverlay

someday

[2015-01-27 15:04] jywarren commented on #35
This is fixed -- initialized animateZoom only after _corners is set up, in https://github.com/publiclab/Leaflet.DistortableImage/commit/43edcfbf8d67a48dc982f46a8aaa7c5183ee2795

[2015-01-27 15:04] #35 closed

[2015-01-27 15:11] jywarren commented on #31
Fixed; probably in https://github.com/publiclab/Leaflet.DistortableImage/commit/937d00855857626a894515639d3c053c7e9e2f30

[2015-01-27 15:11] #31 closed

[2015-01-27 15:12] jywarren opened #38 "get Toolbar to continue to appear on Firefox Android and Chrome Android after deselecting and re-selecting an image"
Toolbars are not showing after the first image on Firefox Android, and Chrome Android. To reproduce:
1. [open example](http://publiclab.github.io/Leaflet.DistortableImage/examples/select.html) in FF or Chrome, both on Android
2. click on an unlocked image, see Toolbar appear
3. click on the image again in a different spot, see Toolbar disappear and reappear in new mouse location (correct behavior)

[2015-01-27 15:47] jywarren opened #39 "long press (touch) to unlock, switch modes"
"contextmenu" event: http://leafletjs.com/reference.html

[2015-01-27 18:22] jywarren opened #40 "initialize _corners earlier; don't wait for images to load"
perhaps show a grey box instead of an image until it's loaded?

isn't there a way to get image dimensions or at least setup `image._corners` before image load, even provisionally, so we don't see the undistorted shape, and so that the correctly distorted shape is placed correctly at the very beginning? There must be.

[2015-01-27 20:01] jywarren commented on #38
Key observation: this only affects **unlocked** images. Check stopPropagation calls!!!

[2015-01-29 16:45] jywarren commented on #40
This is really key to some of the initialization and map bounds issues we're seeing in MapKnitter. Priority. Hope to look at it today.

[2015-01-30 16:07] #40 closed

[2015-01-30 17:04] #28 closed

[2015-01-30 17:05] jywarren commented on #34
This is resolved in https://github.com/publiclab/Leaflet.DistortableImage/commit/59c58009195f106b0c73d775c36d5431b0d9469c, happily.

[2015-01-30 17:05] #34 closed

[2015-01-30 17:06] jywarren commented on #33
This was unrelated to #40 or #34 - it still occurs.

[2015-01-30 21:07] jywarren opened #41 ""locked" Xs are draggable"
Thanks to @dbeavers for reporting.

[2015-01-30 23:19] jywarren commented on #12
This is possible in part via the 'edit' event firing; adding a listeners.html example and closing.

[2015-01-30 23:19] #12 closed

[2015-01-30 23:46] #41 closed

[2015-02-05 17:49] jywarren opened #42 "odd/wild distortions on zooming in Firefox"
sometimes only minor (~30%?) changes in corner positions, briefly during zooming, and sometimes radical distortions as corners get moved off screen during zooms. This does not happen in Safari or Chrome on Mac, but does on Firefox 35 for Mac and Ubuntu and Firefox for Android.

![screen shot 2015-02-05 at 12 43 52 pm](https://cloud.githubusercontent.com/assets/24359/6065650/012afdc2-ad35-11e4-9e30

[2015-02-05 18:02] jywarren opened #43 "single image of group fails to animate on zoom on Safari"
http://test.mapknitter.org:3000/map/bronson-canyon-in-griffith-park shows just one image "lagging" the others when zooming; it does not animate along with the others (Safari for Mac Version 6.1.5 (8537.77.4))
Note that it is not the selected image, nor does the choice of selected image affect this behavior.

![screen shot 2015-02-05 at 12 39 04 pm](https://cloud.githubusercontent.com/assets/24359/

[2015-02-07 03:23] jywarren commented on #42
Perhaps for now, we ought to disable zoom animations in FF?

[2015-02-08 16:58] jywarren commented on #42
Further exploration shows that this seems to only happen when the image is actually non-rectangularly distorted, i.e. if it's a rectangle, it animates correctly. [Try this example](http://publiclab.github.io/Leaflet.DistortableImage/examples/index.html) as-is, then move one corner and repeat zooming in/out.

The transform used in image._animateZoom is: `matrix3d(-0.23301688888890204,0,0,0,0,0.2495

[2015-02-08 17:02] jywarren commented on #42
If this is a precision issue, this post includes a discussion and possible solution for the precision issues, but I don't know if that maps to our problem; they discussed only jerkiness (aliasing). http://greensock.com/forums/topic/11115-css3-rotation-and-matrix3d-values-precision-vs-the-straight-rotatey/

[2015-02-08 17:13] jywarren commented on #42
I'm going to disable animations in FF until we resolve this issue.

[2015-02-09 05:22] btbonval commented on #42
I don't think the matrix math is the problem, since the matrix math works fine in Chrome. What I see in my screen is the bottom two points being thrown somewhere off screen while the top two points remain the same.

If the problem was a precision error, I would think you should be able to zoom out far enough that you can see the image being mapped within some error radius of the precision. If I zo

[2015-02-09 05:25] btbonval commented on #33
For me using Chrome, I only see this error while zooming is animating. Before and after the zoom animation, I don't see the image.

I think this is another issue related to transitions, possibly related to #42

[2015-02-09 05:27] btbonval commented on #33
Interestingly, #42 is a FireFox issue but I can't reproduce it in Chrome. This issue appears in Chrome, but FireFox handles the zooming just fine at all levels in this example.

[2015-02-09 05:36] btbonval commented on #33
While reviewing the link in #43, I notice a similar behavior to this issue in both FF and Chrome on Windows. Here's the link:
http://test.mapknitter.org:3000/map/bronson-canyon-in-griffith-park

I'm seeing a single image stick out when I zoom out far enough, but only during the transition animation.

Unrelated to this issue, IE on Windows totally messes up the link above.

[2015-02-23 21:59] jywarren opened #44 "show both rotate and distort buttons, and disable/grey out the one currently active"
This relates to #27; we'd then only have to change the icon (color) and not the function when switching.

[2015-03-11 20:06] Cindys-brain opened #176 "One of the uploaded pictures kept the red 'rotate' edge circles even when I was working on other pictures"
Chrome, Windows 7
![image](https://cloud.githubusercontent.com/assets/11395931/6605647/6bace80e-c829-11e4-8963-9e2d01453460.png)

It also kept the 'locked' crosses:

![image](https://cloud.githubusercontent.com/assets/11395931/6605650/7398c5e2-c829-11e4-9cef-0ac5b8dd583f.png)

Does not appear in exported map. But exported map is distorted:

![eastbourne 1](https://cloud.githubusercontent.com/asset

[2015-03-11 20:24] Cindys-brain opened #175 "Deleted image leaves 'lock' crosses at a 'phantom' scale and image does not disappear"
Chrome, Windows 7.
![image](https://cloud.githubusercontent.com/assets/11395931/6605835/e0057012-c82a-11e4-93da-c0e0b417c14e.png)

The crosses correspond to the deleted image. They appear after I try to reupload the same image or any other image.

<3

[2015-04-04 03:07] manleyjster commented on #36
A good overview of different warping algorithms:

http://www.gson.org/thesis/warping-thesis.pdf

[2015-04-14 19:05] jywarren commented on #44
to change the icon, access: `image.editing.toolbar.options.actions[1].prototype.options.toolbarIcon`

[2015-04-15 09:54] ebarry opened #272 "re-add button to "revert to original proportions""

[2015-05-18 23:34] jywarren opened #46 "display Leaflet.Toolbar on right click (contextmenu)"
This as a possible workaround related to #30 (and a reasonable expectation of user in any case) - use the Leaflet event 'contextmenu' to display Leaflet.Toolbar on right click (or long press in mobile).

Just opening for debate :-)

[2015-05-26 16:36] jywarren commented on #6
We could have an outer `div` and an inner `img`; transforms would affect the outer div, but transparency could affect the inner `img`

[2015-05-26 16:49] numeroteca commented on #6
Trying to solve it with just css made borders disappear (as you mentioned). What you propose sounds like a great idea.

[2015-06-23 00:41] wmaiouiru opened #51 "use rotate as the default starting behavior"
Is there any way to use the rotate mode as the default behavior?
I tried to set the mode to rotate on initialization but had no luck. I also tried to set the mode manually but had no luck either.

[code]

[2015-06-23 16:16] jywarren commented on #51
Hi, @wmaiouiru - there's also been a request for this in the MapKnitter repo, and we're discussing there: publiclab/mapknitter#183

Just curious - what are you using the plugin for? We're very interested in supporting its use in other projects; eager to share and support common use cases.

[2015-06-23 17:10] wmaiouiru commented on #51
@jywarren thank you for the quick reply. I am using the plugin for overlaying layers onto maps, and I found the interface quite nice.

[2015-06-23 17:31] jywarren commented on #51
Glad to hear it! We're considering making rotate/scale the default starting tool.

For your code, I believe that you may need to run your second line within a "load" callback, after the image has loaded, as in https://github.com/publiclab/mapknitter/blob/master/app/assets/javascripts/mapknitter/Map.js#L132

Then potentially call `img.fire('update');` to trigger it to update, although I forget if t

[2015-06-26 17:31] steviepubliclab opened #52 "Circles not tracking with image"
The circles that are supposed to be on the coners of my picture are not tracking with my image. I'm using Firefox with a Linux OS

![screenshot](https://cloud.githubusercontent.com/assets/7490478/8369313/170fed62-1b7d-11e5-9531-19f753a0752c.png)

[2015-07-28 20:40] jywarren opened #53 "if zoom before selecting an image in Firefox Mac, toolbar becomes unresponsive"
in FF 39.0 and Firefox 37.0.2 in http://mapknitter.org/maps/katamon-2

[2015-08-24 10:09] mattiamanzati opened #54 "Do not warn about css transform 3d on IE10"
Since IE10 supports css 3d transforms, I tried it and we should add IE10 to the is3d boolean check in the domutils

[2015-08-24 11:50] jywarren commented on #54
+1! It worked in ie 10?
On Aug 24, 2015 6:09 AM, "mattiamanzati" <notifications@github.com> wrote:

[2015-08-24 12:30] mattiamanzati commented on #54
I tried it on IE10 mobile and IE10 with emulation mode and it worked! :D

[2015-08-24 14:54] jywarren commented on #54
Awesome!
On Aug 24, 2015 8:30 AM, "mattiamanzati" <notifications@github.com> wrote:

[2015-08-28 13:01] jywarren commented on #54
Would you be able to submit a pull request of this change?

[2015-08-28 14:24] jywarren commented on #54
I believe it'd be a change in https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/util/DomUtil.js#L3 and https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/util/DomUtil.js#L28

Do you know the `L.Browser.xxxx` term for IE 10?

[2015-09-08 18:53] jywarren commented on #53
@fiestin reports a similar issue on Firefox 40.0.3 - and had reported on previous versions that restarting firefox helped (which is odd), but that no longer resolves the issue, and she reports also "unresponsive scripts and slow performance" in Firefox 40.0.3 on Mac.

However I'm not sure this is the same issue - as @fiestin says zooming doesn't work at all.

My tests had previously shown that in

[2015-09-09 07:22] fiestin commented on #53
Yes, it works if I click on an image before zooming. and I can drag the map sideways. thanks!

[2015-09-09 08:23] fiestin opened #57 "Mapknitter in Safari: stitch separates from base layer when dragging"
Safari 8.0.8
when I drag the base layer it separates from the stitched map, both stay in the same zoom level when zoom in and out. When I double click an image for the edit menu it zooms in.
Detailed description: I refresh the page and start by dragging then zoom out, double click an image on the right side of the map and a different image is clicked, the one that is to the left. I click the last

[2015-09-09 08:39] fiestin opened #58 "mapknitter in firefox slow save image"
Takes long time to show changes after refresh. If I open the map in Safari it shows the changes, while in firefox it can refresh a few time with the older version.

[2015-09-09 08:49] fiestin opened #59 "Safari: some images appear transparent of distorted"
<img width="1242" alt="screen shot 2015-09-09 at 11 41 59" src="https://cloud.githubusercontent.com/assets/4379825/9757216/d8ae86c2-56e7-11e5-91b5-f87d66d93ace.png">
I think this happens with the separation between map and base layer, when zooming in and out in particular zoom points images are distorted.

[2015-09-10 00:57] GuidoS commented on #59
Can you please include a url to check against?

Also, if the issue you are describing is about the transparent background, that is true in other browsers and I believe is correct for this project.

[2015-09-10 00:58] GuidoS commented on #58
Would love to help out on this one, can you please share reproducible steps and urls. Thanks

[2015-09-10 03:25] fiestin commented on #59
here is a URL
http://mapknitter.org/maps/katamon-2#

[2015-09-10 03:30] fiestin commented on #58
I tried it now and it worked, I changed one image and refreshed and it saved the changes. So it might be a result of slowness in my Firefox.
http://mapknitter.org/maps/katamon-2

[2015-09-10 12:50] jywarren commented on #58
If the slowness is not consistent on Mapknitter, it seems likely that there is something else going on on your computer that's unrelated. I'd like to close this unless (or until) you can demonstrate reproducible steps that have a clear link to this code and to firefox, if that's OK.

[2015-09-10 12:50] #58 closed

[2015-09-10 12:54] jywarren commented on #57
Yes, please break this out into separate issues and if you can provide screenshots that will help us understand what you're seeing. Thank you!!

[2015-12-02 16:34] maartenvandillen commented on #51
Thanks for the info, but I could only get this to work by calling the img.editing._toggleRotateDistort() function. Otherwise the handlers were not in sync with the internal mode.

[2016-02-23 03:08] imasaka1117 commented on #54
Hi
i try this issues
i get the answer
ie css 3d in leaflet L.Browser is ie3d
so anwser is L.Browser.ie3d
i let the anwser in code line 3 and line 28
thanks your code
this function is amazing

[2016-02-23 17:00] jywarren commented on #54
Hi, Imasaka -- great, `L.Browser.ie3d` - do you have this in your repository, and could you create a pull request? Thanks!

[2016-02-23 17:08] jywarren commented on #54
I did it and am closing this issue, thanks!

[2016-02-23 17:08] #54 closed

[2016-03-17 03:16] jywarren opened #61 ""ENOTFOUND Package karma-coverage not found" error on bower update"
bower karma-coverage#^0.2.7               ENOTFOUND Package karma-coverage not found

Hmm, was karma-coverage renamed?

[2016-03-20 20:22] jywarren opened #62 "addToolbarItem() to enable custom features"

[2016-04-10 16:54] jywarren opened #63 "add distorted full-res download via webgl-distort module"
Client-side (webgl) distortion for full-resolution download, as implemented in MapKnitter: https://github.com/jywarren/mapknitter/blob/43a1653b809b07838cfddf3486aa6ac46ff615ae/app/assets/javascripts/mapknitter/Map.js#L47-L86

Using https://github.com/jywarren/webgl-distort -- `npm install webgl-distort`

We should add a menu item for full-res download, that becomes a disabled spinner icon, then ba

[2016-04-21 19:05] mnorton-ffs opened #64 "Dragging is non-functional in Leaflet 1.0"
Just updated to Leaflet 1.0 to fix some issues elsewhere, and I've found that when initiating a DistortableImageOverlay now, I can still manipulate the corners of the image, but I can't drag it around anymore.

[2016-04-21 19:12] mnorton-ffs commented on #64
The implementation is pretty generic so I think it may be a compatibility issue:

`this.image = new L.DistortableImageOverlay(objectURL, {}).addTo(this.leaf);
L.DomEvent.on(self.image._image, 'load', self.image.editing.enable, self.image.editing);`

[2016-04-27 16:58] jywarren commented on #64
Thanks! Hmm, you think just the drag listener? Sorry, can you elaborate on your last comment?

Thanks for catching this!

[2016-04-27 17:02] mnorton-ffs commented on #64
So when I manipulate the EditHandles, those work just fine, but dragging the entire overlay around by click+dragging the image itself is non-functional.

[2016-04-27 18:00] jywarren commented on #64
Was the code you cited from your own usage, or from one of the examples? I'll look into whether the API for image overlays has changed; maybe we can just update our constructor to get it working in Leaflet 1.0. Thanks!

[2016-04-27 18:01] mnorton-ffs commented on #64
It's the code I'm currently using in my project, where 'this.leaf' is a Leaflet map.

[2016-04-28 20:14] jywarren commented on #64
Hi, I found that I saw the error:

    leaflet.distortableimage.js:440 Uncaught TypeError: L.DomUtil.getTranslateString is not a function

It corresponds to these two lines in the source:

1. https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/DistortableImageOverlay.js#L135
2. https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/DistortableImageOverlay.js#L162

[2016-04-29 21:06] jywarren commented on #64
The trouble with `L.DomUtil.getTranslateString` seems to be solvable, and I have that dealt with in a local branch. Now I'm seeing the issue you saw, where I can move the corners but not the image itself. I suspect it's about a change in the mouse events... our interception of that is probably not working anymore. Looking a bit deeper.

[2016-05-30 17:31] ccloquet opened #66 "constrained distorsion"
Although probably not the main point of this awesome plugin, I am sharing here how I handled constrained distorsion (eg : allowing only zoom from a center, or rectangular redimension) :

` _updateCorner: function(corner, latlng) {
    switch(this.options.disto_style)
		{
			case 'constrained':

				switch(corner)
				{
					case 0:	// leave 3 unchanged
						// adapt the lat of 1 and the lon of 2

[2016-05-31 19:17] jywarren commented on #66
Hi, awesome! if you'd like to submit this as a pull request with the
options switch, I'd love to include it as an option for other folks using
this lib.

On Mon, May 30, 2016 at 1:31 PM, Christophe Cloquet <
notifications@github.com> wrote:

[2016-06-25 07:23] Charmatzis opened #67 "conflict if I use Leaflet.DistortableImage with Leaflet.Draw"
Hi, I want to use Leaflet.DistortableImage tool with Leaflet.Draw.
 If I load first Leaflet.Draw I get an error "Polyline" is undefined.....

If I load first  Leaflet.DistortableImage it works but if I click on an image overlay the popup doesn't work and I get an error at leaflet.toolbar-src.js line 300 `L.Toolbar.prototype.onAdd.call(this, map);`  where the function "onAdd" is unidentified.

Very

[2016-08-15 17:45] jywarren commented on #67
Hi, sorry for the late response, but this could be related to the v1.0 release of Leaflet, as #64 also shows a v1.0 related issue. Can you confirm the Leaflet version is 1.0? Thanks for reporting!

[2016-09-07 06:49] Biwaa commented on #67
Hi, I do have the error also with the version 0.7.7 but using mapbox (I also tried with the mapbox standalone just to be sure that this is the good version of leaflet).
I'm trying right now to load first distortableimage and then draw just to see if it makes a difference.

[2016-09-07 08:31] Charmatzis commented on #67
Hi, the version was 0.7.7 . Sorry, I am late!!!

[2016-09-07 09:56] Biwaa commented on #67
I just tested to load draw after distorableimage and it doesn't change anything. I'll try to take a look on the code to see if I can do anything for that

[2016-09-07 14:21] jywarren commented on #67
Hmm, that would be great. The demo is running on v0.7.3, for reference. I have not had time to look at a potential port for 1.0, and it'd be good to know if we have to at least peg version to something prior to 0.7.7... appreciated!

[2016-09-07 14:23] jywarren commented on #67
Ah, but apologies, we're not saying here that it doesn't work, just that it may not be compatible with Leaflet.Draw? Thanks in any case!

[2016-09-07 14:40] Biwaa commented on #67
So, alone it is working, just that when you have both of the plugins, it does until you click on the image witch trigger the error `TypeError: L.Toolbar.prototype.onAdd is undefined`

[2016-09-07 15:15] batiste commented on #67
Here is what I found:

https://github.com/Leaflet/Leaflet.draw/blob/272ebe022553a8eaf5c536a5df01e0e539524100/src/Toolbar.js#L1

https://github.com/Leaflet/Leaflet.toolbar/blob/master/dist/leaflet.toolbar-src.js#L5

My guess is that those 2 plugins define both L.Toolbar and potentially are stepping on each other foots... Does that make sense?

[2016-09-07 15:47] jywarren commented on #67
Yes, indeed -- perhaps we can do a namespace disambiguation in one of them?
@justinmanley has worked on both this lib and Toolbar, which he's the
author of, so maybe we could request a renaming? It also seems like we
shouldn't need to overwrite L.Toolbar namespace if we have good scope
control. Maybe we need to use npm-style packaging more strictly and then we
can just assign different namespaces

[2016-09-08 08:15] batiste commented on #67
Here is my fix on Leaflet.draw, it seems to work https://github.com/Leaflet/Leaflet.draw/pull/593

[2016-09-17 02:31] justinmanley commented on #67
Yes, this is an unfortunate issue. Leaflet.draw was intended to migrate from its own custom toolbar to using Leaflet.toolbar (https://github.com/Leaflet/Leaflet.draw/pull/354), but the migration was never completed (see e.g. this issue: https://github.com/Leaflet/Leaflet.toolbar/issues/8).

@batiste - since you change in Leaflet/Leaflet.draw#593 is a breaking change, I would recommend guarding it

[2016-09-17 09:47] batiste commented on #67
@justinmanley how is my change a breaking change? Are other plugins expecting L.Toolbar to be created by Leaflet.draw?

I find this noConflict trick dirty. Who is responsible to call this noConflict method? At what point? I strongly discourage such practice as it is non obvious for the end user.

[2016-10-21 19:11] mnorton-ffs commented on #64
You submitted a PR with that fix a while ago, I was referring to the additional issue with image drag.

[2016-10-21 19:18] jywarren commented on #64
Ah, yes, you're right -- sorry, it's been a while, yikes. #65.

Can you file a question about upgrading to v1.0 and mouse events on the Leaflet repo?

And/or search through existing issues for anything like this? https://github.com/Leaflet/Leaflet/search?q=mouse&type=Issues&utf8=%E2%9C%93

[2016-10-21 19:29] mnorton-ffs commented on #64
There doesn't seem to be an issue that quite matches this one, I can file a question about it. One question I have however, since the corners are still draggable in 1.0, could it just be an issue specifically with the image being dragged?

[2016-10-21 19:31] jywarren commented on #64
Some more research: image drag handling is done here: https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/edit/DistortableImage.Edit.js#L127

Leaflet v0.7.7 Draggable class: http://leafletjs.com/reference.html#draggable
Leaflet v1.0.0 Draggable class: http://leafletjs.com/reference-1.0.0.html#draggable

[2016-10-21 19:32] jywarren commented on #64
Both inherit event handling from similar classes:

v0.7.7: Events methods: http://leafletjs.com/reference.html#events
v1.0.0: Evented: http://leafletjs.com/reference-1.0.0.html#evented

[2016-10-21 19:34] jywarren commented on #64
I wonder if it's related to "event bubbling" in that the drag is not being passed to the image, but is being "consumed" by the map itself. Could be worth asking if event bubbling has been changed.

[2016-10-21 19:37] jywarren commented on #64
it'd be good to check if this line is actually firing: https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/edit/DistortableImage.Edit.js#L58

[2016-10-21 19:37] jywarren commented on #64
Thanks!

[2016-10-21 19:39] jywarren commented on #64
Code execution never reaches https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/edit/DistortableImage.Edit.js#L58, on testing.

[2017-03-29 14:24] jywarren opened #70 "Tile cutting with Sharp"
Sharp (http://sharp.dimens.io/en/stable/) says;

Whoa. Being able to cut up distortable images would be pretty amazing.

[2017-05-26 10:46] adolmajian commented on #64
Anyone managed to solve the dragging issue yet?

[2017-08-23 10:37] viswanathamsantosh opened #72 "Doesnt work with leaflet 1.1"
This component doesnt work with leaflet 1.1. Getting errors in console.

[2017-08-23 15:22] jywarren commented on #72
What errors, can you post them? There are efforts to get this working in 1.0 which could address this in https://github.com/publiclab/Leaflet.DistortableImage/issues/64 and https://github.com/publiclab/Leaflet.DistortableImage/pull/65 -- do you have any ability to help out in making these changes? We'd dearly appreciate the assistance!

[2017-08-24 04:18] viswanathamsantosh commented on #72
PFA.
![distortimage](https://user-images.githubusercontent.com/3799600/29649394-6b076e92-88b1-11e7-8b86-a618c33249fc.png)

[2017-08-24 04:19] viswanathamsantosh commented on #72
I'm not a geek coder but i m totally up for it if i can be any help. :)

[2017-08-24 04:21] viswanathamsantosh commented on #72
I just replaced the leaflet-src.js and leaflet.css with 1.1 versions
[code]

[2017-08-24 14:29] jywarren commented on #64
Wow, i must've missed this update -- i'm going to try this directly. Hopefully it solves @viswanathamsantosh's problem in #72 as well.

[2017-08-24 14:30] jywarren commented on #72
Possible fix in #64 at the end of the comments... which would be added on top of the initial fix in #65 -- if you can test those out together, great, else I'll try to over the next hour.

[2017-08-24 14:55] jywarren opened #73 "Move Bower dependencies into NPM"
to simplify/standardize!

[2017-08-24 15:16] #64 closed

[2017-08-24 15:18] jywarren commented on #72
Hi, can you test out whether the release I just made (bumped to v0.1.0) works in Leaflet 1.1?

[2017-08-24 15:19] jywarren commented on #64
I've merged #65 -- confirmed it worked! Many thanks to everyone on this thread, esp. @adolmajian for the submitted fix. Released `v0.1.0` and pending checks if it works in Leaflet `v1.1.x` -- any help in testing that also appreciated -- in #72.

[2017-08-24 15:29] #73 closed

[2017-08-24 15:36] jywarren commented on #72
Actually confirmed it works in up to leaflet `v1.2`! Though I don't see the leaflet-toolbar anymore... so perhaps we need to open an issue over there -- https://www.npmjs.com/package/leaflet-toolbar

[2017-08-24 15:36] #72 closed

[2017-08-25 10:42] viswanathamsantosh commented on #72
Hey @jywarren, this is working with 1.1 as well. thank you. :)

[2017-08-29 06:39] rakeshtinku opened #78 "Toolbar not clickable -- needs upgrade to "leaflet-draw-toolbar" package (next steps outlined)"
In previous version of leaflet(0.7.7) toolbar is enabled when clicked on image but with the leaflet 1.2 version there are few issues. The click events are not registered in _initEvents(); , and when we click on image overlay this._showToolbar() is not invoking.

[code]

[2017-08-29 06:39] rakeshtinku commented on #78
i want to work on this can you guide me

[2017-08-29 15:12] jywarren commented on #78
Yes, I believe this is due to upstream issues with https://github.com/Leaflet/Leaflet.toolbar/ not being compatible with Leaflet `v1.x`

I'm not as familiar with that but I believe it's a simpler library than this and I've posted at least one "deprecation" error which may be related. I've documented the error i see, and I hope we can narrow down what's going wrong soon:

https://github.com/Leaflet

[2017-09-27 15:42] jywarren commented on #78
This has been fixed in the newer [leaflet-draw-toolbar](https://github.com/justinmanley/leaflet-draw-toolbar)

Usage example is here: https://github.com/justinmanley/leaflet-draw-toolbar/blob/master/examples/popup.html#L69-L71

[code]

Very similar to usage in this library: https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/edit/DistortableImage.EditToolbar.js#L95-L104

[code]

[2017-09-27 21:56] jywarren commented on #78
Actually apparently all we need is to update Leaflet.Toolbar to v0.3.x... trying in https://github.com/publiclab/Leaflet.DistortableImage/pull/79

[2017-09-27 22:47] jywarren commented on #78
OK - got some ways in refactoring, as some was required for `v0.3.0` of Leaflet.Toolbar. The latest version does not produce errors. But it also does not produce a popup.

This apparently needs further debugging! Any help appreciated.

[2017-09-27 22:49] jywarren commented on #67
OK - looks like this may be addressed in https://github.com/justinmanley/leaflet-draw-toolbar, just released.

Related, #78 highlights some issues with the new Leaflet.Toolbar, also just released. Any help there appreciated to bring this lib up to full v1.0 Leaflet compatibility.

[2017-09-27 22:51] jywarren commented on #72
Hi, one more issue required here to get full v1.1 compatibility: #78 highlights some issues with the new Leaflet.Toolbar, also just released, as the toolbar seems broken as of the v1.x compatibility fixes mentioned above.

Any help there appreciated to bring this lib up to full v1.0 Leaflet compatibility!

[2017-10-27 04:13] jywarren commented on #67
via `justinmanley`!

[2017-10-27 05:08] jywarren commented on #78
Making some good progress! Toolbar is created, but not displayed, in #79. May be that the actions are not getting added properly. Click events work, though.

[2018-01-04 21:21] #78 closed

[2018-01-04 21:21] jywarren commented on #78
Fixed in #79

[2018-01-06 16:19] jywarren opened #80 "add touch gesture support for rotating/scaling"
Using ontouch handlers --

https://stackoverflow.com/questions/13863974/rotate-element-based-on-touch-event

[2018-01-06 16:23] jywarren opened #81 "offer example using Google base layer"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2018-01-06 16:23] jywarren opened #82 "enlarge corner handles on mobile/tablet"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-01-07 22:38] jywarren opened #83 "build in full-resolution image export using webgl-distort"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-01-08 15:27] jywarren commented on #67
I believe this may be fixed as of `v1.0.0` -- can someone confirm? We're now pegged to `leaflet-toolbar` `v0.3.0` and `leaflet v1.x`.

[2018-01-08 15:28] jywarren commented on #63
Merging into better-documented #83

[2018-01-08 15:28] #63 closed

[2018-01-08 15:58] jywarren opened #84 "Image overlay ordering system"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://github.com/publiclab/plots2/labels/first-timers-only), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting

[2018-01-19 22:06] jywarren opened #85 "images distort while scaling"
via @patcoyle in https://github.com/publiclab/mapknitter/issues/195 - copying this over!

Plus LOTS of detailed info on this bug over here: https://github.com/publiclab/mapknitter/issues/153

****

See attached screenshot of in-progress map: http://mapknitter.org/maps/livermore-ca-mobius-with-8mm-lens
Image at bottom right is example where when attempting to scale, size, or rotate, the image disto

[2018-01-19 22:19] jywarren opened #86 "corner handles drift in Chrome 40 on Windows"
See:

![mapknitter bug](https://cloud.githubusercontent.com/assets/3277298/6380628/a5194030-bd00-11e4-9825-ba518efa8bea.png)

windows 7 and chrome Version
40.0.2214.115 m

[2018-02-23 19:27] jywarren opened #87 "Various possible features, to-dos, and bugfixes to be broken out"
...into separate issues

(copied in from README)

## To do:

* [x] shift-drag (scale with no rotate) doesnt work if you shift first, only if you drag first
* [ ] default to order by size -- maybe need a custom $L.customOrdering boolean?
* [plenty of other issues](https://github.com/publiclab/Leaflet.DistortableImage/issues)

## Lower priority:

- [x] decide if we need to keep updating `_bounds` -

[2018-02-23 19:28] jywarren commented on #70
We could now use Image Sequencer https://github.com/publiclab/image-sequencer/

After webgl-distort to generate the initial image, then image-sequencer to chop it up.

[2018-03-16 22:42] John905 commented on #82
@jywarren , I'll give this one a try if it's ok with you.
![iconcircle](https://user-images.githubusercontent.com/36971784/37547727-09fe94e4-2939-11e8-8a22-fdd9369ad728.png)

[2018-03-17 07:47] jywarren commented on #82
That'd be super, thank you! Do you use Leaflet DistortableImage yourself?
Just curious!

On Sat, Mar 17, 2018, 2:43 AM John905 <notifications@github.com> wrote:

[2018-03-18 04:12] John905 commented on #82
Cool – I haven’t used it before, I’ll have to play with it a bit.

From: Jeffrey Warren <notifications@github.com>
Sent: Saturday, 17 March, 2018 01:47
To: publiclab/Leaflet.DistortableImage <Leaflet.DistortableImage@noreply.github.com>
Cc: John905 <antocles@comcast.net>; Comment <comment@noreply.github.com>
Subject: Re: [publiclab/Leaflet.DistortableImage] enlarge corner handles on mobile/tablet

[2018-03-18 21:03] John905 commented on #82
Hey @jywarren , I enlarged the handles and they look ok.  I haven't done anything with the zIndexOffset because I'm not sure what to do.  Are you concerned the larger handles will cover something that wasn't covered before?  Do you want me to push what I have so you can take a look at it?

[2018-03-18 21:05] jywarren commented on #82
Sure, let's open a PR, thanks! Can you post a screenshot too?

Awesome!

On Mon, Mar 19, 2018, 1:04 AM John905 <notifications@github.com> wrote:

[2018-03-18 21:50] John905 commented on #82
![leafletlgrhandles2](https://user-images.githubusercontent.com/36971784/37571571-01d81844-2ac4-11e8-9e2f-7dd6216c2e29.jpg)
Looks like I missed the commit step earlier, but I think it's ready now.

[2018-03-19 15:21] jywarren commented on #82
Oh wow this looks great. And the "clickable" regions work normally? It was
a while ago this code was written but I thought the radius segments could
have been for positioning icons and/or defining the clickable regions. Can
you drag these when clicking on their outside edges?

Thanks!

On Sun, Mar 18, 2018, 5:51 PM John905 <notifications@github.com> wrote:

[2018-03-19 16:11] John905 commented on #82
I'll have to do some testing...

[2018-03-19 19:03] John905 commented on #82
Yes, you can click the outer edges of the circle to drag.  If you approach it from the lower left, it looks like you can click it from outside the circle, but I assume that has to do with the actual location of the mouse pointer and the appearance of the mouse icon.

[2018-03-20 14:03] jywarren commented on #82
OK, that sounds great, then! I'll merge it in. Thanks so much! We'd love your help with other issues if you're interested!

[2018-03-20 14:04] jywarren commented on #82
OK, over at #88 --

[2018-03-20 14:05] #82 closed

[2018-03-20 14:05] jywarren commented on #82
Super! 👍 👍 👍

[2018-03-20 14:06] jywarren commented on #82
For example perhaps #83 would be interesting, although a bit more complex... thanks!

[2018-03-20 17:05] John905 commented on #83
I'll give this one a try.

[2018-03-20 17:17] jywarren commented on #83
awesome, thank you!!!

On Tue, Mar 20, 2018 at 1:05 PM, John905 <notifications@github.com> wrote:

[2018-04-24 23:03] John905 commented on #83
Hey, I just got back to this yesterday and I'm having a problem with dependencies.  I went ahead and put webgl-distort in src/edit, but even then I have to use window.webgl-distort to get Grunt to pick up the reference.  Maybe one file isn't a big deal, but then there's glfx and that's quite a bit more.  Should I just force it through and see what happens or am I missing something?  package.json d

[2018-04-24 23:24] jywarren commented on #83
Hi! Hmm, could you open up a PR so I can see exactly where you're putting things? I think we could include `webgl-distort` in the HTML, then rely on it being in the global namespace... but let's see!

Thank you!!!

[2018-04-25 17:57] John905 commented on #83
Another question: should warpable.rb be included or should I being snipping it out?

[2018-04-25 18:10] jywarren commented on #83
Hmm, from which line?

[2018-04-25 18:50] John905 commented on #83
If you look at the mapknitter code it has references to warpables - those are defined in models/warpable.rb - at least that how it appears to me.  I was assuming we'd switch those for references in distortableimage.

[2018-04-25 19:19] jywarren commented on #83
aha, yes -- the "warpable" in MapKnitter parlance is just an image, indeed.

On Wed, Apr 25, 2018 at 2:50 PM, John905 <notifications@github.com> wrote:

[2018-05-03 20:12] first-timers[bot] opened #93 "Enlarge rotation handles"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-05-06 03:55] Nadjedu commented on #93
Can I work on this?

[2018-05-06 07:12] Phanx091 commented on #93
May i claim this issue?

[2018-05-06 15:02] jywarren commented on #93
Yes either of you please! This change could also be implemented on this
file, for another request for help;

https://github.com/publiclab/Leaflet.DistortableImage/blob/master/src/edit/LockHandle.js

Thanks!!!

On Sun, May 6, 2018, 3:13 AM Jason <notifications@github.com> wrote:

[2018-05-06 19:29] Nadjedu commented on #93
Can you review the pull request?

[2018-05-09 21:27] jywarren commented on #83
Hmm, can you console log out the coordinates and the pixel positions before
and after to compare ? Just to check the artithmetic. If any is zero, NaN,
things like that?

On Wed, May 9, 2018, 5:23 PM John905 <notifications@github.com> wrote:

[2018-05-09 21:28] John905 commented on #83
ok

[2018-05-09 21:33] John905 commented on #83
Before:
<img class="leaflet-image-layer leaflet-zoom-animated" src="http://localhost/images/example.jpg" alt="" style="z-index: 1; transform: translate3d(901px, 394px, 0px) matrix3d(-0.466, 0, 0, 0, 0, 0.498667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 0px 0px 0px;">

[2018-05-09 21:34] John905 commented on #83
"<img class="leaflet-image-layer leaflet-zoom-animated" src="http://localhost/images/example.jpg" alt="" style="z-index: 1; transform: translate3d(901px, 394px, 0px) matrix3d(-0.466, 0, 0, 0, 0, 0.498667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 0px 0px 0px;">"

[2018-05-09 21:34] John905 commented on #83
Grr, sorry, html:
/<img class="leaflet-image-layer leaflet-zoom-animated" src="http://localhost/images/example.jpg" alt="" style="z-index: 1; transform: translate3d(901px, 394px, 0px) matrix3d(-0.466, 0, 0, 0, 0, 0.498667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 0px 0px 0px;"/>

[2018-05-09 21:35] John905 commented on #83
img class="leaflet-image-layer leaflet-zoom-animated" src="http://localhost/images/example.jpg" alt="" style="z-index: 1; transform: translate3d(901px, 394px, 0px) matrix3d(-0.466, 0, 0, 0, 0, 0.498667, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 0px 0px 0px;"

[2018-05-09 21:46] jywarren commented on #83
Maybe double check that these values change when you distort, and you could also log out the actual `webgldistort()` command parameters to confirm they're passed along.

Looking very close! Great work here! 👍 💪

[2018-06-10 19:46] jywarren opened #98 "keyboard command to delete image"
Via @steviepubliclab --

[2018-06-10 20:19] jywarren commented on #83
Just noting relation to https://github.com/publiclab/Leaflet.DistortableImage/pull/97

[2018-06-10 20:22] jywarren opened #99 "Image toolbar not appearing intermittently on MapKnitter.org"
Sometimes, but not reproducibly that I can figure out -- the toolbar does not pop up on MapKnitter.org in Chrome on Windows, perhaps Mac.

It seems this may be because the menu appears much higher up than expected, out of the frame. It was working on the LDI demo on the same browser.

It's possible this is due to the true resolution of the image, so it gets placed much higher than expected, out of

[2018-06-10 20:27] jywarren commented on #99
could be worth testing with a big image by uploading to MapKnitter...

[2018-06-12 16:01] jywarren commented on #99
I think we need to find a map where it can happen and then try from a few different computers.

[2018-06-12 16:02] jywarren commented on #99
If people experiencing this can go to

https://mapknitter.org/maps/hallskar

And see if it still affects you

[2018-06-17 18:32] jywarren commented on #99
Indeed, to reproduce, you can upload this image to this map:

https://mapknitter.org/maps/aren-bozeman

![2018_0602_154903_034](https://user-images.githubusercontent.com/24359/41510926-38e2f99e-723b-11e8-982b-a0462fa94145.JPG)

Interestingly, existing images have a working toolbar. New images do not. So let's look at what code generates a toolbar position for a new image...

[2018-06-17 18:38] jywarren commented on #99
When manually running `map._layers[225].editing._showToolbar()` i get `Uncaught TypeError: Cannot read property 'target' of undefined`. I believe that's on this line:

https://github.com/publiclab/Leaflet.DistortableImage/blob/a98dab0ded4705cf49395094e1a140794ec692ba/src/edit/DistortableImage.Edit.js#L233

for `event.target`

[2018-06-17 18:44] jywarren commented on #99
So it's that `event` is undefined...

[2018-06-17 18:56] jywarren commented on #99
On MapKnitter, we also bind the click event on adding an image, here:

https://github.com/publiclab/mapknitter/blob/5b93f6a527db6335d7d7d6b8f71484059de0b1eb/app/assets/javascripts/mapknitter/Map.js#L118

[2018-06-17 19:27] jywarren commented on #99
I think I found it in the MapKnitter code - this line was 'mousedown' instead of 'click':

[2018-06-17 19:27] jywarren commented on #99
https://github.com/publiclab/mapknitter/blob/17e8afb667fbc88c23941e881e88ddca6c029219/app/assets/javascripts/mapknitter/Map.js#L172

[2018-06-17 19:37] jywarren commented on #99
I believe this is fixed now! Closing -- @steviepubliclab can you test?

[2018-06-17 19:37] #99 closed

[2018-07-14 07:41] meygh opened #102 "Get rotate angle of image layer"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

Hello

How do I can get / set rotation degree for an image layer.
Something like: image.getRotate() / image.setRotate(45)
I can't find anything, please help me.

Thanks

[2018-07-17 17:52] imvectech opened #103 "Mapknitter image controls"
Hi there! It would be great to have a button or something like that indicating the shorcuts to edit the uploaded images. Like distort, opacity, scale and so on. Thanks!!! ;D

[2018-07-17 19:35] jywarren commented on #103
I think it's possible we could make a kind of tooltip, like this:

https://getbootstrap.com/docs/3.3/javascript/#tooltips

![image](https://user-images.githubusercontent.com/24359/42841098-fd2d5d28-89d6-11e8-8792-08f0f808927e.png)

[2018-08-08 15:59] jywarren opened #104 "Display Bootstrap-like tooltips for menu items"
This may need to be upstream in Leaflet.Toolbar? https://github.com/leaflet/Leaflet.toolbar

R - toggle rotate/distort
L - lock
T - transparent
O - outline (pretty similar to transparent)

![image](https://user-images.githubusercontent.com/24359/43849016-5b74fbfc-9b02-11e8-81fe-0d70d51a6a8e.png)

@imvec

[2018-08-25 09:43] ChrisLowe-Takor opened #105 "(edited) Publish changes compatible with downstream React wrapper"
Hi,

Terrific mapping library guys.  I was wondering if the maintainers and contributors would mind if I publish a react wrapper for this.  Here is the repo:  https://github.com/ChrisLowe-Takor/react-leaflet-distortable-imageoverlay

It's not strictly a wrapper as I had to chop and change quiet a bit to get all the functionality online (had some major problems with the Toolbar and Translating for

[2018-08-25 14:11] jywarren commented on #105
Hi, Chris - wow, very exciting! 🎉

Of course go ahead -- I'm interested though in if you think any of your changes would be usefully submitted upstream to merge back into this library. Where is the modified copy you're working from -- is it this one?

https://github.com/ChrisLowe-Takor/react-leaflet-distortable-imageoverlay/blob/master/src/lib/leaflet-distortableimage.js

Is that the compiled vers

[2018-08-26 04:40] ChrisLowe-Takor commented on #105
Great!  Thanks a lot.  I'll publish it sometime this week and close the issue.

Yep thats the one.  The diff won't be very exciting I'm afraid.  I had to chop out the toolbar to get it compiling so it's step backwards for the upstream.  Not sure why but I just couldn't get it to play nicely with react.

One difference that you may or may not find useful is I split the rotate and scale into seperat

[2018-08-26 05:33] ChrisLowe-Takor commented on #85
I've a couple of observations on this. Using OSX and chrome I can reliably reproduce this on the [example](https://publiclab.github.io/Leaflet.DistortableImage/examples/) by:

Grabbing the top right handle and slowly dragging directly upwards you can create trapezoid distortion:

<img width="389" alt="screen shot 2018-08-26 at 12 43 19 pm" src="https://user-images.githubusercontent.com/13913685/44

[2018-08-27 13:26] jywarren commented on #105
(renamed accordingly, didn't seem worth opening a new issue)

[2018-08-27 13:39] jywarren commented on #85
This is really great research, thank you so much! I like your proposed solution of using `.toFixed()` or scaling first then rotating... worth a try for sure.

I mentioned in #105 but we might also have an options flag to switch between a separate vs. combined scale/rotate interface. This could solve the issue for lots of people and I'd happily accept a PR or work towards this goal and would love t

[2018-08-27 14:51] jywarren commented on #98
To make this easier, here is the list of key commands -- we should add one for the delete key:

https://github.com/publiclab/Leaflet.DistortableImage/blob/dc9e64cc084b67bc9ce9c9b9fa72fefe30beac00/src/edit/DistortableImage.Edit.js#L7-L14

The delete key is `46` i think!

And this is the code that drives it!

https://github.com/publiclab/Leaflet.DistortableImage/blob/dc9e64cc084b67bc9ce9c9b9fa72fefe

[2018-08-28 01:33] ChrisLowe-Takor commented on #105
Using grunt to conditionally compile is a terrific idea.  I wasn't looking forward to to manually updating my copy and it'll mean any new features I had in mind can be made here instead of downstream.

[2018-08-28 02:06] ChrisLowe-Takor opened #106 "Edge detect convolution matrix"
Adding an edge detection filter would help in lining up aerial imagery on the underlying basemap.  The algorithm doesn't look too difficult:  http://aishack.in/tutorials/image-convolution-examples/

I was thinking if the defining edges were black on transparent it would aid in seeing how well things line up.

[2018-08-28 02:17] ChrisLowe-Takor opened #107 "2D Grid image warping"
Details of image morphing here: http://davis.wpi.edu/~matt/courses/morph/2d.htm

The rationale is as follows.  Aerial imagery taken from drones or planes have a much wider field of vision compared to satellite which is effectively zero.  As such you can end up with an image that perfectly aligns at the edges but is internally inconsistent with the underlying features.  Corner distortion can only g

[2018-08-28 15:25] jywarren commented on #105
Awesome. Do you want to try opening a PR with your version of the `dist/____` file so we can see the diffs, then copy them in appropriately to the `src/` directory? Thanks Chris!

[2018-08-28 15:26] jywarren commented on #105
I'm happy to pitch in here too, thanks!

[2018-08-28 15:29] jywarren commented on #107
:-) this'd be really cool. i've wanted this for a long time! Some things to
consider:

* how would the grid distortion be stored in a serialized form? a matrix of
x,y offsets?
* any existing JS libraries to do mesh warping? (i think i've seen some,
but preference for ones which use WebGL)
* maybe interesting to use an abstraction library like
https://github.com/jywarren/webgl-distort

On Mon, Aug

[2018-08-28 15:35] jywarren commented on #106
We could potentially implement this pretty easily using Image Sequencer,
which already has an edge detection module, however it's a bit slow or
perhaps CPU intensive at the moment:

https://github.com/publiclab/image-sequencer

There's a "replaceImage" function which can simply swap in a modified
version of any image. The original could be stored and then the displayed
image replaced as in this de

[2018-09-08 01:39] SK1723 commented on #81
@jywarren can I work on this as a first time contributor?

[2018-09-08 01:51] jywarren commented on #81
Oh, that'd be great! Please open a PR and we can help you out!

On Sep 7, 2018 9:40 PM, "Sneha Kumar" <notifications@github.com> wrote:

@jywarren <https://github.com/jywarren> can I work on this as a first time
contributor?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/Leaflet.DistortableImage/issues/81#issuecom

[2018-10-01 06:33] vsk4 commented on #98
@jywarren  should I add 46 to the key map directly ? will it work ?

[2018-10-01 22:10] jywarren commented on #98
I believe it will! Would love help!

[2018-10-02 14:05] roshniRam commented on #104
@jywarren Can I work on this?

[2018-10-02 14:47] jywarren commented on #104
yes please, that would be great!

On Tue, Oct 2, 2018 at 10:06 AM Roshni Ram <notifications@github.com> wrote:

[2018-10-08 10:43] Rishabh570 commented on #98
@vsk4 Are you on it? I would like to work on it if it's not in progress...

[2018-10-09 05:46] vsk4 commented on #98
@Rishabh570  go ahead

[2018-10-21 21:49] jywarren opened #110 "Feature detection, description, and matching to assist stitching (complex)"
This demo was pretty impressive:

https://inspirit.github.io/jsfeat/sample_orb.html

![image](https://user-images.githubusercontent.com/24359/47272856-59312a00-d559-11e8-9cd7-177f43ad9f90.png)

It'd be really neat to prototype a feature where when dragging an image, any image that roughly overlaps it (say, distance to center is < NW-SE corner span of dragged image?) has this matcher run against it

[2018-10-21 21:51] jywarren commented on #110
I would guess green is a 'solid' match?

[2018-10-21 22:32] jywarren commented on #105
I'd like to take the next step here, so let's try to identify the sections of code that were changed, more discretely:

1.  the Toolbar was removed [on these lines](https://gist.github.com/jywarren/59f0cb0baec03bee99540ac2af2ecf70/revisions?diff=split#diff-d592453497ece2dffbf1a19cb06db126L549)
2. rotation/scale were [split into separate actions](https://gist.github.com/jywarren/59f0cb0baec03bee995

[2018-10-21 22:37] jywarren opened #111 "Option to suppress Toolbar"
Some downstream uses (as described in #105) don't need or want a toolbar, so we should make it suppress-able with a constructor parameter, like:

[code]

This way, we can suppress the whole `var EditOverlayAction = LeafletToolbar.ToolbarAction.extend({` section based on this constructor parameter, within the toolbar source file here:

https://github.com/publiclab/Leaflet.DistortableImage/blob/dc9e

[2018-10-21 22:38] jywarren commented on #105
Moved the second part to a stand-alone issue in #111 !

Next we can break out the "create new separate scale/rotate tools" as well.

[2018-10-21 22:46] jywarren opened #112 "Create additional separate Scale and Rotate tools for use in downstream UIs"
Projects described in #105 need separate tools for scale and rotate. We can copy out sections of the combined Scale/Rotate to make independent parts.

rotation/scale were [split into separate actions in this diff](https://gist.github.com/jywarren/59f0cb0baec03bee99540ac2af2ecf70/revisions?diff=split#diff-d592453497ece2dffbf1a19cb06db126R669) from @ChrisLowe-Takor (Also [see this line](https://gist

[2019-01-27 16:48] nhannguyen051195 opened #123 "LeafletToolbar is not defined at leaflet.distortableimage.js:549"
I am trying to use Leaftlet.Distortable image plugin but I still have problem maybe with the dependency. The way I am doing is to copy to file in dist folder without changing anything, including leaflet.distortableimage.css and leaflet.distortableimage.js, then I add them to my `index.html `file.

<html>

<head>
  <meta charset=utf-8 />
  <title>Draggable marker</title>
  <meta name='viewport' con

[2019-01-27 16:51] nhannguyen051195 commented on #123
![image](https://user-images.githubusercontent.com/38784929/51804035-62bae400-2264-11e9-8cc4-3fc6d5ac622c.png)

[2019-01-27 16:52] nhannguyen051195 commented on #123
leaflet.distortableimage.js:549 Uncaught ReferenceError: LeafletToolbar is not defined
    at leaflet.distortableimage.js:549
(anonymous) @ leaflet.distortableimage.js:549
index.html:65 Uncaught TypeError: Cannot read property 'enable' of undefined
    at index.html:65
    at index.html:66

[2019-01-28 12:06] jywarren opened #124 "need some way to pass in an fullResolutionSrc"
To finish #100, we need some way to pass in a `fullResolutionSrc` parameters
 for each image so that we can warp an original image and not the preview, for example on MapKnitter.

Let's figure out how to pass in an extra option and then use it if it exists to do the warping here. Any help appreciated!

[2019-01-28 13:39] nhannguyen051195 opened #125 "Get Bounds of image"
After modifying images' position, I would like to get new 4 coordinates of image corners after I press lock button on toolbar.
Is there anyway to do it? Any help would be appreciated!

[2019-01-28 16:52] jywarren commented on #125
Would you like them in latitude and longitude, or in pixel locations? I
guess I assume the former but just to check!

On Mon, Jan 28, 2019, 10:40 AM Nhan Nguyen <notifications@github.com wrote:

[2019-02-04 16:08] jywarren opened #126 "Planning issue for next major release of LDI"
Coming out of the broader MapKnitter upgrade project, I'm collecting a set of issues/ideas/projects which we'd like to tackle in the next big release.

## Projects

* [ ] multiple image selection #29, means to drag multiple or perform actions on image collections
* [ ] simpler menu API to add new tools (even after initialization, like `img = new L.DistortableImageOverlay(...); img.addAction();` pe

[2019-02-04 16:10] jywarren commented on #126
@gauravano @SidharthBansal  starting to build this out a good bit! These are pretty important to the overall project as they focus on the usability and debugging of the UI.

[2019-02-04 19:00] gauravano commented on #102
Hi @meygh, the issue has been updated by @jywarren. Please close the issue if the answer resolves your problem or if it's not required anymore. Thanks!

[2019-02-04 19:14] gauravano commented on #66
@jywarren if you think the above method stated by @ccloquet is apt, then we can open a separate issue for handling the case. What do you think? Thanks!

[2019-02-05 03:10] rexagod commented on #126
Interesting!! I'd like to start working on issues here!

(@jywarren Regarding #122, I was thinking we could maybe try using something like `grunt-contrib-connect` on port `9876`, since there is no listener assigned to it right now?)

[2019-02-05 23:14] gauravano commented on #59
Hi @fiestin, @GuidoS is right and the transparent background is used in the project. I checked the URL and found nothing suspicious.

@jywarren please do one more check.

I am closing this issue for now and feel free to update/reopen the issue or comment if you think the issue is misunderstood by us. Thanks!

[2019-02-05 23:19] gauravano commented on #6
@jywarren I saw that this issue is referenced in some other issues and also commits. Can you please update the issue or open a new issue if we have more work to do here with a clear goal? Thanks!

[2019-02-05 23:39] gauravano commented on #59
I ran the link using https://app.lambdatest.com/viewer/TES100961201549409707658960 to get Safari simulation and got a little suspicious on the image. Let's keep it open and wait for Jeff to confirm :confused:

[2019-02-06 16:06] jywarren commented on #84
This looks good but i'm going to rename it to be a bit narrower; i think we may still want to:

1. add docs on bringToFront and equivalent tools, like is there a `lowerOneLevel` or anything like that? We can just link to the Leaflet docs...
2. implement as in #126, `map.order_by(f())` type of ordering
3. maybe add a toolbar button or sub-menu that allows us to do something like in this screenshot:

[2019-02-06 16:18] jywarren commented on #6
I think the best approach may really be to use a Leaflet polygonal layer to draw a polygon just in front of or behind the image, and to just keep updating it as we do the image itself. This would also enable us to do other things like offset or expand it, and it also wouldn't be affected by the distortion - i.e. edges would have a fixed pixel width instead of the longer edges getting fatter.

[2019-02-06 21:40] jywarren commented on #57
Ah, i wonder if this is because in some interfaces, double click issues a Leaflet command to zoom in?

[2019-02-06 21:43] jywarren commented on #59
Hm, i'm also not sure -- let's close but if @fiestin can help us understand what's the behavior that's unexpected and what we should be looking for, we can re-open. Thanks!

[2019-02-06 21:43] #59 closed

[2019-02-06 23:19] jywarren commented on #124
Hmm, this should enable any options passed in to be attached...

https://github.com/publiclab/Leaflet.DistortableImage/blob/e34f2aa1389c7ee6b24a1649794b70924fe28b36/src/DistortableImageOverlay.js#L14

perhaps we can then access via `this.options.fullResolutionSrc`?

If so, we should try this out in #100, and write it into the docs. Perhaps we'd just need to change this line?

https://github.com/pu

[2019-02-07 00:42] jywarren commented on #124
I believe I fixed this in #100!

[2019-02-07 04:37] fiestin commented on #59
I went back to the issue and I have no recollection of the problem... Sorry.
I also went in the link and I don't see it happening. So I think it can be
closed? Thanks.

On Wed, Feb 6, 2019, 23:43 Jeffrey Warren <notifications@github.com wrote:

[2019-02-07 11:57] gauravano commented on #59
No issue @fiestin as the issue is quite old so it's fine. Although, thanks for checking :smiley: .

[2019-02-07 12:40] fiestin commented on #59
Sure :)

On Thu, Feb 7, 2019, 13:57 Gaurav Sachdeva <notifications@github.com wrote:

[2019-02-07 20:21] jywarren commented on #59
Hi Hagit!!!! <3

On Thu, Feb 7, 2019 at 7:41 AM fiestin <notifications@github.com> wrote:

[2019-02-08 15:14] fiestin commented on #59
Jeff!! Miss you <3

On Thu, Feb 7, 2019, 22:21 Jeffrey Warren <notifications@github.com wrote:

[2019-02-08 17:26] jywarren commented on #111
@gauravano @rexagod @sashadev-sky @IgorWilbert this is actually the next step towards making this more compatible with the React-based wrapper in #105. I think more broadly we should consider how to make the tools more UI independent, and offer more README guidance for that, both because all the new things we want to do (ordering, maybe ImageSequencer work) will start to outgrow the popup-style me

[2019-02-08 17:29] jywarren commented on #111
An alternative to the above syntax might be:

`toolbar: false`

or we could even pass in the toolbar as a parameter, like:

[code]

...with the current toolbar as the default if it's not set.

ideas welcome here, although probably being able to just turn off the toolbar is a good initial step.

[2019-02-08 17:29] #124 closed

[2019-02-11 06:02] sashadev-sky commented on #98
@Rishabh570 @jywarren Hi, I saw there was never a pull request for this so I went ahead and did it. Going to open a pull request in a minute but have some questions I will ask on there so any input is appreciated! Thank you

[2019-02-12 14:35] sashadev-sky commented on #111
Hi, I am writing up a proposal for this right now @jywarren

[2019-02-13 20:29] jywarren commented on #111
awesome!

On Tue, Feb 12, 2019 at 9:36 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-02-17 15:41] rexagod commented on #112
PR is halfway done, submitting one very soon.

[2019-02-17 16:54] jywarren commented on #112
Oh awesome!

On Sun, Feb 17, 2019, 7:41 AM Pranshu Srivastava <notifications@github.com
wrote:

[2019-02-18 16:51] jywarren opened #140 "abstract tools UI from tools functions to allow for alternative UIs"
We have a general need to brainstorm new UI designs for tools as more tools are added. Maybe nested menus or a modal for more tools, as the menu runs out of space?

But to explore this, I'd like to propose that we separate the tools UI from the tool functions themselves.

By abstracting the tools UI from tools functions, we'd allow for alternative tools UIs to be attached instead of default Toolba

[2019-02-18 17:10] jywarren opened #141 "simpler menu API to add new tools to toolbar, even at runtime"
As more tools are added, we might use a simpler menu API to add new tools, even after initialization, like, perhaps:

[code]

The toolbar is built using https://github.com/Leaflet/Leaflet.toolbar, so we can look into how that library works. The API reference is here: https://github.com/leaflet/Leaflet.Toolbar/wiki/API-Reference#ltoolbar2action

[2019-02-18 17:12] jywarren commented on #141
Created an issue on Leaflet.toolbar for ability to add actions at runtime!

[2019-02-18 17:14] jywarren commented on #140
An example UI could just be a different implementation of Leaflet.Toolbar that uses the Control display instead of a Popup:

![image](https://user-images.githubusercontent.com/24359/52967013-98cc1f00-335d-11e9-8f91-18929602926b.png)

https://github.com/Leaflet/Leaflet.toolbar

[2019-02-18 17:17] jywarren commented on #111
Moved the remaining portions of the abstraction changes to #140

[2019-02-18 17:27] jywarren opened #142 "Develop image geocoding/altitude module using existing example code"
We have great code to:

1. extract GPS latitude/longitude and compass orientation from image EXIF data: https://github.com/publiclab/mapknitter/blob/20d887f4f3f5cb5302dc9865efe82106650def94/app/assets/javascripts/mapknitter/Map.js#L272-L337
2. create and display an image using LeafletDistortableImage using that data: https://github.com/publiclab/mapknitter/blob/20d887f4f3f5cb5302dc9865efe82106650d

[2019-02-18 17:31] jywarren commented on #126
@rexagod @sashadev-sky I've broken out a number of these into new stand-alone issues with some code links and discussion! Would love to hear your thoughts!

[2019-02-18 17:31] #111 closed

[2019-02-18 17:34] #98 closed

[2019-02-18 17:35] jywarren commented on #98
This was completed by @sashadev-sky in https://github.com/publiclab/Leaflet.DistortableImage/pull/130 -- thank you!!! I've also opened up a set of new issues which we'd love help with 👍

[2019-02-18 17:37] jywarren commented on #105
We're halfway there - @rexagod just made it possible to suppress the toolbar in #111; discussion at https://github.com/publiclab/Leaflet.DistortableImage/pull/132. Next #112 should make separate scale and rotate tools possible.

We're also working on a more abstract means of attaching new UIs - #140 -- thanks all!

[2019-02-18 17:40] jywarren commented on #104
Hi @roshniRam are you still interested in this at all?

I think we may be able to remove the `tooltip` attribute here and just build in the Bootstrap-style tooltips into the `span`:

https://github.com/publiclab/Leaflet.DistortableImage/blob/90c977770658453d57233e1a150159cf7a38b1cb/src/edit/DistortableImage.EditToolbar.js#L14-L16

It would require calling the `tooltip` bootstrap javascript functio

[2019-02-18 17:40] jywarren commented on #104
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-02-19 11:01] rexagod commented on #110
@jywarren The [demo site](https://inspirit.github.io/jsfeat/sample_orb.html) doesn't seem to work on my local (further investigation revealed that the server returns a `404` everytime). Is there any way or maybe any other JS lib for this purpose that could maybe provide a little more insight to this which we can implement? I did consider `tracking.js` but dropped that idea after learning that it's

[2019-02-19 12:49] sashadev-sky commented on #140
I already pitched this idea to @jywarren, it implements a mixture of what he has mentioned above, but @rexagod let me know what your thoughts are on this too!. I'm excited to work on this with you!!

@jywarren I have really cleared up the implementation details at this point for the modal menu so maybe we can weigh pros and cons?

I used the Google Maps JavaScript API and the Material UI Kit libra

[2019-02-19 14:49] sashadev-sky commented on #126
@jywarren I will take on
"multiple image selection #29, means to drag multiple or perform actions on image collections" if that is okay!

[2019-02-19 14:52] sashadev-sky commented on #29
claiming this!

[2019-02-19 16:09] jywarren commented on #140
OK let's continue discussing -- but yeah, i think if we treat the current Leaflet.Toolbar lib as the "default" but allow it to be overridden by another more complex tools UI, perhaps as you describe, that'd be cool. Note that the React wrapper overrode the Toolbar, so could be a good example to work from: #105

[2019-02-19 16:10] jywarren commented on #110
Oh hmm, shoudn't it be running from the gh-pages branch of that repository? I had gotten it to work when i posted this, has any code changed?

[2019-02-19 16:39] rexagod commented on #110
[code]
- There seems to be an unhandled `PromiseException` (maybe someone in a bit of a rush forgot to catch the errors?)
- The code looks intact since '17.
- Upon serving the HTML on HTTPS I got a `WebRTL is not defined` error.

@jywarren As of now, is this running solid on your local?

[2019-02-20 20:50] rexagod commented on #126
How about displaying a modal with keymaps for all the different functions, while including the more important ones in the toolbar, or even swapping the toolbar icons with the ones that user frequents?

[2019-02-20 21:48] sashadev-sky commented on #126
I was thinking about that too! It could be one of the interfaces the developer can select for their sidebar. Also that would be cool to have it auto sort by how frequently they are used.
<img width="873" alt="screen shot 2019-02-20 at 4 46 24 pm" src="https://user-images.githubusercontent.com/41092741/53126871-1f842600-352f-11e9-8cce-ada463c39cef.png">

I thought this legends window I saw on an ex

[2019-02-21 00:28] jywarren commented on #126
Oh cool! Yes, and i think i mention the alternative Control (not popup) UI for Leaflet.toolbar in https://github.com/publiclab/Leaflet.DistortableImage/issues/140, which could help achieve something like this too!

[2019-02-21 22:15] rexagod commented on #140
![screenshot from 2019-02-22 03-44-17](https://user-images.githubusercontent.com/33557095/53205394-31abb480-3654-11e9-8b33-d7886fc8af5e.png)

@jywarren Something like this?

[2019-02-21 22:55] jywarren commented on #140
Oh that looks really nice!

[2019-02-23 01:45] rexagod commented on #123
Hey @nhannguyen051195! You need to initialize `enable` first (in the `L.DistortableImageOverlay` constructor) in order to access that on the `editing`' object. Closing this.
[code]

[2019-02-23 14:45] rexagod opened #151 "Remove duplicate "Full-resolution download""
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-23 14:49] mridulguptaa commented on #151
i would like to contribute here. This will be my first contribution. Please assign it to me

[2019-02-23 14:52] gauravano commented on #151
Go ahead @mridulguptaa!

[2019-02-23 15:10] mridulguptaa commented on #151
Pull requeset created  @gauravano
#152

[2019-02-23 22:14] Aneal-Sharma opened #153 "Want to remove Duplicate "full-resolution download" and "usage" section"

[2019-02-23 22:14] Aneal-Sharma commented on #151
I would like to contribute!

[2019-02-24 22:10] rexagod commented on #141
`_removeTool`(allows user to remove an action) was added in #155.

[2019-02-25 11:06] rexagod commented on #142
Posting this here for reference: https://www.pic2map.com/nozetk.html

[2019-02-25 13:40] rexagod commented on #142
WIP.

![screenshot from 2019-02-25 19-08-55](https://user-images.githubusercontent.com/33557095/53341228-02859380-3931-11e9-8eb1-ae0e97b02488.png)

[2019-02-25 14:13] rexagod commented on #142
Apparently, the current `example.png` has no EXIF data associated with it.

![screenshot from 2019-02-25 19-41-46](https://user-images.githubusercontent.com/33557095/53343125-96595e80-3935-11e9-9964-5c65f3cf66c1.png)

[2019-02-25 14:42] sashadev-sky commented on #29
@jywarren hey just wanted to provide a status update here! Working on this and hoping to open a pull request tonight. Thank you

[2019-02-25 16:30] sashadev-sky commented on #140
@rexagod @jywarren what are your thoughts on this outline? (I don't think I scaled it very well image the images added to be smaller than you would because everything else is smaller)
![mockup_edited-1](https://user-images.githubusercontent.com/41092741/53351882-d1d13a00-38ef-11e9-9f20-669214fe1c93.jpg)

Toolkit would be the toggleable dropdown, login and resources, etc would go under information

[2019-02-25 20:02] #105 closed

[2019-02-25 20:12] jywarren commented on #105
Hi @ChrisLowe-Takor ! Thanks to fantastic contributions by several new contributors and especially @rexagod, `v0.3.0` now allows separate Rotate and Scale tools as well as the ability to turn off the default popup toolbar. If you'd like to link your library back up by including it in your `package.json` instead of copying in the code, i think you'll be able to connect back up to our latest version

[2019-02-25 20:41] rexagod commented on #126
@jywarren :arrow_up:  Please review these whenever you have the time to. I hope the barnraising event went well, the twitterverse was full of it! :bird: :+1:

[2019-02-26 08:09] JARIS101 commented on #151
I would Love to Contribute!

[2019-02-27 23:41] jywarren commented on #140
wow this is cool. What would the different items be in the right-side column? info, images, ... ?

Can we show a few images selected in the upcoming "multiple image selection" and show how they'd appear in the sidebar?

Great work!

[2019-02-27 23:43] jywarren commented on #140
Yeah this is big enough that perhaps it belongs in its own library built on top of this one... like, Leaflet.DistortableImageToolbar or something??? Just thinking though in terms of keeping this library more universal -- and here we're talking about some big changes! What do you think?

[2019-02-27 23:49] jywarren commented on #29
Amazing!!!!

[2019-02-27 23:50] jywarren commented on #142
Ah, such a good point! I suppose we should swap it back for a .jpg so it can have exif data. Great catch!

Also now that more and more tools are being added, perhaps we should show examples of how to enable/disable the tools, in `/examples/` so as to show fewer/more.

Great work @rexagod !!!

[2019-02-28 00:09] jywarren commented on #110
Hmm. I'm not sure... it's possible i downloaded it an ran it locally back then. One clue could be the changes in WebRTC code that forced us to make changes in other repos -- like https://github.com/publiclab/infragram/issues/45 -- but it doesn't look like the same error, maybe?

I think that error with MediaStream indicates that it's trying to grab an image from the WebRTC media stream API but som

[2019-02-28 00:10] jywarren commented on #110
There've been new commits since the gh-pages was last published: https://github.com/inspirit/jsfeat/commits/master . could those fix this?

[2019-02-28 00:17] jywarren commented on #110
Aha - i think it is the same WebRTC error! See how we fixed on this line: https://github.com/publiclab/infragram/pull/46/files#diff-6e7a2e9f1b12926b7586585e4a66c837R87

`video.src` needs to become `video.srcObject`!

[2019-02-28 04:50] dkstm95 commented on #151
I would like to contribute! Please assign it to me!

[2019-02-28 18:45] jywarren commented on #151
Hi, all, this was solved in #152 - thank you @mridulguptaa ! For others, we can post some new first-timers issues soon - please keep an eye on https://code.publiclab.org/#r=all - and THANK YOU!!!

[2019-02-28 18:45] #151 closed

[2019-02-28 18:46] jywarren commented on #153
Hi! I'm sorry @Aneal-Sharma this was already solved in #152 -- but we'll try to post more first-timers issues soon! Keep an eye on https://code.publiclab.org#r=all and THANK YOU!

[2019-02-28 18:46] #153 closed

[2019-02-28 18:46] jywarren commented on #112
Solved!!!

[2019-02-28 18:46] #112 closed

[2019-02-28 19:01] jywarren opened #161 "Separate each tool into its own file, starting with "toggleExport""
Currently all the different tools live in this file:

https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/edit/DistortableImage.Edit.js

I think it makes sense to create a new folder such as:

`/src/edit/tools/`

and have each tool be a separate file like:

`/src/edit/tools/export.js`
`/src/edit/tools/showToolbar.js`

etc. However, this library is not compiled using `browserify` or

[2019-02-28 19:05] jywarren commented on #140
Also just to keep our vocabulary clear here, let's call anything within a toolbar a `tool` but the whole popup/control style thing is a `toolbar`. This issue is about abstracting tools from tool UIs (like the `toolbar` implementation) so that we can build totally new UIs or `toolbars` that can still trigger the same actions on the distortable images. I hope that makes some sense!!!

[2019-02-28 19:18] jywarren commented on #140
And to further clarify -- after my comment here: https://github.com/publiclab/Leaflet.DistortableImage/pull/147#pullrequestreview-209255378

Why don't we open a new separate issue for the UI for handling multiple images. Then we can move @sashadev-sky 's comment (https://github.com/publiclab/Leaflet.DistortableImage/issues/140#issuecomment-467079304) there, and focus on that discussion separately

[2019-03-01 08:17] sashadev-sky commented on #140
@jywarren I didn't fill out the right side because I wanted to get your initial opinion, but what I was going for would be
1) info: maybe include login, resources, there.
2) Images for uploads.
3) Then transform editing: anything that has to do with size and distorting the image, moving the image, etc.
4) Next to that photo editing features: brightness, opacity, etc.
5) Last is exports.

Okay that

[2019-03-02 22:06] #141 closed

[2019-03-04 23:58] jywarren commented on #140
Let's move to a new issue `UI for handling multiple images` if that's OK? Can you copy in all these comments because it's starting to overflow the original issue. Then we can "resolve" and minimize them here. Thanks!

Agreed, and i think we can do the most minimal implementation of this to start with. Like, we could even just have multiple selected images be highlighted first, no UI of the menu ju

[2019-03-05 15:56] jywarren commented on #126
Aww, thanks @rexagod -- i was resting so i missed this! :laugh: Will do now!

[2019-03-05 20:28] rexagod commented on #110
@jywarren We are making some progress! This took a lot more work than expected, and I still need to adjust some calibrations and thresholds (also, a [lot of reading](http://www.willowgarage.com/sites/default/files/orb_final.pdf) to do inorder to build a solid understanding of the whole jsfeat codebase, since I didn't find the docs to be that detailed tbh) and maybe add some custom util fns that su

[2019-03-05 20:52] jywarren commented on #110
This is amazing!!!! I think the initial implementation could just be drawing the lines between the two images. We can think about more complex displays later, and just get these basics right. Does that make sense? This is really fabulous!

[2019-03-06 15:11] jywarren commented on #125
Hi, all, yes, you should be able to get 4 LatLng objects (which are basically latitude longitude pairs) by querying:

[code]

I'll add this to the README too! Thanks!

[2019-03-06 15:15] jywarren commented on #125
https://github.com/publiclab/Leaflet.DistortableImage/blob/main/README.md#corners

[2019-03-06 15:15] #125 closed

[2019-03-06 15:27] gauravano commented on #53
@publiclab testing for the mention, please ignore and sorry for the inconvenience.

[2019-03-07 00:10] rexagod commented on #110
@jywarren Below is a list of features/modifications that were incorporated into this since last night.

- Completely removed all the unnecessary components (video modules, unwanted utils, etc.).
- Increased sharpness (reduced Gaussian blur) for the inset image to get more accurate results while eliminating outliers (think of this as a balance between both -- outliers and coverage).
- Calibrated th

[2019-03-07 00:46] jywarren commented on #110
Wow, this is very impressive!

Yes, that would be a fine proposal. Thank you!

This is awesome, great work!

On Wed, Mar 6, 2019 at 7:11 PM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-03-08 19:48] #83 closed

[2019-03-08 19:53] jywarren opened #164 "Script to export all images at full resolution, and create an SVG containing them"
Building on the full-resolution export completed in https://github.com/publiclab/Leaflet.DistortableImage/pull/100, we should think of a way to export all images (it might need to be one at a time or it'd overload the system?) and then combine them all into a single document in SVG format.

This would actually save space and processing power vs. combining them into a giant raster image.

We could

[2019-03-08 23:28] #84 closed

[2019-03-09 04:52] jywarren opened #165 "Add rotate gesture support for images"
Using https://zingchart.github.io/zingtouch/ for cross browser support, perhaps?

[2019-03-09 04:53] jywarren commented on #165
And for rotating groups, later, perhaps? @sashadev-sky this'll be cool!

[2019-03-10 19:04] sashadev-sky commented on #165
@jywarren yes I will add this on my PR to do list for multiple image select! I got the basic functionality working this week - so you will see a PR for that today or tomorrow.

[2019-03-11 14:58] jywarren commented on #165
oh this is so rad! Looking forward to it. Thanks!

On Sun, Mar 10, 2019 at 3:05 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-12 03:37] sashadev-sky commented on #140
@jywarren Ok I am going to add this as another todo on the multiple image select PR I have open. That way when I finish implementing functionality I will remember to open the issue. Is that ok?

[2019-03-13 14:02] jywarren opened #166 "List of small UI bugs to resolve"
Collecting some UI bugs which we should address, potentially breaking them up into sub-issues for solving one by one. If you'd like to repost one individually, please link it from here with a comment, thanks!

* [x] 2 clicks required to show toolbar (should be just one)
* [x] clicking away from an image (onto background) doesn't deselect it
* [x] placement of toolbar should be at position of mouse

[2019-03-13 21:01] steviepubliclab opened #168 "Locked image not staying locked"
### What happened just before the problem occurred
I was working on a map (the one of tidwell park in Houston) I had a couple images in place and was locking them as I went. One of my images didn't stay locked, it moved when I started on another image. It had the "x"s on the corners to show it was locked, but I was able to move it around. I can't recreate this now, but it happened! I'm on chrome.

[2019-03-13 21:14] jywarren commented on #110
Noting that this might make it simpler to decide which other DistortableImage instances to detect common points with, at least as a pattern: https://github.com/MazeMap/Leaflet.LayerGroup.Collision

[2019-03-13 21:14] jywarren commented on #165
Noting https://stackoverflow.com/questions/13863974/rotate-element-based-on-touch-event too, though zingtouch seems pretty complete 👍

[2019-03-13 21:14] jywarren commented on #80
Closing for #165

[2019-03-13 21:14] #80 closed

[2019-03-13 21:43] jywarren opened #167 "Add options setting to determine default tool on load"
Some people prefer the rotate tool instead of the distort tool as the default. We should let people set the default in the constructor, and document it in the README.

Any help appreciated!

[2019-03-14 16:30] #142 closed

[2019-03-14 23:19] jywarren commented on #140
I think #147 completes some significant portion of this, which is great. I do want to highlight one part that isn't addressed and could be broken out into it's own issue: the idea of making it possible for the toolbar UI that contains the current rotate, distort, lock, etc tools, to be turned off and/or replaced with another toolbar-like UI entirely. We have something almost there - `suppressToolb

[2019-03-16 02:33] sashadev-sky commented on #6
@jywarren since i'm working on the UI for multiple image select #158  too i'll add this to my todo list there. I currently use a border shadow and I see you're correct that it's effected by image distortions. But if someone gets to it separately before me too that is okay!

[2019-03-16 03:59] sashadev-sky commented on #140
@jywarren I see what you are saying. Interesting! @rexagod what are your thoughts since you worked on #147

[2019-03-18 18:49] rexagod opened #170 "Modified toolbars (popup) and other (user-defined) manipulations"
Follow up on [140](https://github.com/publiclab/Leaflet.DistortableImage/issues/140#issuecomment-473101722) and [155](https://github.com/publiclab/Leaflet.DistortableImage/pull/155#discussion_r262564253).

- Allow "popup" toolbar manipulations (#155) -- can be built on top of #155
- Allow `Toolbar` "to be turned off and/or replaced with another toolbar-like UI entirely" (#140) -- can be employed u

[2019-03-18 18:51] rexagod commented on #140
@jywarren @sashadev-sky I think we can migrate this over to #170 now. Please have a look!

Thanks!

[2019-03-18 19:46] sashadev-sky commented on #170
@rexagod agreed! I have been waiting to start working on UI and functionalities for these types of things until multiple image select is working. It is now actually a working implementation if you want to fetch my PR and see how it works to help you plan. (For now is hard coded with two images but changing that hopefully today). The page is `http://127.0.0.1:60179/examples/select.html` instead of

[2019-03-19 10:15] sashadev-sky commented on #168
hey! I think my PR #158 might have solved this problem. I played around a lot with making sure locking and dragging works as it should. @jywarren do you think we should maybe close this one given I rewrote a lot of the original code already? Also confirming locking is working for me.

[2019-03-19 10:22] sashadev-sky commented on #30
@jywarren my PR #158 has resolved this issue. 🎊🎊. Let me upload a GIF here for you

[2019-03-19 10:27] sashadev-sky commented on #30
![bug3](https://user-images.githubusercontent.com/41092741/54598824-c0231400-4a0f-11e9-999c-b88ad4e900c3.gif)

Also thank so much for showing me Licecap!! It actually works. And has made my life so much easier

[2019-03-19 10:45] sashadev-sky opened #172 "Rotate and Scale Handle issues"
![bug2](https://user-images.githubusercontent.com/41092741/54599808-cadea880-4a11-11e9-90c9-762dbec4a2f3.gif)

I saw there were already some issues open with complaints about the rotate functionality acting up, but they didn't seem exactly similar to mine so I opened a new issue.

I want to fix this one myself and tackle 3 points:
- toolbar needs to hide during any transformations
- fix the formul

[2019-03-19 11:08] sashadev-sky opened #173 "Need a reset button"
Sometimes the images get way over distorted when playing around with the features, and it would be nice to have a reset button

[2019-03-19 12:03] jywarren commented on #30
Awesome!!!

On Tue, Mar 19, 2019, 6:28 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-19 15:22] sashadev-sky commented on #85
@jywarren @ChrisLowe-Takor I have been working in this library for a bit now and just wanted to give an update on this issue! I think the problem was because we were applying transformations on the images assuming they are squares, but really they don't have the same height and width (difference of around 150px). By setting `edgeMinWidth` and `edgeMinHeight` options equal to their w/h when instant

[2019-03-19 15:45] sashadev-sky commented on #166
@jywarren only one more to go here!

Please see first two below (this fixes are all in my multiple image select PR):

![bug7](https://user-images.githubusercontent.com/41092741/54620318-5ec56a00-4a3c-11e9-9963-fb526bfacd92.gif)

[2019-03-19 15:48] jywarren commented on #166
oh wow!!!!

On Tue, Mar 19, 2019 at 11:46 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-19 15:50] sashadev-sky commented on #166
@jywarren for this third point, do you think it would be better to just apply some CSS positioning (relative for images absolute for toolbars) or find another implementation? With mouse click the toolbar would end up on top of the image and whereever else

[2019-03-19 15:51] jywarren commented on #85
Amazing!!! So great!!!! 🎉🎉🎉🎉🎉

On Tue, Mar 19, 2019, 11:23 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-19 15:53] jywarren commented on #166
I think css positioning would be great. I just think there are a couple
scenarios, one where the top of the image is off screen, so it's hidden
that way, and perhaps a few other edge cases...

On Tue, Mar 19, 2019, 11:50 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-19 16:01] #173 closed

[2019-03-19 17:57] sashadev-sky commented on #166
Yeah that is the one reason I am hesitant about it, this type of implementation can get hacky but I will look into it

[2019-03-19 21:08] jywarren opened #174 "Allow images to be initialized as "selected""
We should make some function or example code so that we can initialize a map with an image already selected. This will help us solve this:

https://github.com/publiclab/mapknitter/issues/124

[2019-03-19 21:10] #175 closed

[2019-03-19 21:11] #176 closed

[2019-03-23 02:38] sashadev-sky opened #178 "event.keyCode deprecated"
according to the [MDN docs on the `keydown` event](https://developer.mozilla.org/en-US/docs/Web/Events/keydown), the `keyCode`, `charCode`, and `which` attributes have all been deprecated in favor of a `key` attribute.

There are a few places in the code where we can update this, but we would also want to update our keymaps to match.

This is the file with the key maps: https://github.com/publicla

[2019-03-23 02:39] sashadev-sky commented on #178
@jywarren do you think we should make some FTOs out of this?

[2019-03-26 15:37] kboul opened #180 "How to update the rectangular, circular or x icon location on image overlay corner programmatically once a corner is updated?"
Thank you for the nice plugin but I think it is missing a bit of documentation. To be able to use some built in methods it is necessary to dig up the code a bit.

I would like to ask how to update programmatically the images' location. I am using **_updateCorner(number, coordinates)** to update the corners on the fly but I would like to do the same for the image. Is it possible?

Moreover, I would

[2019-03-27 12:12] sashadev-sky commented on #164
@jywarren yeah I would love to work on this one! Should I get started here (serverless export) instead of mapknitter?

[2019-03-28 04:32] sashadev-sky commented on #140
wasn't sure where to put this but just saw this on a page on the Mapbox site and thought it was nice for future UI inspiration:

![dataset-editor](https://user-images.githubusercontent.com/41092741/55130302-be80dc80-50f0-11e9-9ced-9710ed3aa00d.png)

On the right it looks like there is a toolbar for the map as a whole, then theres an exporter UI that also implements a search functionality, then on

[2019-03-28 16:21] sashadev-sky commented on #180
Hi @kboul! I am glad to help out. I actually just finished working on a project related to your question. i will be get back to you here later today :)

[2019-03-28 16:30] sashadev-sky commented on #161
@jywarren I think that most modern rails applications use webpack and it wouldn't be difficult to set up a config file. I think we should go for the former because it is encapsulated and clear about what its point is. Would be to take this up once i get the exporter system for Mapknitter running

[2019-03-30 01:12] jywarren commented on #164
sure!!

On Wed, Mar 27, 2019 at 8:12 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-30 09:46] sashadev-sky commented on #180
@kboul `_updateCorner` does update the position of the image (overlay), corner by corner, so are you asking for something else? Please expand!
https://github.com/publiclab/Leaflet.DistortableImage/blob/66301a2a83d27db7dfbae6cb5e96b55d9eadc076/src/DistortableImageOverlay.js#L132-L135

Also feel free to give any suggestions for functionalities you would like to see in the documentation. It's a WIP.

[2019-03-30 11:27] sashadev-sky opened #182 "Update to correct class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-03-30 11:40] Priyak5 commented on #182
hey! Can I work on this issue?

[2019-03-30 11:43] sashadev-sky commented on #182
@Priyak5 Yes please do!

[2019-03-30 12:10] Priyak5 commented on #182
@sashadev-sky Thank you so much!

[2019-03-30 13:40] kboul commented on #180
I was not clear. I meant the rectangular, circular or x icons on the image overlay edges
Example:
![calling_upadateCorner()](https://user-images.githubusercontent.com/14216599/55276864-96b49300-5301-11e9-9960-a527e9e1dbdb.gif)

I found a temporary solution by calling

[code]

and then it works for some reason
Example:
![calling_upadateCorner()_with_disable()_and_enable()](https://user-images.githu

[2019-03-30 14:26] Priyak5 commented on #182
@sashadev-sky please review. Thank you.

[2019-03-30 14:37] sashadev-sky commented on #180
Right so you were just wondering if there is a method this is encapsulated into? Currently there is not because the update calls happen in other functions but in a version bump we are releasing soon there will be an `_updateCorners` method. Basically the same thing but easier to work with. In order to make the markers behave you can add another line at the end `this.fire("update")`. I typically pe

[2019-03-30 17:01] #172 closed

[2019-03-30 17:28] rexagod commented on #126
Pinging @jywarren to open this.

[2019-03-31 01:20] sashadev-sky commented on #29
@jywarren I updated this issue a little please feel free to revert it if you think it shouldn't be updated that way

[2019-03-31 01:20] sashadev-sky commented on #30
closed via #158

[2019-03-31 01:22] sashadev-sky commented on #168
closed via #158

[2019-03-31 01:22] #168 closed

[2019-03-31 03:39] sashadev-sky opened #186 "Bug: Multiple image select with boxZoom"
Currently to select multiple images, you can use `cmd + click`. There is another feature, found in the file `BoxSelectHandle.js` (https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/edit/BoxSelectHandle.js)
that overrides Leaflet's default boxZoom to allow for using `shift + drag` to select multiple images.

However, there is a bug with it so currently the event listener for this f

[2019-03-31 03:44] sashadev-sky commented on #186
@jywarren the buggy behavior I was referring to in #158

[2019-03-31 11:24] sashadev-sky commented on #123
@rexagod should we close this? Its been months

[2019-03-31 19:48] rexagod commented on #123
Sure thing @sashadev-sky! I think we should close this! :+1:

[2019-03-31 20:03] #123 closed

[2019-04-01 06:35] nielei19920921 opened #188 "NPM questions"
When I try to use 'npm i Leaflet.DistortableImage -S' to install this packet by mistake 'npm ERR!404 Not Found: Leaflet.DistortableImage@latest'.
How do I install this package with NPM?

[2019-04-01 08:26] kboul commented on #180
Amazing. Calling `this.fire("update")` after `img._updateCorner(number, newCornerCoords)` was exactly what I was looking for. Thank you.

[2019-04-01 08:27] #180 closed

[2019-04-01 09:12] nielei19920921 commented on #123
@rexagod I have the same problem.How to initialize enable?
Please give me an example. Thanks!

[2019-04-01 09:38] #188 closed

[2019-04-01 12:14] jywarren commented on #188
Sorry you had trouble, did you figure this out? I think a simple npm
install should work, I hope it eventually did?

On Mon, Apr 1, 2019, 5:39 AM Neil <notifications@github.com> wrote:

[2019-04-01 15:18] jywarren commented on #29
OK! We've ironed out the input format for both the Ruby and JS based exporters, documented here:

https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-478173823

And we'll also need some glue function to convert that into the JS-specific format here (although we can do that as a follow-up step!):

https://github.com/publiclab/image-sequencer-app/issues/6#issuecomment-478205

[2019-04-01 15:25] jywarren commented on #29
We could aim for a function that outputs the basic JSON format in https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-478173823, called `collection.getExportJson()`?

[2019-04-01 15:26] jywarren commented on #29
This would eventually be replaced/superceded by a fuller Export UI in React that @sashadev-sky has explored!

[2019-04-01 15:26] jywarren commented on #29
This is great. The new class -- was it `FeatureCollection`? -- is there an accessor function like `featureCollection.getFeatures` that would return an array we could iterate over?

[2019-04-01 15:39] jywarren commented on #180
This is really cool... is your custom class open source? We'd love to take
a look at it!

On Sat, Mar 30, 2019 at 9:41 AM Konstantinos Voulgaridis <
notifications@github.com> wrote:

[2019-04-02 08:42] kboul commented on #180
I could share it but it is under development :). Where should I do it? Here, in this post or somewhere else?

[2019-04-02 14:19] jywarren commented on #180
Sure, if you're comfortable doing so -- we would love to be aware so that
architectural decisions made here keep your coding in mind! Thanks!

On Tue, Apr 2, 2019 at 4:42 AM Konstantinos Voulgaridis <
notifications@github.com> wrote:

[2019-04-03 02:38] sashadev-sky commented on #29
Class is called `L.DistortableCollection`. The Leaflet way of doing this is `this.eachLayer(function(layer) { .... });`. Not entirely convenient so I can save create quick PR for accessor function. Going to start the project first, though. Does that work?

[2019-04-03 10:00] kboul commented on #180
[code]

[2019-04-03 23:02] sashadev-sky commented on #182
closed via #183

[2019-04-03 23:02] #182 closed

[2019-04-03 23:20] sashadev-sky opened #189 "Update tests in edit folder to correct class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-04-04 02:46] shivam15 commented on #189
I would like to take this. Please assign it to me

[2019-04-04 03:21] sashadev-sky commented on #53
@jywarren I was looking back at this issue and the latest version of Firefox Mac is now 66.0.2, where this issue does not happen. Does that mean this issue is resolved or what is convention for a scenario like this?

**see below: in both scenarios I refresh the page before anything else:**
(there is another zoom issue now with the image separating from the handles apparently that would be a separa

[2019-04-04 03:22] sashadev-sky commented on #53
@jywarren also here is the map dragged sideways:

![firefox-test3](https://user-images.githubusercontent.com/41092741/55527487-458d0200-5667-11e9-9608-7b16442fb0c7.gif)

[2019-04-04 03:31] sashadev-sky commented on #189
@shivam15 Thank you! Go for it!

[2019-04-04 03:46] sashadev-sky opened #190 "Update remaining tests to correct class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-04-04 04:12] sashadev-sky commented on #190
assigned to @shayna34!

[2019-04-04 06:56] DilanLivera commented on #189
@sashadev-sky is this still open, If it is could I take it please?

[2019-04-04 10:39] gauravano commented on #189
hey @DilanLivera, this one is claimed. But, we would love to have your help with other issues, you can check https://code.publiclab.org/#r=all for issues. In case, you don't see any unclaimed or unassigned FTO,  feel free to comment at https://github.com/publiclab/plots2/issues/4963 and we'll create a FTO for you. Thanks!

[2019-04-04 11:45] sashadev-sky commented on #27
I fixed this in #187 but I thought it might be easier to just add the gif here because it's very small:

![hotkeys-fix](https://user-images.githubusercontent.com/41092741/55553226-a0494c80-56ad-11e9-8c95-b3af292a168f.gif)

[2019-04-04 15:24] shivam15 commented on #189
@sashadev-sky created pull request

[2019-04-04 15:25] shivam15 commented on #189
if you have any more issues please assign it to me

[2019-04-04 15:49] sashadev-sky commented on #189
@shivam15 if you like working in this repo, check out the [issues page](https://github.com/publiclab/Leaflet.DistortableImage/issues) look for labels "Help Wanted". It a very cool repo to get involved in!

I cant assign you any more FTOs but you can either move on to a Help Wanted issue or create your own FTO for someone else to solve.

[2019-04-04 16:06] shivam15 commented on #186
can i try this one?

[2019-04-04 22:23] sashadev-sky commented on #186
@shivam15 Yes please!! Let me know if you have any questions because I wrote the original code for it.. just couldn't get it to work properly!

[2019-04-04 22:28] Polombo98 commented on #174
Can I try to help?

[2019-04-04 22:29] jywarren commented on #27
awesome!!!

On Thu, Apr 4, 2019 at 7:46 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-04 23:26] sashadev-sky commented on #189
closed via #192

[2019-04-04 23:26] #189 closed

[2019-04-05 02:34] shayna34 commented on #190
Thank you so much! I'll get started on it.

[2019-04-05 03:30] shayna34 commented on #190
@sashadev-sky Pull request created and ready for review.

[2019-04-05 18:40] jywarren commented on #29
Yeah, perfect!!!

[2019-04-05 19:52] jywarren opened #194 "Add documentation for img._addTool()"
After https://github.com/publiclab/Leaflet.DistortableImage/pull/149/, we now have the ability to add a new tool to the popup toolbar at runtime. The syntax is:

[code]

And a tool looks like this:

https://github.com/publiclab/Leaflet.DistortableImage/blob/0a9f23240a1703a9ee11e5ec743997faba842a1f/src/edit/DistortableImage.EditToolbar.js#L12-L25

However, in the demo, i can't seem to use `img._add

[2019-04-05 22:38] jywarren commented on #53
I think that may mean it's OK then. Want to close this?

On Wed, Apr 3, 2019 at 11:23 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-06 03:43] #53 closed

[2019-04-06 11:07] sashadev-sky opened #195 "Update L.DistortableImageOverlay tests to use class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-04-06 20:59] gauravano commented on #195
Can I work on this one? Thanks!

[2019-04-06 23:17] sashadev-sky commented on #195
@gauravano yes! Thank you!

[2019-04-07 16:46] #190 closed

[2019-04-07 17:43] sashadev-sky opened #198 "Update L.DistortableImageOverlay syntax in remaining tests"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-04-08 04:08] Priyak5 commented on #198
@sashadev-sky  heyy, Can I take this or it would be better for a new comer?
Thank you!

[2019-04-08 05:15] sashadev-sky commented on #198
@Priyak5 typically would say leave it for a newcomer but I know you were a little confused about the Git workflow the first time around so I think you can do another FTO :)

But, don’t start it yet!! I’m gonna change it up to maybe add some sort of educational git challenge. @gauravano I might message you for ideas.

I’ll ping you when it’s ready :)

[2019-04-08 23:55] sashadev-sky commented on #198
Ok @Priyak5 here are your instructions:

**Just do #1 from above first!**
- make a mistake (but one that doesn't break the tests). Perhaps  change `new L.DistortableImageOverlay` to `new L.distortableImageOverlay`.
- commit and push your changes
- you see your mistake on your remote PR, and you think oh, it's just easier to edit it remotely over here. So you click on the `files changed` tab. And y

[2019-04-09 02:20] sashadev-sky commented on #166
since I was already on mapknitter i just wanted to post documentation of the some current toolbar issues that I will be solving in a new PR (will link it back here)
1) possibility of toolbar overlapping with the handles making them impossible to grab.
2) The current implementation also relies on the image's position (which is unstable) and explains the instability in toolbar position that has been

[2019-04-09 03:41] #195 closed

[2019-04-09 06:17] Priyak5 commented on #198
@sashadev-sky Okay. On it.
Thank you!

[2019-04-10 14:31] Priyak5 commented on #198
@sashadev-sky  in step 3 it says fixing it remotely, what does it mean? When I go to file changed and fix my mistake, I have 2 options either to commit or create a new PR. What should be done after that ?
Thank you for your help!
Sorry if its a silly doubt..

[2019-04-10 14:53] sashadev-sky commented on #198
@Priyak5 no you had the right idea!! Re-open that PR! You fix the mistake remotely, and then can commit it to that branch just like if you were doing it from your terminal. After that, you just need to pull the changes back to your terminal, because your local repo doesn't know that you just made this commit. You need to send the commit to it so it's up to date, so you wont have conflicts the next

[2019-04-10 16:08] gauravano commented on #198
I surely don't know all :sweat_smile:!  I still mess up many times but yes @sashadev-sky

this is apt!

It will overwrite only if we do force push i.e., use `git push -f origin branch-name`. In normal cases(when you push using `git push origin branch-name`), you'll not be able to push the changes and will see the message asking you to pull the remote changes. So, yeah, you'll pull the changes ulti

[2019-04-10 22:12] sashadev-sky commented on #198
@gauravano I guess were all living on the edge with force pushes!

[2019-04-10 22:43] sashadev-sky commented on #27
closed via #187

[2019-04-10 22:43] #27 closed

[2019-04-10 22:44] jywarren opened #203 "Way to start a cloud-based full-res export of a DistortableCollection"
We should do this in 2 parts:

## Core `generateExportJson` function -       ☑️

`distortableCollection.generateExportJson()` would return an `export.json` from a selected image collection

The `export.json` format would follow: https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-478173823 -

`cm_per_pixel` is centimeters of real-world dimension, per pixel of image
cm can

[2019-04-11 15:17] sashadev-sky commented on #174
@Polombo98 Yes we'd love your help! Please let me know if you have any questions

[2019-04-11 17:38] rexagod commented on #194
@jywarren `img._addTool(RemoveOverlay)` or generally adding any of the "inbuilt" actions won't work because what I had in mind was adding an "extra" functionality, i.e., an **external** action that user can define in the `html` script tags and associate that with the image straightaway, and therefore, I didn't link this with any of the inbuilt actions present in `EditToolbar.js`. I never considere

[2019-04-11 17:44] rexagod commented on #178
@sashadev-sky We can surely branch out some good FTOs out of this! Please let me know if I can be of any assistance. Thank you!

[2019-04-11 17:45] rexagod commented on #174
@Polombo98 Are you still working on this?

[2019-04-11 20:41] rexagod commented on #165
@sashadev-sky Are you working on this at the moment?

[2019-04-11 20:43] rexagod commented on #164
@sashadev-sky Are you working on this (or have plans to)?

[2019-04-11 20:48] rexagod commented on #161
@jywarren Let's pin this one! That would ensure that we abide by this approach. What to you think?

[2019-04-11 21:24] rexagod commented on #102
@meygh Simple algebra here, I guess. First off, find the pivot by the intersection of both the diagonals formed by the corners (exposed). Once you have that, calculate the mid-point of any side (again, using the adjacent corners) then after rotation find the angle difference from the slopes of the initial and rotated lines. Let me know and I'll be happy to come up with a function that implements t

[2019-04-11 21:35] rexagod commented on #62
@jywarren Should we close this as I think this is addressed in #149? What do you think?

[2019-04-11 21:41] rexagod commented on #52
@steviepubliclab I'm unable to reproduce this issue on the same settings, can you please check if this issue still persists? Thanks!

[2019-04-11 21:44] rexagod commented on #46
@jywarren Should we consider this approach over the current one?

[2019-04-11 21:55] rexagod commented on #44
@jywarren Is this still under consideration? We already have a functionality that alternates between the two,  but I'd like to hear your thoughts on this. Thanks!

[2019-04-11 22:00] rexagod commented on #16
Hotkeys can be tested straightaway in the `index.html` file as of now, but we can create a `html` just for the hotkeys. What do you think?

[2019-04-11 22:01] rexagod commented on #16
It should be noted that here I'm referring to the ones inside the `DistortableImage.Edit.js` file.

[2019-04-11 22:03] rexagod commented on #4
Is this related to #169? @jywarren Can you provide some more detail on this?

[2019-04-11 22:05] rexagod commented on #6
@sashadev-sky Should we close this, then?

[2019-04-11 22:56] rexagod opened #207 "Implementing dynamic sub-menus"
Dynamic sub-menus will allow proper space expansion and allocation, and will greatly aid the toolbar UIs (especially "popup). I'll try to keep the API as much exposed and semantic as possible.

Based off @jywarren's comment [here](https://github.com/publiclab/Leaflet.DistortableImage/pull/155#issuecomment-481886381). Using the [`Leaflet.toolbar`](https://github.com/Leaflet/Leaflet.toolbar) to inco

[2019-04-12 04:28] sashadev-sky commented on #174
@rexagod lets give a few days to respond if no response by Monday one of us can just grab this!

[2019-04-12 05:01] sashadev-sky commented on #165
@rexagod Hi! So everything that you see I moved into "next up" pipeline means I intend to work on it in the next month or so. I think I marked about 5 issues in LDI with this pipeline.

@jywarren and I discussed issues I should work on and marked these. But that does not mean I am claiming them for myself! If you want to do one go ahead! Just write you're grabbing it. There's always more things to

[2019-04-12 05:04] sashadev-sky commented on #165
@rexagod Can you see my ZenHub or is that just me? For me it's a tab at the top next to pull requests. It would be cool if you used it with me! And made a column for yourself too so we can keep up to date about eachother's in progress and goals, etc. easily.

and @jywarren if you can see my Zenhub too you can make a pipeline for both rexagod and I to grab issues out of. Although there are not so m

[2019-04-12 05:05] sashadev-sky commented on #165
@rexagod also sorry I didn't review your new work today. Needed a day to rest. Just responding to things before bed. Handling it tomorrow. :)

[2019-04-12 05:11] sashadev-sky commented on #6
No I never solved this actually. I put it under the pending list in my PR. The thing is the border just experiences the same kind of stretching that the image does when you drag a corner too far in one direction. The transparency part is simple to resolve but implementing polylines that dynamically update to make sure they don't distort will be a little project.

I'm deleting my comment on here ab

[2019-04-12 05:14] sashadev-sky commented on #6
transferring my initial notes on it from the pending section of that PR:
 - Refactor image border drawing (css border is affected by image transparency) #6  -- for this thinking to maybe put all corner point markers in a feature group class together and then use distances between them to create polylines dynamically

[2019-04-12 05:17] sashadev-sky commented on #161
@rexagod pinned!

[2019-04-12 05:20] sashadev-sky commented on #178
@rexagod Yeah do you know what the new convention is exactly? I think it's `key` but I didn't do a lot of research. But this we would have to plan together how to tackle because we would have to make sure to edit the keymap appropriately and any related functions.

This is low priority but if you know how you want to move forward to make FTOs out of it, go ahead and I can follow your lead :)

[2019-04-12 05:32] sashadev-sky opened #208 "icons for Rotate and Scale for custom toolbars"
It currently does not. If not, why?

@jywarren @rexagod

==========
**UPDATE** - have decided that we will make icons for these so that a user can add them to the toolbar if they would like, but they will not be default actions in it. So before this, must first implement **custom toolbars**

[2019-04-12 12:10] Polombo98 commented on #174
I'm going to work on that on weekend

[2019-04-12 13:23] Greg-Tarr commented on #166
@sashadev-sky

Hello,

You mentioned that dragged corners are ignored by the toolbar and overlapping.

I fixed this issue: #210

It makes sure no overlapping is possible.

Thanks.

[2019-04-12 17:04] rexagod commented on #208
I guess we can include this using the `reveal` functionality, since the toolbar is already pretty packed at the moment. Let's see what @jywarren has to say on this. Thanks!

[2019-04-12 17:18] rexagod commented on #165
@sashadev-sky I've set up the ZenHub app from the GitHub marketplace and now things are just like you described them (ZenHub tab, pipelines, etc.). Regarding the issues, I agree to have a semantic distribution of them between us, although, the question now is, do I assign issues to me on my own or is @jywarren interested in doing so for the both of us? Thanks!

[2019-04-12 18:22] rexagod opened #211 "Incorporate newer `key` API method in place of the deprecated `which` method"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-04-12 18:24] rexagod commented on #211
Pinging @jywarren, @sashadev-sky, or @gauravano to mark this as an `fto`. Please refer #178 for context.

[2019-04-13 00:38] sashadev-sky commented on #211
@rexagod ok cool! Did you look up if this is the new convention for keymaps? I know I said `key` but like I said wasn't positive!! But it makes sense, right?

[2019-04-13 00:39] sashadev-sky commented on #211
making a candidate until you get back to me on that. Also did you make these changes locally and everything still worked?

[2019-04-13 00:51] sashadev-sky commented on #165
@rexagod ah so cool so you can see my pipelines and setup? can you make a pranshu column?? or rexagod whatever you want to call it 😅

[2019-04-13 00:54] sashadev-sky commented on #165
ZenHub has been a game-changer for me. I can see every issue so easily and organize them all (export, toolbar, images, etc) pipelines. Connect them to other issues and create Epics which are issues that will then be broken down on a large set of issues. And the Epic will have a progress tracker for how many of the sub issues are complete.

[2019-04-13 01:17] sashadev-sky commented on #208
@rexagod shouldn't ever keymap option also have a non keyboard option? For mobile compatibility? Like how would you access the scale handles on an iphone?

[2019-04-13 04:36] sashadev-sky commented on #38
@jywarren what tool can I use to this from a Mac?

[2019-04-13 06:36] rexagod commented on #211
@sashadev-sky I did look up the convention and [compatibility](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key#Browser_compatibility) of the `key` method and this seems to fit in. Also, I've verified this locally, you can be sure.

[2019-04-13 06:41] rexagod commented on #165
@sashadev-sky Thanks for letting me know about this, I'll make a column for myself. I guess this will definitely have some productive outcomes.

[2019-04-13 06:57] rexagod commented on #208
I see. Keeping this in mind for #207.

[2019-04-13 10:07] sashadev-sky commented on #165
@rexagod yess! I don't see any columns from you, have you tried it yet? Just want to make sure us sharing one works

[2019-04-13 14:12] rexagod commented on #165
@sashadev-sky I just tried to make one, and apparently I do not have the permissions to create a pipeline. A little help here? Thanks!

[2019-04-13 16:56] rexagod commented on #207
About time we incorporated @justinmanley's logic. Working on this as well.
***

## [Rename LeafletToolbar namespace to L.Toolbar2](https://github.com/Leaflet/Leaflet.toolbar/commit/83245b177a9671b810c4cc2155a1aa3c2ae29a22)

This matches the recommended API design described in the Leaflet plugin
guide (https://github.com/Leaflet/Leaflet/blob/master/PLUGIN-GUIDE.md).
In addition, it eliminates the n

[2019-04-13 20:01] sashadev-sky commented on #165
Oh, Jywarren has to add permissions for you to do this (don't know what level of permission this is but he knows!) @jywarren can you please add for rexagod so we can better collaborate :)

One thing about ZenHub - be careful with it - the "closed" column is not just a semantic name, moving something there will actually close the issue or PR. and each time you move pipelines it will create a notifi

[2019-04-13 21:35] jywarren commented on #165
Oh permissions in GitHub or zenhub? Cool!

On Sat, Apr 13, 2019, 3:02 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-14 02:03] sashadev-sky commented on #198
Hi, @Priyak5! just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2019-04-14 02:05] sashadev-sky commented on #165
It would be permissions for this repo in github. Not sure what you gave me but I guess if you can see which ones I have the same for rexagod? I don't believe it is a high permission level

[2019-04-14 02:27] jywarren commented on #165
Ok, done!

[2019-04-14 19:58] rexagod commented on #207
Building this with the `subToolbar` field at the core, more info [here](https://github.com/leaflet/Leaflet.Toolbar/wiki/API-Reference#toolbaractionoptions).

![submenus](https://user-images.githubusercontent.com/33557095/56098374-874a6200-5f1d-11e9-8991-cb8a062bd7f5.gif)

[2019-04-14 22:48] sashadev-sky opened #213 "`simulateCommandMousedown` testing function reusability"
Currently this function lies at the top of a specific testing file I used it in:
https://github.com/publiclab/Leaflet.DistortableImage/blob/b84229e727538e44f7e386243161b9bae379dd41/test/src/DistortableCollectionSpec.js#L1-L8

As per @rexagod's suggestion, this function could be useful for many other files and developers during testing and should be extracted a helper function, with some documentat

[2019-04-14 22:49] sashadev-sky commented on #213
@rexagod do you want to open a PR extracting it since I'm not sure the best way to go about this, and I will add on the documentation to it?

[2019-04-15 18:04] sashadev-sky opened #215 "Weekly Community Check-in #18 - Ask or Answer"
Hello Everyone!!!

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and abo

[2019-04-15 18:04] sashadev-sky commented on #215
@marieram @swiatek7 @kaunair @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

@subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19

[2019-04-15 18:05] sashadev-sky commented on #215
@shubhi2000 @Priyak5 @vaarigupta @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @jtmims @scheleon @mahmodHammad @santushk @jillpena @stoic-plus
@vaarigupta @alonpeer @madeofhuman

[2019-04-15 18:05] sashadev-sky commented on #215
@ibnjunaid @HarshKhandeparkar @aashna27 @Harshithpabbati @niravasher @mmmelissa

[2019-04-15 18:10] sashadev-sky commented on #215
I will start: What tools would a developer use to test a UI for Android from a MacOS?

[2019-04-15 18:38] ebarry commented on #215
Hi all! The final survey results are posted to the original issue which i've re-opened and pinned to the top of the PLOTS2 repo to host any discussion. I'm imagining we might chat about what we learned and reflected upon after reading it, and what ideas are occurring to us about how to be a community together? https://github.com/publiclab/plots2/issues/4614 Thanks!

[2019-04-15 18:48] cesswairimu commented on #215
Hello everyone :wave: ,

This week I am still working on mapknitter.
@sashadev-sky I normally use `browser stack` it gives you all the interfaces of different OS and various versions and different browsers, one setback is the free version has limitations on the browser versions you can use but if you wonna test using the lastest browser versions you are good.
Awesome theme.
Nice week ahead everyon

[2019-04-15 19:22] sashadev-sky commented on #215
@ebarry I put a section in the check-in regarding the discussion thread, feel free to make any edits to it!

[2019-04-15 19:23] sashadev-sky commented on #215
@cesswairimu Thank you!! I will try this out

[2019-04-15 19:47] sagarpreet-chadha commented on #215
Hi all :balloon:  ,
Great theme @sashadev-sky :+1:  :100: ,
I will be working on leaflet blurred projects along with some minor/major UI work of maps on plots2 .
The work on community survey analysis in commendable @ebarry @jywarren :raised_hands: :clap:  :medal_sports: .

Following this week's theme , i would like to ask if i can open next week's community checkin :smile:  ?
Thank you !!!

[2019-04-15 20:02] sashadev-sky commented on #211
@rexagod Looks good! Changing this to an FTO. I'll post it in the plots2 FTO page for you so people see it. Is the plan to update all of them through a bunch of FTOs?

[2019-04-15 20:25] sashadev-sky commented on #215
Yes please do! You might want to mention again here on Saturday you'll be opening it to remind everyone!

[2019-04-15 20:38] SteliosPhanartzis commented on #211
Can I claim this?

[2019-04-15 21:12] sashadev-sky commented on #211
@SteliosPhanartzis Yes all yours!

[2019-04-15 22:33] gauravano commented on #215
Hi everyone!

Great check-in Sasha!

Sorry @ebarry, wasn't able to help with survey compilation.

To everyone, please label your PR `review-me` if it's ready to review and
reviewers can add `ready` label after approving PR. My inbox is a little
wild right now, but I will be all caught-up before weekend.

Specifically in plots2, if your PR/issue is waiting sorry for delay. Feel
free to mention @rev

[2019-04-15 23:26] SteliosPhanartzis commented on #211
Was the DistortableImage.Edit.js the only file that had the which method?

[2019-04-15 23:38] sashadev-sky commented on #211
@SteliosPhanartzis yes the only one that's currently in use. Don't worry about standardizing with the rest of the repo, the FTOs are meant to be a smaller, step by step situation.

You can open a new PR once you're done with this to make more updates if you'd like!

[2019-04-16 01:48] sashadev-sky opened #218 "Add PR template to ./github"
This repo currently does not have a PR template. Lets add one.

[2019-04-16 02:34] sashadev-sky opened #219 "edgeMinWidth and edgeMinHeight properties"
This library was experiencing a few bugs before adding the `edgeMinWidth` and `edgeMinHeight` properties available to pass to an image on initialization.
- such as #172
- and #85

These limit the minimum height and width that you can scale the image down to, by passing these properties when creating the image and setting them to a number larger than the actual respective w/h of the image https://g

[2019-04-16 02:35] sashadev-sky commented on #219
@rexagod @jywarren

[2019-04-16 03:19] sashadev-sky commented on #38
The toolbar doesn't update locations based on the location of mouse click anymore, so I think this can be closed! But managing DOM events for this library has been a source of bugs to this day for sure.

Tested in Chrome on Android just in case:
![android-chrome-test](https://user-images.githubusercontent.com/41092741/56179635-73156c00-5fd4-11e9-8620-77d68dbe777b.gif)

[2019-04-16 03:22] sashadev-sky commented on #38
and firefox (note browser stack is very slow):
![android-ff-test](https://user-images.githubusercontent.com/41092741/56179845-2d0cd800-5fd5-11e9-9a62-3894af5cc825.gif)

[2019-04-16 03:23] sashadev-sky commented on #215
@cesswairimu just used browser stack here #38 worked really well thank you!!

[2019-04-16 04:23] sashadev-sky commented on #207
That link you shared is the most useful thing 👍This repo is so organized. It looks like he just renamed `LeafletToolbar.ToolbarAction` to `L.Toolbar2.Action` just for the sake of making the name shorter right?

The gif looks great so far!
@rexagod

[2019-04-16 04:37] sashadev-sky commented on #164
Plan to in the future! Working on the exporter from the mapknitter side first here: #413. If you end up wanting to work on it before I get to it that's totally fine, just mention me here to notify me

[2019-04-16 09:20] gauravano commented on #215
@kingingcole @MattMski @kaustubh-nair @igniteeng000 @shivam15 @rkpattnaik780 @manansingh96 @skilfullycurled @subhahu123

[2019-04-16 10:41] sashadev-sky commented on #174
@Polombo98 sounds good! Please just keep us updated!

[2019-04-16 14:07] flopail opened #221 "Toolbar disappears when clicking on rotate icon, then on image (in simple demo)"
... and no way to increase/reduce proportionally image size. Does something change recently in simple demo (below) ? https://publiclab.github.io/Leaflet.DistortableImage/examples/

Thanks,
:)

[2019-04-16 14:53] justinmanley commented on #207
The purpose of renaming L.Toolbar -> L.Toolbar2 was to make the library
compatible with Leaflet.draw (
https://github.com/Leaflet/Leaflet.toolbar/issues/47).

Previously, both Leaflet.draw and Leaflet.toolbar had defined L.Toolbar,
which made it impossible to use them together at head (the only way to use
them together was to use a special modified version of Leaflet.draw; see
https://github.com/L

[2019-04-16 16:17] rexagod commented on #207
Thanks for the clarification on this, @justinmanley! I do want to mention though that one of the reasons behind considering renaming this was the increasing amount docs that incorporate the `L.Toolbar2` examples instead of `LeafletToolbar`, thus causing some confusion to the newer contributors. But I want to hear out your thoughts on this, should we build on the `L.Toolbar2` for faster engagement

[2019-04-16 17:16] rexagod commented on #221
@flopail This has been fixed in #201. As for the proportional resize, we have  a "scale" function for the same, and we are working on including it in the toolbar. Thanks!

[2019-04-16 22:08] skilfullycurled commented on #215
Hey everyone,

I made my first PR!  With special thanks for the encouragement and @gauravano for doing the review.  It was a great experience and I hope to continue.  It also gave me a lot of ideas about tiny things I can add to documentation, and some other things to be discussed.  I'll be writing about them.  I'd really like to do something else this week of the same difficulty: having already w

[2019-04-17 01:47] sashadev-sky commented on #215
Hi @skillfullycurled! I’m glad you had a great experience! After completing an FTO, we encourage users to move on to a help-wanted issue.

The difference between these is that FTOs generally don’t involve any “coding” - the challenge in them is to be able to successfully make a PR following the PL workflow.

The helpwanted issues build on this skill and you do a coding task with more abstract inst

[2019-04-17 03:37] sashadev-sky commented on #207
@justinmanley It's so great to hear from you on here! We've been building on your library and I've been really curious about the person who made it! Is it possible I could get in touch with you via email or a phone call to discuss it with you? It's a truly amazing library and I would love the opportunity to talk to the creator :)

[2019-04-17 06:34] sashadev-sky commented on #221
@flopail ^ to add on I think you can access it now with the hotkey `s` but in the PR referenced above we are also fixing a bug where hitting `s` again won't toggle you out of scale mode so you'll have to hit a hotkey for another handle if you want to get out of it .. until we merge mentioned PR

[2019-04-17 06:58] gauravano commented on #215
Also @skilfullycurled, you figured out many things on your own - https://github.com/publiclab/plots2/pull/5459, which is great! , so I think you'll not require another FTO, but as Sasha mentioned, if you want to practice Git, then you can work on another one. As you did the changes from GitHub for your current PR so for next FTO, I will suggest - you should install the repo, do the changes locally

[2019-04-17 09:17] Priyak5 commented on #198
@sashadev-sky sorry for the late reply! My laptop stopped working, just got it back. Ill complete this today. Sorry again

[2019-04-17 13:16] flopail commented on #221
Thank you @rexagod and @sashadev-sky !

[2019-04-17 16:27] skilfullycurled commented on #215
Gotcha.  Sounds good.  In the future, I'd like to update Liz's tutorial ["How to make the most basic github contribution"] (https://publiclab.org/notes/liz/11-02-2016/make-the-most-basic-github-contribution) to include the review process.  I also think a link to her tutorial should be added to the ["check out our work flow"](https://github.com/publiclab/plots2/blob/master/README.md#first-time) on

[2019-04-17 16:44] MattMski commented on #215
Hello everyone,

Well first off, I want to say thank you for making my first PR experience fun, helpful, and educating. I'm taking a college class where we actually have to contribute to any open source project on GitHub, etc. I had found something but had slacked off until last week when i stumbled upon this project. And the fact that there are so many first timer issues is amazing for someone li

[2019-04-17 20:19] ebarry commented on #215
Hi all, over in https://github.com/publiclab/plots2/issues/4614, i just posted a poll to identify a good time to meet and discuss the recently posted survey results. reposting here, thanks!
https://www.when2meet.com/?7773453-c7gAs

[2019-04-17 22:05] sashadev-sky commented on #198
@Priyak5 thank you for the update! Let me know if you need anything

[2019-04-18 01:04] sashadev-sky commented on #215
@skilfullycurled I think to make edits to a PL wiki, you can only do this in the browser and you also need to have posted at least 1 wiki or research note yourself (this is to prevent spam). So you will either need to do that or collaborate with @ebarry to make the updates!

[2019-04-18 01:19] skilfullycurled commented on #215
Poor choice of words.  I was referring to the README.md on the front page (changing the link/adding text to differentiate between the terminal workflow and the browser workflow). I was also referring to the .md docs for the repo ([for example](https://github.com/publiclab/plots2/tree/master/doc)).  I always forget that they are not in the GitHub repo wiki.

It's not a well formed idea yet.  My mai

[2019-04-18 17:16] justinmanley commented on #207
Pranshu -

Leaflet.Toolbar is the namespace used in the initial version of the
Leaflet.toolbar library. That namespace conflicted with Leaflet.draw, so
the current version of Leaflet toolbar uses the L.Toolbar2 namespace
instead.

The L.Toolbar2 namespace is intended to be easier for clients to use, since
it is compatible with the versions of Leaflet.draw published on npm out of
the box.

All chan

[2019-04-18 19:48] rexagod commented on #207
Great input, Justin! This definitely cleared out my doubts on the confusion above, and regarding the missing functionality, I'll surely be creating some issues to bring them to your notice. Many thanks!

[2019-04-18 20:06] rexagod commented on #207
@sashadev-sky @jywarren I've managed to successfully incorporate the `subToolbar` functionality into the `main` branch of this repository (refer gif below), so the hard part's done with. What I want your input on is the approach on how we are going to consider "bunching" different functionalities together. Do we start off in a static fashion, hardcoding and grouping together similar actions in the

[2019-04-18 20:25] jywarren commented on #207
This is great!!!!

Let's try making a nested list just to help us brainstorm. I think we'd
probably start with a static implementation, but perhaps later refactor to
allow something like addToolGroup() and group.addTool() ?

For the list, what do you think of something like:

[
  'rotate/distort',
  'outline',
  'export',
  'delete',
  '...': [
    'help',
    'geolocate',
    'move to top',
    '

[2019-04-18 20:58] rexagod commented on #207
@jywarren I've maintained the order of the first four items of your list below, while grouping all the other ones in the last `action`, to give you a preview of this implementation. What do you think? Should we proceed with this? Any other modifications?

Also, I do agree on starting this off static, and making it dynamic along the way, employing methods such as `addToolGroup()` and `group.addTool

[2019-04-18 21:36] jywarren commented on #215
Hi all! so late in the week, i'm sorry! As you may have noticed, I've been in a big backlog after traveling for work over the past weekend. 🔙 🌳 <= (back log)

But I'm working my way out of it with your help! @sagarpreet-chadha saw your amazing work, great job! And @Divy123 @VibhorCodecianGupta @tech4GT and many others in [Image Sequencer](/publiclab/image-sequencer) have been doing really great wo

[2019-04-18 21:54] jywarren commented on #207
This looks great. Does it work in popup-style too?

I think we should be able to find a `...` style menu for the "more tools"
group, that might be a little more recognizable as an openable menu, what
do you think?

On Thu, Apr 18, 2019 at 4:59 PM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-04-19 04:38] rexagod commented on #207
@jywarren Initially, this worked well in the `control` mode, but I experienced some CSS bugs in the subtoolbar on switching to `popup`. But I've fixed that, and this implementation works well for both of these modes now. Also, I've replaced the "more tools" icon with the one you suggested. Please have a look!
***
## **`popup` UI before modifications (image distorted for better view of the subtoolb

[2019-04-19 19:20] jywarren commented on #38
Great!!!

[2019-04-19 19:20] #38 closed

[2019-04-19 19:38] jywarren opened #226 "UI ambiguities around rotate and scale"
### Default tool: `Rotate` vs. `Rotate+Scale`

Currently the default tool with a "rotate" icon in the main `index.html` demo is `Rotate`. But `Rotate+Scale` should be the default - the separate `Rotate` and `Scale` tools are for downstream use in this lib: #105

### Same icon issue

Both of these use the same icon, which is confusing:

* "toggling between `rotate-and-scale` and `distort`"
* "toggl

[2019-04-19 19:55] jywarren commented on #219
OK, i agree with this needing some work. But I don't think it's a priority vs. the new exporting system.

I do note that in this demo, I can scale these images smaller than the set min width/height:

https://publiclab.github.io/Leaflet.DistortableImage/examples/select.html

![image](https://user-images.githubusercontent.com/24359/56441560-874eb700-62bb-11e9-9ab4-41faec899bcf.png)

So it looks like

[2019-04-19 20:03] #213 closed

[2019-04-19 21:19] ebarry commented on #215
*** apologies for cross-posting from publiclab/plots2#4614 ***

We've got a clear choice: Sunday 10:30-11:30 PM India time, 1-2 PM East Coast US time.

Topic: Public Lab Software Contributors 2019 Survey Report: Discussion
Time: Apr 21, 2019 10:30 PM India Time / 1:00 PM Eastern Time US and Canada
Place: https://zoom.us/j/346913422
Notes: https://pad.publiclab.org/p/developers

### Ahead of time:

[2019-04-19 22:22] #218 closed

[2019-04-20 01:11] sashadev-sky commented on #166
final point checked off and this is now closed via #210

[2019-04-20 01:11] #166 closed

[2019-04-20 01:59] sashadev-sky commented on #221
closed via #201

[2019-04-20 02:00] sashadev-sky commented on #221
ok this is fixed now via #201 ... @jywarren do we need to do anything else to make sure the demo itself is updated?

[2019-04-20 02:35] jywarren commented on #221
I can update the demo now! I merge to gh-pages with a merge commit and
install any necessary new npm packages, then push.

On Fri, Apr 19, 2019, 10:01 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-20 04:09] sashadev-sky commented on #221
@jywarren awesome! Updates are live there.

@flopail please revisit demo now and your issue should be resolved!

Thank you, closing via #201

[2019-04-20 04:09] #221 closed

[2019-04-20 04:23] sashadev-sky opened #228 "Update L.DistortableCollection test to use class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-04-20 09:51] sashadev-sky commented on #43
@jywarren the link you give in the issue description doesn't work, but anyway I can't reproduce the issue in Safari 12.0.3.. Since this version references such an old safari version should we close it?
![zoom](https://user-images.githubusercontent.com/41092741/56455723-1bf2fc80-6330-11e9-8d96-b5e7829a9f65.gif)

[2019-04-20 11:57] Shal1928 commented on #228
I am try this issue.

[2019-04-21 00:36] skilfullycurled commented on #215
![its_merrrrged](https://user-images.githubusercontent.com/950291/56463898-c9572600-63ab-11e9-8947-8bfe1fa4cdb0.gif)

[2019-04-21 01:39] sashadev-sky commented on #228
@Shal1928 did you comment here that you wanted to try this? Did you change your mind? Sorry just want to make sure because I received it in an email but don't see your comment here

[2019-04-21 01:42] Shal1928 commented on #228
@sashadev-sky , Hello. Yes, changed my mind. I'm sorry.

[2019-04-21 01:54] sashadev-sky commented on #228
@Shal1928 No problem!

[2019-04-21 02:16] Shal1928 commented on #228
@sashadev-sky , But I would like to understand the following. This issue created is artificially (falsely), **only for** pass by checkpoints for begginers?

[2019-04-21 07:20] sashadev-sky commented on #228
Not sure if you're saying the issue itself is falsely created or suggesting that it's false that this is for beginners. Please clarify!

But in case this answers your question: these are actual issues we spot in the repo, then instead of opening a PR for them ourselves, we open a step by step issue explaining exactly what lines to change and how to make a PR. They are intended for beginners becaus

[2019-04-21 07:38] sashadev-sky opened #231 "Full resolution export at index.html still linked to old image"
Clicking export on `index.html`:
<img width="952" alt="Screen Shot 2019-04-21 at 3 37 16 AM" src="https://user-images.githubusercontent.com/41092741/56466956-db09ef00-63e6-11e9-9b60-5f02ff2d5ca6.png">

gives an export of the old image we used to use for the demo:
<img width="1151" alt="Screen Shot 2019-04-21 at 3 37 26 AM" src="https://user-images.githubusercontent.com/41092741/56466957-e4935700-6

[2019-04-21 07:39] sashadev-sky commented on #231
@rexagod do you want to add PR this?

[2019-04-21 08:39] HarshKhandeparkar commented on #215
@gauravano has anyone booked the next check-in?

[2019-04-21 10:03] GauravJ3 commented on #228
hi, i want to contribute

[2019-04-21 10:43] Shal1928 commented on #228
@sashadev-sky, thank you for answer. You Do not mind if I ask to add me to the reviewers this issue for better understanding process?

[2019-04-21 13:19] cesswairimu commented on #215
@Harshithpabbati , @sagarpreet-chadha booked the next maybe you can open the next after him?

[2019-04-21 13:23] HarshKhandeparkar commented on #215
Ok. Thank you. Btw, I am HarshKhandeparkar 😂. People do this very often.

On Sun 21 Apr, 2019, 6:49 PM Cess, <notifications@github.com> wrote:

[2019-04-21 13:24] cesswairimu commented on #215
My bad :woman_facepalming: sorry

[2019-04-21 13:25] HarshKhandeparkar commented on #215
Np

On Sun 21 Apr, 2019, 6:54 PM Cess, <notifications@github.com> wrote:

[2019-04-21 13:27] Harshithpabbati commented on #215
😂

[2019-04-21 13:31] cesswairimu commented on #215
Hello @Harshithpabbati, sorry for unneccesarry tagging

[2019-04-21 13:32] Harshithpabbati commented on #215
Ha thats not a problem leave it :)

[2019-04-21 18:19] sagarpreet-chadha commented on #215
Thank you @sashadev-sky for the check-in 😄 !
Next check-in opened in LBL : https://github.com/publiclab/leaflet-blurred-location/issues/198
Closing this issue 🎈 .

[2019-04-21 18:19] #215 closed

[2019-04-21 21:21] sashadev-sky commented on #228
@GauravJ3 Hi, we would love your help! This ones all yours

[2019-04-21 21:22] sashadev-sky commented on #228
@Shal1928 if you want to understand the process please complete a first-timers-only issue. I can make you one in this repo if you would like

[2019-04-23 15:11] #228 closed

[2019-04-24 10:38] sashadev-sky commented on #178
@rexagod closing this because you already made an FTO out of it! Your FTO, once completed, updates the whole keymap so we don't need to reuse this now

[2019-04-24 10:38] #178 closed

[2019-04-24 10:38] sashadev-sky commented on #198
@Priyak5 Hi! We have some requests for FTOs so I am going to re-assign this since you haven't taken action on it in a while and you have also done an FTO before. Sorry for any inconvenience! Please check out the [help wanted](https://github.com/publiclab/Leaflet.DistortableImage/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) issues on this repo there is a lot to do :)

[2019-04-24 10:42] sashadev-sky commented on #198
Re-assigning to @UNnamed66

[2019-04-24 19:35] UNnamed66 commented on #198
Gotcha, I'll work on it!

[2019-04-25 06:38] UNnamed66 commented on #198
@sashadev-sky Please review, thanks.

[2019-04-25 07:33] #198 closed

[2019-04-25 17:09] sashadev-sky opened #235 "Leaflet incremental update"
Discuss version updates, etc.

Our repo has some bugs that you might remember, such as the `DistortableImageOverlay` glitching on zoom, race condition problems (I specifically got stuck on one when overriding the `boxZoom` class), problems when flipping the y-axis, and more.

Looking through newer Leaflet versions on Github, many upgrades have been made that seem to solve these issues:
- [Zoom ani

[2019-04-25 17:52] sashadev-sky opened #236 "Undefined method `call`"
Race condition. Appears sometimes in Chrome Dev Tools:

Investigate condition occurrence on page load sometimes

[code]

[2019-04-25 17:57] jywarren commented on #235
+10000!!!

On Thu, Apr 25, 2019, 1:10 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-26 16:02] rexagod commented on #186
**One more thing:** If I delete an image, then try to drag the selection, it throws an error at every mouse drag movement (see below). Let's see if resolving this issue resolves this one too, otherwise I'll open a separate issue for this.

![boxzoombug](https://user-images.githubusercontent.com/33557095/56820204-e5a20980-6868-11e9-9583-b04f80e91550.gif)

[2019-04-26 16:04] sashadev-sky commented on #186
@rexagod I fixed this in my pending PR

[2019-04-26 16:07] sashadev-sky commented on #186
@rexagod also not the box select feature only works best if you drag from bottom-right towards top-left. Cannot explain exactly why this is

[2019-04-27 18:56] rexagod commented on #186
[code]

For some reason, ` _addSelections` is getting unexpectedly triggered after some particular functions, even after I suppress the event propogation.

[2019-04-27 19:13] rexagod commented on #186
Okay so the "boxzoomend" is definitely not firing when it should, either that, or something else is triggering the `_addSelections` method.

[2019-04-28 05:47] rexagod commented on #186
Okay so the `boxzoomend` by default, in the leaflet library, is triggered on the "mouseup" event. This leads to the triggering of the `_addSelections` whenever a "mouseup" is detected, hence causing these "reselections".

Now I did try to `unbind` "mouseup" and "boxzoomend" listeners at different places in the code, and enable them back again, but there are some corner cases the eventually always

[2019-04-28 05:53] rexagod commented on #186
Also, currently, `_deselectOthers` only removes the markers from the other images (other than `e.target`) while it should also remove the "selected" class as well.

[2019-04-28 08:50] rexagod commented on #186
To further clarify  on this, notice two different subroutines that occur.

- `_addSelection` gets executed on every single "mouseup" event
- Reselection takes place respective to the sequence in which the images were selected (was bottom-left to top-right below)

![Peek 2019-04-28 14-14](https://user-images.githubusercontent.com/33557095/56861603-10eb3c80-69c0-11e9-9fe8-8598a72d1399.gif)

[2019-04-28 09:56] rexagod commented on #186
We're close (no reselections bug)! Just need to implement a few final changes to make sure everything's working as expected.

![ezgif-5-50d5d5aebad0](https://user-images.githubusercontent.com/33557095/56862549-c1117300-69c9-11e9-8638-b49ff499a74f.gif)

[2019-04-28 15:55] rexagod commented on #186
@sashadev-sky I'm letting go of the above implementation and in fact considering some ideas that I'd like your thoughts on.

- We need to rewire the listeners on the `_addSelection` functionality, to avoid the confusion b/w "boxzoomend" and "mouseup" events.
- At the moment, I'm considering extended "boxzoom" functionality wired to a more _convenient_ key binding (something other than mouseup so t

[2019-04-30 02:45] sashadev-sky commented on #186
Woah amazing! I can't imagine ever needing "boxzoom" for its original purpose, to zoom into a specific area. Seems like a very inconvenient way to just increase zoom. So I manually fire `boxzoomend` from the `_mouseUp` method, so I guess we could realistically fire it anywhere.

I think whatever we do it should definitely `select` them immediately (yellow highlight) without having to click on them

[2019-04-30 09:20] sashadev-sky commented on #211
@rexagod I am just going to resolve this one in #229 was a good FTO but something that should just be fixed in the rest of my cleanup at this point. I will open some more FTOs in this repo shortly though!

[2019-04-30 09:35] sashadev-sky commented on #211
@rexagod I think that `_removeOverlay` will now just be 'Backspace' because the <kbd>delete</kbd> key on mac and the <kbd>backspace</kbd> on windows actually both trigger `event.key` 'Backspace'.

I'm thinking this is sufficient, and we don't need to add the 2nd way. I originally thought it "evened them out" but now I just think its unnecessary. Do you think it's ok to proceed with just `Backscape

[2019-04-30 20:42] rexagod commented on #211
Sure, we can definitely proceed with this and adding an appropriate comment at the same time should suffice the user's understanding of this feature. :+1:

[2019-04-30 20:51] #43 closed

[2019-04-30 21:11] rexagod commented on #186
It is possible to make `_addSelection` listen for`boxzoomend` and pardon me, but isn't that what we are doing in the lib right now? The catch here however, as I stated above, is the fact that `boxzoomend` by default, in the leaflet library, has been wired to the mouseup event, overriding which, is causing compatibility problem as discussed above. Therefore, I suggested [some workarounds](https://g

[2019-04-30 21:32] sashadev-sky opened #238 "Toolbar and Hotkey normalization"
Hotkeys toggle mode (lock, distort, rotate, etc)., now we would like this to synchronize with the toolbar UI in some way. for ex., if we use a hotkey to toggle into "lock" mode, perhaps the toolbar should show that the lock icon is currently selected, whether its by indenting it or making it a different color, etc.

[2019-04-30 22:07] jywarren commented on #203
OK! I just modified `mapknitter-exporter-sinatra` to accept a POST (or GET) request with a JSON string rather than needing it to have a json file stored somewhere.

https://github.com/publiclab/mapknitter-exporter-sinatra/blob/eb72f3d1d71d4f08dade25cb009b75a6291d3bb7/app.rb#L45-L59

[2019-04-30 22:09] jywarren commented on #203
POST or GET to https://export.mapknitter.org/export with a parameter called `collection`, in this format:

[code]

[2019-04-30 22:11] jywarren commented on #203
You'll get a response with a string of a URL like:

`/1556661492/status.json`

Then you can go to: https://export.mapknitter.org/1556661492/status.json (or whatever the URL will be) to see the status.

[2019-04-30 22:13] jywarren commented on #203
`status.json` will look like this (basically):

`{"status":"warping 1 of 1","tms":false,"geotiff":false,"zip":false,"jpg":"https://example.com/path/to/image.jpg","export_id":1556661492,"user_id":312455,"size":null,"width":null,"height":null,"cm_per_pixel":null}`

[2019-04-30 22:14] jywarren commented on #203
So, we'd have a callback like `distortableCollection.generateExportJson(callback)` which we'd eventually use to:

1. save `export.remote_url` in Rails
2. update the LDI UI to show "progress" and any export products!

[2019-04-30 22:25] jywarren commented on #203
Here's a gist of a `status.json` that we could use for testing: https://gist.githubusercontent.com/jywarren/c8b366b80c61c010396cad99ff08fe58/raw/f5579ec8fb1dddac95eb5958d941eb5d7b963a91/status.json

[2019-04-30 23:14] sashadev-sky commented on #211
Ok cool, you're already a reviewer on my PR but i'll ping you again there for final review soon @rexagod

[2019-05-01 04:00] sashadev-sky opened #239 "Keymapper Pt. 2 - Modularity"
In a previous PR, Keymapper documentation (and tests troubleshoot) #212, we have added a keymapper legend to our UI. This issue builds on the basic functionality of the last to improve it and make the code more intuitive, both to understand and to use.

**Modularity**: from the last PR
<blockquote>
It's a really great UI to have. But it's more a feature of a map, than of an image. let's break it o

[2019-05-01 04:02] sashadev-sky commented on #239
@rexagod @jywarren

[2019-05-01 04:06] #236 closed

[2019-05-01 20:54] rexagod commented on #110
@jywarren, things are really starting to align now!

I did a bit of research on the new "headless web" trend that has been going on for a while now, and why is it considered an apt approach towards testing and automation. It made me realize the extent to which we can improve our testing, gather snapshots, upscale [cross-browser tests](https://github.com/dhamaniasad/HeadlessBrowsers), and automate

[2019-05-01 22:27] rexagod opened #240 "Remove Bower support"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-02 00:18] scw248 commented on #240
Hi, could I take this one if it's still open?

[2019-05-02 00:54] scw248 commented on #240
Since no one else has commented, I went ahead and solved this, but please let me know if I need to correct anything, or if there's anything else I can help with!

[2019-05-03 11:43] Nauman3S commented on #240
Please open the issue

[2019-05-04 05:18] sashadev-sky opened #244 "UI for handling multiple images - discussion / planning"
Branching out some comments from #140 that have to do with UI planning for multiple images

[2019-05-04 05:20] sashadev-sky commented on #244
https://github.com/publiclab/Leaflet.DistortableImage/issues/140#issuecomment-467079304

- summary:

![53351882-d1d13a00-38ef-11e9-9f20-669214fe1c93](https://user-images.githubusercontent.com/41092741/57174294-a34d6f00-6e0a-11e9-8529-4c5470b65d97.jpg)

   - Toolkit would be the toggleable dropdown, login and resources, etc would go under information tab. Maybe the arrow on the right would turn dow

[2019-05-04 05:57] sashadev-sky commented on #244
https://github.com/publiclab/Leaflet.DistortableImage/issues/140#issuecomment-477444112

saw this on a [page](https://docs.mapbox.com/studio-manual/reference/datasets/#dataset-editor) on the Mapbox site and thought it was nice for future UI inspiration:
![55130302-be80dc80-50f0-11e9-9ced-9710ed3aa00d](https://user-images.githubusercontent.com/41092741/57174629-c890ac00-6e0f-11e9-9a43-c86d421dbdfc.

[2019-05-04 06:24] sashadev-sky commented on #244
@jywarren How does this look? Please feel free to delete anything copied over here in the PR description that you think is extraneous - I think I copied over a bit too much. And make any other edits / suggestions !

@rexagod

[2019-05-04 06:26] sashadev-sky commented on #244
https://github.com/publiclab/Leaflet.DistortableImage/issues/140#issuecomment-465115860

I already pitched this idea to @jywarren, it implements a mixture of what he has mentioned above, but @rexagod let me know what your thoughts are on this too!. I'm excited to work on this with you!!

@jywarren I have really cleared up the implementation details at this point for the modal menu so maybe we can

[2019-05-04 06:32] sashadev-sky commented on #161
adding this here as it explains the end goal that this PR is working towards --

this is branched out of https://github.com/publiclab/Leaflet.DistortableImage/issues/140

<blockquote>
"We have a general need to brainstorm new UI designs for tools as more tools are added. Maybe nested menus or a modal for more tools, as the menu runs out of space?

But to explore this, I'd like to propose that we s

[2019-05-04 07:40] kevinsunny1996 commented on #240
Can i use the above issue...

[2019-05-05 07:03] rexagod commented on #174
@Polombo98 Are you still working on this? Please do ping us if you're stuck anywhere, we'd be happy to help!

[2019-05-05 09:03] sashadev-sky commented on #240
@kevinsunny1996 are you asking if you can work on this? It is already taken by @scw248 and has a PR open but I would be glad to make you another FTO in this repo if you'd like!

[2019-05-05 10:42] sashadev-sky commented on #174
@rexagod I assumed  this one was dropped and I fixed it in detail in #229.

See the snapshots here: https://github.com/publiclab/Leaflet.DistortableImage/pull/229#issuecomment-488183360

would love your review there also!

[2019-05-06 15:41] jywarren commented on #203
This is now running; docs at https://github.com/publiclab/mapknitter-exporter-sinatra

[2019-05-06 15:41] jywarren commented on #244
I'll need to dive into this today/tomorrow to get caught up, but on the functional end of exporting, we now have an export URL that works, and accepts a JSON file/string of the images to be warped:

(note NOT https for now:) http://export.mapknitter.org/export?url=https://mapknitter.org/maps/ceres--2/warpables.json&scale=30

You can also run it as a POST or GET with a parameter called `collection`

[2019-05-06 15:42] jywarren commented on #244
And here: https://github.com/publiclab/mapknitter-exporter-sinatra

[2019-05-07 19:15] sashadev-sky commented on #239
@rexagod for dynamic keymappers this might be useful to you:
[https://blog.webkid.io/rarely-used-leaflet-features/](https://blog.webkid.io/rarely-used-leaflet-features/)

**2. Templating**
In map applications we often have to create tooltips, legends or other generic elements. The `L.Util.template` function can help us with this. It takes a template string and an object that includes the template

[2019-05-07 20:25] #226 closed

[2019-05-07 20:25] sashadev-sky commented on #211
closed via #229

[2019-05-07 20:25] #211 closed

[2019-05-07 20:26] sashadev-sky commented on #174
closed via #229

[2019-05-07 20:26] #174 closed

[2019-05-07 20:32] sashadev-sky commented on #44
@jywarren @rexagod just saw this and wondering the same thing. I don't think it makes sense to gray them out anymore because they are not the only two actions. In that case, we would be graying out everything but the button selected (or the inverse - showing the selected button as selected by making it black or something along those lines). I brought that up in #238.

So would suggest to close thi

[2019-05-07 20:40] sashadev-sky opened #246 "change rotate/distort hovertext in Toolbar when swapping between them"
saw this mentioned by @jywarren in https://github.com/publiclab/mapknitter/issues/124 and this bug still needs to be resolved!

Additionally, I think maybe could be helpful to change the icons that are used. Currently, I always get confused about which one is meant for rotate vs distort as I can't make the connection between the icon and the action.

[2019-05-07 21:41] jywarren commented on #246
maybe FontAwesome icons have expanded enough that we could try to find a
more suitable one?

On Tue, May 7, 2019 at 4:41 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-07 21:42] jywarren commented on #44
Yeah, i think let's close it for now. Thanks!

On Tue, May 7, 2019 at 4:33 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-08 00:14] #44 closed

[2019-05-08 00:35] sashadev-sky opened #248 "Update L.LatLng initializers to class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-08 00:47] sashadev-sky opened #249 "Update L.LatLng initialization syntax Pt.2"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-08 00:52] sashadev-sky opened #250 "Update L.LatLng initialization syntax Pt.3"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-08 04:57] sashadev-sky commented on #167
Linking #51 and https://github.com/publiclab/mapknitter/issues/183 here

[2019-05-08 05:02] sashadev-sky commented on #167
regarding that discussion, what did the toolbar UI look like back in 2015? I think as soon as a user sees a toolbar with a bunch of actions its clear that there is a lot they can do? Similar to how when you open photoshop you see all the editing icons. This will be something important to think about when making the UI.

[2019-05-08 05:03] sashadev-sky commented on #167
I definitely agree that just switching the default to rotate would only create the opposite problem

[2019-05-09 12:16] sashadev-sky commented on #165
@jywarren I was getting started on this and I was just wondering, for clarification, what is the purpose of the feature?

 Would it be to allow for rotation support regardless of handles, and then we get rid the `rotate` handles altogether? Because currently the image can already be rotated by dragging its handles in rotate mode.

Or is it just to provide additional rotate  support in rotate mode,

[2019-05-09 19:35] jywarren commented on #164
Also connecting to PDF generation idea here: https://github.com/publiclab/mapknitter/issues/219

[2019-05-09 19:36] jywarren commented on #164
So, also noting this would be a great function of `DistortableCollection` - PDF or SVG.

[2019-05-09 21:25] jywarren commented on #165
Hi! I think this is just one extra way to do rotation/scaling, not instead
of the handles but in addition to them, because on multi-touch devices it'd
be quite intuitive. I'm sorry i had to run from the meeting so suddenly by
the way, but I was going to say that I understand that the positioning via
CSS transform is making this tough. It's not worth abandoning that and just
doing distortion but no

[2019-05-10 01:06] Prasanth-N commented on #248
Can I claim this issue? Can you tell me how to get started?

[2019-05-10 23:01] sashadev-sky commented on #248
@Prasanth-N yes go ahead!
1) Fork the main repo from the main page https://github.com/publiclab/Leaflet.DistortableImage, otherwise you'll only get anonymous credit
2) clone your forked version by clicking the "clone or download" button - copy paste the url given and use the command `$ git clone <paste_url>` locally
3) Follow the README instructions for any local setup
4) Make your changes on a ne

[2019-05-11 00:32] sashadev-sky commented on #165
@jywarren what do you mean by this question: It's not worth abandoning that and just
doing distortion but not positioning, is it?

[2019-05-11 00:55] jywarren commented on #165
Sorry, I wasn't super clear -- I was wondering if it would be easier to
stop positioning with css transform, and position in a more normal Leaflet
way, in order to make it easier to do the rotation implementation. But it's
probably not easier.

On Fri, May 10, 2019, 8:32 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-11 02:14] sashadev-sky commented on #165
@jywarren I have something almost working down I think it could work I just need a little guidance on how to fix it.. Ill upload it soon!

[2019-05-12 02:26] sashadev-sky commented on #246
@jywarren just opened a PR so i'll post icon suggestions there! #255

[2019-05-12 03:53] sashadev-sky commented on #208
Renaming this issue since we decided to keep these actions. @rexagod any ideas on how to implement this? I was thinking maybe `distort` would have its own icon, and `rotateScale` will toggle with the regular `rotate` action. Then `scale` will just have its own icon? Then we can keep building out how we categorize and compartmentalize the toolbar actions in a sensible way?

Maybe this is something

[2019-05-12 14:31] damlangin commented on #250
Can i claim this issue??

[2019-05-12 14:50] damlangin commented on #249
Hi, can i claim this issue?

[2019-05-13 04:23] nmczormick commented on #250
Hello, could I please claim this issue?

[2019-05-14 18:51] aysegulkoca commented on #248
@sashadev-sky Can I claim this issue? Prasanth-N hasn't responded yet and I want to make a first-good-issue, thanks.

[2019-05-14 18:58] Prasanth-N commented on #248
I am working on this. Will update soon.

[2019-05-14 19:02] aysegulkoca commented on #248
@Prasanth-N I have a homework due to tomorrow, so I need an issue reallty fast. I'm so sorry but would you let me this issue, pretty please? I can't find another open issue.

[2019-05-14 19:02] jywarren commented on #110
Hi @rexagod i'm sorry i haven't had time to check in here. Will do my best to provide some feedback today!

[2019-05-14 19:03] jywarren commented on #110
Oh wait, ok. This is rad. I love the idea that it would have a CLI option. and i"ll read that article too, thank you!!!

[2019-05-14 19:05] Prasanth-N commented on #248
Alright fine, you can take this if you need it so badly.

[2019-05-14 19:07] aysegulkoca commented on #248
Thank you so much!

[2019-05-14 23:36] jywarren opened #258 "Ability to hide keymapper?"
The latest release of LDI is now live at MapKnitter.org, congrats!!! I noticed that the keymapper help window stays open no matter what, and wondered if we could make it "dismissable"? It's super helpful, but after a while, seems like it's no longer needed. Thanks!

[2019-05-15 03:17] sashadev-sky commented on #249
closed via #256

[2019-05-15 03:17] #249 closed

[2019-05-15 03:23] sashadev-sky commented on #248
@Prasanth-N That was very kind of you 😇Issue #250 is very similar and has not had any updates from the user who claimed it in 6 days. After 7 we consider (only for FTOs) the issue abandoned and it's open to whomever to claim. Would you be interested in taking that one if there is no reply from the user by tomorrow?

I can mention you there in that case when it's time

[2019-05-15 10:05] #248 closed

[2019-05-15 11:18] sashadev-sky opened #260 "Refactor out `_calculateAngle` method"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-15 11:20] sashadev-sky commented on #260
assigned to @AdityaShD!

[2019-05-15 11:33] sashadev-sky opened #261 "Refactor out `_calculateScalingFactor` function"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-15 11:41] sashadev-sky opened #262 "Refactor out `_d2` function"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-15 15:21] Prasanth-N commented on #248
@sashadev-sky Thanks a lot! I am interested. Please let me know when its available.

[2019-05-15 16:05] AdityaShD commented on #260
hey! @sashadev-sky thanks for assigning, I'll get right on it :)

[2019-05-15 20:23] sashadev-sky commented on #248
@Prasanth-N will do! will be in the next 24 hrs.

[2019-05-15 20:25] yazicizuleyha commented on #261
I want to claim this issue, thank you :)

[2019-05-15 20:30] sashadev-sky commented on #261
@yazicizuleyha awesome all yours!! Thanks :)

[2019-05-15 20:32] esraodaci commented on #262
I would like to claim this one

[2019-05-15 20:37] sashadev-sky commented on #262
@esraodaci Thank you it is all yours :)

[2019-05-15 22:38] sashadev-sky opened #265 "L.Mixin.Events throws deprecation warning"
We use this line in 2 places in the repository:

1)
https://github.com/publiclab/Leaflet.DistortableImage/blob/d91b2d7e946ae8ce064535dea8a0320683934b1f/src/DistortableCollection.js#L2

2)
https://github.com/publiclab/Leaflet.DistortableImage/blob/d91b2d7e946ae8ce064535dea8a0320683934b1f/src/DistortableImageOverlay.js#L2

I think that both of these lines can just be deleted, because a) We can now a

[2019-05-16 20:25] sashadev-sky commented on #248
@Prasanth-N The issue is all yours now! I'll mention you there too :)

[2019-05-16 20:25] sashadev-sky commented on #250
assigned to @Prasanth-N!

[2019-05-16 22:43] #265 closed

[2019-05-17 12:26] #261 closed

[2019-05-17 16:57] #167 closed

[2019-05-17 17:28] sashadev-sky commented on #51
@wmaiouiru @maartenvandillen We heard you guys and have just merged PR #206: which allows a user to pass a `mode` option during `L.distortableImageOverlay` initialization, with the value being the desired default starting editing mode.

Please checkout the [**Mode** section](https://github.com/publiclab/Leaflet.DistortableImage#mode) in the README for someone additional information on using this o

[2019-05-17 17:28] #51 closed

[2019-05-18 19:55] dannomayer commented on #260
Hello @sashadev-sky ! Love the description. I am looking to make my first contribution to an open source project and the documentation you've provided on how to do so is really helpful. I feel so overwhelmed whenever I try and contribute but this is clear and concise. Unfortunately... Both first timer issues I've found through this project appear to have been claimed. And this one in particular wa

[2019-05-20 00:20] #262 closed

[2019-05-20 03:05] AdityaShD commented on #260
@sashadev-sky I am done with making changes on my local machine, what are the steps which i need to follow now?

[2019-05-20 03:18] AdityaShD commented on #260
and also commited the code to a branch 'calculateAngle' .

[2019-05-20 03:31] sashadev-sky commented on #260
@dannomayer Hey, welcome to PL! You do not have to be from an underrepresented group to join!! Navigating PL takes a minute to get used to so i'll explain a little bit.

The most active repo currently is plots2, which is the source code for PL's website publiclab.org. There we have a [pinned issue](https://github.com/publiclab/plots2/issues/4963) where we keep a list of users in need of FTOs and a

[2019-05-20 03:38] sashadev-sky commented on #260
@AdityaShD great! I think all you have left to do is:
1) `$ git push origin calculateAngle` to submit a pull request
2) visit the [main repo](https://github.com/publiclab/Leaflet.DistortableImage) page on Github and you'll see a prompt to create your PR

Let me know if you have more questions :)

[2019-05-20 06:00] sashadev-sky commented on #260
closed via #267

[2019-05-20 06:00] #260 closed

[2019-05-20 08:41] flopail opened #268 "How to call methods (rotate, scale, lock, etc.) without toolbar and without hot keys ?"
All is in title! ;) I need to use some customized external buttons to call plugin methods:
- Toggle image transparency
- Delete image
- Toggle image outline
- Lock / Unlock
- Rotate
- Scale
- Distort
- Export
- Change order...

Is there a simple way to do it?
Thanks,
:)

[2019-05-20 22:37] jywarren commented on #208
Do we currently use FontAwesome icons? I can never remember. Oh looks like it: https://github.com/publiclab/Leaflet.DistortableImage#image-ordering

Maybe we should link to these in the README: https://fontawesome.com/v4.7.0/icons/

[2019-05-21 01:17] sashadev-sky opened #270 "generateExportJson follow-ups"
follow-ups to #254 :

* [x] `distortableCollection.avg_cm_per_pixel`
* [x] `generateExportJson` pulls from `distortableCollection.avg_cm_per_pixel`
* [x] startExport ajax call that gets the url for the `status.json` file
* [ ] refactor to get `_getStatusJson`  separated from outer ajax call `_runExport`
* [ ] `distortableCollection.startExport(callbackFn)` with basic `console.log` callback functio

[2019-05-23 04:37] sashadev-sky commented on #270
@jywarren for point 3, not sure how to proceed. Is the indicator of progress that the image has been added to the `json.images` array that will eventually be returned?

[2019-05-23 05:07] sashadev-sky commented on #208
@jywarren sure, should I add this as something to address in #255?

[2019-05-23 05:43] jywarren commented on #270
I think you can just console.log the contents of status.json for now, and it doesn't have to be correlated to anything yet!

[2019-05-23 05:45] jywarren commented on #270
But, the steps of progress will be:

1. Warping each image
2. Compositing
3. Tiling
4. Zipping tiles
5. Generating jpg

So, we can treat those each as 1/5 (or 1/(5+x)) of completion, depending on the num of images.

[2019-05-23 16:51] jywarren opened #320 "Can't scale things down, only up"
In MapKnitter now, on this map, i'm using the "r" key to switch to rotate+scale, but can only seem to scale up, not down: https://mapknitter.org/maps/irish-uk-border-mapping/

As this is in production, I'm marking it as priority -- let's try to pin this down! 🙌

[2019-05-25 13:10] rexagod commented on #258
@jywarren I did comment out the method that enables this since that wasn't included in the API at the time I posted the phase II PR, but no worries, I'll integrate this into the API!

https://github.com/publiclab/Leaflet.DistortableImage/blob/29590a2f3ac348beba1c5ac03f986af2f4778f1d/examples/select.html#L114-L115

[2019-05-25 16:49] jywarren commented on #258
great, thank you! I think this is a bit of a priority as it can overlap
other things on the page right now. Much appreciated!!!

On Sat, May 25, 2019 at 9:11 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-05-25 19:43] rexagod commented on #258
@jywarren I've made the changes, just want you to have a look before I get to rebasing it. Thanks!

[2019-05-27 14:07] sashadev-sky commented on #270
@jywarren so this part will be in rails (aka mapknitter repo)?

[2019-05-27 15:11] sashadev-sky commented on #186
@rexagod can you move these changes into a new feature BR and upload a PR so I can look into what we have now?

[2019-05-27 15:12] sashadev-sky commented on #186
so excited to get this one fixed!!!

[2019-05-28 13:48] miyujach opened #273 "Issue with "LeafletToolbar" when using "leaflet.distordableimage""
Hi everybody,
I've got this issue when using "distordable-image"

[code]

Here is my leaflet dependencies use:

[code]

I'm using the plugin like it's explain on the github repo...

[code]
Is it a bug or I'm just using it badly ?

Thank you.

[2019-05-28 18:46] jywarren commented on #270
This'll be running in one of our new exporter systems, like: http://export.mapknitter.org/export?url=https://mapknitter.org/maps/ceres--2/warpables.json&scale=30 (now operational!)

But it'll be displaying in MapKnitter eventually, yeah.

But actually since we don't /require/ any back-end now (using this cloud system) we can start by just showing status in the console (later using a Bootstrap prog

[2019-05-28 18:47] jywarren commented on #270
So it'll be:

1. generate request to cloud exporter URL from an image collection
2. receive back `status.json` URL
3. (eventually via callback store step 2's URL somewhere -- in the export model)
4. keep requesting `status.json` every X seconds to check for updates
5. display status each time we load a new version of `status.json`

How does that sound?

[2019-05-29 04:13] sashadev-sky commented on #270
@jywarren Ok first I can make an example of calling that link above specifically, grabbing the data from it (the status.json url), using that to make another request, and console.log the output of `status.json`? But to do this from our leaflet repo locally right now, we will need to enable CORs on the mapknitter export API right? @icarito

Sorry if i'm not understanding correctly

[2019-05-29 05:37] sashadev-sky commented on #250
reassigned to @Esh08!

[2019-05-29 06:21] sashadev-sky commented on #273
Hi @miyujach ! Is that the full error message?

Did you include this line from the demo?

[code]

[2019-05-29 20:09] KhanaaZero commented on #273
I have the same problem and I have added this, but there is no change.

[2019-05-29 22:33] jywarren commented on #270
That's exactly right! And, for many maps it is working properly now... we've been getting some awesome big map exports out of it, like this one:

![image](https://user-images.githubusercontent.com/24359/58595917-38902780-8240-11e9-9b3d-b60d3cefec4c.png)

[2019-05-30 00:50] sashadev-sky commented on #273
I think @rexagod has answered a question like this before. Can you advise here??

[2019-05-30 01:07] sashadev-sky commented on #270
[code]

So does @icarito need to set this there first? Or is there a way to get around this? This is what my request looks like:
[code]

[2019-05-30 04:22] Esh08 commented on #250
@sashadev-sky I was confused about the brach to choose, hence I chose a leaflet-src-change branch, If I have made any mistakes, please let me know!

[2019-05-30 04:29] Esh08 commented on #250
Hey, @sashadev-sky I feel like I've made a mistake with my branches, I wasn't able to make my own, so I chose leaflet-src-change. However I'm guessing, I'm supposed to commit changes to main? Please let me know x

[2019-05-30 05:17] sashadev-sky commented on #250
@Esh08 thanks for the PRs! So you opened 4 of them, #277 is merging to the wrong branch, but it looks like you figured out to commit to main in #278 #279 as these are correct.

#275 is addressing a closed PR. The reason you are seeing the old code is because you were on the `leaflet-src-change` branch, which is 130 commits behind `main`. So I have closed this PR.

For the others, these would all b

[2019-05-30 06:29] Esh08 commented on #250
Hey! I have changed all of them separately which was the easiest way.
However, I am still confused about why the changes of #278 and #279 weren't
reflected? May sound silly, however, I'd be grateful if you'd help me out
further. If I've made any mistakes, please let me know.
Also, I'd like to know, keeping this first issue aside, how I can improve
my skills with OSS. I'd appreciate it A LOT if you

[2019-05-30 10:31] sashadev-sky commented on #250
@Esh08 Don't worry! I closed the PRs you opened and i'll explain

`main` is where all the updated code is and when you are on the `main` branch and create a new one (your own feature branch) that branch will have the same code as in `main`.

One of the benefits of always working on a feature branch is that you can commit changes and push them up, and while you're waiting for them to get reviewed y

[2019-05-30 10:32] sashadev-sky opened #284 "Update L.LayerGroup initializers to class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-30 14:07] jeremycl01 commented on #284
Hi!  I am a first time contributor.  I would be happy to help out with this.

[2019-05-30 16:57] #284 closed

[2019-05-30 17:54] jywarren commented on #270
OK, got CORS for the storage bucket. The ID generated is usable to fetch the status.json, jpg, and tif files, and we'll add the others too. We can document later. But until i get CORS enabled for the Kubernetes cluster app, this can be a workaround:

https://storage.googleapis.com/mapknitter-exports-warps/1559178763/status.json

so then it'd be:

https://storage.googleapis.com/mapknitter-exports-w

[2019-05-30 17:59] jywarren commented on #270
Just noting current progress bar code! https://github.com/publiclab/mapknitter/blob/6c79669983a5707a622f1cd90b3cc1d5d562eb84/app/views/maps/_sidebar_exports.html.erb#L144-L193

[2019-05-30 18:06] jywarren commented on #270
You should be able to POST the .json of the collected corner coordinates (for each image) to this route: https://github.com/publiclab/mapknitter-exporter-sinatra/blob/34b13d674f9500599b5aa34ee3d0b7350af53e97/app.rb#L64-L66

Which should be, i think:

http://export.mapknitter.org/export (with `collections=[{...},{...}]&scale=30`)

[2019-05-30 18:11] jywarren commented on #270
alt:

[code]

[2019-05-30 18:14] jywarren commented on #270
kubernetes CORS access info! https://discuss.kubernetes.io/t/how-to-enable-google-cloud-kubernetes-cors/3053

[2019-05-30 18:21] jywarren commented on #270
OK! Adding CORS to our sinatra app... or trying... https://github.com/publiclab/mapknitter-exporter-sinatra/pull/44

[2019-05-30 19:17] jywarren commented on #270
OK, we'll resolve CORS and SSL for the sinatra app... in the meantime, you can work from 2 test files that mock the exporter responses with static files.

File 1 would be the initial request (like `http://export.mapknitter.org/export`) and would contain the text:

[code]

(although the ID number would change... it's just a timestamp)

Once you load that file, the idea is to use the returned URL to

[2019-05-30 19:21] jywarren commented on #270
I'm imagining something like... `getLatestStatus()`, `createProgressBar(container_id)` and `updateProgressBar(container_id, percent, status)`

but you know React better than I!

[2019-05-30 23:21] sashadev-sky opened #290 "New issue templates"
Hi, I made 3 issue templates for this repo using Github's new workflow - 🐛Bug report, 🧨Feature request, 📖Help with Leaflet.DistortableImage

Please click "new issue" and then select them further to see if you like them! They are all pretty similar but different. Let me know your opinions and improvement suggestions

[2019-05-30 23:33] gauravano opened #291 "Testing bug report template"
I saw this bug :bug:

**Describe the bug:**
What happened vs. what did you expect to happen?
Green color

**Reproduce the behavior:**
 Steps to reproduce the behavior. (ex. 1. Go to... 2. Click on... 3. See error...)

**Browser, version, and operating system:**

 - Browser [e.g. chrome, safari] -
 - Version [e.g. 22] -
 - Platform: [e.g. iOS, windows] -

[2019-05-30 23:36] gauravano opened #292 "Add this feature.."
hello!!
**Please describe the desired behavior.**
Describe the solution you'd like.

Follow modular approach while building and ..

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.
:+1:

[2019-05-30 23:38] gauravano opened #293 "doc improvement"
**Scope**:
API, documentation, installation, code, meta, other?
documentation imrovement..

**Description**:
Feel free to include any applicable: code, screenshots, or gifs.
:+1:

[2019-05-30 23:39] gauravano commented on #293
Seems great!!

[2019-05-30 23:39] #293 closed

[2019-05-30 23:39] gauravano commented on #293
@sashadev-sky

[2019-05-30 23:40] gauravano commented on #292
How about having `feature` label too? @sashadev-sky

[2019-05-30 23:40] gauravano commented on #291
Great!!

[2019-05-30 23:40] #291 closed

[2019-05-30 23:40] gauravano commented on #290
Done @sashadev-sky! #291 #292 #293

[2019-05-30 23:41] sashadev-sky commented on #292
@gauravano would that be a totally new label across PL? I was thinking too they should be categorized when you go through issues in the same way they are categorized when you create them

[2019-05-30 23:47] gauravano commented on #292
We use `new-feature` in Image sequencer and `feature` at plots2. We can settle on any one. What do you think?

[2019-05-30 23:54] sashadev-sky commented on #290
@gauravano thank you!! I didn't double space the bug report's template prompts like the rest. Feel free to open a PR for that to fix it if you think it helps readability! I already opened too many for this so I'm cutting myself off

[2019-05-30 23:59] sashadev-sky commented on #292
@gauravano Oh ok cool! Either works! Would you want to open the PR for this I did too many . We can remove `discussion` and just do `feature` or `new-feature`?

[2019-05-31 00:02] sashadev-sky commented on #292
@gauravano maybe the help template could be `discussion`  instead of `documentation`? wasn't sure what to go with

[2019-05-31 00:04] gauravano commented on #292
How about `help-wanted` and `discussion` for Help template and `feature` for Feature template?

[2019-05-31 00:13] gauravano commented on #290
Will do @sashadev-sky. Thanks for all the great work!!

[2019-05-31 04:21] sashadev-sky commented on #292
well `help-wanted` is when we need help not the other way around. But yes to the rest of that!

[2019-05-31 16:42] gauravano commented on #292
If someone is filing an issue, asking a question and if the issue template is -- Help with Leaflet.DistortableImage, then I think, that user is asking for help? But, as you mentioned if it doesn't resonate perfectly then let's ignore it for now, and we can change anytime.

[2019-05-31 23:06] sashadev-sky commented on #292
@gauravano yeah I don't know. I don't think we shouldnt automatically label it that. Because we tell 2nd time contributors to take those on, so we want to check them out first. And if its just answering a question then the user isn't really doing a 2nd time "help-wanted" issue.

But I just merged your PR! So going to close this via #294

[2019-05-31 23:06] #292 closed

[2019-05-31 23:07] sashadev-sky commented on #290
Spaced updated by @gauravano! Keeping this open until @jywarren gets a chance to look over them!

[2019-06-01 05:07] Esh08 commented on #250
Hey! Sorry for the late reply. Just summarize once, The mistake I made was
to keep opening branches and make separate changes, when in fact, I should
keep making changes one by one as they merged. Hence, it ended up
duplicating the branches and PRs.
The steps which you have given me are to do the same.
I will try it once and let you know ASAP
Thanks :)

On Thu, May 30, 2019 at 4:02 PM Sasha Bogins

[2019-06-01 14:11] rexagod commented on #273
@miyujach You need to import [`leaflet-toolbar`](https://www.npmjs.com/package/leaflet-toolbar) as well.

[2019-06-01 18:44] sashadev-sky commented on #250
Yes open only one feature branch. fix all the files there. commit them. then push them up:

`$ git push origin <branch_name>`

[2019-06-04 04:33] Esh08 commented on #250
when we say "use command $ git clone <url>" locally, we mean on Git Bash
right? Or am I doing this wrong?

On Sun, Jun 2, 2019 at 12:14 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-04 06:29] KhanaaZero commented on #273
I get still the same error, although I added the import:
`import "leaflet" ;
import "leaflet-toolbar" ;
import "leaflet-distortableimage" ;`

[2019-06-04 10:24] rexagod commented on #273
@KhanaaZero Can you share the repo so I can clone it and have a look? Thanks!

[2019-06-04 13:34] jywarren commented on #270
OK! Progress! CORS is now enabled on exporter.mapknitter.org, and this works -- although ONLY from HTTP and not HTTPS:

[code]

[2019-06-04 13:34] jywarren commented on #270
Next i'll work with sebastian on SSL/HTTPS, but you can run this locally already!

[2019-06-04 21:10] whoisstan commented on #273
I am having the same issue:
`leaflet.distortableimage.js:1042 Uncaught ReferenceError: LeafletToolbar is not defined`

which is here:
`var EditOverlayAction = LeafletToolbar.ToolbarAction.extend({`

This is how I load it:
`import L from 'leaflet';  //: 1.5.1
import { GeoSearchControl, GoogleProvider } from 'leaflet-geosearch'; //2.7.0
import 'leaflet-toolbar'; //0.4.0-alpha.2
import 'leaflet-disto

[2019-06-04 21:22] sashadev-sky commented on #273
noting this same issue was reported on Jan 27 https://github.com/publiclab/Leaflet.DistortableImage/issues/123

[2019-06-04 21:48] rexagod commented on #273
Okay I can think of a few cases why could be happening, but to narrow it down, can @whoisstan, @miyujach, or @KhanaaZero, tell me the exact sequence of steps they did, that landed them into this error. Also, I'd be really helpful if anyone could paste the *full* error log here. Thanks for cooperating with us!

[2019-06-05 00:04] sashadev-sky commented on #270
@jywarren ok I updated locally to the above function you gave in #286 (its a little messier but I will clean it up just concerned about functionality right now), but I am pretty confused because it doesn't include `_generateExportJson`, and the 2nd part is just making a get request.

from it I get the output:

AJAX request 1: /id/1559692778/status.json

AJAX request 2 (using data from 1):{"status_

[2019-06-05 00:18] sashadev-sky commented on #250
yes! this should clone the repository, then you can `cd` into it. Are you having trouble with that part?@Esh08

[2019-06-05 05:47] KhanaaZero commented on #273
I get this error directly after importing your component.