[2019-06-05 07:27] sashadev-sky commented on #273
@rexagod I think I reproduced the issue. In our devDependencies we are locked in to `leaflet-toolbar` at 0.3.0 but since then the namespace has been updated to `L.Toolbar2`, so people pulling it in will get an error. I'm going to make a PR to update it right now, let me know your thoughts

[2019-06-05 08:49] flopail opened #296 "How to forbid distort mode (and enable only scale and rotate modes) ?"
Hi all,
:)

I don't find how to forbid distort mode. I need to give only possibility to rotate and scale image. Is there a simple way to do it ?

Thanks

[2019-06-05 22:28] sashadev-sky commented on #296
@flopail hi! We are currently in the process of creating an API that allows you to easily select which actions you would like. That being said, @rexagod is working on this so I think he can best direct you if there is a workaround in the mean time :)

[2019-06-05 22:29] sashadev-sky commented on #268
Also assigning @rexagod here :)

[2019-06-05 22:49] sashadev-sky commented on #250
@Esh08 if you need any live help feel free to message me in our gitter chatroom, linked at the bottom of this PR description!

[2019-06-05 23:37] sashadev-sky opened #297 "Update L.Icon initializers to use class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-06-06 00:46] jywarren commented on #270
Yes this is almost it! Basically there are multiple forms of submitting the
Json. My example used a URL, but yours will supply it in a post request as
the "collection" parameter (if I remember correctly, it's documented at the
mapknitter-exporter-sinatra readme) but the response should be the same. So
you run generateExportJson and assign it's output to "collection" in your
request. Make sense?

O

[2019-06-06 07:23] sashadev-sky commented on #270
@jywarren I tried a bunch of different combinations and I couldn't get it to work. Would you be available tomorrow afternoon to go through it with me and get it working? Sorry for the delay!

[2019-06-06 09:16] Esh08 commented on #250
Hey! I ran into some issues with it, I will discuss it ASAP in the gitter
chatroom. Thanks for being so patient and helping!

On Thu, Jun 6, 2019 at 4:19 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-06 10:13] jywarren commented on #270
I'm actually taking a couple days off, but I'll see if I can write an Ajax
request that works. Did the example here not work?

https://github.com/publiclab/mapknitter-exporter-sinatra/blob/main/README.md#usage

On Thu, Jun 6, 2019, 12:24 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-06 12:17] wawanopoulos opened #298 "Resize image feature and keep image ratio (No distortion)"
**Please describe the desired behavior.**
One missing feature to add in this plugin is the capability to resize the image and keeping the image ratio. (No distortion)
Today, this plugin offers only capability to play with the 4 corners of the image. Consequently, image ratio is not kept and the image is distordabled.

[2019-06-06 12:56] sashadev-sky commented on #270
I'm getting blocked by CORs for post requests still I think @jywarren. But I know there are other things that could be wrong that make it look like thats the problem :/ Ok no problem! maybe @icarito can help me?

[2019-06-06 13:31] sashadev-sky opened #299 "Update L.Point initializers to use class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-06-06 20:25] navassouza commented on #299
Hello,
can I take this one?

Thanks

[2019-06-06 20:44] ajmorozoff commented on #297
I'd like to take this

[2019-06-06 20:45] navassouza commented on #299
I'd like to take this one, please

[2019-06-06 23:59] sashadev-sky commented on #297
@ajmorozoff thank you go ahead :)

[2019-06-07 00:04] #299 closed

[2019-06-07 04:08] ajmorozoff commented on #297
Hey, I've been following the steps in the issue but don't appear to have permission to create a branch on the repo.

[2019-06-07 08:18] flopail commented on #296
Thank you @sashadev-sky for your answer and thank you @rexagod for your work future API! :)

[2019-06-07 08:57] flopail opened #301 "Image distorted in Scale mode"
**Describe the bug:**
When scale mode is active, image is sometimes distorted (so initial ratio is lost). There is a quite similar issue #85, but this one is closed and bug seems to be still there.

**Reproduce the behavior:**
To reproduce this bug, do a mousedown on a corner and resize image at min, then extend it (several times if necessary). Please see gif below.
![Scale-bug](https://user-image

[2019-06-07 09:03] flopail commented on #298
Hi @wawanopoulos, there is a Scale mode you can active with hotkey "S" after having selected image. This mode gives possibility to keep image ratio, but sometimes it bugs (see my recent issue #301). I hope it will help you.

[2019-06-07 10:29] sashadev-sky commented on #297
@ajmorozoff hey, where are you up to in the steps? Were you able to create a new feature branch on your fork?

[2019-06-07 10:34] sashadev-sky commented on #250
@Esh08 no problem mention me @sashadev-sky and lmk here when you do because it's very easy to miss github messages

[2019-06-07 12:44] ajmorozoff commented on #297
I got it figured out. PR submitted, thanks!

[2019-06-07 15:19] jywarren commented on #301
Oh thank you, and such good documentation of the issue as well!!!!

On Fri, Jun 7, 2019, 1:58 AM flopail <notifications@github.com> wrote:

[2019-06-07 15:21] jywarren commented on #301
This is probably slow drift from the continuous recalculation from the
previous location. Could be floating point drift? Or something like that?

In any case we could preserve the original aspect ratio when in this non
distortion mode maybe?

On Fri, Jun 7, 2019, 8:19 AM Jeffrey Warren <jywarren@gmail.com> wrote:

[2019-06-08 06:22] sashadev-sky commented on #165
Update: (finally) figured out that this can be done by extending rotateScale handlers, making them invisible and always on, and setting them to a size a bit larger than the image. Have not figured out how to make the handle size dynamic, so that when the user makes the image bigger the handle becomes bigger too. @rexagod any suggestions?

[2019-06-08 06:48] sashadev-sky commented on #301
@flopail the solution I think will correct this is outlined here: https://github.com/publiclab/Leaflet.DistortableImage/issues/219 - but the problem with it is those numbers are hardcoded based on my own trial and error for a specific image size. (I also moved those properties inside the class and have not documented them as part of the API yet because of aforementioned hardcoding). They were bett

[2019-06-08 06:57] sashadev-sky commented on #301
Reopening #85 . Also noting we never implemented any solution for pure scale, just rotateScale.

[2019-06-08 21:13] sashadev-sky commented on #246
closed via #255

[2019-06-08 21:13] #246 closed

[2019-06-08 21:28] #297 closed

[2019-06-08 21:39] sashadev-sky commented on #39
@jywarren did you want this to be just for mobile? Otherwise it also fires on right click

[2019-06-09 00:27] jywarren commented on #39
Sometimes I think I've seen long press be the equivalent of right click so
there's similarity across desktop/mobile. What if we adopt that convention?

On Sat, Jun 8, 2019, 2:39 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-10 20:58] jywarren commented on #270
OK we'll look at this now!

[2019-06-10 21:11] jywarren commented on #270
Running this locally, at a non-SSL (http, not HTTPS) site, in the console, i see this succeed:

[code]

Maybe you saw an SSL error by running it from an HTTPS site?

[2019-06-10 21:11] jywarren commented on #270
So, running this on MapKnitter, I see:

[code]

[2019-06-10 21:15] jywarren commented on #270
Sorry! OK, i tried this:

[code]

And this DID see a CORS error. Looking...

[2019-06-10 21:16] jywarren commented on #270
But the error is for `GET http://export.mapknitter.org/export 500 (Internal Server Error)
send @ jquery.js:8630
ajax @ jquery.js:8166
(anonymous) @ VM83:1
`

so I think it's because it errored, and we got CORS blocked on the error!

[2019-06-10 21:21] jywarren commented on #270
Realizing that we want the `collections` object to be singular so `collection`, AND that we need to add it to the initial request, not the 2nd request!  So, this should work:

[code]

But it doesn't... looking now....

[2019-06-10 21:22] jywarren commented on #270
https://github.com/publiclab/mapknitter-exporter-sinatra/blob/019548fbe21ba8f01ad7d219516af4d2c8c805de/app.rb#L71-L85 is where this should be receiving, but we got a 500 error... checking logs...

[2019-06-10 21:37] jywarren commented on #270
Ha! Found the error:

[code]

[2019-06-10 21:37] jywarren commented on #270
On `@images_json = JSON.parse(params[:collection])`

[2019-06-10 21:39] jywarren commented on #270
Aha! We needed to `JSON.stringify(collection)` before sending it!!!

[2019-06-10 21:39] jywarren commented on #270
Got it!!! OK, here:

[code]

This works properly!!!

[2019-06-10 21:41] jywarren commented on #270
And if you keep running this, it'll keep updating the status:

[code]

[2019-06-10 21:45] jywarren commented on #270
Hooray! This just returned:

[code]

And http://export.mapknitter.org/public/warps/1560202769/1560202769.jpg redirects to https://mapknitter-exports-warps.storage.googleapis.com/1560202769/1560202769.jpg, which shows:

![image](https://user-images.githubusercontent.com/24359/59229089-79286300-8ba7-11e9-8c1f-10fc016dd7a5.png)

[2019-06-13 01:21] sashadev-sky commented on #270
@jywarren I still get a 500 internal server error for the POST request and then a message saying I am blocked by CORS. You were able to run this on my PR from LDI?

[2019-06-13 12:38] jywarren commented on #270
Hm, I was able to run it from any page that's http, not https -- you ran the entire snippet at https://github.com/publiclab/Leaflet.DistortableImage/issues/270#issuecomment-500605485 ?

The 500 could be something malformed or erroring; the error pages themselves are not cors permitted, which makes it hard to debug.

[2019-06-13 22:11] sashadev-sky commented on #270
Post request payload:
collection: {"images":[{"id":77,"src":"http://sasha.mapknitter.org/examples/example.png","nodes":[{"lat":51.51,"lng":-0.16},{"lat":51.51,"lng":-0.2},{"lat":51.49,"lng":-0.17},{"lat":51.49,"lng":-0.21}],"cm_per_pixel":18.28125},{"id":79,"src":"http://sasha.mapknitter.org/examples/example.png","nodes":[{"lat":51.5,"lng":-0.09},{"lat":51.5,"lng":-0.13},{"lat":51.48,"lng":-0.1},{

[2019-06-13 22:30] jywarren commented on #270
Strangely, when I run this, I get:

[code]

But Sasha gets something different! So strange!

[2019-06-13 22:35] sashadev-sky commented on #270
local working implementation
[code]

Output:

[code]

[code]

mirroring @jywarren's ajax call to show my different reply:
[code]

permanently getting `"status_url": null, "status": "starting"` while jywarren actually gets status strings with updates

[2019-06-13 22:36] jywarren commented on #270
Even stranger, when I go directly through the Google Cloud Storage interface, i get a `status.json` file like this:

[code]

[2019-06-13 22:39] jywarren commented on #270
Maybe we were getting a locally browser cached `status.json` file. Let's try appending a timestamp to the request like:

`$.ajax('http://export.mapknitter.org/id/1560464327/status.json?TIMESTAMP').done(function(r){console.log(r)});`

[2019-06-14 19:10] rexagod opened #547 "Add automated image matching with matcher-core"
Discussion thread for `matcher.js`'s integration issues into `Leaflet.DistortableImage`.

/cc @jywarren

[2019-06-14 20:43] sashadev-sky commented on #104
Ah just saw this one after all my tooltip updates! I will open an issue for this soon to get one done and the workflow down then an FTO for the rest. Will use the nice tooltips from material kit pro to match the icons :)

[2019-06-14 20:48] sashadev-sky commented on #270
@jywarren is my next step here to open a PR to: `distortableCollection.startExport(callbackFn) with basic console.log callback function to show progress every X seconds`

the last PR really just grabbed that file finally, no cb to keep calling it

[2019-06-14 21:42] jywarren commented on #104
ok awesome. Not critical either, i just appreciate the tooltips you've put
in there, and at least in bootstrap, styling them is pretty easy and looks
great.

On Fri, Jun 14, 2019 at 4:44 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-14 21:45] jywarren commented on #270
yes, exactly. You'll store the returned status.json URL as a variable, and
then start a setInterval to run a periodic check on that URL, running a
callback function on the response each time.

What'll be great is to make it possible to set the callback function (maybe
onStatusUpdate(statusJson)?) as an overridable option. That way we can add
extra things when we integrate with MapKnitter, for exam

[2019-06-18 15:41] jywarren opened #306 "Collection of bug reports/input from Mapping Fellows"
Our Mapping Fellows (https://publiclab.org/tag/community-atlas) had a call today and we're reporting in a collection of UI/UX input from them here -- very helpful! Thanks Sairam and Mo!

I've separated these out into issues for Leaflet.DistortableImage and MapKnitter. The matching MapKnitter issue is at https://github.com/publiclab/mapknitter/issues/720

* [ ] It was hard to tell that the `X`s mea

[2019-06-19 00:38] sashadev-sky opened #307 "Library incompatible with Internet Explorer 8"
Using BrowserStack to run IE 8 on Windows 7, I have found that our library is not compatible with IE8. When loading: you see no image in the view:

<img width="1097" alt="Screen Shot 2019-06-18 at 8 36 24 PM" src="https://user-images.githubusercontent.com/41092741/59728638-ecb21c00-9208-11e9-8d47-8bed9cb717e5.png">

I was testing IE while testing out a polyfill I made for svg compatibility with IE

[2019-06-19 00:39] sashadev-sky commented on #307
@jywarren is this an important issue? I'm not sure how far back the standards for accessibility should go?

[2019-06-19 01:05] sashadev-sky opened #308 "Hotkeys don't work in Safari 9 and earlier"
We recently updated to the new `key` API as specified by WC3 but I see it's not working for Safari versions 9 and under. We may need to go back and implement fallbacks using the older API. Haven't checked where else won't work.

[2019-06-19 01:06] sashadev-sky commented on #308
@rexagod @jywarren where do you see this on priority

[2019-06-19 19:34] jywarren commented on #308
Thanks for this! I think low priority but MUCH appreciated!

On Tue, Jun 18, 2019 at 9:06 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-19 23:24] jywarren commented on #270
I updated the checklist!!!

[2019-06-20 01:55] sashadev-sky commented on #270
@jywarren Sorry!! I have been trying to wrap up implementing svgs in #274 after I noticed that my first implementation didnt support older browsers. Will be done there tonight probably then straight back to this.

Great, we can discuss the checklist update tomorrow :)

[2019-06-20 05:22] sashadev-sky commented on #250
@Esh08 going to assume you are not working on this anymore and solve it in my PR #274 where I'm already doing a lot of refactoring. If you ping me before thats merged and still want it you can of course still upload a PR for it and i'll accept it!

[2019-06-20 19:29] #290 closed

[2019-06-24 21:24] sashadev-sky commented on #306
@jywarren for "Mo found that the button that seemed to make sense was "rotate" but that didn't override the lock. Perhaps we should ensure that clicking rotate/scale/distort unlocks the image automatically."

I implemented the specific opposite where locked can only be overridden by unlocked. To me it made sense because what is lock really doing if it any other key overrides it. Maybe it would be

[2019-06-24 22:14] jywarren commented on #306
Hi! I had followed your reasoning and agreed with it, but on talking with
Mo, i saw more clearly how it was easy to miss that the image was locked,
if you aren't familiar with the UI. The X icons don't mean "locked" to
everyone - so that's one reason I suggested using tooltips there.

But also, on hearing from Mo, I was persuaded that requiring an extra step
(lock /then/ rotate) makes it more diff

[2019-06-24 22:41] sashadev-sky commented on #306
@jywarren okay I think that makes sense too. I don't think its a big change either way so if Mo prefers the mode to be changable in a 1-step process then I'll make that happen. i'll open a PR that takes all of these into account at once to try and make it more intuitive and get yours and Mo's input!

[2019-06-24 23:40] jywarren commented on #306
Thanks so much Sasha! You're so thorough!!!!!!

On Mon, Jun 24, 2019 at 6:42 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-25 04:24] sashadev-sky opened #311 "Get the transparency tool to work on a range"
Currently we just have two levels - opaque (opacity level at 1) and transparent (opacity level at 0.7)
![transparency](https://user-images.githubusercontent.com/41092741/60068907-b714a380-96de-11e9-9275-6ca3b7b5214b.gif)

Relevant lines of code are:

1) an `opacity` option for the 0.7 value
https://github.com/publiclab/Leaflet.DistortableImage/blob/c2bf3def17149735ab5790ae5f4a09fa9be513eb/src/edit

[2019-06-26 22:39] jywarren commented on #270
![image](https://user-images.githubusercontent.com/24359/60219752-b8121600-9841-11e9-934d-0b29e02a65ae.png)

[2019-06-27 03:36] #272 closed

[2019-06-27 03:37] sashadev-sky commented on #250
closed via #274

[2019-06-28 05:09] #250 closed

[2019-06-28 11:20] PanierAvide opened #313 "In scale mode, overlapping handles cause crash"
**Describe the bug:**
When scaling an image in "scale" mode, if you try to make image really small, at some point the scaling handles can overlap. I expect this to not cause any issue. But in fact it causes an error :
![scale_value](https://user-images.githubusercontent.com/1349014/60338503-6e8f0b80-99a6-11e9-9685-c3f75816d7e2.png)

When this happens, handles are then detached, and image isn't sca

[2019-06-29 22:08] sashadev-sky commented on #298
Closing this one! Thanks @flopail

We are working on updating documentation so the features are more obvious!

[2019-06-29 22:08] #298 closed

[2019-07-01 16:00] jywarren commented on #258
Hi @rexagod @sashadev-sky is this resolved in the latest version? I believe we've turned off the keymapper in MapKnitter.org now via https://github.com/publiclab/mapknitter/pull/651, so we may just be waiting to ensure keymapper appears only once, and this issue is complete?

[2019-07-01 20:54] jywarren opened #315 "Replace example images with an aerial image"
The example images should really be aerial photos, looking downward, as usable on MapKnitter.org -- not oblique angles. I know we discussed this but let's please replace these so that they make more sense for actual map stitching -- here's an example image that's an appropriate size and has some nice visual features:

![image](https://user-images.githubusercontent.com/24359/60465968-6215e780-9c20-

[2019-07-01 21:00] jywarren commented on #315
I'm so sorry! This is all good for the basic demo at `index.html`:

![image](https://user-images.githubusercontent.com/24359/60466445-a786e480-9c21-11e9-837b-0391cffccbe0.png)

I was looking at a cached version (so frustrating!) due to an unrelated project. But the above still goes for the multiple select demo!

[2019-07-01 22:18] sashadev-sky commented on #315
@jywarren I was going to fix this didn't forget about it! I was holding off a bit because I wanted to discuss with you why we are not using the recommended "google mutant layers" which would potentially end up changing the image we are using for the demo

[2019-07-01 22:20] sashadev-sky commented on #315
I agree the current demo makes it pretty confusing what is going on with the combo of the map and demo

[2019-07-01 22:40] jywarren commented on #315
No prob, just making sure I also didn't forget! Thanks!

On Mon, Jul 1, 2019, 6:21 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-01 23:26] sashadev-sky commented on #315
Ok cool! I sent you a slack message regarding the exporting in case you wanted to go through it again after the changes since I know it needs to be working asap

[2019-07-02 01:07] #270 closed

[2019-07-02 01:12] sashadev-sky opened #316 "MultiExport follow-ups (just docs now)"
follow-ups to #314:

- [ ] show a spinner, and hide it when complete! **pending**: hide when completes
  - loader UI: considering for now just adding animated SVG loader icon to replace Export icon during load
- [x] prompt('Choose a scale in real-world centimeters per pixel, or click OK to use our best guess. Keep this window open to wait for your export to complete.', this._getAvgCmPerPixels()) (

[2019-07-02 01:15] sashadev-sky commented on #316
@jywarren

[2019-07-02 01:24] sashadev-sky commented on #186
closing via #314

[2019-07-02 01:24] #186 closed

[2019-07-02 01:29] sashadev-sky commented on #29
@jywarren made some updates here!

[2019-07-02 01:31] sashadev-sky commented on #62
I am going to keep this on open because it reminds me to add defaults icon options for Rotate and Scale. Also its not done yet - have to hash out the custom feature API next.

[2019-07-02 01:41] sashadev-sky commented on #273
We just released version `0.5.0` on npm. I believe that this has resolved the problem! And please let me know if it has not

[2019-07-02 14:35] jywarren opened #317 "Move Exports and Delete into L.DistortableCollection namespace"
`Exports` and `Delete` are in the global namespace, and I think it's best we move them into `L.DistortableCollection` -- aren't they actions for `DistortableCollection`? maybe:

* `L.DistortableCollection.ExportAction`
* `L.DistortableCollection.DeleteAction`

https://github.com/publiclab/Leaflet.DistortableImage/blob/d9347144917d60c3cd81694c3f38131dc33f0902/src/edit/tools/DistortableImage.Control

[2019-07-02 15:54] jywarren commented on #316
Awesome! Also linking to https://github.com/publiclab/mapknitter/issues/756 `Insert custom updater function into Leaflet.DistortableImage for displaying export status`

[2019-07-03 16:10] jywarren opened #319 "Breaking change to toggleRotateDistort?"
I realize the change from `_toggleRotateDistort` to `_toggleRotateScale` in https://github.com/publiclab/Leaflet.DistortableImage/pull/229/files#diff-768de6f5429b5761052f2e8e3640ec12R73 could be considered a breaking change -- it definitely needs refactoring in https://github.com/publiclab/mapknitter/pull/782.

Should we bump LDI a major version number as a result? Or add an adapter/alias to make

[2019-07-03 16:15] jywarren commented on #319
cc @sashadev-sky what do you think?

[2019-07-03 16:53] jywarren opened #321 "Make locked images selectable"
This is important because for multiple image select, many images may be locked even as you're looking to export them. Let's make this change, and think through next steps:

If the lock icons still show, we should be OK, although perhaps we want to make groups unlockable.

But if the lock handle icons (`X`s) /don't/ show, we may need to add that (not in the initial fix but in follow-up) so that it'

[2019-07-03 20:02] jywarren commented on #321
@sashadev-sky if you're able to help untangle this one, that'd be awesome!

[2019-07-03 21:07] sashadev-sky commented on #319
@jywarren whatever you think! I had thought because we hadn't revealed that to the outer API as `_toggleRotateDistort` its not considered a breaking change because the expectation is that people weren't grabbing that method from the source code anyway?

I read that until version 1 of a package is released, you don't strictly have to follow semver convention. but once version 1 is you do. So I have

[2019-07-03 21:16] sashadev-sky commented on #321
@jywarren ok let me try to make an "unlock all" action! Doing this now

[2019-07-03 21:16] sashadev-sky commented on #321
"unlock selected group"***

[2019-07-03 22:18] jywarren commented on #321
Ah, if it's possible, maybe preferable to leave them locked (even though
selected), as we may want to export even without deciding to unlock, so we
don't accidentally move them? Is that possible? Thanks!!!!

On Wed, Jul 3, 2019 at 5:17 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-03 22:19] jywarren commented on #319
Sounds good. Let's alert @ChrisLowe-Takor about this just in case it affects that downstream usage. Thanks!

[2019-07-03 22:19] jywarren commented on #319
linking to https://github.com/publiclab/Leaflet.DistortableImage/issues/105

[2019-07-04 02:45] sashadev-sky commented on #317
@jywarren I was thinking about this a bit! This would be a decision we would ultimately make for all the actions, the overlay ones too.

I think we are going to have to expose them as a class if want them to be customizable. This would be the last piece to #161. I am also opening a PR next to make an `L.DistortableCollection.Edit` class to match the overlay API. (the editing functions will go ther

[2019-07-04 03:19] ChrisLowe-Takor commented on #319
No won't effect me - I'm still using the local hacked up version in the react wrapper.  Honestly, that repo has gotten a little stale and I won't have the time to update for at least a few months so don't worry about any breaking changes on my part.

[2019-07-04 03:58] sashadev-sky commented on #268
@flopail sorry for the late reply, we have been making updates towards this in our latest npm release!

Each toolbar tool just calls a corresponding private method. I would be happy to walk you through these methods so you can have your own button invoke them, but I would be cautious about doing this as we are expecting changes in the next few weeks that would be possibly breaking in this case.

L

[2019-07-04 04:37] sashadev-sky commented on #320
@jywarren @ebarry This is really exciting I managed to replicate this bug in LDI and I think it is a big realization about an implementation detail that we were confused about before:

- in the 2nd map from jeff (https://mapknitter.org/maps/cranston-test), you can make the image smaller up until it is a certain size (the same size that the images currently are in the 1st map (https://mapknitter.or

[2019-07-04 04:42] sashadev-sky commented on #320
Also really cool, watch how the size of the image is recalculated at different zoom levels. We need to figure out what this calculation is and if its the same for all browsers:
![bug3](https://user-images.githubusercontent.com/41092741/60640247-3b100f00-9df4-11e9-8dae-6526da1a8471.gif)

[2019-07-04 05:09] sashadev-sky commented on #321
@jywarren yes I think I have implemented what you were requesting in #324! They can now be selected and exported while locked. In doing that I also added a sensible way to dealing with locking and unlocking groups. I think to make things the most clear, we should do similar to what I did for multi-delete and a message "you are exporting x num of images".

[2019-07-04 05:20] sashadev-sky commented on #238
Adding on - now that we have an API to limit certain tools and also forming the concept of a "default" toolbar, we should consider what to do with the corresponding hotkey for that action. I.e. non-default tools like `rotate` and `scale` are useful to keep as hotkeys but not if the user is trying to forbid these actions
@jywarren

[2019-07-04 05:36] sashadev-sky commented on #194
@jywarren @rexagod I am going to close this one! But noting we still need to document adding a custom external action (what @rexagod is referring to above) - this is now possible, but I think we should hold off on this until we finish figuring out how to implement it as an easy to use API as well (#317)

[2019-07-04 05:36] #194 closed

[2019-07-04 06:05] sashadev-sky opened #325 "`supressToolbar` should only remove tb for class it is passed to"
currently, passing `suppressToolbar` to `L.distortableImageOverlay` also prevents the `L.distortableCollection` toolbar. This is because in our conditionals we just check if the overlay class has `suppressToolbar` passed.

https://github.com/publiclab/Leaflet.DistortableImage/blob/37e68da49e2ec2573ad605e3b243ada1d34354fe/src/edit/DistortableImage.Edit.js#L502-L517

Fix this so that a separate opti

[2019-07-04 06:05] sashadev-sky commented on #325
@jywarren

[2019-07-04 12:25] #321 closed

[2019-07-04 18:49] rexagod opened #326 "[Google Summer of Code] Second Phase Progress Update"
Okay so just highlighting here that for this phase, as was mentioned in my timeline, I will be operating on the following issues.

- General debugging at #87
- Setting up a Jest test suite for `matcher-cli` w/ suitable documentation, demos, and usage examples.
- Resuming work on #312 once @jywarren and I are done with the issues over at `matcher-core`.

cc @jywarren @sashadev-sky @sagarpreet-chadh

[2019-07-05 16:15] jywarren commented on #325
Ah, this sounds like a good idea. Thanks!

Someday, do you see DistortableCollection becoming its own separate library? Or is it too intertwined with LDI?

[2019-07-05 16:27] jywarren commented on #317
Hm, is it not possible to simply append them as properties of a namespace,
rather than fully-fledged classes themselves? Even `L.______` namespace is
available, although we'd want to name them something more specific like
`L.DistortableExportMultiple` maybe.

On Wed, Jul 3, 2019 at 10:45 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-05 16:33] jywarren commented on #320
oh wow, what an obscure issue!

Is there a short-term fix that gets basic scaling working again, with the more subtle projection issues solvable in a follow-up? Thanks Sasha!

[2019-07-05 17:24] jywarren commented on #30
Hi! I wasn't able to see this working in the latest release's `select` demo - http://publiclab.github.io/Leaflet.DistortableImage/examples/select

But it does work in the main demo: http://publiclab.github.io/Leaflet.DistortableImage/examples/

Do we have to make a constructor settings change to enable this behavior? Just checking, thanks!

[2019-07-05 17:25] jywarren opened #327 "Direction of drag for selecting multiple images"
Hi! I'm really enjoying the multiple image select in the latest release. I noticed that I seem to be able to select only by dragging from lower-right to upper-left, but no other direction (i.e. not from NE>SW or SW>NE or NW>SE). I was wondering if we could adapt the selection math to address this?

![image](https://user-images.githubusercontent.com/24359/60737238-0dc47d80-9f28-11e9-85fa-0ad1850fda

[2019-07-05 17:28] jywarren commented on #327
That's odd. The bounds code seems to be direction invariant here:

https://github.com/publiclab/Leaflet.DistortableImage/blob/10a78c572dc1a1499555d75b3bf661cc4cddd476/src/DistortableCollection.js#L167-L183

Wonder what's up.

[2019-07-06 19:16] ViditChitkara opened #328 "Adding certain events to support concurrent editing"
We might be needing the following events to be broadcasted on the action cable([mapknitter](https://github.com/publiclab/mapknitter))
channel whenever a change is made:-

1. updateImage - Whenever an image is updated. We need to make sure the image is locked to other users when one user is making edits to it (still need to figure out how to do this).
2. deleteImage - Whenever an image is deleted.

[2019-07-06 19:17] ViditChitkara commented on #328
@jywarren @divyabaid16 @jainaman224 any ideas here?

[2019-07-06 21:53] sashadev-sky commented on #328
@ViditChitkara don't fully understand what is needed here but if you would want to schedule a time for a phone call to walk me through I can help you implement this from the LDI end!

[2019-07-06 21:57] sashadev-sky commented on #328
@ViditChitkara actually maybe I do understand. You just want 3 custom events fired from the LDI side, that send through the imageId and corners as json data, and can be listened for on the MK?

[2019-07-06 22:00] sashadev-sky commented on #327
I think it may have something to do with flipping axis or something else very hard to debug 🙄I will check it out right now and see if I can work around it by flipping the axis myself and checking again

[2019-07-06 22:06] sashadev-sky commented on #327
@jywarren you can drag from any direction, but you must make the area a lot larger to do this from any direction other than bottom-left:

![bug](https://user-images.githubusercontent.com/41092741/60761537-bf42dc00-a018-11e9-8f81-d90edb877787.gif)

[2019-07-06 22:20] sashadev-sky commented on #327
I think it has to do with this line:

https://github.com/publiclab/Leaflet.DistortableImage/blob/10a78c572dc1a1499555d75b3bf661cc4cddd476/src/edit/BoxSelector.js#L83

and this:
https://github.com/Leaflet/Leaflet/pull/5204/files

[2019-07-06 22:22] sashadev-sky commented on #315
@jywarren ok so did you want, when this is fixed, for the map to also be updated to Google Mutant Layers?

[2019-07-07 06:44] ViditChitkara commented on #328
Yes Sasha, that's exactly what is wanted.
However we need to design those events carefully. I think adding and deleting an image won't cause much of a conflict.

But, what will if two users are making changes to the same image. Will it be that frequent?

A possible case I can think of, to prevent such conflicts is, a single user who is editing the image will have an option to lock the image editin

[2019-07-07 12:05] rexagod commented on #315
@jywarren Sure thing! I've replaced the older images with these in the demo. 👍

[2019-07-07 13:57] rexagod commented on #87
@sashadev-sky Can you please glance over the issues above and let me know if you've started/finished up on anyone of these in any of your PRs? That'll be really helpful to know.

Some of these I think are done with:
 - add image ordering -- bringToFront() should be temporary only; we need img.raise() or img.lower() or img.raiseToTop() etc... also img.order() for current position in order
 - create

[2019-07-08 13:42] flopail opened #330 "CSS selectors without class or id in v0.6.0"
**Describe the bug:**
In leaflet.distortableimage.css, several CSS selectors include only HTML tags and no cleaner selectors such as class or id. As a result, these styles sometimes override other CSS styles you have in your app or website.

**Reproduce the behavior:**
Have a look to leaflet.distortableimage.css in dist folder, especially these CSS selectors:
- svg
- td
- th
- kbd

**Browser, vers

[2019-07-08 14:15] jywarren commented on #330
Oh gosh, thanks for this catch! We'll issue a patch promptly. You don't
have one already created, do you? Just asking in case! Thanks again.

On Mon, Jul 8, 2019 at 9:42 AM flopail <notifications@github.com> wrote:

[2019-07-08 14:18] flopail commented on #330
Hi @jywarren, no patch created on my side. Thanks!

[2019-07-08 14:30] jywarren commented on #330
I /think/ this will work, although I want to double check with @sashadev-sky that the existing styles are preserved. You can point at that branch in the meantime if it's urgent, but I think we can get this resolved in a few hours. Thanks again!

https://github.com/publiclab/Leaflet.DistortableImage/pull/331

[2019-07-08 15:55] jywarren commented on #315
Great! We should be all good here now!

On Sun, Jul 7, 2019 at 8:06 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-07-08 16:06] jywarren commented on #87
Hi! I think finishing up submenus will be really useful as it'll allow us
to better organize and consolidate current features, and make more room for
more toolbar menu items! Thanks!

On Sun, Jul 7, 2019 at 9:58 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-07-08 23:18] sashadev-sky commented on #325
@jywarren I dont know. It could be separated out but it's hard for me to picture the implementation details right now.

[2019-07-09 00:08] sashadev-sky commented on #315
@jywarren They are not updated for our demo? Did @rexagod mean his demo for the matcher? Also should I still open a PR to change the layers we use to google mutant layers?

[2019-07-09 00:11] sashadev-sky opened #332 "Inline SVG"
We are currently using an external SVG sprite sheet to render our SVG's. In MK, this creates an issue with finding that external file because of some quirks with Rails asset path.

To resolve this issue and ensure it doesn't happen in the future, I am thinking to just inline the SVG.

This would be followed by a version bump and an attempt to reconnect back in MK and delete the extraneous overrwri

[2019-07-09 00:11] sashadev-sky commented on #332
@jywarren

[2019-07-09 00:15] #39 closed

[2019-07-09 00:16] sashadev-sky commented on #330
was `svg` overriding anything? I was thinking if we're mostly using `svg` for icons, then we should globally set it to 18px. Then in an instance where we don't want something to be 18px, we add more specific styling. Is this ok or do we not like this? I can add a comment above it in the css file explaining that?

[2019-07-09 00:59] sashadev-sky commented on #46
Closing this one via #303 !

[2019-07-09 00:59] #46 closed

[2019-07-09 04:40] sashadev-sky opened #333 "Refine `Lock` mode and update docs"
Currently, `lock` mode prevents image deletion and any movements (distort, rotateScale, drag), but `ToggleTransparency`, `ToggleOutline`, `ToggleOrder`, `Export` and `Restore` still work on a locked image.
- @jywarren is it ok for me to open a PR to prevent these editing actions, except for `Export` in `lock`? - I can add doc that only Export and Exports is available for locked images.
- alternati

[2019-07-09 04:40] sashadev-sky commented on #333
@jywarren

[2019-07-09 04:45] sashadev-sky commented on #328
@ViditChitkara  isn't the ultimate goal in MK to make people's maps associated with their accounts, so only one user is allowed to make updates to his own image anyway? Need some background on the action cable project and this group editing concept!

Currently every image does have a `lock` / `unlock` option in the toolbar.

- a custom event firing on lock / unlock is definitely a reasonable way t

[2019-07-09 06:04] sashadev-sky commented on #87
@rexagod Looking them over! @jywarren would appreciate your input on these points:

- [ ] shift-drag (scale with no rotate) doesnt work if you shift first, only if you drag first
  - shift-drag is `BoxSelector`! `BoxSelector` doesn't display this problem. Why did we want to have this for scale? Pretty sure this is old?

- [ ] decide if we need to keep updating `_bounds`
  - also old because we use

[2019-07-09 13:09] sashadev-sky opened #335 "DistortableCollection.Edit"
make a DistortableCollection.Edit class so the Tool API will work the same on it as on DistortableImage.Edit - then update docs

[2019-07-09 13:15] sashadev-sky commented on #30
@jywarren this behavior is working for me in http://publiclab.github.io/Leaflet.DistortableImage/examples/select

see gif:
![selectdrag](https://user-images.githubusercontent.com/41092741/60890722-e6242c80-a229-11e9-85cc-eebd483e9f33.gif)

It's just the way it is implemented, it's not enabled through any option or anything like that. Perhaps maybe try it again?

[2019-07-09 13:19] sashadev-sky opened #336 "Loader UI"
loader UI: considering for now just adding animated SVG loader icon to replace Export icon during load

[2019-07-09 13:19] #336 closed

[2019-07-09 14:16] jywarren commented on #333
Let's think of what would be the "destructive" actions we want to prevent
-- movement for sure, but so Restore as well? Transparency, export and
outline seem non-destructive, but i'm not sure about order. I guess if we
are saving order on the server (at some point soon) then it is destructive
too...

On Tue, Jul 9, 2019 at 12:41 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-09 14:28] jywarren commented on #315
+1 google mutant layers, i guess... it's a bit more visually noisy but more
realistic!

I think I did update the demo --
https://publiclab.github.io/Leaflet.DistortableImage/examples/select do you
not see them? Cache maybe? Thanks!

On Mon, Jul 8, 2019 at 8:08 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-09 14:29] jywarren commented on #332
OK, this sounds good!

On Mon, Jul 8, 2019 at 8:11 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-09 14:54] jywarren commented on #330
Ah well if this library is used in conjunction with any other code that has
an svg, the style would be applied to everything. We'd best namespace our
styles to avoid this! It's like using a global variable. Make sense?

On Mon, Jul 8, 2019, 8:16 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-09 15:22] rexagod commented on #315
@sashadev-sky I was referring to the matcher test case for stitcher. Sorry for any confusion!

[2019-07-09 15:54] ViditChitkara commented on #328
@sashadev-sky Well, yes I think it'll make more sense if the user who uploads the image is able to edit it and not others. However the users may add multiple images and the changes could be reflected in real-time. I think that way the update of a single image issue would be automatically resolved. What do you think?
Thanks for digging into this!!!

[2019-07-09 15:58] jywarren commented on #328
We often have folks doing a group workshop where multiple people want to
edit. So, perhaps what we should do is open an issue at MapKnitter that
provides a setting "allow anyone to edit this map" when you create the map,
and we can make that an editable setting? We could eventually allow various
permissions levels as in Google Docs.

On Tue, Jul 9, 2019 at 11:55 AM Vidit <notifications@github.com>

[2019-07-09 16:13] ViditChitkara commented on #328
Okay, so do we need to do the locking thing? Like when the user locks a particular selected image, no other user at that very instance shall be able to edit that image. (Adding, deleting and updating other images is fine I think). Does this make sense? Sasha demonstrated the locking/unlocking event in above comments.
Also I'll make the new issue for the editing option while creating the map.
Thank

[2019-07-09 19:54] sashadev-sky commented on #219
@jywarren

[2019-07-09 19:54] jywarren commented on #320
https://github.com/publiclab/Leaflet.DistortableImage/blob/83e3371582e2c36ea962376deec7261466a679b8/src/edit/RotateScaleHandle.js#L26-L32

[2019-07-09 19:54] sashadev-sky commented on #219
linking #320

[2019-07-09 19:59] jywarren commented on #320
So in that section we should convert `overlay.getCorner(0)).distanceTo(overlay.getCorner(1)` to screen space, not world-space, right?

`latLngToContainerPoint()` - https://leafletjs.com/reference-1.4.0.html#map-latlngtocontainerpoint

[2019-07-09 20:12] jywarren commented on #320
[code]

[2019-07-09 20:18] jywarren commented on #320
And, `edgeMinWidth` should be something like 10px

[2019-07-09 21:35] sashadev-sky commented on #320
updating these lines allows for the image to 'self delete':
<img width="1258" alt="Screen Shot 2019-07-09 at 5 33 08 PM" src="https://user-images.githubusercontent.com/41092741/60924675-c152a800-a26f-11e9-8bd3-946e5e66621f.png">

Will continue debugging

[2019-07-09 22:18] jywarren commented on #326
Awesome!!!

[2019-07-09 23:30] jywarren commented on #87
I think this is OK. This comes up sometimes when people want to ONLY scale something, but preserve its rotation. we should be able to detect clicking on a handle and not BoxSelect if so, and get this working in either order, but not a priority!

`_bounds` -- yeah,  agree with `a lot of Leaflet functions work on _bounds` -- for sure!

+1 `revert` as the new `restore`!

`toGeoJson` is not that impor

[2019-07-09 23:34] jywarren commented on #203
This is complete! Just the spinning icon needed now :-)

[2019-07-09 23:35] jywarren commented on #87
I think highest priorites now are:

* add spinner to multi-exporter
* submenus

Then:

* finish gesture rotation #253
* https://github.com/publiclab/Leaflet.DistortableImage/issues/306
* anything labeled `high priority`?

[2019-07-09 23:42] jywarren commented on #328
Ah, yes! I think we should do locking. Could we do a generic `update` event
that can pass various types of image state, like transparency, locked-ness,
new corner positions, etc?

On Tue, Jul 9, 2019 at 12:14 PM Vidit <notifications@github.com> wrote:

[2019-07-10 06:25] ViditChitkara commented on #328
Sure we can do that!! Will do that.

[2019-07-10 12:14] sashadev-sky commented on #320
couldn't get this to work. Noting other solutions i'm thinking to try next / just notes -

- error thrown In a call to `_reset` after setting new corners in `_scaleBy`, it's throwing an error for an invalid `latLng`.
- I attempted to overrwrite the `_scaleBy` function to update the scale using a scalar matrix based on points instead of current implementation where we `setCorner(s)` based on calcul

[2019-07-10 15:09] jywarren opened #338 "Future feature: arrow-key placement"
This might conflict with the "pan the map" usage of arrow keys, but:

From https://publiclab.org/notes/molangmuir10/07-02-2019/mapknitter-ui-evaluation-2-mapping-nottingham-s-urban-greening#As+well+as+the+screen+recording+here+are+some+general+points+from+using+mapknitter...

However, maybe arrow keys could be used for moving an image when an image is selected, but otherwise for panning the map.

[2019-07-10 15:17] jywarren commented on #328
Hi! I thought about this a bit more and think we need to loop in @divyabaid16 as well on this -- a couple complicating factors --

first, what do you think of relating this to the "image versioning" project? https://github.com/publiclab/mapknitter/issues/682

Because if multiple people edit, each action could become a "version", you know?

Second, what about offline use... this is less critical bu

[2019-07-10 18:19] sashadev-sky commented on #87
@jywarren I don't remember shift + drag for scaling ever being a feature! I could add this, but it doesn't seem like a convenient way to scale from the keyboard, having to target the handle exactly.

Do you think maybe we should see through #165 (rotate gesture support) first and then decide what makes sense after? I am not sure if I will end up adding scaling to it (hopefully will) and not sure i

[2019-07-10 18:33] sashadev-sky commented on #87
@jywarren geoJSON may help solve some bugs. I am slowly trying to root out the primary library bugs right now but I think they will involve some big changes - from switching to webGL or Canvas, SVG, geoJSON, or using only transformation matrices. Still a lot to think about there!

gesture rotation was working okay last time I worked on it. Still needs cleaning up and have to verify the implementat

[2019-07-10 19:45] jywarren commented on #87
Sure, the shift/drag to scale only was just turning off the rotation line
in the rotate/scale, if it detects the shift key. It's not super important.

Regarding gesture rotation, sounds great, and i think the key here is that
we're looking to plug it into the same kind of "move the corner points"
approach to rotation and scale as the rotate/scale tool. That is, we should
a) establish the angle and

[2019-07-10 20:14] ViditChitkara commented on #328
Well, I think that's a really cool idea. https://github.com/publiclab/mapknitter/blob/8a4d204875a1b07024cf1822a0a1559475400050/app/controllers/images_controller.rb#L73-L97 -> This is called whenever an image is placed somewhere on the map.
Along with this, four nodes are created which tells the exact position of that image. What if we call some method(in the update method itself) to fetch:-
Map ->

[2019-07-10 20:15] ViditChitkara commented on #328
@jywarren @divyabaid16 what do you think?

[2019-07-10 20:24] sashadev-sky commented on #87
@jywarren I just got the initial placement and animateZoom of the images to work with transform matrices in #339 so v happy about that! Hoping I can get rotation and scale to work with it, and then the distortion will be gone 🎉

[2019-07-10 20:57] jywarren commented on #328
Cool -- so, would this work directly peer to peer as well? Whether it goes
Browser => Rails => Browser or Browser => Browser, we should figure out a
JSON 'transaction' format that will work.

On Wed, Jul 10, 2019 at 4:16 PM Vidit <notifications@github.com> wrote:

[2019-07-10 21:40] ViditChitkara commented on #328
I think the first one:-
Browser to rails (The normal update method is called) -> Fetch the images and get the required transaction format (rails) -> Rails method broadcasts it to users.
And yes, we need some ideas on JSON 'transaction' format and more importantly how we are going to use that json to update map on each user's site. Like should we reload the page or manually put the images as the js

[2019-07-10 21:45] jywarren commented on #328
Let's hear from DivyaBaid16 first, but this is sounding good!

Wouldn't the JSON transaction be generated in JS on either end, even if
it's relayed through Action Cable, rather than building JSON in rails?

On Wed, Jul 10, 2019 at 5:40 PM Vidit <notifications@github.com> wrote:

[2019-07-10 21:56] ViditChitkara commented on #328
I think we can do it either ways. I think doing it on the rails server would just be a method call '.to_json' or something. So it'll be like:-
update method called -> rails collects the warpables for the map and create a json, finally broadcasting it to all other connected browsers -> use the captured json by browsers to make realtime changes.(This will likely be done by JS on all browsers, will n

[2019-07-10 22:17] jywarren commented on #320
Hmm, I'm going to look at this error:

`error thrown In a call to _reset after setting new corners in _scaleBy, it's throwing an error for an invalid latLng.`

first!

[2019-07-10 22:28] jywarren commented on #320
OK, i think i got it. Basically it's working, but when we do this comparison `(w > edgeMinWidth && h > edgeMinWidth)` that's not right - we shouldn't veto scaling down just because /either/ dimension is under the limit. It's easy for 2 adjacent corners to be at very similar `y` values but different `x` values, but still not be close to each other. We need to use the pythagorean theorem to find the

[2019-07-10 22:29] jywarren commented on #320
so:

[code]

[2019-07-10 22:31] jywarren commented on #320
See #340!

[2019-07-10 22:33] jywarren commented on #320
You can still brute-force it somehow... spinning around until you can get it to run. And there are some distortion issues happening. But I think bumping the min value to 30px can be a relatively good fix.

[2019-07-10 22:34] jywarren commented on #320
![image](https://user-images.githubusercontent.com/24359/61009639-570a3800-a341-11e9-856b-5334a67e21c6.png)

[2019-07-10 22:35] jywarren commented on #320
Here's limiting to 50:

![image](https://user-images.githubusercontent.com/24359/61009660-70ab7f80-a341-11e9-82d1-5d6e44b933cb.png)

[2019-07-10 22:35] jywarren commented on #320
50 seems good! Now I think we're just facing this distortion issue which is it's own thing. (#85 #301)

[2019-07-10 22:36] jywarren commented on #320
You can get past it if you are scaling really fast, like, if the change in scale is close to 50px change per animation frame, but it's pretty tough.

[2019-07-10 22:45] jywarren commented on #219
Fix in #340 - and noting that `edgeMinWidth` is expressed in container (screen) pixels, so it should be scale invariant. Basically, we're saying "don't allow scaling down if the image is already less than X pixels wide on the screen (because it'll be too small to manipulate anyways)" with the implication that you should just zoom in if you want to make it smaller; then regardless of map zoom level

[2019-07-10 22:51] jywarren commented on #301
In looking into #340, I think this is the responsible section for at least some of the distortions:

https://github.com/publiclab/Leaflet.DistortableImage/blob/70b22a2ff4e5b7f0c939ea70340746bbade161cc/src/edit/DistortableImage.Edit.js#L244-L251

I think it's because the values we're using to scale are integers and so we lose decimal precision over time as you keep running this math.

But maybe it'

[2019-07-10 22:54] jywarren commented on #86
I haven't seen this for a long time!

[2019-07-10 22:54] #86 closed

[2019-07-10 22:58] jywarren commented on #301
Here's an animation of this 2nd type. I don't know if finding a solution to the decimal precision section would solve this too?

![mapknitter](https://user-images.githubusercontent.com/24359/61010497-7c4c7580-a344-11e9-8440-26c3a5543687.gif)

[2019-07-10 23:01] jywarren commented on #301
Maybe we could do all the math in latitude/longitude instead of pixels, but that could introduce some strange behavior if lat and lon aren't the same scale -- like, in current math we go to the origin (add and subtract `center`) i think... not sure if that'd work...

Maybe this could help? https://github.com/bbecquet/Leaflet.PolylineDecorator/commit/00f7db59fe322852b0b72cc70ca37fc3d79087ce

[2019-07-10 23:02] jywarren commented on #301
There they use `map.project()` instead of `map.latLngToLayerPoint()`... let me try.

[2019-07-10 23:03] jywarren commented on #301
https://leafletjs.com/reference-1.4.0.html#projection

[2019-07-10 23:09] jywarren commented on #301
Whoa! uh... maybe I solved the trapezoidal distortion issue with this, but not the tending-towards-squareness type?

[2019-07-10 23:09] jywarren commented on #301
See #341!

[2019-07-10 23:10] jywarren commented on #301
Hmm. OK, it's even possible there's a third type:

![image](https://user-images.githubusercontent.com/24359/61010968-5de77980-a346-11e9-918a-7956bcf9311a.png)

[2019-07-10 23:18] jywarren commented on #301
By increasing the minimum size you can make an image in https://github.com/publiclab/Leaflet.DistortableImage/pull/340/ (set there to 50) we may be able to limit this because the rounding errors may be more dramatic at smaller pixel sizes (since the errors are larger proportionally to the image size).

Another approach could be to essentially remember all corner coordinates (measured as x, y from

[2019-07-10 23:19] jywarren commented on #301
However, #341's use of `project()` instead of `latLngToLayerPoint()` is also important, so as to preserve decimal precision!

[2019-07-10 23:33] jywarren commented on #328
Cool! My preference is slightly for a single means, so that we use the same
code for peer-to-peer connections like using https://peerjs.com/ as we do
in the Rails version where it'd be relayed by Rails. It just seems a little
simpler than intercepting and re-building in Rails if we're able to
generate them on the client side anyways, and we do have to watch for
performance hits if tons of these ar

[2019-07-11 04:42] sashadev-sky commented on #219
@jywarren should we add some `edgeMinWidth` tests and open it to the API? I think it could be a really cool customizable aspect of the overlay and used for different things

[2019-07-11 05:20] ViditChitkara commented on #328
Yes, I had a look at peerjs.com . But it occurs to me, wouldn't it be really complicated when we consolidate the edits of each user who is connected and send it to other peers? Maybe the peerjs server(which just acts as a connection broker) handle it but I think the edits we compile manually would be less reliable as to what we fetch from the database itself.

[2019-07-11 05:23] ViditChitkara commented on #328
In addition to that, with action cable we could handle authentication and the app logic with a lot of ease as compared to an external service like peerjs. What do you think??

[2019-07-11 06:09] divyabaid16 commented on #328
Hi everyone. I agree with @ViditChitkara what he is trying to say.
And one more thing that bothered me was like if a user would not like anyone to edit the map, he must be given that privilege. What I mean is that when there is a group project only the people working in that group must be allowed to update/edit the images. Because currently, anyone can do so.
What if we add the option of who all c

[2019-07-11 15:24] #219 closed

[2019-07-11 15:24] #320 closed

[2019-07-11 15:32] jywarren opened #343 "Add border tool bound to "delete" action - bug?"
I clicked the border button but got this notice -- maybe a small crossed wiring of these? Not a huge deal since there's a confirm alert but we should try to patch this pretty quick. Thanks!

![image](https://user-images.githubusercontent.com/24359/61064323-8d8e9400-a3cf-11e9-85a4-4b3488a3e572.png)

[2019-07-11 15:34] jywarren commented on #320
Confirmed thsi is fixed and published to MapKnitter! Thanks all!

[2019-07-11 18:36] jywarren commented on #328
Hi, ok this is such a good point:

Like, Rails is the 'decider' so to speak of what is the official version. Peer.js can't do this. That makes sense.

@divyabaid16 also great point. We can do a lot on this by making "editable by others" a per-map setting as in https://github.com/publiclab/mapknitter/issues/84, a long-desired feature. It'd be great if you wanted to take this up, it shouldn't be too

[2019-07-11 18:37] jywarren commented on #328
So, perhaps we really do need to build the transaction handling in MapKnitter's codebase and this repo would contain only the events. Still, we may need to think about an "undo" button on each image that lets it go back to a previous version. That'd be integration to plan ahead for.

[2019-07-11 18:47] jywarren commented on #219
Sure, that sounds good!

On Thu, Jul 11, 2019 at 12:42 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-11 21:46] jywarren commented on #327
Hm, i'm getting some odd behaviors on dragging for big maps on MapKnitter.
After zooming around a bit it seems maybe the calculations are offset? I
can try to make a GIF soon!

On Sat, Jul 6, 2019 at 6:21 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-07-11 23:39] sashadev-sky commented on #327
@jywarren ah! Seeing that too now. It seems to happen at closer zoom levels. I will double check the calculations for these zoom levels now. It is either that or deselection is being triggered right after selection, which was the original reason why the image  could only be selected from "bottom - right". These offsets get pretty confusing - it would be nice if we could try to write a wiki outlini

[2019-07-11 23:45] sashadev-sky commented on #327
Point 1: you must not release shift-key until after you release drag or deselection will fire. is this ok? The other alternative was to make deselection happen on mousedown on the map instead, but I didn't like how that looked as much in action

[2019-07-11 23:49] sashadev-sky commented on #327
Point 2: the bug seems to reproduce for me when I zoom in a lot and zoom out. Once it appears it does not go away under any zoom until a page refresh. Confirming the bug is due to the bounds not being properly read, and not an event handling issue.

[2019-07-12 00:02] sashadev-sky commented on #327
zoom level 10. attempting to select the topLeft corner of the img on the very left. the Lng is pretty far out of bounds (see console)
<img width="500" alt="Screen Shot 2019-07-11 at 7 58 37 PM" src="https://user-images.githubusercontent.com/41092741/61092940-542d4700-a416-11e9-9187-1bcafe871739.png">

[2019-07-12 00:04] sashadev-sky commented on #327
@jywarren ok I did a bunch of runs and the behavior I am seeing is that the bug actually occurs after panning the map left or right (which would make sense with the idea of a lng mismatch) and does not have to do with zoom. We just tend to need to pan when we zoom.

[2019-07-12 00:52] sashadev-sky commented on #327
I believe its fixed now! adding tests. Might also start this wiki page starting with normalizing after a pan

[2019-07-12 07:22] ViditChitkara commented on #328
Great! I'll build a method which broadcasts the transaction Json after the update method in image controller is called.
The next part will be that, we'll have to figure out how to use this json and rebuild the map on the browser itself. I'll make a separate issue on it.
Thanks, will start with step 1 now.

[2019-07-12 07:38] ViditChitkara commented on #328
Will be doing it on the action cable branch only as it requires broadcasting.

[2019-07-12 12:37] sashadev-sky commented on #301
@jywarren keeping track of proportions and then setting the image back to them is basically what I implemented for the "Restore" action! But I think its not perfect either, it applies a slight translation. Haven't looked into that yet.

I managed to get it working via Matrix math with no distortions in #339 ! I would love some feedback there - its far from done yet - I still have to figure out how

[2019-07-12 13:25] sashadev-sky commented on #343
Weird! I think this must be a MK issue? I did a quick lookover and I don't see any glaring mistakes there. Will try to look into it this weekend

[2019-07-12 22:12] #273 closed

[2019-07-14 17:33] ViditChitkara opened #345 "Automatic map updation at user's brower"
Connecting with https://github.com/publiclab/mapknitter/pull/805. The basic setup of action cable is complete over here. Along with this, a json(currently empty for testing) is broadcasted to every browser on which editing is being taken place. This broadcasting will only happen when a single user edits an image on the map. The json will be of type:-
[code]
However, we'll require that the map gets

[2019-07-14 17:43] ViditChitkara commented on #345
@jywarren @divyabaid16 @sashadev-sky any ideas?

[2019-07-14 21:25] rexagod commented on #306
Working on the above issues! Thanks all!

[2019-07-16 18:06] jywarren opened #350 "Suppress long press=right click default UI"
I noticed that long pressing the handles opens the OS context menu, and it happens a lot on a touchscreen. Maybe we should override that default behavior with `e.suppressDefault`?

[2019-07-16 18:25] jywarren opened #351 "readOnly flag not working"
Our embed view has a `readOnly` flag in MapKnitter:

https://mapknitter.org/embed/belle-isle-globe

But i think this flag got removed at some point. We should ensure the menus and handles are all inactive when this is set in the constructor. @sashadev-sky would you mind taking a look at this? Thanks a lot! 🙌

[code]

[2019-07-16 22:50] sashadev-sky commented on #351
@jywarren how do I test this locally? (Where do I find embed view?) Is this bug new? (Came from my PR?) Should be quick to fix

[2019-07-16 22:56] sashadev-sky commented on #351
This is probably best fixed in mapknitter to clean up that code

[2019-07-16 23:24] sashadev-sky commented on #343
So I don't see any crosswiring directly (from the action code in MK) so it must be happening somewhere underneath.

Noting that clicking the `delete` button results in this:
![image](https://user-images.githubusercontent.com/41092741/61336393-29206a00-a7ff-11e9-8ecb-4091dddc0531.png)

While `border_outline` results in this:
![image](https://user-images.githubusercontent.com/41092741/61336438-4a815

[2019-07-16 23:25] sashadev-sky commented on #343
Adding that the `toggleOutline` keybinding (`o`) still works as normal

[2019-07-16 23:36] sashadev-sky commented on #343
It's firing because when we toggle an outline, we remake the toolbar (should probably fix this so thats not the case at some point) which then fires

https://github.com/publiclab/mapknitter/blob/7954bf153540162845fbdf6f9e6c17a829e6512b/app/assets/javascripts/mapknitter/Map.js#L230-L245

@jywarren I don't really understand the relationship of creating a toolbar to deleting written in the code above

[2019-07-17 06:26] nielei19920921 opened #352 "When I rotate the image many times, it deforms"
**Describe the bug:**
When I rotate the image many times, it deforms.There is a quite similar issue #301,but is there a solution to the accuracy problem?

**Reproduce the behavior:**
 Figures 1 through 2
![img1](https://user-images.githubusercontent.com/27334643/61351885-83bcd300-a89e-11e9-8153-6e1909c8b3b6.jpg)
![img2](https://user-images.githubusercontent.com/27334643/61351887-84ee0000-a89e-11e9

[2019-07-17 13:55] jywarren commented on #351
I think some code may have been deleted, or maybe just a default? Trying to trace this...

https://github.com/publiclab/Leaflet.DistortableImage/issues/13

[2019-07-17 13:56] jywarren commented on #351
Yeah maybe you're right we implemented this in Mapknitter? We need to read through this code:

https://github.com/publiclab/mapknitter/blob/9299d74667032a64d6d1cfc2501dff3235cea1c3/app/assets/javascripts/mapknitter/Map.js#L126

I guess we could move this behavior into ldi and write a test for it... Let's look closer first though. Thanks!

[2019-07-17 13:57] #327 closed

[2019-07-18 01:30] #42 closed

[2019-07-18 03:18] sashadev-sky opened #354 "Use leaflet `.getPane()`"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-07-18 08:04] gowtham5699 commented on #354
@sashadev-sky Assign this to me.

[2019-07-18 11:31] sashadev-sky commented on #354
awesome! assigned to @gowtham5699 🎉

[2019-07-19 20:50] rexagod commented on #326
@jywarren I'm thinking of making some youtube videos showcasing every aspect of the matcher libs! What do you think?

[2019-07-20 18:51] jywarren commented on #351
I think the integration with mapknitter is manually setting up the click handlers here. And we don't do it if it's got "readOnly" set.

https://github.com/publiclab/mapknitter/blob/9299d74667032a64d6d1cfc2501dff3235cea1c3/app/assets/javascripts/mapknitter/Map.js#L130

 Maybe we have to standardize how we connect or turn off click listeners?

[2019-07-20 18:52] jywarren commented on #351
This example is supposed to show how event listeners can be set up. But maybe it's now out of date vs the docs?

https://github.com/publiclab/Leaflet.DistortableImage/blob/main/examples/listeners.html

[2019-07-23 10:57] #354 closed

[2019-07-24 10:50] themacboy opened #360 "Aftert unlock set mode is not acurate ..."
I have created a distortable element, by default I have set it to "rotate" mode (not scale permited) but after use lock/unlock it return to "scale" or "rotatescale" mode.

I suggest that it is very important to return to his original and default mode "rotate"

thx

[2019-07-24 11:03] themacboy opened #361 "How to trigger actions"
I like to konw if it si possible to trigger any action (example: Revert, transparency, Delete, ...) and selected/unselected manually.

For example:
When I need to export or print all map, I need to revert all elements and hide all distord visual and selection handlers. How can I revert and unselect all elements without using the mouse.

Is there any trigger function?

==================
- [x] sele

[2019-07-24 17:04] themacboy commented on #352
I noticed the same. Actually the only solution is revert the image, with the toolbar function. Not sure if there is a trigger to do that from code.

[2019-07-24 21:10] #332 closed

[2019-07-24 21:10] #343 closed

[2019-07-24 21:20] #240 closed

[2019-07-25 12:18] sashadev-sky commented on #360
@themacboy Thank you for reporting this bug! I've been meaning to fix that. We're on it.

[2019-07-25 21:51] jywarren commented on #351
Also, i notice the locks are shown in embed mode. What changes in MapKnitter do we have to make to not show those?

![image](https://user-images.githubusercontent.com/24359/61911232-6e7a2100-aefc-11e9-94ac-3c01519e1b00.png)

[2019-07-26 11:57] #330 closed

[2019-07-26 11:57] sashadev-sky commented on #330
@flopail all fixed :) thank you for reporting this!

[2019-07-30 11:00] sashadev-sky commented on #351
@jywarren For the locks,  I have been thinking that if a map is a `readOnly`, there could just be one lock somewhere on the map indicating the images are locked, we don't need the x's. And the x's are like "development mode" lock ie. when the user is  editing.

[2019-07-30 12:34] sashadev-sky commented on #351
@jywarren readOnly problem is fixed! I see lock handles don't show in `readOnly` already so this should be fixed there too after merge! Check out #892 👍Sorry for that, I didn't know about this feature at the time

[2019-07-30 13:01] sashadev-sky commented on #361
@themacboy You would like to write your own code that does x, y, z on export or print and you would like the method names to use for doing so - am I understanding correctly? If you literally mean without the mouse we have keybindings too

[2019-07-30 13:18] sashadev-sky commented on #345
@ViditChitkara I would love to help out with this, sorry for the delayed reply. We should schedule a time to discuss so we can get on the same page quickly. Are you available Wednesday?

[2019-07-30 13:29] sashadev-sky opened #367 "Add a `#replaceTool` method"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

We already have methods `#addTool` `#removeTool` and `#hasTool` for `L.DistortableImage.Edit`:

https://github.com/publiclab/Leaflet.DistortableImage/blob/0a162b5

[2019-07-30 15:24] themacboy commented on #345
In my free time Im coding a sketch tool to draw car accidents. ANd will need a way to save sketch configs and reload it for future modifications.

Then I have planed to build my own code, but Im not skilled to work as a profesdsional coder like you do.

Example:
![sketch](https://user-images.githubusercontent.com/8063711/62142608-e8d8e580-b2ee-11e9-822e-941d5ac8bc10.JPG)

[2019-07-30 17:49] ViditChitkara commented on #345
@sashadev-sky sure we may schedule a call on Wednesday. I think the updation part is working quite smoothly in https://github.com/publiclab/mapknitter/pull/805 , however, we need to discuss how to proceed on it further.
Thanks for helping out on this!

[2019-07-30 18:27] sashadev-sky commented on #345
@ViditChitkara np! You're in india?

[2019-07-30 18:31] sashadev-sky commented on #345
@themacboy thats awesome. We save everything server side in a rails database in Mapknitter https://github.com/publiclab/mapknitter. You seem pretty skilled to me!

[2019-07-30 18:33] ViditChitkara commented on #345
Yes

[2019-07-30 18:44] #239 closed

[2019-07-30 18:46] sashadev-sky commented on #239
@rexagod awesome! moving straight to part 5 from here

[2019-07-30 18:48] sashadev-sky commented on #258
closed via #243 !

[2019-07-30 18:48] #258 closed

[2019-07-30 18:56] sashadev-sky opened #368 "Keymapper Pt. 3 - Dynamic"
We are now building on the keymapper further, from the last PR #243

**focus on making the keymapper Dynamic**. Right now it is hardcoded.
- if we make changes to the actions available needs to be dynamic
- figure out how to integrate it with single and multiple image interface, as they have two different sets of tools
- lets get structured into a formula that then generates the strings based on p

[2019-07-30 18:56] sashadev-sky commented on #368
@jywarren @rexagod

[2019-07-30 19:00] sashadev-sky commented on #368
Our keymapper is really going places

[2019-07-30 19:02] rexagod commented on #368
Sasha, can you elaborate on the first two points above please? Didn't quite get those. Thanks!

[2019-07-30 21:19] sashadev-sky commented on #368
@rexagod so like with the actions API we now have the ability to remove actions. I'm thinking if a user removes an action they also want to be removing the keybinding for it right? Right now we don't have that in sync but I think it's a bug to fix?

[2019-07-30 22:38] rexagod commented on #368
Makes sense, and this would be a nice enhancement to add! 👍

[2019-07-30 23:13] sashadev-sky commented on #368
@rexagod in progress already?? woah!

[2019-07-31 01:32] sashadev-sky commented on #345
@ViditChitkara maybe we can just resolve this here and we won't be that complicated.. so what I am wondering is all of this can be done in MK right? Why upstream it? We can make a new route in MK that makes an ajax call and updates the map?

[2019-07-31 05:21] ViditChitkara commented on #345
Sure, I think we did when images are being updated when the browser gets a broadcasted event (from actioncable) and currently not via an ajax request. Additionally we'll require that a similar sort of event is called when an image is added or deleted onto the map and maybe some type associated with each image like "added", "deleted" or "updated" so that while refreshing the map we get to know whic

[2019-07-31 05:24] ViditChitkara commented on #345
So, I think a more solid and generic implementation of the synchronizeData (in #805 pr you reviewed)method could be done. Does that make sense?
Thanks!

[2019-07-31 12:43] sashadev-sky commented on #81
@jywarren resolving this one so it can go along with #315 !

[2019-08-01 01:27] sashadev-sky opened #372 "Convert to ES6"
we want to start moving towards ES6 implementation.

- RequireJS/Browserify  (past suggestions)
- ES version upgrade
- Rollup like Leaflet?

would significantly improve everyone's development experience enough to outweigh the cost of implementing it. The leaflet library itself is already completely transformed for ES6 use.

Checklist:
- [ ] **method creation syntax**

ES5
[code]
ES6
[code]

- [ ]

[2019-08-01 01:28] sashadev-sky commented on #372
@rexagod , how shall we do this?

[2019-08-02 06:49] jywarren commented on #351
Aha! Super rad! Thank you! Yes, we ought to document this feature more! I'll look today. Many thanks.

[2019-08-02 14:28] rexagod commented on #368
Sorry for the delay here, something [really frustating](https://github.com/publiclab/matcher-core/issues/9) has came up and I'm just up awake days and night trying to fix that with no luck whatsoever. :/

[2019-08-02 14:36] rexagod commented on #368
Also I haven't forgot about #372, #358, or #225 as well, just want to fix the [this issue](https://github.com/publiclab/matcher-core/issues/9) ASAP and integrate the matcher into IS through node like @jywarren said, which is also my first priority atm.

Tough times.

[2019-08-03 06:47] #208 closed

[2019-08-06 18:02] sashadev-sky opened #376 "Hotkeys should only be available for present toolbar actions"
PART 1: COMPLETE
For ex., if the developer doesn't add the `ToggleRotate` and `ToggleScale` actions, which are not in the toolbar by default, then we shouldn't be able to access them with their hotkeys.

This would make more sense, and is also important for situations where a developer wants to forbid a certain action.

=======

PART 2: PENDING
The only part left to resolve is how to make this wor

[2019-08-06 18:16] sashadev-sky commented on #376
@rexagod would you be interested in taking a try?

I took a shot at writing a DRY implementation for this by moving all `keymap` / `Keyboard` event handling logic into `EditAction.js`. It worked but I got stuck on a bug (probably related to event propagation) and just scrapped the attempt.

[2019-08-07 04:01] sashadev-sky commented on #351
closed via https://github.com/publiclab/mapknitter/pull/892

[2019-08-07 04:01] #351 closed

[2019-08-12 04:48] sashadev-sky commented on #313
@PanierAvide I was seeing a few issues open for the `scale` mode, and I completely missed your offer to open a PR! Please do so if you have a minute so you can credit for the idea

[2019-08-12 04:53] sashadev-sky commented on #52
closing because this is stale!

[2019-08-12 04:53] #52 closed

[2019-08-12 04:55] sashadev-sky commented on #62
this one is ready for close now!

[2019-08-12 04:55] #62 closed

[2019-08-12 21:30] rexagod commented on #376
Hmm. I could look into that bug if you can push it here. Else, I'll just proceed from scratch. No worries, I'm good with either of these approaches.

[2019-08-13 01:13] #352 closed

[2019-08-13 01:48] sashadev-sky commented on #301
@flopail I believe this is fixed for version 0.7.0 now! Please reopen if you find this to not be the case

[2019-08-13 01:48] #301 closed

[2019-08-13 02:50] sashadev-sky commented on #301
@jywarren it turns out switching to `project` and standardizing our calls to reset & update did the trick. Still a little confused because `latLngToLayerPoint` is not relative to absolute pixel coords and `project` is so I thought this was the reason. but also, not documented anywhere, `project` does have extra decimal precision (uses 9 digits - I just checked in console). But why have two core AP

[2019-08-13 07:24] sashadev-sky commented on #352
@nielei19920921 @themacboy all scale and rotation distortions should be fixed in our newest release, 0.7.0. Try it and please feel free to re-open this issue if you discover any problems

[2019-08-13 21:08] rexagod commented on #372
I was thinking something like this would make sense after we're at little or no pending PRs, since we could get all that merged code refactored all in one big scoop, rather than rebasing every PR to fit this standard.

What do you think?

[2019-08-14 04:23] sashadev-sky commented on #372
+1

I actually created milestones for version 1 release: https://github.com/publiclab/Leaflet.DistortableImage/milestone/3

I think we are getting there now that the distortion bugs are gone! I guess this is something we would want to add to that list. also adding your matcher project and the dynamic keymapper. let me know your thoughts!

[2019-08-14 04:31] sashadev-sky commented on #376
@rexagod I just scrapped it. I have been finding a lot of the time for this library that bugs just mean my implementation idea is no good

[2019-08-14 04:33] sashadev-sky commented on #319
closing this one now as its resolved!

[2019-08-14 04:33] #319 closed

[2019-08-14 04:44] sashadev-sky commented on #85
@jywarren @ChrisLowe-Takor Ok take 2 -- this is now actually fixed! via #341 and #348. The solution was to switch `latLngToLayerPoint` to `project()` 🤯meanwhile we've all been rewriting matrix algorithms. I do see though, that when you move the handles slowly the image jitters a bit.
![a](https://user-images.githubusercontent.com/41092741/62994913-4d865b00-be2c-11e9-9bc6-d1389a58454b.gif). luckily

[2019-08-14 08:42] rexagod commented on #372
Sounds good! Let's get this done! 🙌

[2019-08-14 08:43] rexagod commented on #372
Will return back here once those are done.

[2019-08-15 21:17] sashadev-sky opened #382 "Disable mouse pointer on disabled images"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

We can disable image editing using `img.editing.disable()`, meaning it will be non-interactive until re-enabled again (`img.editing.enable()`), but the mouse poin

[2019-08-15 21:17] sashadev-sky commented on #382
@ViditChitkara @rexagod @jywarren

[2019-08-15 21:22] rexagod commented on #382
Should we scoop this in the milestone?

[2019-08-15 21:35] rexagod opened #383 "Remove try...catch from _addToolbar"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't

[2019-08-15 21:37] rexagod commented on #383
cc @sashadev-sky

[2019-08-15 21:37] sashadev-sky commented on #335
closed via #381

[2019-08-15 21:37] #335 closed

[2019-08-15 21:41] sashadev-sky commented on #382
Sure! @rexagod lol glad we keep opening new issues for ourselves to solve for the milestone

[2019-08-15 21:41] sashadev-sky commented on #382
this one should honestly take like 2 minutes I was just too tired to do it on the last PR

[2019-08-16 00:10] sashadev-sky commented on #372
I am going to start formulating a checklist in the PR description of thinks we can rewrite in ES6 (not exhaustive just as they come to mind) @rexagod

[2019-08-16 14:08] jywarren opened #386 "Only one image gets submitted to cloud exporter"
**Describe the bug:**
What happened vs. what did you expect to happen?

Only one of the multiple selected images gets submitted to the cloud exporter (ref #203)

**Reproduce the behavior:**
 Steps to reproduce the behavior. (ex. 1. Go to... 2. Click on... 3. See error...)

This is noted in full at https://github.com/publiclab/mapknitter/issues/919, but just copying in here so folks in LDI are awar

[2019-08-19 10:23] PanierAvide commented on #313
Sorry, I missed your message as I was offline for few days. By checking to commits, it seems that you fixed the issue, so this PR is not necessary anymore ?

[2019-08-20 01:37] sashadev-sky opened #389 "Document and finalize standardized code formatting"
as a follow up to #378, I wanted to confirm some straggling syntaxes still not sure about, and also just document our code syntax in a wiki maybe (eventually we can make a `contributing.md`)

So far the standard we will implement is:
- [x] 2 space indent
- [x] single quotes
- [x] space in blocks, no space in objects
<blockquote>Yep. Makes sense. You see, { return; } qualifies as code, or more spec

[2019-08-20 01:39] sashadev-sky commented on #389
@rexagod I was curious about:

[code]

Sometimes we will see the above syntax, sometimes we will see:
[code]

Is there a linter we can add that keeps it on the same line unless the line goes over length limit, and in that case goes to a new line? Is this something we want? Also what is the current line length limit that is set?

[2019-08-20 11:38] sashadev-sky commented on #376
@rexagod see pt 2 above! Any ideas?

[2019-08-20 12:03] sashadev-sky commented on #376
heres the main issue: if the first image you click on doesn't have the tool, then the keybinding won't fire. But, if the next image you click on does have it, then the keybinding will fire for it and when you click back on the first image the keybinding will now fire for it too @rexagod

[2019-08-20 12:10] sashadev-sky commented on #376
an alternative solution I would also think is good (maybe better) is making it so that when there's a collection, any tools you limit / specify on one image will be the tools on all of them. I can't think of many use cases where one image needs an action where others don't. This will also involve some complicated structural changes, though, I think

[2019-08-20 12:10] sashadev-sky commented on #376
@jywarren

[2019-08-20 19:58] jywarren commented on #376
Ah, interesting - so we're looking at any collection having the "lowest common number of tools" based on the collection member that has the fewest tools? Kind of a venn diagram of the tools which are available on ALL collection member images?

[2019-08-21 04:37] sashadev-sky commented on #389
Ok I added 3 configs:
[code]
that basically allow `if (!this._moved) { return; }` in terms of having the return on the same line and spaces in between the braces and the return.

It does not allow spaces in between objects still: so `map.fire('singleclick', {deselect: true});` is ok but `map.fire('singleclick', { deselect: true });` is not.

let me know what you think!

[2019-08-21 07:58] #81 closed

[2019-08-21 11:55] sashadev-sky opened #396 "Revert Bug / Restore idea branchout"
Two issues with the revert action:

1) It returns the image back to its natural proportions (the proportions it would have if we added it to the map without specifying corners) - @jywarren perhaps this is actually something we may want and not a bug? But it looks awkward as part of the revert tool. So I say maybe let's fix the revert tool to revert to the proportions set out by the `corners` if gi

[2019-08-21 12:12] sashadev-sky opened #397 "Cleaning up!"
- Demo is perfect as is, just thinking we could recreate it with the new toolbar interface
- Also thinking to get a Demo gif added for multi-image interface
- but both of these are lower priority than getting out github pages demo where it should be -
   - [x] Update gh-pages
   - [ ] aerial images
   - [ ] one for `index.html`, and a compilation that fit together would be nice for `select.html`

[2019-08-21 12:12] sashadev-sky commented on #397
@jywarren

[2019-08-21 12:20] sashadev-sky commented on #268
@flopail check our latest readme! We have exposed `scaleBy()`, `rotateBy()` and `setCorner()` (this is basically what distort is) so far. Working towards the rest.. a lot of code updates and restructuring happening but its getting us closer to a stable API

[2019-08-21 12:41] sashadev-sky commented on #376
@jywarren hotkeys problem is fixed and ready for review in #393 :)
but yes looking foward we need to think critically about how we will proceed. Very cool that were still sticking with the multi-toolbar idea - its been awesome thinking up ideas how to turn it into a functional UI / UX / API  🙌🏻

[2019-08-21 14:28] jywarren commented on #30
Confirmed this is fixed in MapKnitter! Thank you!!!!

[2019-08-21 14:28] #30 closed

[2019-08-21 14:34] jywarren opened #398 "Hide lock Xs when not selected?"
This may need some discussion, but I noticed that on initial page load, there are a LOT of Xs:

![image](https://user-images.githubusercontent.com/24359/63441234-16e9ab00-c3ff-11e9-8c3b-0d2c370eb801.png)

We could do 2 things:

1. we could hide Xs on the read-only mode, so they wouldn't appear on a page like this: https://publiclab.org/wiki/one-cranston (in embed mode)
2. we could go further and s

[2019-08-21 14:43] #25 closed

[2019-08-21 14:43] jywarren commented on #398
cc #25 https://github.com/publiclab/Leaflet.DistortableImage/issues/28

[2019-08-21 17:45] rexagod commented on #389
Yep. Makes sense. You see, `{ return; }` qualifies as _code_, or more specifically a **block** of code that runs (executes one line per session by the intepreter), whereas `{ deselect: true }` is not the same but an object, and is interpreted in one go, unlike some block of code, hence the rules for both differ.

Maybe https://eslint.org/docs/rules/object-curly-spacing could help here?

[2019-08-22 01:23] sashadev-sky commented on #398
@jywarren I dont remember where I posted this, but I suggested a 'photo-ready' mode or something of the sort that would be an action given to the collection group only. It will make all the images disabled for editing using `img.editing.disable` and the x's will be gone. let me know if you want me to open up an issue for this. and get it down

[2019-08-22 01:25] sashadev-sky commented on #398
Re: Hide X's in the read-only mode is a definite yes. I will look into that as I am working on mapknitter and open an issue for that in MK

[2019-08-22 01:27] sashadev-sky commented on #398
Re: X's only when selected. agreed. will open up an issue for that here. Realized there is really no reason that its the only mode we keep showing.

[2019-08-22 01:29] sashadev-sky opened #400 "Hide lock Xs when not selected"
Suggested by Jeff from #398

"we could go further and say the Xs should only appear when the image is selected"

I think lets implement this here!

@rexagod thoughts?

[2019-08-22 13:56] sashadev-sky opened #401 "Continuous zoom instead of discrete zoom"
Like this demo:
https://earthengine.google.com/timelapse/?location=saudi-arabia

Could be a future summer of code project honestly seems quite difficult

@jywarren
@rexagod

[2019-08-22 15:01] adriankwiat opened #402 "Strange behavior on map edges"
**Describe the bug:**
What happened vs. what did you expect to happen?

When image is scaled above map edges it expand on the sides.
When is moved beyond the edges it behaves strangely.

Expected: image stops scaling/moving when it touches borders or scales/moves normally.

![1](https://user-images.githubusercontent.com/36125672/63524685-bc367900-c4fc-11e9-8f08-1bf9a5f9f38e.gif)
![2](https://user-

[2019-08-22 15:47] adriankwiat opened #403 "Scaling relative to corner"
**Please describe the desired behavior.**
Describe the solution you'd like.

Image should be scaling relative to corner, not center, just like in Google Earth.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.

In Google Earth:
![3](https://user-images.githubusercontent.com/36125672/63529306-c197c180-c504-11e9-9f00-dfc485cb948c.gif)

[2019-08-22 17:47] rexagod commented on #401
Are we talking about the timelapse as well?

[2019-08-23 04:42] sashadev-sky commented on #403
Oh I like this! This will be fun to make @rexagod

[2019-08-23 04:45] sashadev-sky commented on #402
@adriankwiat just when we thought we got scaling down 😂I'm guessing its due to projection distortions being the most extreme near the poles
@jywarren @rexagod

[2019-08-23 04:57] sashadev-sky commented on #389
what are your thoughts on the var? (last point). Google says no to the one declaration followed by comma syntax. I kind of like how it looks compared to doing something like what we currently have:
[code]
I thought also it was pretty standard to do that in ES6, like with object destructuring too for ex. honestly just curious

[2019-08-23 05:01] sashadev-sky commented on #389
@rexagod prepared to get this serious about our style guide?

<blockquote>This Style Guide uses RFC 2119 terminology when using the phrases must, must not, should, should not, and may. The terms prefer and avoid correspond to should and should not, respectively. Imperative and declarative statements are prescriptive and correspond to must.</blockquote>

[2019-08-23 14:22] jywarren commented on #403
Cool! This would be a constructor option on the tool itself, i guess? Maybe
"centroid" or "origin"?

On Fri, Aug 23, 2019 at 12:42 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-08-23 18:41] rexagod commented on #403
Sure @sashadev-sky! @jywarren I guess we might want to re-consider if we really need two different origin options? Can we think of a few test cases where one would be better than the other?

[2019-08-23 18:48] rexagod commented on #389
Haha. I am, but the question is, will the first timers be okay with this standard? Also, I agree with the no comma after var declaration style, looks more cleaner to me. So +1 for that!

[2019-08-23 18:52] rexagod commented on #402
One approach we could take to avoid such cases in the future is a fool-proof implementation that guarantees the markers never leave the image element. Maybe something like checking if the image and markers move accordingly at each 'drag' event? @sashadev-sky WDYT?

[2019-08-23 18:55] rexagod commented on #400
+1. This would incorporate the same logic we use for other (distort, scale, etc.) markers, for the lock marker, I guess.

[2019-08-23 20:29] sashadev-sky commented on #389
@rexagod the block of vars look cleaner to you you’re saying?

I felt the opposite, but I can see your perspective too and functionally it is actually cleaner. So +1 from me too

[2019-08-23 20:32] sashadev-sky commented on #389
@rexagod up next: trailing commas? We don't do that at all, but I'm kinda with it. Makes sense functionally. Thoughts?

[2019-08-23 20:33] sashadev-sky commented on #389
@jywarren looping in

[2019-08-23 20:57] rexagod commented on #389
Trailing commas? Sorry, can you provide an example of those?

[2019-08-23 21:36] sashadev-sky commented on #389
like commas on the last key value pairs in objects and after the last method in the class. Even though nothing follows it. Makes it easier to add new methods

[2019-08-23 22:01] rexagod commented on #389
Oh. Those! Yeah they definitely do, all good from me!

[2019-08-24 04:12] sashadev-sky commented on #389
ok last one (for now):
Leaflet always puts a space before parentheses in function declarations like `function () { }`

Do you have any opinions on this one? I kinda think `function() { }` is more standard right?

[2019-08-24 05:13] rexagod commented on #389
I'm glad to see that we're working on such minute levels, kudos to your
research! Hmm. I guess `function() {}` is standard, but since this is a
Leaflet library after all, maybe `function () {}` should be our choice? I'm
+1 with whatever decision you make here.

Pranshu Srivastava | @rexagod

On Sat, 24 Aug 2019, 09:42 Sasha Boginsky, <notifications@github.com> wrote:

[2019-08-25 17:58] adriankwiat opened #406 "Option to change strings"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

**Please describe the desired behavior.**
Describe the solution you'd like.

I'm making an app in another language and I want to change default strings (tooltips, confirms, etc).

**A

[2019-08-26 07:29] rexagod opened #408 "Remove redundant images"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-08-26 07:36] rexagod opened #409 "Refactor CSS"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-08-26 07:45] rexagod commented on #383
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-08-26 07:53] rexagod opened #410 "Generalize tests"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-08-26 07:58] rexagod opened #411 "Refactor dependancy types in package.json"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-08-27 14:41] jywarren commented on #389
Just a note on "function() {}" vs "function () {}" -- actually "function
someDescriptiveName() {}" is really helpful for debugging as it shows up
better in the console, which would also answer the question of whether the
space is required (in that case, yes!). What do you think?

On Sat, Aug 24, 2019 at 1:13 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-08-28 16:28] rexagod commented on #408
I actually meant searching the whole codebase for any redundant images. Are
you familiar with doing a `cat` and `grep`ing the unwanted images?

Pranshu Srivastava | @rexagod

On Wed, 28 Aug 2019, 21:19 galvc, <notifications@github.com> wrote:

[2019-08-28 21:01] jywarren commented on #389
Oh no, sorry i mean having the function named instead of anonymous is
better for debugging. But adding a function name then means you must have a
space -- like, function myFunctionName(). Oh, i see -- yeah, well, no space
between the function name and the (). But yes between the word function and
myFunctionName. Sorry, i didn't think of that way of reading it! Thank you!

On Tue, Aug 27, 2019 at 7

[2019-08-28 21:15] rexagod commented on #389
I'm all +1 for named functions as well, they are way more distinguishable in the error stack trace, hence better debugging!

[2019-08-28 21:17] rexagod commented on #389
Okay so it seems we'll be going ahead with no spaces, right?

[2019-08-28 23:15] sashadev-sky commented on #389
@rexagod yes!

[2019-08-29 05:49] galvc commented on #408
Yes! I was able to do that on the entire Leaflet.DistortableImage directory and found
examples/large.jpg - used
examples/example.jpg - used
examples/example.png
example.png in main folder - is not used
examples/example_.png - is not used

Which means I would have to remove example.png and examples/example_.png.
Though the directions only said to remove unused images from the examples folder, so I

[2019-08-29 09:21] rexagod commented on #408
@galvc Sorry for the confusion! Please go ahead and remove both of them.
Nice work!

Also, you can find some more advanced issues to work on after this one in
the issues section you can always ping me or @sashadev-sky if there's
anything we can help with.

Pranshu Srivastava | @rexagod

On Thu, 29 Aug 2019, 11:19 galvc, <notifications@github.com> wrote:

[2019-08-29 10:55] Sri-V commented on #410
Hey folks, we are pretty new to OSS and planning to give this is a try.

[2019-08-29 12:47] rexagod commented on #410
Please do! Thanks!

Pranshu Srivastava | @rexagod

On Thu, 29 Aug 2019, 16:25 Sri-V, <notifications@github.com> wrote:

[2019-08-29 20:27] sashadev-sky commented on #325
@jywarren I fixed the suppressToolbar bug and just renamed the issue because it has some good discussion points in it.

Reading this again now, I was thinking that we were going to merge single and multi image interface so that there is always a collectionGroup. It can just do a check for number of images and disable automatically if there is only 1. That would be my final restructuring idea for v

[2019-08-29 20:27] sashadev-sky commented on #325
@rexagod

[2019-08-29 21:53] sashadev-sky commented on #389
@rexagod @jywarren ok i think this is last! Comments -
should we say

1.
[code]

2.
[code]

3.
[code]

4.
[code]

5.
I set Max Length for comments to be ignored: `"max-len": ["warn", { "ignoreComments": true }]`
Agree / Disagree? Should we compromise for instead a more lenient max length for comments or does this just really not matter? I just don't like the way comments will span over more lines

[2019-08-30 02:09] BrooksPatola commented on #411
I'd like a shot at this. Just may need help with what dependancies go in the correct spot.

[2019-08-30 02:24] BrooksPatola commented on #383
may i have a go at this?

[2019-08-30 04:19] sashadev-sky commented on #313
@PanierAvide so in the commits you saw we fixed distortions during scaling and I also prevented this error by modifying `scaleHandle.js` to use an `edgeMinWidth` property to prevent the handles from ever fully overlapping:

https://github.com/publiclab/Leaflet.DistortableImage/blob/2640118d1654a8d05e46de2ad46d0cd5499e9297/src/edit/ScaleHandle.js#L26-L40

I left this open because:

1) your idea mig

[2019-08-30 04:27] sashadev-sky commented on #411
@rexagod total coincidence I made a dependency update PR yesterday, I didn't see this! I began going through your #169 PR again.

@rexagod @BrooksPatola these are all updated now, with the exception of `jQuery`. I think that one should be moved from `devDependencies` to `dependencies` ?

[2019-08-30 04:33] sashadev-sky commented on #410
@rexagod to add on to this, I think these three can be simplified into one function that takes options:

https://github.com/publiclab/Leaflet.DistortableImage/blob/2640118d1654a8d05e46de2ad46d0cd5499e9297/test/SpecHelper.js#L14-L36

[2019-08-30 06:49] rexagod commented on #410
Including this too, awesome!

[2019-08-30 12:00] PanierAvide commented on #313
Thanks for your feedback and the details about the change. Glad to see this project evolving and improving everyday ! :+1:

[2019-08-30 14:02] galvc commented on #408
@rexagod Submitted my first PR. Thanks for the opportunity and will continue to contribute. Thanks so much!

[2019-08-30 23:00] sashadev-sky commented on #313
@rexagod @jywarren <3

[2019-09-03 05:27] sashadev-sky commented on #410
@rexagod after #417 is merged I think we could close this and instead for FTO's, open up ones with specific changes described like we usually do?

Otherwise we can reopen as an issue with `help wanted` and  `fto-candidate` that can be broken out into FTOs

[2019-09-03 05:55] sashadev-sky commented on #383
@BrooksPatola yes go for it! Thanks :)

[2019-09-03 18:05] sashadev-sky commented on #406
Hi! Thank you for the feature request. We are in the process of revamping our actions API to make each action customizable without have to overwrite the whole thing. This will probably be done in the next few weeks or so.

In the meantime, you can achieve your desired results by rewriting the actions as custom actions. This is not well documented in the README currently because there will be updat

[2019-09-03 18:05] #410 closed

[2019-09-03 18:09] sashadev-sky commented on #402
@rexagod I don't think thats the root of the issue. Its a little confusing but we update the corners and then we fire an update to the markers to go where the corners are placed (accoridng to latlng). So if the markers ever diverge from the corners, it means that the latlng were passing to them doesnt actually reflect where the image corners are - our distortion functions are off in some way.

[2019-09-03 18:31] sashadev-sky commented on #402
I cant trace the cause back to any specific function yet - just dragging the image over to the edges starts distorting it regardless of what mode its in

[2019-09-03 19:34] sashadev-sky commented on #402
Ok I can confirm now this is because of the way we overwrote `L.Draggable._updatePosition`

[2019-09-05 14:31] sowmiyamuthuraman commented on #409
Hi! I would like to work on this.

[2019-09-05 19:57] debck opened #426 "Add CONTRIBUTING.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-09-05 22:27] jywarren commented on #396
Oh, sorry - yes, the revert tool is intended to return an image to it's "natural" proportions, yes! Not to it's previous position -- that is handled in the image versioning Divya did in MapKnitter! So, it's not an "undo" but a "revert to original". Does that make sense?

Would your proposal then have more like a version history sort of? We'd want to reconcile it in some way with the version tracki

[2019-09-06 07:36] debck commented on #426
@publiclab/reviewers plz look into this if this is an fto issue and add the appropriate labels

[2019-09-06 11:10] ananyaarun commented on #426
Thanks @debck !!
This is a good first timers issue.

[2019-09-07 23:19] waldrupm commented on #426
Hello! I'd like to take this one if that's ok. I've never contributed to any OSS before and would like to get started. Thanks.

[2019-09-08 02:54] GianCastle commented on #411
I see this issue isn't addressed. I would like to help and solve this issue

[2019-09-09 17:40] #408 closed

[2019-09-10 22:14] #386 closed

[2019-09-12 06:38] themacboy opened #429 "Image handles still active when hidden"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-09-12 07:44] themacboy opened #430 "Layer hidden but handler is showed ..."
I have placed an element into a layerGroup.

Then when I hide this layerGroup, with the element selected, handler is not hidden.

Original:
![imatge](https://user-images.githubusercontent.com/8063711/64764271-029e5700-d542-11e9-82ee-4b8bd1a86909.png)

After hide the layerGroup, with the element selected:
![imatge](https://user-images.githubusercontent.com/8063711/64764216-e7cbe280-d541-11e9-8619-7

[2019-09-14 00:41] #402 closed

[2019-09-14 00:44] sashadev-sky commented on #402
@adriankwiat updated and published 0.7.8 to npm for ya :)

[2019-09-14 15:40] #411 closed

[2019-09-15 12:09] #360 closed

[2019-09-15 12:09] #376 closed

[2019-09-15 12:17] sashadev-sky commented on #161
@jywarren did I address this sufficiently in #393 to close this? I was going to do someting like L.LDITool.ActionName but it was so long I just stack gave them each L.ActionName and extended from L.EditAction

[2019-09-15 12:21] sashadev-sky commented on #317
Going to close this one! Mostly have the actions down but still working on hashing it out. Some actions are indiscriminate for multiple or single images (Export and Delete). I explained this in one of the action files:

https://github.com/publiclab/Leaflet.DistortableImage/blob/d1cd4ff6ebf4763274d95f60335ca24e8f2ce051/src/edit/actions/DeleteAction.js#L6-L9

So they don't go under either cat. But t

[2019-09-15 12:21] #317 closed

[2019-09-15 14:24] sashadev-sky commented on #429
2n. I think that when you click over a handler there is neede an event stopPropagation to avoid undesired event activation on other elements. --- what undesired event activation on other elements are you referring to specifically? I cannot recreate this problem

[2019-09-15 14:27] sashadev-sky commented on #429
Oh i see. You mean like this for ex: ?
![kkk](https://user-images.githubusercontent.com/41092741/64922986-565bab00-d7a3-11e9-859b-13df8e25baf7.gif)

[2019-09-15 14:47] sashadev-sky commented on #429
@themacboy I have resolved this, but I will be mentoring for Google Code-In this year and I think it will be a good first-timer issue for a GCI participant to resolve. Is this something you personally need fixed for your project? Opening for GCI means it will probably be here for a month or so

[2019-09-15 17:31] sashadev-sky commented on #430
@themacboy I cant reproduce this behavior please give me the steps to do that. works ok on my end with an example
![test](https://user-images.githubusercontent.com/41092741/64925348-25886f80-d7bd-11e9-850d-ab01074792c5.gif)

[2019-09-16 02:32] themacboy commented on #430
I will try to show you, bu tno t sure how to record a video of my windows desktop. Let me see ..

[2019-09-16 02:38] themacboy commented on #430
Let me explain when the problem happends.

When I start creating a accident sketch, the first is lock the map, to do this I set:

	map.dragging.disable();
	map.touchZoom.disable();
	map.doubleClickZoom.disable();
        map.scrollWheelZoom.disable();
        map.zoomControl.disable();
        mymap.setZoom(20);

then I start drawing.

Then If I unlock all the map and then lock again the problem h

[2019-09-16 03:12] themacboy commented on #430
![Accident sketch](https://user-images.githubusercontent.com/8063711/64932611-91f88280-d840-11e9-9ca7-459a5c3b0251.gif)

[2019-09-16 04:08] themacboy commented on #430
![2019-09-16-05-06-51_2](https://user-images.githubusercontent.com/8063711/64934028-6c6f7700-d848-11e9-95bc-d97a4b86cd3d.gif)

[2019-09-16 04:18] themacboy commented on #430
Another issue:

1. I lock all map (as explained before)
2. Add a element.
3. Hide the layerGroup
4. Show layer group.
5. Result: I can't select the element again.

![2019-09-16-06-12-43](https://user-images.githubusercontent.com/8063711/64934259-d9374100-d849-11e9-911f-bf54f25bb64c.gif)

[2019-09-16 04:31] themacboy commented on #429
Im not sure to understand what is "mentoring for Google Code-In", but obviously I am at your disposal to help you as much as you can.

[2019-09-16 05:01] themacboy commented on #429
Here a undesired event propagation:

![2019-09-16-06-58-32](https://user-images.githubusercontent.com/8063711/64935143-b7d95380-d84f-11e9-8fff-83a94c847360.gif)

[2019-09-16 05:07] themacboy commented on #429
And now a example of active handler when element is unselected:

![2019-09-16-07-04-21](https://user-images.githubusercontent.com/8063711/64935268-9167e800-d850-11e9-82ac-cd6b3a6e2ad6.gif)

[2019-09-16 05:17] sashadev-sky commented on #429
@themacboy It is an annual mentoring program where students complete open source tasks on github assigned to them. So I was asking if this bug needs to be resolved now (is inconvenient for you) or we can wait for the program to start (about a month)

[2019-09-16 05:40] sashadev-sky commented on #430
1. Check the DOM in your console, is the image still there just not in your view? It is possible for it to separate from markers and toolbar bc it positions itself w/ css transformation matrices.

2. are you using `leaflet-draw` plugin?

[2019-09-16 07:20] themacboy commented on #429
can wait ! no problem hehehe do you best on Google Code-in !!!

[2019-09-16 07:28] themacboy commented on #430
I see handler and toolbar in the DOM:

![imatge](https://user-images.githubusercontent.com/8063711/64940421-38a24a80-d864-11e9-9880-6b048eb3d77b.png)

And no, im not using leaflet-draw.

[2019-09-16 09:38] sashadev-sky commented on #430
@themacboy I have never heard of anything just being deleted from the dom. Its nowhere in there? What about if you save the element to the window. is it undefined after its hidden?

[2019-09-17 03:13] themacboy commented on #430
ummm i was thinking .... this can happend because Im using addHooks() and removeHooks () to select and deselect the image?

Is there any other way (and more correct way) to do that programmatically?

[2019-09-19 04:36] sashadev-sky commented on #430
@themacboy no not at all! This library wasn't designed with any sort of API in mind so thats what i've been working on making... in the latest version `0.8.1` there are these methods:

https://github.com/publiclab/Leaflet.DistortableImage/blob/22cf32253e8030f52ba0620ed33d12a5149766da/src/DistortableImageOverlay.js#L188-L215

they aren't API ready yet because `_pick`ing one image should `_unpick` a

[2019-09-19 05:24] themacboy commented on #430
Ok, I will wait for version 0.8.1 is published. Thx

[2019-09-19 17:27] jywarren commented on #203
Just circling back here to close this out. It now works! There are some small follow-ups to refine this, but we are doing pretty well.

[2019-09-19 17:27] #203 closed

[2019-09-19 17:28] jywarren commented on #316
Linking from https://github.com/publiclab/Leaflet.DistortableImage/issues/203 too - looking great!

[2019-09-19 17:30] jywarren commented on #316
We can check off Spinner too, but I'm actually not seeing it on http://mapknitter-stable.laboratoriopublico.org/maps/test6/edit -- do you know why?

Aha - http://mapknitter-stable.laboratoriopublico.org/assets/leaflet-distortableimage/package.json currently shows `0.4.3` - let me update that!

[2019-09-19 17:40] jywarren commented on #316
OK, I ran `sudo yarn install` and moved `/public/lib` so it should be defaulting to `/node_modules/`, but it's still showing `0.4.3`, so I'm going to restart the container to be sure it flushes any caching.

[2019-09-19 19:53] jywarren commented on #316
Also deleted the `/assets/*` dir to get it to correctly show `0.7.7` - now it's showing correctly, so I'll restart the container again.

[2019-09-19 19:53] jywarren commented on #316
We'll look here to test once it's rebuilt: http://mapknitter-stable.laboratoriopublico.org/maps/test6/edit

[2019-09-19 21:48] jywarren commented on #316
Hmm. Error. Looking it up!

[2019-09-19 21:51] jywarren commented on #316
Moving to https://github.com/publiclab/mapknitter/issues/1042 for unrelated issue...

[2019-09-19 23:08] sashadev-sky commented on #430
@themacboy ok I actually made it API ready for `0.8.2` in this PR #433 will be merged soon :) it will now be `select`, `deselect`

[2019-09-19 23:27] sashadev-sky commented on #333
Ok this has been resolved organically throughout a bunch of PRs and is already documented, so closing!

From the README:

@jywarren note how it says "not associated with mode". This is meaning when an image is locked, you can unlock it by toggling lock or by clicking any other mode.

To make things even more clear, the new UI really shows you what you can and can't do in lock mode by greying out t

[2019-09-19 23:27] #333 closed

[2019-09-19 23:28] sashadev-sky commented on #409
@jywarren is this how we would want to proceed? I think perhaps before breaking up the css we should start with getting the css out of the `dist` folder?

[2019-09-20 05:26] themacboy opened #436 "Colorize action ..."
Good morning,

for my personal project I will need a colorize function to change the color in the svg elements.

First I was thinking to build a separate function in my code or build a new plug-in, but now that I looked all the work done to rebuild the distortableimage API and the toolbar and his actions, I was thinking to create a new action to change color.

My idea is to build a action/toolbar

[2019-09-20 10:49] sashadev-sky opened #439 "`singleclick` event doesn't prevent image deselection on touchscreens"

[2019-09-21 03:50] sashadev-sky commented on #238
closing this one its resolved!

[2019-09-21 03:50] #238 closed

[2019-09-22 07:40] #430 closed

[2019-09-23 07:31] themacboy opened #440 "Can't select after hide the layerGroup ..."
Hello !

Still getting the unselectable problem. After hide and show the layerGroup I can't select again my image:

![2019-09-23-09-17-22](https://user-images.githubusercontent.com/8063711/65407871-27b58400-dde4-11e9-9ab4-4eda0e822889.gif)

My image is added to a normal layerGroup, and I use it to hide or show a diferent types of elements (cars, bikes, motorbikes, bus, etc in one layer, traffice s

[2019-09-23 08:06] themacboy opened #441 ">Deleted images come back, but not actives ..."
Hello,

After deleting a image used inside a layerGroup, the image come back if you hide and show this layerGroup. But it is not possible to select.

I supose that has some relation with issue #440, probably the solution is the same.

![2019-09-23-10-02-12](https://user-images.githubusercontent.com/8063711/65410123-d0b2ad80-dde9-11e9-95f9-61e0ad996afb.gif)

[2019-09-23 08:08] themacboy commented on #441
I supose that image is not totally removed from DOM, and it still refered in the layerGroup.

[2019-09-23 08:39] the-kaustubh commented on #409
@sowmiyamuthuraman have you opened a PR? I am thinking of contributing here, too.
If you have not opened a PR please notify.

[2019-09-23 13:54] sashadev-sky commented on #441
Hi! can you please make a PR, with a simple demo of this problem in an html file in the `debug` folder. Perhaps call it like `layerControl.html`. So I can examine thee issue and solve it. Because with no physical code or familiarity with the code your using it will just be a guessing game

[2019-09-23 13:58] #350 closed

[2019-09-23 13:58] #439 closed

[2019-09-23 14:01] sashadev-sky commented on #436
Hi! I can't justify a need for such a tool in this library, but our toolbar API comes with a built-in subtoolbar ability - https://github.com/Leaflet/Leaflet.toolbar/blob/master/examples/subtoolbar.html

basically like:

[code]
if you would want to use that

[2019-09-23 19:19] jywarren commented on #316
OK we are at `0.7.7` now in stable, so now, i think we need to stop overriding the default updater so that the new default (with the spinner) can start appearing?

Ref: https://github.com/publiclab/Leaflet.DistortableImage/pull/385

[2019-09-25 04:38] themacboy commented on #436
ok, will check all that.

A lot of thank's !

[2019-09-25 04:38] #436 closed

[2019-09-26 05:20] sashadev-sky commented on #307
Going to close this IE8 is really far back! I think IE9 is the furthest back people reasonably go?

[2019-09-26 05:20] #307 closed

[2019-09-26 22:01] sashadev-sky opened #445 "Crop Image tool"
Let's add a tool to crop images? I would imagine this would be done by
1) Use the boxselector interface or something similar looking like a dashed area select box.
2) When the user hits enter to crop, use the bounds of the box and check to see if any img bounds are contained within it (similar to boxselector again)
3) Unsure whats appropriate here any idea @jywarren ? Ideally it would be uncroppab

[2019-09-27 13:44] jywarren commented on #445
We could do this with image-sequencer, but how do you think it should be
stored/saved?

On Thu, Sep 26, 2019, 6:02 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-29 19:17] rmhorne opened #446 "Difficulty moving images at high zoom levels"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

First, this is a great project! However,I seem to have hit a weird error: When using the demo (https://publiclab.github.io/Leaflet.DistortableImage/examples/index.html) everything wor

[2019-09-29 19:23] rmhorne commented on #446
Hosted behavior:
![hosted](https://user-images.githubusercontent.com/3486040/65838050-ac584480-e2b3-11e9-9bd6-71cf671da279.gif)

Localhost behavior:

![local](https://user-images.githubusercontent.com/3486040/65838076-f17c7680-e2b3-11e9-8a86-e83f00d55b44.gif)

[2019-09-30 16:38] jywarren commented on #446
Oh, interesting! And great documentation! Sorry you're having this issue --
are there any console errors appearing? Any missing source files?

On Sun, Sep 29, 2019 at 3:24 PM Ryan Horne <notifications@github.com> wrote:

[2019-09-30 18:52] themacboy commented on #4
ummmm toGeoJSON () it is working with DistrotableImages? with distrosion, rotation, etc?

[2019-10-02 12:57] saadsaifse opened #452 "SVGs initially load at top left of the map"
**Describe the bug:**
I am loading a collection of images about 50 through `L.distortableCollection` and applying corners to individual images with something like `L.distortableImageOverlay(imageUrl, {corners: anchors});`

The problem is, all images load at the top left corner of the map and until I scroll on the map, they remain there. After applying the scroll, however the images goes to their i

[2019-10-02 13:29] saadsaifse opened #453 "Overlays stay in the view when map is fully zoomed out (world view)"
**Describe the bug:**
I have a full zoom out button on my map, that zooms out to the world view. When I press that button, the loaded distortable overlays stays at their zoomed-in location until a scroll is applied.

**Reproduce the behavior:**
Overlay an image, zoom to the image location until the image is clearly visible. Then press the full zoom out button. The image will stay there while the m

[2019-10-02 13:32] themacboy commented on #453
Yes, innoticed that a few weeks ago

El mié., 2 oct. 2019 15:29, Saad Saif <notifications@github.com> escribió:

[2019-10-05 16:09] fgkolf commented on #383
I will have a try on this since it seem unassigned

[2019-10-05 20:58] DylPickle11 commented on #409
Is this still open? I would like to help work on this.

[2019-10-12 16:49] ShoiX commented on #261
Hello, I want to claim this issue.
Thanks!

[2019-10-20 11:25] benboughton1 opened #456 "Help with installation and run examples"
**Scope**:
API, documentation, installation, code, meta, other?

I am simply trying to clone, install and run the repo locally but it does not seem to work.

**Description**:
Feel free to include any applicable: code, screenshots, or gifs.

As per docs I have run:

`git clone https://github.com/publiclab/Leaflet.DistortableImage.git`
`npm install`
`npm install leaflet --no-save`

When I open examp

[2019-10-22 09:34] flopail opened #459 "Last release in npmjs.com is v0.8.4 and here is v0.7.4... Which one is good one?"
**Describe the bug:**
- In **npmjs** web site, last version is **v0.8.4**: https://www.npmjs.com/package/leaflet-distortableimage
- In **pubiclab releases** repo, last version is **v0.7.4** : https://github.com/publiclab/Leaflet.DistortableImage/releases

Which one is good one?

**Reproduce the behavior:**
Follow these two links above.

**Browser, version, and operating system:**
 All.

[2019-10-23 03:17] benboughton1 commented on #456
OK I got it working. The browser did not like that the example.jpg was not being served over http. I rejigged the things a little and ran it through a local webserver and no problems.

[2019-10-23 03:17] #456 closed

[2019-10-23 17:56] skathuria29 commented on #409
I would like to work on this issue. Is it still open?

[2019-10-23 19:58] adriankwiat opened #460 "Events for select and deselect"
**Please describe the desired behavior.**
Describe the solution you'd like.
I want select and deselect events for image.

**Additional context (optional)**
Feel free to include any applicable: code, screenshots, or gifs.
Example:
[code]

[2019-11-11 14:06] debck commented on #382
**Uploaded to Dashboard**

[2019-11-15 16:51] SidharthBansal commented on #382
Published

[2019-11-17 01:23] sashadev-sky commented on #382
@debck @SidharthBansal why did we make this a medium level issue? Its a 1-line code change and I give the answer

[2019-11-17 03:24] sashadev-sky commented on #429
**Uploaded on GCI dashboard**

[2019-11-17 05:26] sashadev-sky commented on #367
**Uploaded on GCI dashboard**

[2019-11-17 18:54] sashadev-sky commented on #409
Hi guys! I'm sorry but I don't think we'll be moving forward with this issue. -- anyhow, its been a little quiet on this repo for a while but hoping to start back up again this week so you should see some new FTO issues!

[2019-11-17 18:54] #409 closed

[2019-11-17 18:57] sashadev-sky commented on #459
Sorry! 0.8.4 is good :) When in doubt the npm package is always the most up to date. I will update the releases today, though. Thank you for pointing this out.

[2019-11-18 05:03] sashadev-sky commented on #459
Just released v0.8.4 under releases (https://github.com/publiclab/Leaflet.DistortableImage/releases) so closing this

[2019-11-18 05:03] #459 closed

[2019-11-18 06:19] bjaggi-sag opened #463 "Not able to use the plugin"
**Scope**:
Installation, Code, API

**Description**:
Feel free to include any applicable: code, screenshots, or gifs.
When i include the library in my file and try to run a basic example. I am not able to run it as the browser console keeps showing the following error:
`
leaflet.distortableimage.js?20e9:1355 Uncaught (in promise) TypeError: Cannot read property 'Action' of undefined
    at eval (l

[2019-11-18 06:30] bjaggi-sag commented on #463
Here is a screenshot of the image overlay toolbar i see after i do the workaround.
![image](https://user-images.githubusercontent.com/48059198/69029460-46e02480-09d5-11ea-998c-27615c046323.png)

[2019-11-18 16:16] sashadev-sky commented on #383
@fgkolf it looks like you abandoned this one. Did you get stuck anywhere / need help?  This one is now up for GCI students only but I could make a new one for your if you'd like!

[2019-11-18 16:21] SidharthBansal commented on #429
**Published on GCI Dashboard**

[2019-11-19 06:55] SidharthBansal commented on #367
Published

[2019-11-20 12:27] #463 closed

[2019-11-20 12:28] bjaggi-sag commented on #463
The issue is resolved as on my framework one of the SVG .css properties was overriden.

[2019-11-21 14:32] bjaggi-sag commented on #460
Hi,
I am also looking for same thing. Did you find any solution?

[2019-11-26 08:32] ananyaarun opened #465 "Add code of conduct badge to readme"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-28 20:52] adriankwiat opened #466 "Disable box collector"
**Scope**:
API, documentation, installation, code, meta, other?
API

**Description**:
Feel free to include any applicable: code, screenshots, or gifs.
I want default box zoom instead of box collector. Is possible to disable it?

[2019-11-29 07:17] SidharthBansal commented on #465
Published

[2019-12-01 22:54] rexagod commented on #102
Uploaded to GCI Dashboard.

[2019-12-01 23:17] rexagod commented on #460
Uploaded to GCI dashboard

[2019-12-01 23:32] rexagod commented on #446
Uploaded to GCI dashboard.

[2019-12-01 23:42] rexagod commented on #406
Uploaded to GCI dashboard.

[2019-12-01 23:48] rexagod commented on #397
Uploaded to GCI dashboard

[2019-12-02 00:02] rexagod commented on #104
Uploaded to GCI dashboard.

[2019-12-02 09:07] SidharthBansal commented on #406
Please read through the guidelines of gci tasks creation. You are missing scores, code links and adding it to the tasklist.
Thanks

[2019-12-02 09:07] SidharthBansal commented on #406
Similarly for other issues/tasks

[2019-12-02 16:17] SidharthBansal commented on #460
Published 🎉

[2019-12-03 00:05] chen-robert commented on #367
I'm contributing as a part of GCI, would it be possible to assign this task to me please?

[2019-12-03 07:10] chen-robert commented on #460
I was looking at this issue and was wondering, is there already an event propagation system in place? As in, are there other events that users can listen to, such as

[code]

or should I be writing the `#on` method myself?

[2019-12-04 07:04] sashadev-sky opened #469 "Add meaningful return values for toolbar manipulation methods"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

#  Problem

We have toolbar manipulation methods `#addTool` `#removeTool` and `#replaceTool` for `L.DistortableImage.Edit`:

https://github.com/publiclab/Leaflet.Distortable

[2019-12-04 07:23] sashadev-sky commented on #469
**Uploaded on GCI dashboard**

[2019-12-04 07:46] sashadev-sky commented on #367
Pt2 Uploaded on GCI dashboard

[2019-12-04 15:06] frontend210 commented on #463
Hi @bjaggi-sag
Could you please explain in detail how to resolve the kind of issue?

[2019-12-04 17:00] chen-robert commented on #367
@sashadev-sky regarding part 2, I noticed the behavior of `replaceTool` seems to be a bit different from what exists currently in mapknitter.

https://github.com/publiclab/mapknitter/blob/5d825a9992dce58ae2d295612662d8402f65f5ee/app/assets/javascripts/mapknitter/Map.js#L162-L163

Currently `replaceTool` will only replace the tool if the original tool exists. It would thus behave as

[code]

Should

[2019-12-04 22:22] jywarren commented on #316
Now looking at #1124 to get this working with v0.8.7!

[2019-12-04 22:27] sashadev-sky commented on #367
@chen-robert i see your point. I guess it would be
[code]
and thats ok! Also note i needed to bump to 0.8.7 after merging your 0.8.6 because I forgot about the package-lock.json file. That needs to be included in the PR anytime package.json is changed! You just run `npm install` after updating package.json to update it too. So pull in 0.8.7 :)

[2019-12-04 22:37] sashadev-sky commented on #367
also Pt2. is on the dashboard in draft mode but needs to be published by an admin. Hopefully will be published tonight and i'll make sure u can claim it if you haven't already claimed another one. Sorry for the inconvenience

[2019-12-04 22:38] chen-robert commented on #367
No problem, I'll push the fix now and claim it once it gets uploaded

[2019-12-04 22:38] sashadev-sky commented on #367
cool thank you!

[2019-12-04 22:42] sashadev-sky commented on #367
@chen-robert oh also please note this issue just opened!! https://github.com/publiclab/mapknitter/issues/1124

Delete needs to be updated to `L.DeleteAction` as well since the naming convention has changed in a past PR and has not since been update there!

[2019-12-04 22:44] chen-robert commented on #367
Okay, I'll take a look at it afterward! Not sure if I'm allowed to make a PR for it though, @SidharthBansal said to focus on the GCI tagged ones.

[2019-12-04 22:47] jywarren commented on #316
Yay https://github.com/publiclab/mapknitter/pull/1126 !

We do need docs for this type of exporting, however!

[2019-12-04 22:48] jywarren commented on #316
Especially for example how to switch between these two distinct cloud-based export systems:

* https://github.com/publiclab/image-sequencer-app
* https://github.com/publiclab/mapknitter-exporter/

[2019-12-05 02:58] sashadev-sky opened #470 "Remove spinner after an export is complete"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

LDI provides the ability to export multiple images.
Demo it here: https://publiclab.github.io/Leaflet.DistortableImage/examples/select.html
by
- `ctrl + click`ing

[2019-12-05 03:27] sashadev-sky commented on #470
**Uploaded to GCI Dashboard**

[2019-12-05 03:34] sashadev-sky commented on #316
@jywarren for now I opened https://github.com/publiclab/Leaflet.DistortableImage/issues/470

[2019-12-05 04:04] jywarren opened #471 "Add prompt for multi-export scale AND/OR allow setting this in DistortableCollection constructor"
This seems to indicate we can set the scale in options:

https://github.com/publiclab/Leaflet.DistortableImage/blob/6e4b078eb83ddefa191a726be8a2671640897cba/src/edit/DistortableCollection.Edit.js#L194-L198

But we don't actually use that, here:

https://github.com/publiclab/Leaflet.DistortableImage/blob/22cf32253e8030f52ba0620ed33d12a5149766da/src/edit/actions/ExportAction.js#L32

Can we make it p

[2019-12-05 04:10] jywarren opened #472 "Trouble with accidentally deselecting a collection and losing the export spinner"
One more -- it's /super/ easy to deselect a collection -- not sure why! But I am having trouble NOT de-selecting it, and keep losing the spinner. Maybe it's just my trackpad but it's making it a bit tough to see that there is an export going because almost every time, i accidentally deselect the collection and lose the spinner. I wonder if we should think of a way that the spinner should persist p

[2019-12-05 04:30] sashadev-sky commented on #471
@jywarren I think that was why we held off on docs for the exporter - we were still thinking about how we could make the function customizable without having to re-write the whole action like we did in MK. because we don't have any API for passing options to actions. So we would need to build that.

Also the prompt is really good idea. The prompt could be a GCI issue? The API for passing options t

[2019-12-05 11:00] bjaggi-sag commented on #463
Hi @frontend210 ,

I have to change the height and width property in the **.leaflet-container svg:not(.leaflet-zoom-animated)** Css class to **inherit** and it worked.

[2019-12-05 18:05] jywarren commented on #471
Yeah this could probably be a GCI issue! I think it's necessary to publish the new MapKnitter version, because with scale pegged to 100 px per cm, if you are mapping a large area like a city block, maps are HUGE files (15000 x 15000 px) and if you're mapping a small area like a garden, they're tiny... 300x300px.

Example of huge -- our exporter can handle this, which the legacy exporter cannot! Th

[2019-12-05 19:00] jywarren commented on #472
I will try to document this more with a Gif!

[2019-12-05 21:13] jywarren opened #473 "Increase max zoom to 24"
We can no longer zoom in very close; it used to allow up to zoom 24, but we're now limited to much lower (18?) -- but here is a post about the high-res we used to have:

https://publiclab.org/notes/warren/01-19-2018/mapknitter-update-very-high-resolution-mapping (It was added in this PR: https://github.com/publiclab/mapknitter/pull/243/files#diff-cd467f0b470669270454ce0ae6227a90R492-R493)

I think

[2019-12-05 21:56] jywarren opened #474 "Add documentation for MultiExport function"
We should show how to switch between these two distinct cloud-based export systems:

* https://github.com/publiclab/mapknitter-exporter-sinatra (current default)
* https://github.com/publiclab/image-sequencer-app

It starts by adding a custom action to `DistortableCollection`, like this:

[code]

But we can define that custom action as follows:

https://github.com/jywarren/mapknitter/blob/d79ea41b

[2019-12-05 21:56] jywarren commented on #316
Closing this in favor of https://github.com/publiclab/Leaflet.DistortableImage/issues/474 !

[2019-12-05 21:56] #316 closed

[2019-12-05 22:02] jywarren commented on #472
Here it is! I think perhaps moving the mouse out of the map frame deselects somehow? I definitely did not click -- i used a mouse to do this.

![mk](https://user-images.githubusercontent.com/24359/70277738-f0b70380-1780-11ea-9fc3-15a1d7e2e365.gif)

[2019-12-05 22:04] jywarren commented on #474
We should add an example that features the absolute minimum customization, just to show people!

[2019-12-06 08:24] SidharthBansal commented on #470
Published

[2019-12-06 08:29] SidharthBansal commented on #469
Published

[2019-12-08 04:09] sashadev-sky commented on #473
@jywarren I just doublechecked and the reason the maxZoom is set to 21 is because beyond that the tiles disappear and you just have a blank gray background.

I'll look into how you got it to 24 before. I don't remember what I didn't like about the google mutant plugin functionality, but I'll give it a try again to see

[2019-12-08 04:19] sashadev-sky commented on #473
Just looked at the plugin again. It needs an API key so I think we should just update MK to add the old google mutant layer from the plugin instead of making any changes upstream.

lmk and if so, I will close this and make a PR in MK because its high-priority / we have a lot of `gci-candidates` in this repo that still haven't been uploaded to dashboard

[2019-12-08 05:41] sashadev-sky commented on #452
@saadsaifse I just tested with an SVG, and works as expected for me. Is it possible you're setting your own CSS transform properties anywhere? Also if you check the `bounds` / `corners` of the image when its in the corner are they what you expected?

[2019-12-08 05:43] sashadev-sky commented on #440
please see my comment here! https://github.com/publiclab/Leaflet.DistortableImage/pull/444#issuecomment-562910686

[2019-12-08 05:43] #440 closed

[2019-12-09 22:15] jywarren commented on #473
OK, well if you can just do it via MapKnitter that's ok, but i think it's a really common use case for distorting maps in LDI.

There is a special `maxNativeZoom: 20,` option I set using  https://gitlab.com/IvanSanchez/Leaflet.GridLayer.GoogleMutant which allows for zooming past the highest zoom level available; it stretches the tiles to make this possible. Pretty cool!

[2019-12-09 22:18] jywarren commented on #473
Ah, you moved off of  https://gitlab.com/IvanSanchez/Leaflet.GridLayer.GoogleMutant and that's why we're not getting this anymore? Can you try using `maxNativeZoom` - I actually believe it's a Leaflet feature, not a Google Mutant feature, so I think it'll work!

Yes, take a look here: https://leafletjs.com/reference-1.4.0.html#gridlayer-maxnativezoom

So this ought to be easy! Thank you!!

[2019-12-10 19:09] #466 closed

[2019-12-11 18:12] SidharthBansal commented on #460
@chen-robert you cannot claim this task until you solve your previous task.
Just a gentle reminder.

[2019-12-11 21:42] jywarren opened #478 "Allow over-riding startExport on Collections, to enable different remote exporters to be attached"
Related to #474 and #471 cc @sashadev-sky ! 🎉

I'm starting to work on this!

[2019-12-11 21:53] jywarren commented on #478
The goal is to make this compatible with this alternative exporter, and make it easy to set up more exporters: https://github.com/publiclab/image-sequencer-app

[2019-12-11 21:53] jywarren commented on #478
and to set up unique UIs for the exporting process.

[2019-12-11 22:33] jywarren commented on #372
Just adding a 👍 ❤️  to this and especially to the `browserify` or other means of `require()` part of this, which I feel could be done first, as that could also include some filter steps like... `uglify` or whatever, easing the transition. Getting away from concatenation seems very worthwhile!

This would set us up for some EXTREMELY powerful new tools like https://github.com/publiclab/matcher-core

[2019-12-12 02:05] sashadev-sky opened #479 "Add a `#cancelExport` method"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

LDI provides the ability to export multiple images.
Demo it here: https://publiclab.github.io/Leaflet.DistortableImage/examples/select.html
by
- `ctrl + click`ing

[2019-12-12 02:16] sashadev-sky commented on #479
**Uploaded to GCI dashboard**

[2019-12-14 16:05] #470 closed

[2019-12-15 09:22] frontend210 commented on #463
Hi @bjaggi-sag Thanks for your help. I've resolved the issue on my side :)

[2019-12-16 05:17] sashadev-sky commented on #466
@adriankwiat you should now see this updated in version 0.8.8 on npm!
and please reference the addition to the README instructions for swapping between them

[2019-12-16 05:44] sashadev-sky commented on #472
@jywarren this is actually a MK problem not LDI I opened a PR for it there https://github.com/publiclab/mapknitter/pull/1157 and will @ you there to explain it!

[2019-12-16 06:11] sashadev-sky commented on #463
@bjaggi-sag @frontend210 any chance you guys think this is related to https://github.com/publiclab/Leaflet.DistortableImage/issues/452 or have seen this problem as well?

[2019-12-18 10:39] SidharthBansal commented on #102
Published

[2019-12-18 10:41] SidharthBansal commented on #268
published

[2019-12-18 10:42] SidharthBansal commented on #460
Published on gci dashboard

[2019-12-18 10:42] SidharthBansal commented on #446
Published on gci dashboard

[2019-12-18 10:45] SidharthBansal commented on #397
Published

[2019-12-18 10:46] SidharthBansal commented on #104
published

[2019-12-22 12:21] ee9957 commented on #465
Claimed

[2019-12-22 12:21] sashadev-sky commented on #383
**Uploaded to GCI Dashboard**

[2019-12-22 12:48] sashadev-sky opened #484 "Write a test demonstrating how `#_calculateProjectiveTransform` works"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

LDI allows perspectival distortions of aerial images over a flat, projected map. It is key for georectification.

**Pespectival distortions**?

- Visit our [demo]

[2019-12-22 12:52] sashadev-sky commented on #479
**Published**

[2019-12-22 13:03] sashadev-sky commented on #484
**Uploaded to GCI dashboard**

[2019-12-22 13:34] #465 closed

[2019-12-22 14:01] jywarren commented on #478
Gah @sashadev-sky I'm moving slow on this, I'll push up what I came up with but maybe with all the great gci activity someone in gci would like to try?

[2019-12-22 14:17] sashadev-sky commented on #473
@jywarren we will get errors for any zoom beyond 21 even with `maxNativeZoom` set. Its the url for the tile layers were using. So for these tiles I think we have to limit the zoom. But the LDI API is made to use with any tiles, if you just skip the `addGoogleMutant` call and add your own. So it will be easy to update upstream. I will add a PR.

downstream I feel like its ok because people can use

[2019-12-22 14:20] jywarren commented on #473
Hm, that's weird, it was definitely working before, what has changed since
that blog post was written?

On Sun, Dec 22, 2019, 9:18 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-12-22 14:31] sashadev-sky commented on #473
@jywarren sorry I take that back. I was just not setting the maxNativeZoom on the labels layer as well. I will upload a PR here.

Also slightly unrelated q while were on this topic: does it make a difference if we're using http or https here?
https://github.com/publiclab/Leaflet.DistortableImage/blob/67bb5dbe69bfeaf31e16aabc08e4a36b476a1715/src/mapmixins/MapMixins.js#L7

[2019-12-22 16:37] jywarren commented on #478
OK, pushed up #485 with my very rough work to date...

[2019-12-22 21:11] jywarren commented on #473
I think i just fixed this in #486, want to take a look?

I'm not sure about the url -- but often we can use `//example.com` and it will default in the browser to http/https depending on what the overall page is using -- if that's helpful? But i think it may not be needed for us this specific bug?

Thanks!!!

[2019-12-23 01:02] #469 closed

[2019-12-23 08:37] SidharthBansal commented on #484
Published
Thanks Sasha you are super helpful

[2019-12-23 08:37] SidharthBansal commented on #383
Published

[2019-12-23 11:33] alexbertis commented on #383
Hi! I would like to claim this issue

[2019-12-23 11:47] sashadev-sky commented on #383
@alexbertis this one is reserved for GCI, are you a GCI student? If not I can open a different one for you :)

[2019-12-23 16:51] alexbertis commented on #383
Yep, I am a GCI student (alias alexberti02)

[2019-12-23 17:53] SidharthBansal commented on #383
Go for it

On Mon, 23 Dec 2019, 10:21 pm Alejandro Bertinelli, <
notifications@github.com> wrote:

[2019-12-24 11:24] tsparksh opened #492 "Add jQuery to dependencies list for tests"
We have jQuery in our package.json, but we have not it in dependencies list for phantom js tests

[2019-12-24 11:29] tsparksh commented on #460
Hey @SidharthBansal, can you check #493 and #491, please?

[2019-12-25 00:07] alexbertis commented on #383
I submitted the task a couple of days ago... Could you please review it? Thank you very much.

[2019-12-25 17:02] SidharthBansal commented on #460
@sashadev-sky please help @tsparksh
Merry Christmas everyone

[2019-12-25 17:02] SidharthBansal commented on #460
@tsparksh I am unfamiliar with this repo. Sorry
@chen-robert how is it going in the fto creation?

[2019-12-26 02:28] sashadev-sky commented on #383
So sorry! I have a fulltime job and sometimes when a new feature has to come out I need to give that prtiority. Anyway i will review now :)

[2019-12-26 17:17] pythongiant commented on #102
Why was this opened again @sashadev-sky

[2019-12-26 18:00] jywarren opened #499 "Document grunt tasks in README"
The Gruntfile.js has some very useful commands, including very critical ones like:

* `grunt concat:dist` - build the distribution files in `/dist/...`
* `grunt test` - run automated tests

Let's document those clearly near the top of the README!

[2019-12-26 21:11] #473 closed

[2019-12-31 10:13] sharmamansi commented on #499
Hey @jywarren can I work on this?

[2019-12-31 12:43] Uzay-G opened #506 "Enhance testing documentation"
In many of our other publiclab repos, there is extensive documentation on how to correctly test the codebase.
It is very difficult for someone not acquainted with the tech stack or the code itself to run the tests.
For example, if a user runs `npm test`, the command executed is:
`echo \"Error: no test specified\" && exit 1`.
This just returns an error but doesn't give the user any information on h

[2020-01-02 17:39] jywarren commented on #506
Agreed, this would be awesome!

On Tue, Dec 31, 2019 at 7:43 AM welcome[bot] <notifications@github.com>
wrote:

[2020-01-02 17:42] jywarren commented on #499
That would be great!

On Tue, Dec 31, 2019 at 5:13 AM Mansi Sharma <notifications@github.com>
wrote:

[2020-01-02 18:32] Uzay-G commented on #506
Yeah I think it would be useful. I'd love to work on it but I'm not familiar with the codebase for this repository.

[2020-01-02 21:07] #102 closed

[2020-01-02 21:08] #406 closed

[2020-01-06 23:15] #382 closed

[2020-01-07 21:43] #506 closed

[2020-01-08 03:38] #383 closed

[2020-01-09 14:48] VladimirMikulic opened #516 "Making sure the toolbar stays in viewport during image drags on zooming in"
We have [this](https://codein.withgoogle.com/tasks/5154109926146048/?sp-organization=5664911678504960&sp-is_beginner=False&sp-search=medium) task on the GCI dashboard. Toolbar always has to be visible.
@sashadev-sky @rexagod @jywarren do you have something like this in mind?

![Screenshot_20200109_154115](https://user-images.githubusercontent.com/35997844/72077333-5b66dc00-32f7-11ea-9aa6-daf598501

[2020-01-09 17:52] anthony-zhou commented on #446
I have started to work on this issue. Interestingly enough, this issue now appears on both the online and offline versions for me. Perhaps this is a problem introduced by a new change that was already available locally but deployed online during the time span since this issue was first opened. Anyways, I will try to see what is causing this problem.

[2020-01-10 06:55] sashadev-sky commented on #492
@tsparksh is this related to the travis build fail in #491? Don't think we need jquery for tests. Please see my comment there!

[2020-01-10 22:26] #478 closed

[2020-01-11 14:00] #367 closed

[2020-01-11 17:29] #479 closed

[2020-01-13 00:03] sashadev-sky opened #522 "Make collection export option dynamic"
If you run an export here with two images: https://sasha.mapknitter.org/examples/select.html, and then cancel it by clicking on the icon (just to save time), and then run a new export on only 1 image, you'll find that it still says exporting 2 / 2 images.

Since we call
https://github.com/publiclab/Leaflet.DistortableImage/blob/449ec1506fb3c1a3cb624be52be8c7ade6538216/src/edit/DistortableCollectio

[2020-01-13 00:08] sashadev-sky commented on #522
@jywarren this one is high priority too because breaks the exporter. I don't have the time to fix it right now

[2020-01-13 02:06] jywarren commented on #522
Gotcha, thanks!!!!!

On Sun, Jan 12, 2020, 7:08 PM Sasha Boginsky <notifications@github.com>
wrote:

[2020-01-13 03:14] sashadev-sky commented on #522
**Uploaded to GCI dashboard**

[2020-01-13 03:24] sashadev-sky commented on #338
**Uploaded to GCI dashboard**

[2020-01-13 05:02] sashadev-sky commented on #102
@SidharthBansal @VladimirMikulic was this one definitely published on the dashboard and not just "Set degrees of rotation..." I can't find it! Just wanted to double check

[2020-01-13 05:21] SidharthBansal commented on #102
@VladimirMikulic can check and get it approved from me asap. :-)

[2020-01-13 05:34] sashadev-sky commented on #403
@jywarren @rexagod I don't think it's a need but I do think it improves usability!

[2020-01-13 05:47] sashadev-sky commented on #403
**Uploaded to GCI dashboard**

[2020-01-13 05:57] VladimirMikulic commented on #102
@sashadev-sky this one was published on GCI dashboard and I claimed points for it.
In the description, it said to write `getAngle`, not `getRotate` and the other one was `setAngle` instead of `setRotate`.

@SidharthBansal thanks you've approved them already.

[2020-01-13 06:00] sashadev-sky commented on #102
ok perfect

[2020-01-13 06:02] sashadev-sky commented on #308
Closing this its not really an issue

[2020-01-13 06:02] #308 closed

[2020-01-13 06:05] sashadev-sky commented on #161
This one is good to close now!

[2020-01-13 06:05] #161 closed

[2020-01-13 08:48] SidharthBansal commented on #403
Published

[2020-01-13 08:48] SidharthBansal commented on #522
Published

[2020-01-13 08:49] SidharthBansal commented on #338
Published

[2020-01-13 18:00] #522 closed

[2020-01-13 18:58] jywarren commented on #471
Done in #478!

[2020-01-13 18:58] #471 closed

[2020-01-13 23:32] #446 closed

[2020-01-14 07:30] sashadev-sky commented on #16
@jywarren do we still need this issue?

[2020-01-14 16:34] jywarren commented on #453
Hi! I believe this was fixed by @anthony-zhou in https://github.com/publiclab/Leaflet.DistortableImage/pull/517 ! Can you test the latest to confirm? Thank you!

Feel free to re-open if it's not fixed. 🎉

[2020-01-14 16:34] #453 closed

[2020-01-16 00:25] jywarren commented on #16
I guess not? Thanks!

On Tue, Jan 14, 2020 at 2:30 AM Sasha Boginsky <notifications@github.com>
wrote:

[2020-01-16 07:17] sashadev-sky commented on #16
Ok closing!

[2020-01-16 07:17] #16 closed

[2020-01-16 11:45] sharmamansi commented on #499
Hey @jywarren im facin some issues while creating a pr can you help me?
![error](https://user-images.githubusercontent.com/44358571/72522454-bebab600-3883-11ea-9e82-9da4b29c91a4.png)

[2020-01-16 19:39] jywarren commented on #499
Hmm. @VladimirMikulic did you get this when you committed? DO we need to fix these formatting issues, or is there a way to skip the lint checks?

Thanks!!

[2020-01-16 19:42] VladimirMikulic commented on #499
@jywarren yes I get these every time, the workaround is to pass `--no-verify` option to the `git commit` command.

[2020-01-21 11:53] theprover97 commented on #516
Hey @VladimirMikulic , can I work on this issue?

[2020-01-21 17:54] VladimirMikulic commented on #516
@theprover97 if @sashadev-sky agrees on this type of layout, it's all yours :)

[2020-01-23 01:41] anthony-zhou commented on #338
Does anyone know where the arrow key event listeners are handled? I'm planning to go there and check if the image is selected to determine whether to move the image or the map.

[2020-01-24 07:35] SidharthBansal commented on #460
@tsparksh I have reviewed your responses. This task is `hard`(not hof). Was mislabelled on the GCI dashboard. Have given you 5 points eventhough it is not merged.
Thanks

[2020-01-26 01:56] sashadev-sky opened #537 "Fix coverage grunt task from Gruntfile.js"
- Currently the `coverage` folder is created outside of the repository in its parent folder.
   1. Create it in the repository directory
    2. Possibility to collapse inner Phantom folder that holds all the files we need so its just coverage/~phantom~/files

also other potential followups for webpack config:
  - add `compress: true` to devServer to enable GZIP compression?

[2020-01-26 01:56] sashadev-sky commented on #537
@jywarren @VladimirMikulic @rexagod

[2020-01-27 01:07] sashadev-sky opened #538 "Refactor code to eventually remove jquery dependency - part 1"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-01-27 01:09] sashadev-sky commented on #492
closing this, not relevant anymore!

[2020-01-27 01:09] #492 closed

[2020-01-27 01:23] VladimirMikulic commented on #537
It doesn't really make sense to compress assets in development server.

It will just slow it down, hence development server, not the production one :)

[2020-01-27 01:32] sashadev-sky commented on #57
hey! This issue is definitely stale by now, as
1. we have added custom double-click to patch leaflets previously broken doubletap functionality, and
2. we have updated the formulas we use all over to recalculate the pixel origin on map drag, (While zooming the map automatically does this, dragging it didn't which created a few tough bugs we had to solve)

Last, i cannot reproduce it in safari 8.0.

[2020-01-27 01:32] #57 closed

[2020-01-27 01:35] sashadev-sky commented on #537
Wont it speed up page load, though, hence a faster development experience and one that is closer to the production experience? (FYI always here to learn so don't be shy to tell me i'm wrong)

[2020-01-27 03:13] sifihog commented on #538
Hello,
I'd like to give this a try, if possible. I've not worked on any open source projects before.

[2020-01-27 12:35] VladimirMikulic commented on #537
@sashadev-sky I am glad you ask.
I agree with you up to the point, the bandwidth will be saved, but we are putting the load on the processor.
Again, if you have i7 it doesn't matter, but if you are on Athlon Dual Core it does for sure.
The same applies to the network :)

`hot` option serves this purpose, update the changes without browser reload.

The usual practice is to compress on the final bui

[2020-01-28 08:14] Odisseuss commented on #538
Hello @sashadev-sky, has anyone taken up this issue yet?

[2020-01-28 22:14] carlo-ev commented on #538
Hey I want to give this issue a go, would be my first open source contribution. Hope its open still didn't see it on pull requests.

[2020-02-03 09:16] DevanshCodes commented on #516
Is it still open, can I work on this?

[2020-02-03 09:54] VladimirMikulic commented on #516
Hi @DevanshCodes. Thank you for your interest on this issue, but we are still waiting for @sashadev-sky's approval.

[2020-02-06 22:09] #537 closed

[2020-02-07 16:58] Mineshot03 opened #546 "Bug in the first load."
Hello,
I have a problem, all image are placed like I dint't give corners lat/lng but when I zoom or unzoom all image was replaced on good lat/lng.

Do you have an idea ?

Thx,

**Screenshot**

First load
![image](https://user-images.githubusercontent.com/16797301/74048178-025f9600-49d2-11ea-9c48-03628cf852bc.png)

After zoom
![image](https://user-images.githubusercontent.com/16797301/74048208-10ad

[2020-02-08 16:31] adriankwiat opened #548 "Error with Browserify"
I'm using this plugin with npm and Browserify. After update to 0.12.6 compiling gives me an error:
[code]

Command used (it works with 0.11.6):
[code]

package.json:
[code]

index.js:
[code]

[2020-02-13 12:00] sabina-rohman commented on #538
Hi, I am new to open source contributions. Please, assign it to me if it's not assigned to anybody. Thanks.

[2020-02-18 22:44] neilyoung opened #553 "Is it possible to obtain the rotation after an action?"
...like as it is possible to obtain the corner coordinates()? Didn't find anything like this at the first glance...
Kind of "img.getRotation()" or so...

TIA

[2020-02-18 22:47] neilyoung commented on #553
Sorry, wrong label...

[2020-02-19 22:47] neilyoung commented on #553
Figured it. Thanks

[2020-02-19 22:47] #553 closed

[2020-02-26 18:25] neilyoung commented on #546
@Mineshot03 Don't worry. Having the same issue. Unfortunately there seems to be a problem whenever you provide corner coordinates. In my case the overlay is covering the entire map. Zooming a bit helps mostly to place it correctly. I also tried to provide no corners and call the setCorners API after a second to no avail.

But don't expect to get answers here

[2020-02-26 19:03] neilyoung commented on #546
@Mineshot03 Are you still stuck on this or did you find a solution? I found (by debugging), that if it happens that the overlay does not align correctly, the `animateZoom` function of leaflet.distortableimage.js, line (around 11415, not sure, already patched a lot) is not called. Might be a side effect, but if this function is called then the alignment is correct

[2020-02-26 19:32] neilyoung commented on #546
I'm pretty sure it is because of the missing `zoomAnim`. If you configure the map with `zoomAnimation` set to false, it will always fail to place the overlay correctly.  And `zoomAnim` is a leaflet thing. According to this https://github.com/Leaflet/Leaflet/issues/5664 it is not always guaranteed, that this event fires. But this overlay depends on it...

[2020-02-26 20:14] neilyoung commented on #546
Here is a possible solution: I have removed the dependency to `zoomAnim` since this seems to be a loose end

You might consider trying to apply this patch. It did it for me. Confirmation welcome. It replaces the dependency to `zoomAnim` with a direct call to a similar functionality. The patch applies to version 0.2.16 of `leaflet.distortableimage.js`:

[code]

Might have side effects and tested wi

[2020-02-28 08:45] Mineshot03 commented on #546
Hi,
Thank for your help,
I apply your patch, and it's work fine with chrome, but not with firefox, so I search a little in the JS and I comment the condition `!L.Browser.gecko` (`L.DistortableImageOverlay = L.ImageOverlay.extend({_animateZoom: ...}`) and now it's work fine with firefox and chrome.

[code]

Other thing I detect when I was applying the patch, if the zoom (zoom 20 for exemple) is clo

[2020-02-28 10:28] neilyoung commented on #546
Hi @Mineshot03, thanks for sharing. I was wondering, because my solution did work on all browsers. I also don't have the part you commented in my version of leaflet.distortableimage.js. As reported, my patch was applied to version 0.2.16.  This is the latest version installable via NPM:

`npm i leaflet-distortableimage
`

What version do you use?

[2020-03-01 12:00] KALLUNA1 opened #559 "Getting an error related to webpack dev server when trying to use Leallet.DistortableImage in the browser console"
I am getting the following error in my browser console continuously when i use the Distortable image plugin - zone-evergreen.js:2828 GET http://localhost:8080/sockjs-node/info?t=1583061733240 net::ERR_CONNECTION_REFUSED.

I think this is related to webpack dev server configuration. How can i disable it.
<img width="493" alt="Error" src="https://user-images.githubusercontent.com/22586451/75625255-5

[2020-03-02 09:18] Mineshot03 commented on #546
I'm using the version 0.2.0, and i did the test with the updated version (0.12.6) and it's work fine with firefox and chrome, and there are the same bug I describe before :

[2020-03-02 09:26] neilyoung commented on #546
Hmm. I don't know what `setView` is. Is this a function provided by the map? I can't find it in the library.

Other than that I don't have such a problem. I'm doing in principle the same: I'm loading an image at zoom > 20 from localstorage and place it on the map. The image is displayed correctly, no need to zoom in or out again.

[2020-03-14 04:03] themacboy opened #567 "Update GitHub releases"
Good morning,

I just updated my tools with the last version you post in dist folder and I was surprised to see Handlers stop working for me.

Then I have tryed to go to releases to dowload previous version, till find when the problem start and i noticed that last released version is 0.8.4. But in NPM you can find 0.12.2

It is possible to update releases in github to easelly select the desired ve

[2020-03-14 04:23] themacboy opened #568 "Handler are inactive after update to version 0.11.4 or greater ..."
Good morning,

i have tryewd to update to last version when I have noticed that from version 0.11.4 or greater handler stop working. I can't rotate, drag or other.

Not sure if there was a big change in API or it is a bug. Not sure what changed in every version.

Here a video:

https://youtu.be/hIFUD6ESCbQ

No error in console. No sure whats the problem all goes fine before.

[2020-03-14 04:25] themacboy commented on #567
finally used JSDelivr to get previous version. Never used before hehehe

[2020-03-17 00:46] sashadev-sky opened #570 "editable: false not respected on image doubleclick"
**Describe the bug:**
What happened vs. what did you expect to happen?

**Reproduce the behavior:**
 Steps to reproduce the behavior. (ex. 1. Go to... 2. Click on... 3. See error...)

**Browser, version, and operating system:**
 - Browser [e.g. chrome, safari] -
 - Version [e.g. 22] -
 - Platform: [e.g. iOS, windows] -

[2020-03-17 01:32] sashadev-sky commented on #546
hey glad to help debug this! @Mineshot03 the update you are suggesting has been in the library code since version `0.4.3` (see PR https://github.com/publiclab/Leaflet.DistortableImage/pull/347) so I would recommend trying to update to at least that version so you don't have to patch anything.

I'm not able to reproduce this bug but to force refresh you can do `this._reset()` and `this.fire('update

[2020-03-17 01:34] sashadev-sky commented on #546
Closing this - thanks!

[2020-03-17 01:34] #546 closed

[2020-03-17 03:30] sashadev-sky commented on #548
@adriankwiat haven't used browserify before but it seems like it is not resolving the path correctly. Have you tried something like this solution: https://stackoverflow.com/questions/31713679/node-web-project-bower-browserify?

@VladimirMikulic @jywarren any suggestions here?

[2020-03-17 10:52] VladimirMikulic commented on #548
This seems to be an issue with your bundler `browserify`.
It works just fine with others.
I am closing this since it's not our error, `browserify` is old tech.

[2020-03-17 10:52] #548 closed

[2020-03-17 18:35] adriankwiat commented on #548
@sashadev-sky thanks, it worked. But I had to add over 70 paths to `external`.

[2020-03-17 19:17] sashadev-sky commented on #548
@VladimirMikulic yeah its not an error, its nice to help users find a way to make it compatible with whatever tools they are using though!

@adriankwiat do you think it's worth sharing so I can document what you had to do to make it compatible? Or is the problem specific to your browserify setup?

[2020-03-17 19:21] sashadev-sky commented on #548
i mention this also because I'm a little lost if its necessary to add [this recommendation](https://github.com/Leaflet/Leaflet/blob/master/PLUGIN-GUIDE.md#module-loaders) from the Leaflet Plugin guide to support Browserify @adriankwiat @VladimirMikulic.

What exactly would that change for a Browserify user?

[2020-03-17 19:57] VladimirMikulic commented on #548
@sashadev-sky I agree that it's nice to help them, but switching bundler would be the best help they could get :)

I am not sure if I understand your question about the plugin recommendation.
It's there for a reason, right?

[2020-03-17 20:06] sashadev-sky commented on #548
Yeah we don't currently do that, wondering how adding a file with that code would change the experience for a browserify user? Doesn't seem like it has anything to do with the issue faced here right?

[2020-03-17 20:26] VladimirMikulic commented on #548
These two are not connected, true. I don't see the purpose of adding this to our codebase, shouldn't a developer of UMD based project add this when he wants to create a plugin?

[2020-03-22 01:14] sashadev-sky commented on #559
in package.json `"dev": "npm run build; cross-env NODE_ENV=development webpack-dev-server",` this is the line that is run when you run `npm run dev`. To skip the webpack server just run the 1st part `npm run build`

Not sure what that error is. @VladimirMikulic any input here?

[2020-03-22 01:19] sashadev-sky commented on #567
yes sure! I can be slow to update new releases because I like to dole out credit where it was earned so takes a little extra time! But will get this done

[2020-03-22 01:19] #567 closed

[2020-03-22 01:27] VladimirMikulic commented on #559
@sashadev-sky it fails to a certain resource, that's why it errors out.
@KALLUNA1 could you provide me with more details?

[2020-03-22 01:30] VladimirMikulic commented on #568
Hi @themacboy! Thank you for reporting this issue. Is your project open source/hosted here on Github? I am willing to help you resolve this. There were no breaking changes to the API, so it should work.

[2020-03-22 02:13] sashadev-sky commented on #567
@themacboy done :)

[2020-03-22 02:17] sashadev-sky commented on #568
also just for a double check, I see in #567 the last version you checked was 0.12.2, would be great if you can double check you are having the same problem on 0.12.6 (latest release)

[2020-03-22 02:26] sashadev-sky commented on #499
closing as we use webpack now!!

[2020-03-22 02:26] #499 closed

[2020-03-22 03:05] themacboy commented on #567
Love all you !

[2020-03-22 03:07] themacboy commented on #568
Sorry was a Typo error, I would say version 0.12.6. sorry

[2020-03-22 12:25] adriankwiat commented on #548
Here is my code:
https://gist.github.com/adriankwiat/180bfdba1ffc0128514cd8dc625d753c

But when I did it, I got #559 too.

[2020-03-22 14:23] VladimirMikulic commented on #548
@adriankwiat link to your repo?

[2020-03-23 04:23] themacboy commented on #568
@VladimirMikulic no sorry I don't use any repository. Still learning how github works.

But as explained the problem comes  when I override this lib file with a version 0.11.4 or greater.

But im not sure hoy to check what changed after certain 0.11.3.

I load file using cdn

[2020-03-24 03:58] themacboy opened #577 "After webpack ... icons management will be receive any change?"
Hello ! After webpack adoption in this project im not sure if you will follow using grunt icon to manage all svg icons inside the project.

I refer to sprite generation, currently we were using grunt, grunt-svgmin and grunt-svg-sprite.

Can you explain me the current situation and the future way.

Thanks in advance !

[2020-03-24 14:47] themacboy commented on #577
I have tryed to use "grunt icons" and he can't find my new svg. Not sure if you removed some config file of grunt

[2020-03-29 03:31] sashadev-sky commented on #577
@themacboy grunt is a task runner besides just a way to bundle our code, so in the mean time I think we'll just continue with using grunt to manage it. Thanks closing this!

[2020-03-29 03:31] #577 closed

[2020-03-29 03:42] sashadev-sky commented on #568
So you tried 0.12.6 and no dice? What platform and browser/ browser version are you using?

To help debug, try grabbing some more information on the handlers. Do you know how to access your image in your development console are run some methods from the API to see whats going on? I would check
- `img.editable()` should return true
- `img.isSelected()` should return true
- `img.getMode()` - should

[2020-03-29 03:46] sashadev-sky commented on #559
@VladimirMikulic I see @themacboy was getting the same error which you could see in the video he linked in #568 and I have also seen this before.

Additionally, I think unrelated, I get an error `GET http://localhost:8080/examples/hot/hot-update.json 404 (Not Found)` constantly. I don't think either of these errors are showstoppers but lets fix them. Do you think we should go back and remove the o

[2020-03-29 03:49] sashadev-sky commented on #538
hi @sabina-rohman thanks for your interest! @carlo-ev has opened a PR but hasn't replied to the review in 12 days so you can give it a try if you're still interested!

[2020-03-29 03:53] sashadev-sky commented on #516
Sorry everyone to just reply now!!
@VladimirMikulic This has come up a bunch of times in discussion with @jywarren @rexagod and I. We considered your layout in the past but concluded we want to keep the toolbar attached to the image always. There is also to consider what will do in the scenario of multiple images.

I think what we could do is if the toolbar goes offscreen, add some logic to flip i

[2020-03-29 10:40] #570 closed

[2020-03-29 11:12] VladimirMikulic commented on #559
Strange, I don't have these errors.

[2020-03-30 23:46] #396 closed

[2020-03-31 00:17] sashadev-sky commented on #559
reproduced the `net::ERR_CONNECTION_REFUSED` error. It happens when you run your own server without also running the webpack dev server

[2020-03-31 00:34] VladimirMikulic commented on #559
Apperantly, it happens because host or port is different than specified in the webpack config.

[2020-04-04 02:31] sashadev-sky commented on #559
i checked on this. I still get it even if i run localhost:8080 via a different server

[2020-04-04 04:45] sashadev-sky commented on #559
@VladimirMikulic i think that HMR will not work properly until we have our library organized into imports, so we can add the `module.hot.accept` to our main import file: https://webpack.js.org/api/hot-module-replacement/

Would you be interested in taking this on? will be a bit of work for sure

[2020-04-04 05:22] sashadev-sky commented on #559
also multiple users now reporting this error so we should give this bug some priority over the import organizing

[2020-04-04 05:46] sashadev-sky opened #582 "Update L.DragHandle initializer to class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-04 05:50] sashadev-sky opened #583 "Update L.FreeRotateHandle initializer to class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-04 06:13] sashadev-sky opened #584 "Encapsulate disable dragging functionality into '#_disableDragging`"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-04 11:02] VladimirMikulic commented on #559
I'll see what I can do.

[2020-04-04 12:36] prncvrm commented on #584
Hi, Can i take on this?

[2020-04-04 20:53] Alpha-yoyo commented on #583
Hi @sashadev-sky can I claim this issue?

[2020-04-04 20:55] Alpha-yoyo commented on #582
Hi @sashadev-sky can I claim this issue?

[2020-04-05 00:41] sashadev-sky commented on #582
hi only one first timers issue per person! Ill assign you to this one :)

[2020-04-05 00:42] sashadev-sky commented on #583
@Alpha-yoyo i have assigned you to the one you commented on! Thanks

[2020-04-05 10:16] sashadev-sky opened #587 "Update L.TrigUtil method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-05 10:29] #584 closed

[2020-04-05 12:34] kriti16 commented on #587
@sashadev-sky Please assign it to me

[2020-04-05 18:28] CasColucci commented on #587
Hey! Would I be able to give this one a shot?

[2020-04-05 19:27] Alpha-yoyo commented on #582
Hi @sashadev-sky I've fixed the issue, can you review it https://github.com/publiclab/Leaflet.DistortableImage/pull/588 , Thank you

[2020-04-05 19:53] imrishabh18 commented on #583
Hey, i would like to take this issue. I am new to this codebase.

[2020-04-05 22:24] sashadev-sky commented on #587
@CasColucci yes go for it! i'll assign you now :)

[2020-04-05 22:26] sashadev-sky commented on #583
@imrishabh18 hey thanks for your interest i will assign you to this :)

[2020-04-07 03:15] DrewStableBoi commented on #587
I'd love to also work on this if possible. I know it was already assigned, but just as a back up :)

[2020-04-08 20:56] Alexjake660 commented on #429
Is this issue open?

[2020-04-13 20:03] #583 closed

[2020-04-13 20:11] sashadev-sky commented on #587
@DrewStableBoi planning on opening some issues really similar to this sometime today, would you like me to assign you to one?

[2020-04-14 02:36] sashadev-sky commented on #429
@Alexjake660 it ended up falling into a bigger PR I made #586 so I completed it. I can assign you to a new FTO if you're interested!

[2020-04-14 04:02] sashadev-sky opened #595 "Update L.ImageUtil method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 04:20] neelesh17 commented on #595
I would like to try this  issue?

[2020-04-14 04:30] sashadev-sky commented on #595
great, i assigned you!

[2020-04-14 04:34] sashadev-sky opened #596 "Update L.IconUtil method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 04:41] neelesh17 commented on #595
I created a PR for this issue

[2020-04-14 05:00] sashadev-sky opened #599 "Update L.MatrixUtil method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 05:06] sashadev-sky opened #600 "Update L.DistortHandle method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 05:33] GSKSan commented on #600
Hi,
Can I work on this issue?

[2020-04-14 05:34] sashadev-sky commented on #600
@GSKSan go for it! Assigning you now

[2020-04-14 05:34] Alexjake660 commented on #429
@sashadev-sky I'm interested, thank you.

[2020-04-14 05:37] sashadev-sky commented on #596
@Alexjake660 assigning you here!

[2020-04-14 05:37] sashadev-sky commented on #429
@Alexjake660 ok great i just assigned you to #596

[2020-04-14 05:53] AkzharkynDM commented on #599
Hey, I wanted to get this issue. Could you please assign me?

[2020-04-14 06:13] sashadev-sky commented on #599
@AkzharkynDM thank you! You are assigned.

[2020-04-14 06:15] sashadev-sky opened #602 "Update L.DragHandle method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 06:40] terror commented on #602
I'd like to works on this, thanks!

[2020-04-14 06:43] sashadev-sky commented on #602
@terror awesome, you are assigned :)

[2020-04-14 06:47] sashadev-sky opened #605 "Update L.ScaleHandle method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-14 07:05] AkzharkynDM commented on #599
@sashadev-sky Could you please review my PR?

[2020-04-14 07:15] Dnu12 commented on #605
Hi ! @sashadev-sky .Can I take this up ?

[2020-04-14 08:21] Alexjake660 commented on #596
@sashadev-sky Thank you

[2020-04-14 13:50] iAmmar7 commented on #605
Can I take this issue?

[2020-04-14 15:54] sashadev-sky commented on #605
assigning to @Dnu12!

[2020-04-14 16:08] iAmmar7 commented on #587
@sashadev-sky can you assign me one? I'd love to try and contribute.

[2020-04-14 17:44] #599 closed

[2020-04-14 18:01] #600 closed

[2020-04-14 18:05] sashadev-sky commented on #582
assigning  @iAmmar7!

[2020-04-14 18:06] sashadev-sky commented on #587
@iAmmar7 you can take #582 since the user has not responded in a week, I have assigned you there.

[2020-04-14 18:08] sashadev-sky commented on #605
@iAmmar7 this one is already assigned but like i said #582  is all yours :)

[2020-04-14 18:10] iAmmar7 commented on #582
I am working on this one. Thanks!

[2020-04-14 18:13] #602 closed

[2020-04-14 18:23] #595 closed

[2020-04-14 22:09] #429 closed

[2020-04-14 22:10] sashadev-sky commented on #400
closed via #586

[2020-04-14 22:11] sashadev-sky commented on #400
closed via #586

[2020-04-14 22:11] #400 closed

[2020-04-14 22:11] sashadev-sky commented on #398
closed via #586

[2020-04-14 22:11] #398 closed

[2020-04-15 04:15] neelesh17 commented on #104
could i try this issue?

[2020-04-15 05:38] sashadev-sky commented on #104
@neelesh17 yes would love your help on this! The one catch is that we should do it without pulling in an external library, so you you'll have to make them from scratch. (I find that more fun anyways) 👍

[2020-04-15 12:40] #596 closed

[2020-04-15 12:52] sashadev-sky opened #612 "Update L.FreeRotateHandle method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-15 14:20] iAmmar7 commented on #582
@sashadev-sky I need help! After doing fork from this repo, I've worked on this issue and now I am trying to commit my changes but I'm getting an error.

`SUMMARY:
√ 39 tests completed
i 2 tests skipped
× 4 tests failed

FAILED TESTS:
  L.DistortableCollection.Edit
    #_removeToolbar
      × "before each" hook for "it only puts the multi-selected images in lock mode"
        PhantomJS 2.1.1 (Wind

[2020-04-15 14:25] Manwej commented on #612
Hi there, I ll be happy to give it a shot. Is it still available?

[2020-04-15 14:31] sashadev-sky commented on #612
@Manwej yes go ahead! Ill assign you now :)

[2020-04-15 14:35] sashadev-sky opened #613 "Update L.UnlockAction method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-15 14:49] Manwej commented on #612
sounds good I ll get to it then. all the best

[2020-04-15 14:58] henkhodryza commented on #613
Hi, I would to try this

[2020-04-15 15:00] TejaSwaroopArukoti commented on #613
I would like to try this.

[2020-04-15 16:52] gunjanaggarwal210 commented on #613
I will do it.

[2020-04-15 19:40] sashadev-sky commented on #613
@henkhodryza technically you should've gotten this one but @TejaSwaroopArukoti got a little excited and opened a PR already 😅No worries, i will make you and @gunjanaggarwal210 2 similar issues and assign you to them

[2020-04-15 19:42] sashadev-sky opened #618 "Update L.StackAction method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-15 19:42] sashadev-sky commented on #618
@henkhodryza assigning you here!

[2020-04-15 19:43] sashadev-sky commented on #613
@henkhodryza I assigned you to #618 :)

[2020-04-15 19:44] sashadev-sky opened #619 "Update L.ScaleAction method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-15 19:45] sashadev-sky commented on #619
@gunjanaggarwal210 assigning you here!

[2020-04-15 19:45] sashadev-sky commented on #613
@gunjanaggarwal210 i assigned you to #619 :)

[2020-04-15 20:01] #613 closed

[2020-04-16 00:32] henkhodryza commented on #618
@sashadev-sky I created a pull request, please check it

[2020-04-16 12:49] #618 closed

[2020-04-16 13:26] #612 closed

[2020-04-16 18:28] ZenMinz opened #622 "How do I import this to an Angular project?"
Hi,
I tried using this line to add this to an Angular project:
`import 'node_modules/leaflet-distortableimage/dist/leaflet.distortableimage.js';`

but i kept getting this error.
![image](https://user-images.githubusercontent.com/39125801/79492874-f93f1500-8063-11ea-99cc-5f790d89941c.png)

Please help thank you.

[2020-04-16 19:22] #622 closed

[2020-04-16 20:12] NickHolke commented on #619
Hello, has this issue already been assigned?

[2020-04-17 11:57] sashadev-sky commented on #619
@NickHolke yes i can assign you to a different one if you'd like

[2020-04-17 12:22] kczan commented on #619
@sashadev-sky Hi, I would gladly take a task too if that's possible! ;)

[2020-04-18 03:58] neelesh17 commented on #104
hey @sashadev-sky, i am still unclear about what is it we are trying to achive in this  issue.Would you help me out please.

[2020-04-18 10:40] theodumont commented on #619
@sashadev-sky Hello, I would love to be assigned to a task too if it is possible ! :)

[2020-04-18 15:51] NickHolke commented on #619
@sashadev-sky thank you, but not at the moment. Feel free to assign it to someone else who commented.

[2020-04-18 21:30] RobNobile commented on #619
@sashadev-sky Hi! I'd like to give this a go or be assigned to something similar when available.  Thanks!

[2020-04-19 00:03] VladimirMikulic commented on #559
@sashadev-sky @KALLUNA1 I've come to the conclusion that this error occurs because of the development version of `dist/leaflet.distortableimage.js` (`npm run dev`).
After the production version `dist/leaflet.distortableimage.js` is generated (`npm run build`) this does not occur. It's because in development version Webpack adds it's own code to sync changes with HMR server, but when you generate a

[2020-04-19 16:01] romance939913 commented on #619
Hi @sashadev-sky - I'd like to be assigned this task or take on something similar too if available. Thanks!

[2020-04-19 16:38] romance939913 commented on #587
Hi @sashadev-sky - First time contributor here as well. I'd like to take a task similar to this if one comes up. Thanks in advance!

[2020-04-20 13:57] Olunusib commented on #619
Hi @sashadev-sky, I'm also very interested in getting assigned a task. Regards.

[2020-04-20 22:14] sashadev-sky commented on #619
hi! There are currently 4 pending and I don't want to have too many at once. Ill open more as they are resolved or if theres no activity for 7 days from the contributor i'll reassign to you

[2020-04-20 22:22] sashadev-sky commented on #104
@neelesh17 Currently the tooltips look like this:

![image](https://user-images.githubusercontent.com/41092741/79805141-7c49bf00-8333-11ea-9abe-488e33071215.png)

And we were thinking to make them look nicer, closer to this: (this screenshot is from a toolbar in a different PL project, only the tooltip is relevant)

![image](https://user-images.githubusercontent.com/24359/43849016-5b74fbfc-9b02-11

[2020-04-21 02:53] sashadev-sky commented on #559
@VladimirMikulic that makes a lot of sense. While doing #601 I realized it won't happen if you don't run `npm run dev`, so I updated our npm scripts to include options like `watch:dev` that just run webpack watch in case you want to run your own server. With this confirmed, I'm thinking lets just update our setup instructions to mention this (and the other scripts)?

[2020-04-21 02:54] sashadev-sky commented on #559
@KALLUNA1 running `npm run build` should fix your issue

[2020-04-21 14:03] jscastanos commented on #619
Hi @sashadev-sky, if there's available task please assign me one too.

[2020-04-21 16:28] #538 closed

[2020-04-21 19:18] sashadev-sky commented on #587
@romance939913 awesome! you can take this one because it's been a week. I'll assign you now

[2020-04-21 19:20] sashadev-sky commented on #559
closing this -- resolved!

[2020-04-21 19:20] #559 closed

[2020-04-21 19:26] #582 closed

[2020-04-21 19:36] sashadev-sky opened #625 "Travis build taking up to 3 rebuilds to pass"
Travis build taking up to 3 rebuilds to pass - currently the rebuild needs to be run manually. I suspect the issue is with Phantom JS or some other dependencies that need updating. I'm thinking 1) try to fix it (might need to be a major testing update) or 2) make it retry automatically
@jywarren @VladimirMikulic

[2020-04-21 19:47] VladimirMikulic commented on #625
As a short-term fix, it can rerun on the failed build.

[2020-04-23 17:00] romance939913 commented on #587
Hi @sashadev-sky - Just tried to commit and push my branch and it returned "permission denied" unable to access the repo with a 403 error. How to I gain access to push my branch?

[2020-04-25 22:54] sashadev-sky commented on #619
@kczan I am re-assigning you this task! Let me know if you're not interested anymore so I can give it to someone else please

[2020-04-25 22:55] sashadev-sky commented on #605
assigning to @theodumont!

[2020-04-25 22:56] sashadev-sky commented on #619
@theodumont assigned you to #605 :)

[2020-04-25 23:01] sashadev-sky opened #628 "Update L.Utils method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-25 23:02] sashadev-sky commented on #628
assigning @RobNobile!

[2020-04-25 23:03] sashadev-sky commented on #619
@RobNobile I assigned you to #628

[2020-04-25 23:07] sashadev-sky opened #629 "Update L.DomUtil method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-25 23:08] sashadev-sky commented on #629
assigning @Olunusib!

[2020-04-25 23:09] sashadev-sky commented on #619
@Olunusib #629 for you

[2020-04-25 23:19] sashadev-sky opened #630 "Update MapMixins.js method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-25 23:22] sashadev-sky commented on #630
assigning @jscastanos!

[2020-04-25 23:22] sashadev-sky commented on #619
@jscastanos #630

[2020-04-25 23:26] sashadev-sky opened #632 "Update L.Map.DoubleClickZoom.js method creation to ES6 syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2020-04-25 23:26] Olunusib commented on #629
@sashadev-sky review pull request

[2020-04-25 23:59] sashadev-sky commented on #587
@romance939913 are you sure you're working on your fork and not directly to this repo? You can check by running `git remote -v` the output should have your username in it, for ex. mine is `git@github.com:sashadev-sky/Leaflet.DistortableImage.git`

[2020-04-26 00:26] calvincodes commented on #632
Hi! I would like to claim this issue. Thanks.

[2020-04-26 01:20] RobNobile commented on #619
@sashadev-sky Thanks!

[2020-04-26 05:23] jscastanos commented on #630
Thanks @sashadev-sky , I'll start fixing this right away.

[2020-04-26 14:04] kczan commented on #619
@sashadev-sky will gladly take it!

[2020-04-26 15:31] romance939913 commented on #587
Ah yes you were correct! I'll have a PR for you to review in a few minutes @sashadev-sky

[2020-04-26 15:40] romance939913 commented on #587
Hi @sashadev-sky This PR is ready for Review,

Quick question however, in the PR body where it says "tests pass -- look for a green checkbox" - does that mean it wants my code to pass some specs written somewhere?? Or Just make sure there aren't any merge conflicts.

Thanks in advance!

[2020-04-26 16:30] gauraws commented on #632
Hi, I am beginner, can I work on this issue?

[2020-04-26 22:02] imuraki commented on #632
Hello I am a begineer to Open Source. I would like to claim this issue and work on it  and mark my first contribution. Thanks

[2020-04-29 17:03] Uneetpatel7 commented on #632
Hi, I am a first-timer. I want to work on this issue

[2020-04-29 19:16] jugalj05hi commented on #632
Hello there, I'd like to claim this issue. Thanks

[2020-04-29 21:25] SMAliKSS commented on #632
Hi there, I would like to contribute to this one. @sashadev-sky 👶

[2020-04-30 13:07] aashish-khatri commented on #632
Hi, I would like to work on this issue. Thanks

[2020-05-01 14:11] romance939913 commented on #587
Hi @sashadev-sky - Is this PR able to be merged? Looks good on my end

[2020-05-01 15:28] GiselleGranchelli commented on #632
Hey, I would be glad to claim this issue. Thanks!

[2020-05-05 23:22] jywarren opened #645 "Distortion of video overlays (not a priority but fun)"
I noticed that it's possible to do video overlays:

https://leafletjs.com/examples/video-overlay/

I wonder if it's possible to substitute `videoOverlay` on the following line?

https://github.com/publiclab/Leaflet.DistortableImage/blob/6d2f73023500b03eb39881b252edb30f108d8eab/src/DistortableImageOverlay.js#L1

[2020-05-07 15:22] siddharth25pandey commented on #632
Hello, i would like to claim this issue. Thanks!

[2020-05-07 15:41] Jans999 commented on #632
Hi, is this still open? I would like to claim. Thanks

[2020-05-11 19:20] tannercd commented on #630
I am new to contributing to open source and would like to help with this issue if possible. Thank you @sashadev-sky

[2020-05-12 08:35] binsmyth commented on #632
HI, I too would like to claim this issue. Thanks!

[2020-05-12 17:47] jywarren opened #649 "Stacking tools - need guidance/docs on how to enable them"
I'm seeing that in both MapKnitter.org and the demo here (https://publiclab.github.io/Leaflet.DistortableImage/examples/), there is no longer a "raise to top" or "send to bottom" tool, and some folks have been asking about it.

I see in the docs that it's an "add-on" tool: `L.StackAction` with <kbd>q</kbd>, <kbd>a</kbd> hotkeys. But how do we turn on "add-on" tools?

Looks like we should be able t

[2020-05-12 18:26] jywarren commented on #649
Done here! Let's check on stable.mapknitter.org too!

https://github.com/publiclab/mapknitter/commit/c071de2c48bc5f4f2bb20c272472d79964665699

[2020-05-12 18:26] #649 closed

[2020-05-16 07:32] roshan0708 commented on #629
Can I still contribute to the issue? @sashadev-sky

[2020-05-17 15:49] rimow commented on #632
Hello, if this one is still unassigned I would like to work on it. Thanks !

[2020-05-19 15:45] charsides commented on #587
Hey, please can I give this a go? I'm new to open source projects :-)

[2020-05-19 16:21] charsides commented on #632
Hi, I'm a beginner and would like to give this a go please

[2020-05-19 17:39] gjagnoor commented on #587
@sashadev-sky - Will you be able to assign me to an issue, please? I'm new to open source and would love to tackle one :)

[2020-05-24 11:08] aptvaibhav commented on #628
Is this task done? @sashadev-sky

[2020-05-24 20:18] Pavel6625 commented on #632
Hi! Can I give it a try?

[2020-05-31 18:06] hansbrito commented on #622
Hi @ZenMinz How did you worked with this library in Angular ? Can you share you solution ? Thanks!

[2020-06-02 16:09] jywarren opened #665 "Re-order collections array to match when using StackAction to re-order images"
https://github.com/publiclab/Leaflet.DistortableImage#single-image-interface-1 describes how to use the StackAction, and we implemented that here in MapKnitter:

https://github.com/publiclab/mapknitter/blob/6731eecdf187fc7e691ca9616eda7c0489e1712f/app/assets/javascripts/mapknitter/Map.js#L108

However, using this does not affect the order of `opts.collection`, and the export we queue up does not s

[2020-06-02 18:04] jywarren commented on #665
Noting that we don't need to know for this fix, but for background info, Leaflet uses the order in the HTML DOM to set display order, and the `bringToBack()` methods in Leaflet reorder the DOM elements:
 https://github.com/Leaflet/Leaflet/blob/37d2fd15ad6518c254fae3e033177e96c48b5012/src/dom/DomUtil.js#L95-L102

[2020-06-02 18:42] jywarren commented on #665
We've completed a fix in https://github.com/publiclab/mapknitter/commit/e5054f0c33f2a8f3807338dd322fd499aade0360 which covers our production site, so less urgent now!

But this is still an important part of LDI functioning correctly locally. Help certainly wanted, thanks!!! 🎉

[2020-06-03 19:43] romance939913 commented on #587
Hi @sashadev-sky  - Not sure if you're inactive, or I should reach out to someone else, however I believe the PR i opened is ready to be merged. Let know what you think. Thanks!

[2020-06-07 06:24] carlo-ev commented on #311
Hello
Can I give this issue a go? I would love to contribute to the project once more.
Just to clarify the transparency should be toggled still just by clicks that instead of two values go through a range of values sequentially?

[2020-06-18 04:24] ShashankRahatekar commented on #632
Hi, if it this issue is still open then I would like to contribute to this issue.. thanks..

[2020-06-28 11:29] divanshurox commented on #632
Hi, I am a beginner to open source, would like to contribute to the issue. Thanks! @sashadev-sky

[2020-07-05 22:40] jywarren opened #681 "Tests timing out"
Seeing this come up a lot; and @sashadev-sky tried working on it in https://github.com/publiclab/Leaflet.DistortableImage/pull/609#issuecomment-613778918

I attempted a fix in https://github.com/publiclab/Leaflet.DistortableImage/pull/675

https://docs.travis-ci.com/user/gui-and-headless-browsers/#karma-and-firefox-inactivity-timeouts

[code]

But we're still seeing it in https://github.com/public

[2020-07-06 20:16] MLefebvreICO commented on #681
Hi there,

Just found your issue while searching for why our tests suite on our end was not working anymore.

First of all, let me suggest you use Chrome headless instead of PhantomJS which was abandonned years ago.

But for now even Chrome headless is broken, because of their latest stable release ..

You can follow on this here : https://bugs.chromium.org/p/chromium/issues/detail?id=1090988

[2020-07-07 15:13] jywarren commented on #681
Ah, thank you for the tip! Looking in our test setup, i'm thinking we could make the switch here perhaps:

https://github.com/publiclab/Leaflet.DistortableImage/blob/33f0bf58b7176fefbf7bda99552686b862028331/test/karma.conf.js#L98-L111

[2020-07-07 15:14] jywarren commented on #681
Looks like there are `karma-chrome-launcher` and `karma-firefox-launcher` among others!

[2020-07-07 15:15] jywarren commented on #681
So i would guess the steps might be:

1. include `karma-chrome-launcher` in `package.json`
2. add "Chrome" to `browsers:` array
3. change this include:

https://github.com/publiclab/Leaflet.DistortableImage/blob/33f0bf58b7176fefbf7bda99552686b862028331/test/karma.conf.js#L15

[2020-07-09 23:43] jywarren commented on #681
Let's see how this does, and if Chrome bug resolves we can update it: https://github.com/publiclab/Leaflet.DistortableImage/pull/685

[2020-07-15 00:58] McZenith commented on #629
Hi! Is this issue still up for a grab?

[2020-07-16 10:42] sashadev-sky commented on #619
I don't see any activity from @kczan and it's been quite a while so this PR is up for grabs again!

[2020-07-16 10:52] sashadev-sky commented on #630
@tannercd if you're still interested in contributing you can claim #619
just comment there to claim it and i'll assign you

[2020-07-16 11:11] sashadev-sky commented on #629
@roshan0708 it's available now, if you're still interested I will assign you!

[2020-07-16 11:19] McZenith commented on #629
I am interested @sashadev-sky...

[2020-07-16 14:41] sashadev-sky commented on #629
@McZenith ok since we're not sure @roshan0708 still wants to contribute (been a few months) im assigning you :)

[2020-07-16 14:45] sashadev-sky commented on #629
All, please read the setup in the [contributing guide](https://github.com/publiclab/Leaflet.DistortableImage/blob/main/CONTRIBUTING.md). you should end up committing the src files you updated AND a `dist` file generated by `npm run build`. Will work in the future to make these instructions more clear.

[2020-07-16 15:00] McZenith commented on #629
Thank you... I'm exited

[2020-07-16 16:42] tannercd commented on #619
Hi there, I'm happy to claim this issue! @sashadev-sky

[2020-07-16 17:04] tannercd commented on #630
@sashadev-sky awesome thanks! I just made a comment over on #619 seeking to claim it